[2022-01-21 16:03] traceon commented on #33858
This would really help.

What do you send in this case?

Are these header lists complete?

[2022-01-21 16:23] traceon commented on #33858
Oh, I see where this limitation comes from. ClickHouse is not switching to Kerberos authentication unless it is initiated by the client, i.e. the client should explicitly mention that is it attempting SPNEGO, which means sending the non-empty token in the first request. Otherwise, the server wouldn't even know which user is trying to connect at all. (And the first token has user credentials, speci

[2022-01-21 17:11] artemg opened #33881 "Calculate unrealized profit/loss from a table using a FIFO method in Clickhouse"
.

[2022-01-21 17:30] ryanoliverdev commented on #33501
@holadepo are you still working on this issue? If not I'd like to pick it up

[2022-01-21 17:33] ryanoliverdev commented on #33704
Hi I'd like to pick up this issue, but is there anymore information on what's needing to be done

[2022-01-21 18:06] den-crane commented on #33704
There is https://clickhouse.com/docs/en/sql-reference/functions/date-time-functions/#formatdatetime

you can do this
[code]
but it's impossible to format fractions of seconds (milliseconds / nanoseconds)

like this
[code]

So need to implement '%f'

[code]

[2022-01-21 18:23] ryanoliverdev commented on #33704
Ok, I see what you're saying. Ya I'd like to pick this up

[2022-01-21 18:26] xuyatian commented on #33768
Thanks @Enmk ! It 's OK with me to move comment clause to a sperate comment tag.

[2022-01-21 18:28] den-crane commented on #33881
as I understand it should solve scenario like this

[code]
all rows can be processes only one by one sequentially.

Clickhouse is created to solve MPP/OLAP tasks, it means that data can be separated into small pieces and each piece can be aggregated separately which is impossible if you need to find nearest in infinite window.

There is a new feature which can help https://clickhouse.com/docs/en/s

[2022-01-21 19:14] genzgd commented on #33475
Again it's not recommended to use a Distributed Table as a target for a materialized view, but it is possible.  The syntax is the same as any other Materialized View using TO:

  ```CREATE MATERIALIZED VIEW table_name [TO[db.]name] ```

where db.name is a distributed table.  The target distributed table must exist, and should use a regular MergeTree table as the source table.

If you use the Kafka

[2022-01-21 20:29] #33869 closed

[2022-01-21 21:27] den-crane commented on #33817
no info / no repro

[2022-01-21 21:27] #33817 closed

[2022-01-21 23:28] vzakaznikov commented on #23157
Unfortunately my PR https://github.com/ClickHouse/ClickHouse/pull/25832 was closed without merging. The issue persist both in Live Views as well as in Materialized Views.

[2022-01-22 00:38] holadepo commented on #33501
@ryanoliverdev Yes I am still working on it.

[2022-01-22 03:15] wzisheng opened #33900 "same select on distributed table takes different time, 80x slower"
v21.3
Hi，I have a simple select on distributed table like

one will be end in ms level

17:07:12.138717 [ 5911 ] <Trace> ContextAccess (default): Access granted: xxx
17:07:12.139227 [ 5911 ] <Debug> default.table_test (889c1c33-c0f9-43b6-ba77-4a88119470ec) (SelectExecutor): Key condition: unknown, (column 1 in ['xxx', 'xxx']), and, unknown, and, unknown, and, (column 0 in [1, 1]), and, unknown, (c

[2022-01-22 03:35] cainiaodidi commented on #33475
Thanks, I try to understand that. If there are two partitions of topic, node_A1 consumes partition 0 and node_A2 consumes partition 1, and for the replicated result table on node_A1 and node_A2, it will contain data from both two partitions. I used to think that the original data on node_A2 will be deleted when the data is copied from node_A1.

[2022-01-22 04:06] den-crane commented on #33839
I assume that you use some golang or python or java/jdbc library. I am asking which one do you use?

[2022-01-22 04:07] mylqf commented on #33839
Python lib

------------------ Original ------------------
From: Denny Crane ***@***.***&gt;
Date: Sat,Jan 22,2022 0:06 PM
To: ClickHouse/ClickHouse ***@***.***&gt;
Cc: mylqf ***@***.***&gt;, Author ***@***.***&gt;
Subject: Re: [ClickHouse/ClickHouse] <Error&gt; executeQuery: Code: 33,e.displayText() = DB::Exception: Cannot read all data. Bytes read: 30. Bytesexpected: 250. (Issue #33839)

What di

[2022-01-22 04:15] den-crane commented on #33839
Can you please provide a code sample to reproduce the issue?

[2022-01-22 04:23] den-crane commented on #33900
Is it reproducible ?

[2022-01-22 05:31] vitlibar commented on #33858
Probably the best solution is disabling defaulting to `default` username for anonymous requests if Kerberos is enabled. I don't think it's an often case when someone enables Kerberos for authentication and at the same time needs to be able to authenticate as the `default` user without specifying username or password. Perhaps it's better to add a setting to the Kerberos part in our server configura

[2022-01-22 06:22] #33881 closed

[2022-01-22 06:30] LiuYangkuan opened #33904 "[Cloud Native Feature] make one node run multi-shards"
**Use case**

After separation of storage and compute, It will be very convenient to scale out and add nodes into cluster without data move.
But there is still an issue that dataset should be split and re-shard because size of data shards is less than compute node size.

**Describe the solution you'd like**

If we can make one node run multi-shards, there is no need to split dataset in most cases.

[2022-01-22 06:37] wzisheng commented on #33900
yes, by now it exists always,,, Continuous insert into this table ,and with some other query being executed, scenario is very simple..

anything else do you need..

[2022-01-22 07:06] DarkWanderer commented on #33858
Possibly the parameter could be `<use_default_user_for_unauthorized_http>` - `1` by default, `0` to disable? Then if server returns 401, it can also return following headers (based on whether relevant auth type is enabled):
[code]
and let the client decide

[2022-01-22 09:31] alexey-milovidov opened #33906 "Integer from VALUES cannot be parsed as Decimal256"
`SELECT * FROM values('x Decimal256(0)', (1))`

[code]

[2022-01-22 10:32] #2261 closed

[2022-01-22 10:32] #25662 closed

[2022-01-22 10:55] alexey-milovidov commented on #33869
`SELECT sum(cityHash64(*)) FROM table`

[2022-01-22 11:09] #33873 closed

[2022-01-22 14:12] cyanide-burnout opened #33910 "UUIDs in Native and *Binary formats"
We have found a lack in documentation that format of UUID is not defined in documentation. By default it is expected that it uses normal network byte order but in fact a client has to spilt UUID in network byte order into two Uint64 words and then reverse byte order of each part.

[2022-01-22 14:12] #33603 closed

[2022-01-22 14:23] alexey-milovidov commented on #22398
Newer ClickHouse vs. Timescale benchmark from GitLab:
https://gitlab.com/gitlab-org/incubation-engineering/apm/apm/-/issues/4

[2022-01-22 14:28] alexey-milovidov commented on #22398
ClickHouse vs MongoDB from GitLab:
https://gitlab.com/gitlab-org/incubation-engineering/apm/apm/-/issues/12

[2022-01-22 16:05] #30692 closed

[2022-01-22 18:06] yuval-boker opened #33915 "Understanding Explain Plan"
What is the difference between the following:

**Expression (( + (Projection + Before ORDER BY)))**
**Expression ((Projection + Before ORDER BY))**

For one of my queries I replaced the literal 0 with an alias to this literal, that is:
**select 0 from (select 0 as x)** instead of **select x from (select 0 as x);** and it slowed the query by a factor of two! (4 sec instead of 2)
I checked the query

[2022-01-22 22:21] alexey-milovidov opened #33919 "Refreshable Materialized Views"
**Use Case**

Automate periodic imports of data into ClickHouse. Automate batch jobs for data transformation.

**Requirements**

It should run a query with some schedule and atomically replace a table with the result.

Schedule can be aligned to calendar like "3 AM every Thursday" or not aligned like "30 seconds after previous import has been finished".

It can contain some concurrency limits like

[2022-01-22 22:48] alexey-milovidov commented on #33900
You should look at the query metrics and do query profiling.

https://clickhouse.com/docs/en/operations/system-tables/query_log/ - see ProfileEvents

https://clickhouse.com/docs/en/operations/optimizing-performance/sampling-query-profiler/

[2022-01-22 23:56] #33820 closed

[2022-01-23 01:12] sulayliu commented on #33576
You can set `limit memory usage for user = 16GB` in the user configure file.
There is no priority, no resource pools. If 20 GB is already used then your 16GB query will fail with a memory limit total

[2022-01-23 03:03] CurtizJ commented on #33850
Looks like it's hard to do this on client level, because there to many details that cannot be resolved on query text or ast level. There are many objects that semantically are the same as tables, but cannot be detached (dictionaries, temporary tables, tables with `Memory` engine).

[2022-01-23 07:13] alexey-milovidov commented on #32374
`SELECT any(array(0)) AS k FROM remote('127.0.0.{1,2}', numbers(10))`

[2022-01-23 07:14] alexey-milovidov commented on #32374
`SELECT any(tuple(0, 1)) AS k FROM remote('127.0.0.{1,2}', numbers(10))`

[2022-01-23 07:52] lavasser commented on #33589
Yes, I checked yesterday

[2022-01-23 08:59] lavasser commented on #33589
It didn 't work on version 22.1.2.2.
And which version will it be fixed?

[2022-01-23 10:17] traceon commented on #33589
Can't tell for sure, but most likely starting from 22.2.
Since the fix is there, we can probably close this issue then?

[2022-01-23 13:49] UnamedRus commented on #33919
Big problem for current POPULATE implementation and future refreshable MV is:

Source table is big as well as amount of distinct keys in MV, so it doesn't fit in memory in case of simple GROUP BY.
So we need to think about some solution, which will allow to create MV on top of really big tables and not kill (or overload) server at the same time.

[2022-01-23 13:56] tavplubix opened #33923 "std::out_of_range on CREATE FUNCTION"
https://s3.amazonaws.com/clickhouse-test-reports/33889/3a252cd3a0966f5bf882e2b302999e123b9301d2/fuzzer_astfuzzerdebug,actions//report.html

[code]

[code]

[code]

[2022-01-23 16:17] #33589 closed

[2022-01-23 16:18] lavasser commented on #33589
Ok. Thank you!

[2022-01-23 16:29] wzisheng commented on #33900
the slower one's profileEvents

'SelectQuery'	1
'FileOpen'	4
'Seek'	2
'ReadBufferFromFileDescriptorRead'	6
'ReadBufferFromFileDescriptorReadBytes'	3826612
'ReadCompressedBytes'	37576
'CompressedReadBufferBlocks'	3
'CompressedReadBufferBytes'	131082
'IOBufferAllocs'	8
'IOBufferAllocBytes'	5006582
'FunctionExecute'	171
'MarkCacheHits'
MarkCacheMisses'
ReadBackoff'
'CreatedReadBufferOrdinary'	4
'Disk

[2022-01-23 21:06] #33923 closed

[2022-01-23 21:57] DarkWanderer opened #33928 ""CANNOT_PARSE_DOMAIN_VALUE_FROM_STRING" on an IPv6 parameter"
**Describe the unexpected behaviour**
Exception when passing an IPv6 address via HTTP parameters or command line. Same IPv6 address works when passed to `toIPv6` function

**How to reproduce**
[code]

**Additional context**
This is a regression in versions 22.* (21.* work), potentially related to #31072

[2022-01-24 01:52] DaemonMonch commented on #33814
There are no errors in my app,the exception happens during one replica fetching for parts from another replica ,it`s  clickhouse`s internal error

[2022-01-24 03:01] sunny19930321 opened #33932 "substr existing table metadata in zooKeeper differs in partition key expression"
**Describe what's wrong**
When version 20.12 is upgraded to version 21.3, an old table is created in a new replica. The local metadata is inconsistent with the zk metadata

**Does it reproduce on recent release?**

21.3 version later

**Enable crash reporting**

Code: 342. DB::Exception: Received from localhost:9000. DB::Exception: Existing table metadata in ZooKeeper differs in partition key expr

[2022-01-24 03:13] michael1589 opened #33934 "clickhouse supports viewfs"
1.Map viewfs to hdfs, clickhouse already supported hdfs
2.Develop a viewfs engine which like hdfs engine.

Do we have a plan to do this or viewfs solution can be accepted?

[2022-01-24 03:18] alexey-milovidov commented on #33934
We don't have plans for it and I hear about ViewFs for the first time.
What will be advantage of (2) over (1)?

Reference: https://hadoop.apache.org/docs/stable/hadoop-project-dist/hadoop-hdfs/ViewFs.html

[2022-01-24 03:49] den-crane commented on #33710
wa:
[code]

[2022-01-24 04:43] alexey-milovidov opened #33935 "A setting to allow case insensitive column, table and database names."
**Use case**

Compatibility with legacy tools and users.

**Describe the solution you'd like**

A group of settings `enable_case_insensitive_columns`, `enable_case_insensitive_tables`, `enable_case_insensitive_databases`.
It is better to have separate settings, because we may want to enable something else in future (e.g. functions).

We will maintain a map from lowercased name.

The name will be f

[2022-01-24 05:30] zhenzhongxu commented on #32899
I encountered the same issue with Avro map not being compatible with the Clickhouse Map type. I'd appreciate if there is any update or suggested workaround.

[2022-01-24 05:35] wangqinghuan commented on #33405
Sorry, I don't  clarify the purpose. We are using a metadata platform [datahub](https://github.com/linkedin/datahub) as data discovery and data lineage tool in our org. And we are using Clickhouse MV as our etl tool which implies some table or cloumn-level lineages are important to our bussiness, we need to know field A in table A was from which field in which table,  table A was used by what MVs.

[2022-01-24 05:41] kant777 commented on #32513
Really looking forward on `Caching of data from object storage` (hopefully it will local disk based cache and not just memory alone)

[2022-01-24 05:41] alexey-milovidov commented on #33850
Ok, let's do it on server level.

[2022-01-24 05:42] alexey-milovidov commented on #32513
It is being developed here: https://github.com/ClickHouse/ClickHouse/pull/33717

[2022-01-24 06:19] michael1589 commented on #33934
Advantage of (2) over (1)：
You do not need to configure hadoop any longer(That asks you have admin rights). But can directly access viewfs uri.

[2022-01-24 06:28] xpleaf opened #33936 "Build failed with lastest master branch On Mac OS（Intel）：invalid operands to binary expression"
I built it on my Mac OS according to the official documentation, but it failed.

https://clickhouse.com/docs/en/development/build-osx/

My question is, is it really possible to build on Mac OS? I used to build on my M1 Mac and failed. Then I saw an [issue](https://github.com/ClickHouse/ClickHouse/issues/27593) that SAID ARM Mac is not supported to build, so I used Intel Mac to build, but failed ag

[2022-01-24 06:34] alexey-milovidov commented on #30357
@KochetovNicolai @Algunenano This issue makes sense. Let's try to fix.

[2022-01-24 06:58] alexey-milovidov commented on #33936
Both Mac Intel and Mac M1 are supported.

Run `ninja clickhouse` to build ClickHouse binary.
You don't have to build all the targets.

[2022-01-24 06:58] #33936 closed

[2022-01-24 07:09] xpleaf commented on #33936
Thanks, Let me have a try.

[2022-01-24 07:12] mo-avatar opened #33937 "parseDateTimeBestEffort empty string result in exception on 21.8.5.7-lts"
(you don't have to strictly follow this form)

**Describe the issue**
parseDateTimeBestEffort with empty string result in exception on 21.8.5.7-lts, but has a weird result on v20.8.9.6-lts.

For those bi tools which use parseDateTimeBestEffort function,  when upgrade to 21.8.5.7-lts, if the dataset contains an empty string，an exception will be raised.

Is the exception an expected behavior of sele

[2022-01-24 07:15] kant777 commented on #32513
@alexey-milovidov Thanks. I wonder why multi tenancy is not taken into account when decoupling compute and storage? For example most multi tenant storage systems write each tenants data into their own s3 bucket that way each tenants data is completely isolated from other tenant's data. similarly memory allocations per tenant etc.

References

https://grafana.com/docs/loki/latest/operations/multi-t

[2022-01-24 07:22] alexey-milovidov commented on #33937
Yes, it is expected.

See also `parseDateTimeBestEffortOrNull`.

[2022-01-24 07:22] #33937 closed

[2022-01-24 08:43] #27073 closed

[2022-01-24 09:11] amosbird commented on #33934
This should be a FR to the libhdfs3 project instead.

[2022-01-24 09:12] amosbird commented on #33934
https://github.com/ClickHouse/ClickHouse/issues/25656

[2022-01-24 09:21] Algunenano commented on #30357
Here are my (internal) notes about this from that date:

Basically many functions (IIRC at least all the array functions and all aggregations) are prepared to work only with full columns and once you allow passing LowCardinality types you need to fix each of them individually and there are a lot. It's sad because knowing that you are working with a LowCardinality string should allow for much bette

[2022-01-24 09:33] singggum3b commented on #29535
Hi @kssenii , i've did some simple test on 22.1 version.
Look like some simple DDL does not break the replication anymore, however there are some issue i encountered:
- Detach/Attach any materialized table break the replication ( no more update after re-attach a detached table)
- Postgres start spamming log like crazy about `FATAL: out of relcache_callback_list slots` .

[2022-01-24 09:40] sunny19930321 opened #33939 "create table error, the included dictionary table was not created"
Create a table that contains the dictionary table, but the dictionary is created later，
[code]

[2022-01-24 09:46] wzisheng commented on #33900
sampling profiler shows that, 80%~90% of the three slower executions time are waitting here https://github.com/ClickHouse/ClickHouse/blob/b92692e00103113b26f9731de8c93d7bcb9ac84e/src/Processors/Executors/PipelineExecutor.cpp#L561

[2022-01-24 10:28] #33806 closed

[2022-01-24 10:53] phamtai97 opened #33943 "Insert/Update wrong data for some column"
Hi all.
Currently, I used the Clickhouse:
- Version: 20.1.4.14
- Model deploy 6 nodes (2 repl, 3 shard).

I have the sample schema table:

[code]

I have two problems:
1. I perform insert data to the log table, and it is randomly inserted the wrong data in the cr_role_id and dr_role_id. Example the insert query:

[code]
2. I perform update by queries:

[code]
Then, I select these above rows, but t

[2022-01-24 10:55] phamtai97 commented on #33943
@alexey-milovidov Can you help me?

[2022-01-24 10:59] UnamedRus opened #33944 "mapPopulateSeries LOGICAL_ERROR"
**Describe what's wrong**

**How to reproduce**

[code]

**Expected behavior**

**Error message and/or stacktrace**

[code]

[2022-01-24 11:04] UnamedRus opened #33945 "parallel_distributed_insert_select + cluster('xxx',view())"
**Use case**

Run view on each shard individually and insert into local node.

**Describe the solution you'd like**

[code]

[2022-01-24 11:49] surajmachamasi opened #33947 "How to achieve data re-balancing in Clickhouse automatically after new shard is added?"
currently i have 2 shards up and running and i have added new shard.  but the problem is, i want to distribute all existing data to each shards equally and automatically and all the existing data should be re-balanced to each shards.
so how to achieve it?

one shard storage is 99 % and shard 2 90% so we added 3rd shard. so will it rebalance the data on addition of shards ?
and how does the CH beha

[2022-01-24 11:57] alexey-milovidov commented on #26686
Does not reproduce in version 22.2.

[2022-01-24 12:07] alexey-milovidov commented on #12264
Need help from @zhang2014

[2022-01-24 12:12] alexey-milovidov commented on #11055
We don't use `curl` as a backend for `AWS` library anymore. And this problem should no longer exist.

[2022-01-24 12:12] #11055 closed

[2022-01-24 12:13] pkit commented on #32513
@kant777 Clickhouse is not multi-tenant and I'm not sure if it ever be.

[2022-01-24 12:13] surajmachamasi commented on #33947
one shard 99 % and shard 2 90%  so we added 3rd shard. so will it rebalnce the data ?

[2022-01-24 12:14] filimonov opened #33949 "Writting huge Parquet files: Couldn't serialize thrift: Internal buffer size overflow"
[code]

After writing a Parquet file of the size about 340Gb:

[code]

It looks it comes from

https://github.com/apache/thrift/blob/010ccf0a0c7023fea0f6bf4e4078ebdff7e61982/lib/cpp/src/thrift/transport/TBufferTransports.cpp#L365-L372

Looks similar to https://issues.apache.org/jira/browse/PARQUET-1345

[2022-01-24 12:24] filimonov commented on #30559
Looks related to https://docs.aws.amazon.com/cli/latest/userguide/cli-configure-sourcing-external.html

https://github.com/aws/aws-sdk-cpp/blob/bb1fdce01cc7e8ae2fe7162f24c8836e9d3ab0a2/aws-cpp-sdk-core/source/auth/AWSCredentialsProvider.cpp#L380-L390

[2022-01-24 12:54] alexey-milovidov commented on #33949
Looks like this is a limitation of the format itself.

[2022-01-24 12:54] #33949 closed

[2022-01-24 13:08] melvynator commented on #28196
Did you tried to increase the memory allocated to zookeeper? Seems like the outmemory error is triggering the issue.

[2022-01-24 13:29] melvynator commented on #30634
Seems like this is a network issue. Do you by any chance use a proxy?

[2022-01-24 13:48] filimonov commented on #30559
/cc @excitoon

[2022-01-24 13:50] den-crane commented on #33943
20.1.4.14 is obsolete

`ALTER TABLE log on cluster cluster_two_shards UPDATE` is executed in random order because of `on cluster` + `2 repl, 3 shard`

Your updates applied randomly on 2 repl it's no way to make strict order with `on cluster`.

[2022-01-24 13:50] #33943 closed

[2022-01-24 14:28] HeenaBansal2009 opened #33953 "Config option to enable/disable auth type "plaintext_password" for user ACL"
**Use case**
Currently Clickhouse allows authetication_type : NO_password ,  plaintext_password  , SHA_256 and SHA_1 type , LDAP , Kerberos of passwords in user settings.
Configuration change to allow enable/disable usage of cleartext_password for Access management in user profile.

**Reason**
plaintext_password is easy to configure but unsafe .

**Describe the solution you'd like**

- < enable_pl

[2022-01-24 15:25] melvynator commented on #33587
Closing in favor of #33678

[2022-01-24 15:25] #33587 closed

[2022-01-24 15:27] alexey-milovidov commented on #33714
It occurs if you terminate clickhouse-server by kill (without waiting for shutdown). Then ephemeral nodes are remaining in ZooKeeper until session timeout and it is impossible to determine if the server with replica is no longer connected.

[2022-01-24 15:27] #33714 closed

[2022-01-24 15:39] melvynator commented on #31092
For reference this is the behaviour of the decodeURLComponent: https://clickhouse.com/docs/en/sql-reference/functions/url-functions/#decodeurlcomponenturl

[2022-01-24 15:42] phamtai97 commented on #33943
@den-crane Can you help me?

[2022-01-24 15:45] wedi-dev opened #33955 "External dictionary enhancements for source: HTTP and layout: Direct"
Clickhouse external dictionaries are very powerful and I was wondering if they can be even more powerful:
- HTTP source with Direct layout querying only requested attribute - now it asks for whole row (every attribute)
- dynamic attributes for direct layout - so you do not need to specify structure but can ask for any attribute
- some way to understand/debug use of external dictionaries especially

[2022-01-24 18:08] den-crane commented on #32646
It's not related. block_numbers does not participate in mutations.
During `alter table` CH creates a mutation, and to solve mutations CH creates a transaction in ZK with names of all parts of the table. Parts name length can be different for different tables. In average with default Djute.maxbuffer mutations start to fail for tables with more 5000 parts.

This problem does not exists with Clickhou

[2022-01-24 18:08] #32646 closed

[2022-01-24 18:14] den-crane commented on #16457
No steps to reproduce the issue.

[2022-01-24 18:14] #16457 closed

[2022-01-24 18:59] Algunenano opened #33961 "parallel_view_processing=0 is does not work with INSERT INTO table VALUES"
Comes from https://github.com/ClickHouse/ClickHouse/pull/33951#discussion_r791027950

[code]

[code]
Takes 10 seconds as expected.

[code]
Takes 1 second, which is unexpected and means that the MVs are being executed in parallel even though `parallel_view_processing == 0`.

Fails for 21.11+

[2022-01-24 21:37] den-crane opened #33964 "Wrong s3 object content type for large files"
Connected to ClickHouse server version 21.13.1 revision 54455.

[code]

So it seems that if the object size is bigger than 32MB then Clickhouse sets the wrong ContentType `application/xml` instead of `binary/octet-stream`.

[2022-01-24 21:42] Avogar commented on #33928
It's not related to #31072, the bug was introduced in https://github.com/ClickHouse/ClickHouse/pull/29224. Will fix it

[2022-01-24 21:59] ryanoliverdev commented on #33704
@den-crane Hi, so I made the necessary changes and I was wondering how I could test the functionality of just the formatDateTime function to make sure my changes worked. I looked at the documentation, but am still kind of unsure how to get a test environment setup. Thanks

[2022-01-24 22:25] alexey-milovidov commented on #30634
Also can be caused by misconfigured replication - the "connection reset" error happens when replica is trying to download data part.

[2022-01-24 23:40] kant777 commented on #32513
@pkit That would be a huge limitation(when it is not even on the roadmap) especially when compared to the upcoming projects.

[2022-01-24 23:42] pkit commented on #32513
@kant777 Which projects? I have never ever in my life seen a multitenant database. But maybe I'm missing something?

[2022-01-24 23:47] kant777 commented on #32513
@pkit Loki, cortex (attached links above. See references). I can also share a bigger list

[2022-01-24 23:52] pkit commented on #32513
@kant777 Ah, ok. Thanks.

[2022-01-25 02:23] xie132339 commented on #33761
ClickHouse server version 21.12.3.32 (official build).

[2022-01-25 03:16] phamtai97 commented on #33943
@alexey-milovidov Can you help me?

[2022-01-25 03:35] AlexanderChiuluvB commented on #29601
what is the specific task for "Extended Temporary Tables in ClickHouse" ?  I'm interested in this task

[2022-01-25 06:06] filimonov commented on #33405
Again i don't understand what result are you interested in. If you need to know the  exact mapping - maybe you can keep the column names fixed & unique fixed across all MV? Or fill some mapping table every time you create the MV which remap columns?

[2022-01-25 07:56] #15022 closed

[2022-01-25 07:56] #16674 closed

[2022-01-25 07:56] #23862 closed

[2022-01-25 07:56] #31622 closed

[2022-01-25 07:56] #31640 closed

[2022-01-25 08:02] Alex-Burmak opened #33973 "ClickHouse server fails to start when both Keeper and user replication enabled"
**Describe what's wrong**

ClickHouse server fails to start with the following config:

[code]

**Does it reproduce on recent release?**

Yes, it's reproducible on 22.1.3.7 and earlier versions (e.g. 21.11.10.1).

**Expected behavior**

ClickHouse server starts and works.

**Error message and/or stacktrace**

[code]

[2022-01-25 09:23] qoega commented on #33947
You can use clickhouse-copier if you want to move the data. There is no internal logic that moves data between shards. Shards are autonomous and don't interact.
https://clickhouse.com/docs/en/operations/utilities/clickhouse-copier/#clickhouse-copier

[2022-01-25 09:43] taiyang-li opened #33975 "Create query failed when 20.3 and 21.10 clickhouse instances are in the same cluster."
**Describe what's wrong**
I have one clickhouse cluster, some shards are installed with 20.3 version, some are installed with 21.10 version.
When I execute a create on cluster query in 21.10 instance under database with ENGINE = Ordinary, it failed with error returned from 21.3 instance like this:
[code]

**Does it reproduce on recent release?**
I guesss it still can be reproduced in recent releas

[2022-01-25 10:00] alexsubota commented on #33919
Currently materialized views used for "live" update of data, can we change the name of this function? like "refreshable view", "scheduler view" or smth like that

[2022-01-25 10:26] Avogar commented on #33797
Yes, I was able to create a file that causes segfault while parsing it in ClickHouse

[2022-01-25 10:54] Avogar commented on #33797
I will create a bugfix in our orc fork untill  https://github.com/apache/orc/pull/1023 will be merged and we will be able to update our fork with upstream.

[2022-01-25 11:03] amosbird commented on #33945
Off topic: I guess you can use `shardNum()` instead of `toUInt32(getMacro('all-sharded-shard'))`.

[2022-01-25 11:09] altvod opened #33982 "startsWith function for arrays"
Support for arrays in `startsWith` (and, maybe, `endsWith`)

**Use case**

Would be quite useful for handling tree-like structured data where the node paths are specified as arrays of names or IDs.

**Describe the solution you'd like**

The desired behavior would be like this:
[code]

And similarly, for `endsWith`

**Describe alternatives you've considered**

Something like `arraySlice(first, 1, l

[2022-01-25 11:34] #31421 closed

[2022-01-25 12:29] wedi-dev commented on #33955
@kitaisreal @alexey-milovidov

[2022-01-25 12:32] CurtizJ commented on #33982
Also, please, consider that since version 21.10 you can create the SQL UDF:
[code]

It solves the usability problem, but of performance is still suboptimal.

[2022-01-25 12:37] vitlibar commented on #24884
`GRANT POSTGRES` allows to call the table function `postgresql()` and also it allows to create tables with the `POSTGRES` engine. However to create a table it's also necessary to have the `CREATE TABLE` privilege granted. So to create a user which is allowed to create tables in a specific database and also to use the POSTGRES engine the following commands can be used:

[code]

[2022-01-25 12:38] #24884 closed

[2022-01-25 12:55] vitlibar commented on #18434
Probably the issue has been fixed, it's not reproduced now.

[2022-01-25 12:55] #18434 closed

[2022-01-25 12:59] Tiaonmmn opened #33987 "Question about translation of changelog"
**Describe the issue**
I'd like to know if you accept other language translation of changelog, not only in English.
Now, other translation of changelog is redirected to English version.

[2022-01-25 13:12] altvod commented on #33982
Thanks for the suggestion!
However, in my case I'm not sure it would really help, as I need a solution that would work with read-only access.

[2022-01-25 13:23] tavplubix commented on #33975
It's expected that some complex queries (such as distributed DDL) may not work when there are 20.3 and 21.10 versions in a cluster. 21.10 was released more that a year and a half later than 20.3, it contains too many changes and some of them are probably incompatible.

20.3 is not supported since 2021-03-12, just upgrade the remaining hosts in the cluster.

[2022-01-25 13:23] #33975 closed

[2022-01-25 13:27] vitlibar commented on #17653
I think it's not a bug. I mean the statement `CREATE TABLE AS SELECT` creates a table and fills it with data, but this operation is just not atomical, so it's possible that it successfully creates a table but then fails trying to insert data.

[2022-01-25 14:48] KochetovNicolai commented on #30357
I suppose at least for arrayMap, and maybe for other array functions, we can let return `LowCardinality` if inner lambda can do it.

[2022-01-25 16:06] tavplubix commented on #33636
https://s3.amazonaws.com/clickhouse-test-reports/0/4507f883e6c9b6bffd29241604b693f86b409beb/stress_test__thread__actions_/stderr.log

[2022-01-25 16:07] #18206 closed

[2022-01-25 16:34] den-crane commented on #33987
I guess, you can translate and publish it on your resource, just make a link to the English original.

It was translated into Russian earlier, but these translations now removed, because they just don't have any sense

[2022-01-25 16:34] #33987 closed

[2022-01-25 18:33] den-crane commented on #33704
https://clickhouse.com/docs/en/development/tests/#functional-test-locally

And You can create a draft PR and ask to run CI

[2022-01-25 19:09] dchimeno opened #33991 "Integrate h3.polyfill"
**Use case**

[2022-01-25 19:37] johnnyleitrim opened #33993 "Is there a way to store an entire kafka message in a field of a materialised view?"
I have a Kafka topic that contains JSON messages like:
[code]
I can create a Kafka engine and associated tables to store the data like so:
[code]

Ideally, I'd like a `message String` field in `people` which would store the entire Kafka message received. Is there a way to achieve this?

[2022-01-25 19:54] #33973 closed

[2022-01-25 20:36] UnamedRus commented on #33993
https://kb.altinity.com/altinity-kb-integrations/altinity-kb-kafka/error-handling/#after-216

You can check ` _raw_message` virtual column

[2022-01-25 21:03] Wachynaky commented on #32513
Hello! by "calculation of graph properties" do you mean, for example, representations of entities and relations,, or calculate PageRank, or perhaps you can even  extract relationship types associated with your own knowledge graph?

And any plans for natural NLP functions like word2vec or TF-IDF or GloVe? these functions combined with "calculation of graph properties" + lemmatize + stem functions..

[2022-01-25 21:19] electrical opened #33994 "Upgrade triggers old mutations"
**Describe the unexpected behaviour**
We recently upgraded from 21.3.14.1 to 21.8.13.6
After the upgrade one of our nodes ( main node ) suddenly wants to run a mutation that was run over a week ago.
In the hopes to solve it we created a missing temporary table for that mutation and now it wants to run a mutation that's a month old.

We have a 5 node setup existing out of 3 clusters. main single no

[2022-01-25 21:45] #33928 closed

[2022-01-25 22:20] den-crane commented on #33900
Disk is overloaded

[2022-01-26 03:20] ryan-tu commented on #32513
@alexey-milovidov  Is there any plan for a better MPP query execution engine and MPP query optimizer? The current execution engine is almost a two phase query engine, not working in a multi-stage way like Presto/Spark which can use many machines in each stage.

[2022-01-26 03:52] BlackSinny commented on #20612
when i run

[code]

receive
[code]

can you  help me....

[2022-01-26 06:20] alexey-milovidov commented on #32513
@pkit ClickHouse will gradually get more features needed for multitenancy.
You can already count - RBAC, row-level security, quotas and resource limitations, resource accounting.
Resource isolation is the next most important step.

It is still not recommended to use single ClickHouse cluster for completely unrelated customers if you provide direct access to SQL. It is ok to use single ClickHouse c

[2022-01-26 06:22] alexey-milovidov commented on #32513
@kant777 It is already possible to define many independent volumes that use different buckets and will be assigned to different tables.

[2022-01-26 06:24] alexey-milovidov commented on #32513
@Wachynaky This is an experimental task for student's coursework and we will start with something simple: graph diameter, the number of connected components, the average path length, etc... Ideas welcome. The applicability of this task is in question. We will play with some calculations on graphs and maybe find something.

[2022-01-26 06:29] alexey-milovidov commented on #32513
@ryan-tu Yes, there is a plan. It is not listed in the roadmap, because many uncertancies exist.
It is like the following:
1. Move most of the query optimizations to query plan level, remove the old `enable_optimize_predicate_expression`.
2. Allow to serialize and deserialize query plan and maybe reuse it for distributed queries instead of AST and query text.
3. Rewrite the cases when distributed

[2022-01-26 07:01] #29245 closed

[2022-01-26 07:02] alexey-milovidov commented on #26490
Yes, it will be good to have this behaviour.

[2022-01-26 07:05] alexey-milovidov commented on #6504
Yes, we will need to either patch this library or to switch to another library (which one?)

[2022-01-26 07:32] alexey-milovidov commented on #33982
Yes, this makes sense. Can be solved with reusing `GatherUtils`.
The code is quite template-heavy, but it is not too hard to implement.

[2022-01-26 07:34] kant777 commented on #32513
@alexey-milovidov example?

[2022-01-26 08:08] usurai commented on #33982
Can I take this?

[2022-01-26 08:09] alexey-milovidov commented on #33982
@usurai Sure, it's yours!

[2022-01-26 08:13] tchepavel commented on #32388
Taken to work

[2022-01-26 08:30] qinglin opened #34000 "Why changing nullable values to double cause Clickhouse tables became read-only frequently?"
Hi, Guys, I have been working with clickhouse for a while and clickhouse is running pretty well on our prod environment, but last week, I tried to change the value of 5 columns from null to a double value, and the affected rows are about 3600, the sql is like `'alter table XXX update columnA = 1.11 where timestamp = '2022-01-01 08:00:00'` (The original columnA value is null)

Then wired things hap

[2022-01-26 08:34] Tiaonmmn commented on #33987
OK,got it.

[2022-01-26 09:02] cnmade opened #34002 "[RFC] Better structure with change log"
The current change log not very good structure , I have a well print plan for rebuild change log by version and last update date display as tree list.
Following is just a small example

----
* v1 [2018-07-12]
    * v1.1 [2018-07-12]
        * v1.1.54394 [2018-07-12]
* v18 [2018-12-15]
    * v18.1 [2018-07-20]
        * v18.1.0 [2018-07-20]
    * v18.4 [2018-07-28]
        * v18.4.0 [2018-07-28]

[2022-01-26 09:12] AnberLu opened #34003 "when output data is large how to read"
When the output data is particularly large, how to read while writing，like  buffer Stream

[2022-01-26 09:17] namepunk opened #34004 "Postgres odbc connection issues after upgrade to 21.12.3.32"
After upgrade clickhouse server from  20.9.2.20 to 21.12.3.32 i have issues with postgres odbc connection.
Periodically, after 2-3 days of work, connection to postgres is lost, i see error

Code: 86. DB::Exception: Received from node1:9000. DB::Exception: Received error from remote server /?connection_string=DSN%3Dinga_pg&max_block_size=65505. HTTP status code: 500 Internal Server Error, body: �st

[2022-01-26 09:39] johnnyleitrim commented on #33993
Unfortunately, that didn't work for me:
[code]

I get the following error when trying to create the materialized view:
[code]

[2022-01-26 09:53] johnnyleitrim commented on #33993
It looks like the virtual `_raw_message` field is empty until there was an error processing the kafka message, so I don't think there's a way to achieve what I'm looking for as I want to store the raw message in all cases.

[2022-01-26 09:57] alexey-milovidov opened #34006 "Schema Inference For Freeform Text Formats"
Continuation of #14450.

**Use case**

Parse application logs without specifying the structure.
Parse tabular dumps with unknown format and delimiters.
Extract data from HTML tables.

**Context**

This task is not well defined and there is no clear well-known solution.
Every year in every database conference there is a paper about how to solve this task.
Typical solutions are tricky and error-pron

[2022-01-26 10:04] andrea-s opened #34008 "Limit clause pushdown yields weird result with window function"
[code]

I would expect for db_tables to be 4 in the second query, am I missing something?

[2022-01-26 10:05] andrea-s commented on #34008
Explicitly adding an order by clause fixes it:

[code]

[2022-01-26 10:07] alexey-milovidov commented on #11123
It is also solved by: `INSERT INTO FUNCTION file('out{_partition_id}.csv') PARTITION BY column`
Although partition with SELECT INTO OUTFILE is still to be implemented.

Let's close this umbrella task

[2022-01-26 10:07] #11123 closed

[2022-01-26 10:09] alexey-milovidov commented on #16295
This is solved in different way.

When you do `INSERT INTO  lineorder SELECT * FROM file('./lineorder/*.csv')`
SELECT will parse CSV as String/Float64 columns and then types will be converted on INSERT.

[2022-01-26 10:10] alexey-milovidov commented on #13526
Solved.

[2022-01-26 10:10] #13526 closed

[2022-01-26 10:11] alexey-milovidov commented on #13526
https://www.youtube.com/watch?v=gP7I2SUBXig

[2022-01-26 10:11] alexey-milovidov commented on #14450
Solved: https://www.youtube.com/watch?v=gP7I2SUBXig

[2022-01-26 10:39] alexey-milovidov commented on #34008
LIMIT pushdown should be prevented in presense of window functions.

[2022-01-26 10:41] alexey-milovidov commented on #34002
We don't publish changelog for patch releases:
22.1.x where x is changing.

And there is no particular meaning of the first number: 22 or 21.

We also separate changelog by years to different pages.

[2022-01-26 10:42] alexey-milovidov commented on #34002
It is better to not pay any efforts restructuring the old changelogs.

[2022-01-26 10:42] #34002 closed

[2022-01-26 10:44] amosbird commented on #33761
It should be fixed now. Please re-open the ticket if this isn't the case

[2022-01-26 10:44] #33761 closed

[2022-01-26 11:01] taiyang-li opened #34009 "Do we consider add alignment for `ThreadStatus`"
Do we consider add alignment for class `ThreadStatus` like this to reduce false sharing of cpu cache between multiple threads ?
[code]

[2022-01-26 11:05] snar opened #34010 "arrayCompact: higher-order ?"
**Describe the unexpected behaviour**

Current implementation of arrayCompact does not behave as other higher-order functions: it accepts lambda function as its first argument, but then it compacts array returned by lambda, not original array (see below for example).

**How to reproduce**
* Which ClickHouse server version to use

Any modern

* Queries to run that lead to unexpected result

select

[2022-01-26 11:33] alexey-milovidov opened #34011 "Query Cache"
**Use case**

Provide quick answer and avoid excessive computations if the same query is requested more than once in a short period of time.

(Un)marked checkboxes refer to #43797

**Requirements**

- [x] A setting (all settings are on query level) for tuneable cache usage with three options: - don't use cache; - use cache if data exists but don't put new items into cache (passive cache usage); -

[2022-01-26 11:34] alex-zaitsev commented on #21338
Up. Latest results. 140TB of ZK traffic on 500GB of inserts.
[code]

[2022-01-26 11:34] UnamedRus commented on #33993
I think, you can make a FR for populating `_raw_message` column always.

[2022-01-26 11:36] UnamedRus commented on #34010
Related https://github.com/ClickHouse/ClickHouse/issues/18535 https://github.com/ClickHouse/ClickHouse/issues/14778

[2022-01-26 11:42] #16295 closed

[2022-01-26 11:46] alexey-milovidov commented on #34009
It is already allocated on thread stack, so no issue with false sharing should exist, as thread stacks are already far away of each other.

[2022-01-26 11:54] taiyang-li commented on #34009
Thanks for your explaination. @alexey-milovidov

[2022-01-26 12:00] kssenii commented on #34004
So the error persist if you retry the query and only restart helps?

[2022-01-26 12:26] #21647 closed

[2022-01-26 12:26] #28322 closed

[2022-01-26 12:26] #29791 closed

[2022-01-26 12:27] azat commented on #26876
I will add a few possibly related issues (to track them in one place):
- #24777

[2022-01-26 12:33] alexey-milovidov commented on #18794
@azat We need something like the list of bad Linux kernels.
Like:

< 3.2: IPv6 packets are dropping randomly;
< 5.4: transparent huge pages degrade performance;

[2022-01-26 12:38] Slach opened #34014 "system.metrics name='Query' and system.metric_log CurrentMetric_Query gauge doesn't calculate anymore"
**Describe what's wrong**
Query metric doesn't calculate anymore
[code]
always return value=0

[code]
always return 0 rows

I check these queries during run following script in separate terminal
[code]

**Does it reproduce on recent release?**
Yes it reproduce on 22.1 and 21.12
And doesn't reproduce on 21.11

[2022-01-26 12:42] #34009 closed

[2022-01-26 13:18] Vetlin opened #34015 "Support for Mac M1 core"
Hello!

Trying to use your docker image https://hub.docker.com/r/yandex/clickhouse-server on M1 Mac and getting this error:
`runtime: failed to create new OS thread (have 2 already; errno=22). fatal error: newosproc`. I'm sure that this is because of M1 core, cause I runned the same code on Mac with Intel core and it worked.

So, can you please add support for M1 core?

[2022-01-26 13:26] wbxsGithub opened #34016 "DROP PARTITION hang on v21.7"
There is a problem:

execute query :"alter table xx.xxxx drop partition ('20220124',1)"
It's hanging up.
I went to execute "kill query",but it is invalid. I can't kill it.

parittion size : 113.35 GiB

[2022-01-26 13:35] simpl1g opened #34018 "s3Cluster doesn't kill child queries if fails"
Hi, I noticed that we have 2 queries in cluster that are running for few days and it happens that they are children of failed queries

Initial query, started at `2022-01-20 06:00:05.485922`, query_id = `16ABA5B4D52323FF`

[code]
This query failed at `2022-01-20 06:02:03.644609`. Exception in initial query

[code]

6 days later subquery is still running on one of the shards

[code]

Version of Clic

[2022-01-26 13:42] loyd commented on #33320
@alexey-milovidov, we've checked master, still leaks in `22.1.1.2542`.

![2022-01-26_16-40-55](https://user-images.githubusercontent.com/952180/151173491-c1cee9d1-94cd-4e28-8f00-f4c3c546193d.png)

Reopen the issue, please. What kind of information should we provide?

[2022-01-26 14:01] inkrement commented on #33678
Would it be possible to support LIMIT BY? A combination of ORDER BY/LIMIT BY would allow similar functionality as Replacing-MergeTree engine:

[code]

[2022-01-26 14:33] den-crane commented on #33320
@loyd  any clue how to reproduce it?

Try my example but with your "HTTP-based library" instead of curl

[2022-01-26 14:35] den-crane commented on #34016
check system.merges for running merges for this table.

21.7 is obsolete. Try 22.1

[2022-01-26 14:35] #34016 closed

[2022-01-26 14:38] den-crane commented on #34015
But images marked OS/ARCH = linux/amd64

There is no official arm docker images yet.

Try unofficial https://hub.docker.com/r/altinity/clickhouse-server/tags?page=1&name=arm

[2022-01-26 14:38] #29072 closed

[2022-01-26 14:39] den-crane commented on #34015
duplicate https://github.com/ClickHouse/ClickHouse/issues/22222

[2022-01-26 14:39] #34015 closed

[2022-01-26 14:39] den-crane commented on #34008
duplicate https://github.com/ClickHouse/ClickHouse/issues/23125

[2022-01-26 14:42] den-crane commented on #34003
You need to clarify your question.

What does it mean? Writing of fetched data in your client application?

What library / language do you use?

[2022-01-26 14:45] alesapin opened #34021 "Introspection for S3 metadata of MergeTree tables over S3."
We need to add some introspection table (or extend `system.parts`) which will allow to get some metainformation about parts paths on S3.

[2022-01-26 14:48] dearfl opened #34022 "Max length of IPv6 text representation"
https://github.com/ClickHouse/ClickHouse/blob/289a51b61d636e9b2ac98dc912d4d1894cc31e2e/src/Common/formatIPv6.h#L14

According to this [link](https://stackoverflow.com/questions/166132/maximum-length-of-the-textual-representation-of-an-ipv6-address), the Maxiumn length of IPv6 textual representation should be 45.

[2022-01-26 15:17] johnnyleitrim opened #34023 "Populate the _raw_message virtual kafka column for non-exception"
**Use case**

I would like to be able to store the full kafka message in a column when using the kafka engine. At the moment, the `_raw_message` virtual column is only populated in the kafka engine if there was [an exception handling the message](https://github.com/ClickHouse/ClickHouse/blob/87574e8bf60887f9b7df1e13b6bbdc3020a549ea/src/Storages/Kafka/KafkaSource.cpp#L178).

Some of our messages co

[2022-01-26 16:06] mark-angelo commented on #33536
@CurtizJ Anton, is this something that can be fixed in the near term?

[2022-01-26 16:08] ekonkov commented on #34014
I can confirm it reproduce on 22.12
and doesn't reproduce on 21.8.

[2022-01-26 16:29] jason-cognitiv commented on #32513
Hey @alexey-milovidov, if we are comfortable with the costs of having the data replicated multiple times in S3, and ok with turning off zero copy replication, is it ok to use S3 storage then?  Or is it still problematic?

[2022-01-26 16:49] adam-mrozik opened #34032 "DEDUPLICATE BY expression must include all columns"
Hey,

I am trying to run `'OPTIMIZE TABLE xxx FINAL DEDUPLICATE BY id` statement.
However, because my table is partitioned and ordered by `time` (`PARTITION BY toYYYYMMDD(time)`), I have to add `time` as the deduplication argument.

This would be fine, however time is equivalent to the insert time, which will most likely be different for both rows. So, I want to remove duplicate rows based on `id`

[2022-01-26 17:31] alexey-milovidov commented on #32513
@jason-cognitiv It is still not 100% production ready, I'd say 95%, for example we just faced one minor issue and we are going to introduce 100% test coverage on top of s3 in our CI.

[2022-01-26 17:36] jason-cognitiv commented on #32513
Understood, thanks for the response.

[2022-01-26 17:36] ramazanpolat commented on #33955
Direct layout itself is not that efficient to use because CH needs to go to external source for each lookup query. Adding the extra overhead of the HTTP itself makes it worse. But I do still believe it may have its own use cases.

This will be valuable only if there will be lots of attributes for each key. Maybe there are some cases that should fit but I can't think of any. It would still be good

[2022-01-26 17:41] Algunenano opened #34033 "~CurrentlyExecuting() downcast of misaligned address"
It appeared in https://github.com/ClickHouse/ClickHouse/pull/33958 CI but it doesn't seem related to the changes and I couldn't reproduce it locally by running these same tests.

CI run: https://s3.amazonaws.com/clickhouse-test-reports/33958/a48b9ca349e01f9ae1b8b1abbefa1be987341d51/stateless_tests__ubsan__actions_.html

Stderr: https://s3.amazonaws.com/clickhouse-test-reports/33958/a48b9ca349e01f9

[2022-01-26 17:46] genzgd commented on #34022
The 45 character size only applies to an "expanded" IPv4 representation such as `0000:0000:0000:0000:0000:ffff:123.123.123.123`.  ClickHouse will always use the shorthand representation of `::ffff:123.123.123.123` for display.   Since toIPv6 correctly parses the expanded version:

[code]
it does not seem using 39 should cause an issue.  Is this creating some exception or unexpected behavior?

[2022-01-26 17:55] dearfl commented on #34022
no, I just came cross this code and felt a little strange, since INET6_ADDRSTRLEN is defined as 46 in Linux.

[2022-01-26 17:59] genzgd commented on #34022
I would assume the Linux value is intended to avoid any possible overflow in edge cases where the unnecessary expanded format is used.  We are not aware of any such usage in ClickHouse currently.

[2022-01-26 18:02] den-crane commented on #34032
Probably you should include time into `order by` and you should use ReplacingMergeTree, not MergeTree

[2022-01-26 18:07] alexey-milovidov commented on #34022
@genzgd Maybe can add a comment in code to avoid confusion?

[2022-01-26 18:11] kokizzu commented on #33845
but how to know the replication state/progress, or this is instaneous?

[2022-01-26 18:19] kokizzu commented on #33845
ah apparently this caused by the ro_user (read only) doesn't have sufficient permission to do replication, i use higher privieleged user and it works, but it crashed, i will make another issue for that.

[2022-01-26 18:19] #33845 closed

[2022-01-26 18:27] KochetovNicolai opened #34035 "Re-implement `select count()` optimization."
Now, while running `select count() from merge_tree_table`, select would not read any data. This is a useful optimization implemented by @amosbird. It is implemented inside `InterpreterSelectQuery`:
https://github.com/ClickHouse/ClickHouse/blob/6c71a7c40f1ea6816ab2b9ce42ba4290ff47cb83/src/Interpreters/InterpreterSelectQuery.cpp#L1757-L1822

If query is simple enough, we just ask storage directly th

[2022-01-26 18:43] kokizzu opened #34036 "MaterializedPostgres stuck if one of the table doesn't contain primary key, crash when attach/detach table"
**Describe what's wrong**
[code]
the database source is RDS, after executing those command the clickhouse-client suddenly closed.

**Does it reproduce on recent release?**

yes, this is the most recent release
[code]

**Enable crash reporting**

ok done

**How to reproduce**
1. create materializepostgres database from rds
2. after few seconds it shows:
[code]
3. the server logs shows:
[code]
4. op

[2022-01-26 18:47] kssenii commented on #34036
But this is not a crash, just an exception. Is there anything else in log?

[2022-01-26 18:51] kokizzu commented on #34036
ah wait, I think this one caused by out of memory
[code]
1GB t1.micro is not enough for POC '__')

after creating swapfile, it doesn't crash, but stuck if one of the table does not contain primary key
[code]

stuck and doesn't continue:
[code]

[2022-01-26 18:56] kokizzu commented on #34036
or how to make it resuming the replication if there's some tables that have no replication identity?

[2022-01-26 19:04] kokizzu commented on #34036
i tried to add some tables that doesn't exists on `SHOW TABLES`, but it shows:
[code]

for another table, it crashed after few seconds, and after the server restarted, and retrying the same `ATTACHE TABLE command`,  it shows:
[code]

[2022-01-26 19:06] kokizzu commented on #34036
but when trying to detach one that have already replication it shows:

[code]

[2022-01-26 19:07] kssenii commented on #34036
Why tables did not get shown in SHOW TABLES ? There was an error on loading -- like "no primary key"? Add you attached it after adding it?

[2022-01-26 19:10] kokizzu commented on #34036
no error after attach

this one after drop database and only attach 1 on create database materializepostgres:

[code]

[2022-01-26 19:12] kokizzu commented on #34036
oh '__') is it because the foreign key not there yet? if I attach table I have to find all the tables that are being the dependencies first?

[2022-01-26 19:13] kokizzu commented on #34036
after crash it always stuck when opening clickhouse-client, have to open 2 clickhouse-client to make it unstuck

[2022-01-26 19:14] kokizzu commented on #34036
detach also didn't work:

[code]

it seems every crash have to drop database and recreate again

[2022-01-26 19:17] kokizzu commented on #34036
another proof, after dropping database and recreate database with 1 table that crashed above:
[code]

[2022-01-26 19:20] #33993 closed

[2022-01-26 20:47] CurtizJ commented on #33536
Yes, I will fix it soon. It shouldn't be hard.

[2022-01-26 22:07] Ryado commented on #33808
Clickhouse keeper is shipped in the  `clickhouse` binary (`/usr/bin/clickhouse`).
[code]

[2022-01-26 22:21] #33808 closed

[2022-01-27 00:06] den-crane commented on #33993
How about format JSONAsString or RawBLOB  instead of JSONEachRow ?

[2022-01-27 00:06] den-crane commented on #33993
https://clickhouse.com/docs/en/interfaces/formats/#rawblob

[2022-01-27 00:07] den-crane commented on #33993
https://kb.altinity.com/altinity-kb-schema-design/altinity-kb-jsonasstring-and-mat.-view-as-json-parser/

[2022-01-27 00:22] bug65536 commented on #32938
i got same error when i want to insert data:
[code]

[2022-01-27 00:24] RossRothenstine opened #34044 "Windowed Materialized View using hop does not create overlapping windows."
Hello.

Given the following schema, I would expect a Materialized View with hop defined to "hop" the "window interval" every "hop interval". Presently it seems to just hop the window interval instead of hopping the hop interval.

You will see from my data below that from my windowed view, I am seeing only window_interval aligned results in the destination, and no results of hopping. It looks suspi

[2022-01-27 01:36] YjyJeff opened #34045 "What's the difference between Clickhouse's pipeline execution and Volcano model?"
I am interested in the pipeline execution model in ClickHouse. After searching, I only find this [website][1] that tells me how ClickHouse's pipeline model works. But I am still very confused. Why the pipeline execution is better than volcano model?

Thanks in advance

  [1]: https://presentations.clickhouse.com/meetup24/5.%20Clickhouse%20query%20execution%20pipeline%20changes/#processors-1

[2022-01-27 01:42] dearfl commented on #34022
ok, I did a bit testing and found this:

[code]

then

[code]

will throw DB::Exception: Invalid IPv6 value.

[2022-01-27 01:53] dearfl commented on #34022
another example:

[code]

will success, but

[code]

[2022-01-27 01:59] jasgok opened #34046 "Is it possible to convert json string to map type"
I use Map type to store metric like `{"new_user_count": 10, "revenue": 100}` ,
data is dump from amazon redshift Super type (dictionary)，and will dump as json string.
but it's tricky to convert json string to Map, like this :

[code]

Is it possible to convert json string to map type

[2022-01-27 03:14] windylcx opened #34048 "it is not working correctly when apply Distributed on system.query_log"
i want to query all to the query log of a cluster ,and i create a Distributed table system.query_log_dist.

[code]

and  query like this:

`select count(*) from  system.query_log_dist where toDate(event_time)=yesterday()`

but the result is random.

how Distributed table work on  system  build in tables?
![image](https://user-images.githubusercontent.com/917238/151285326-4ccff02d-289f-4d51-8c16-db

[2022-01-27 04:16] den-crane commented on #34048
cluster1 is 3 shard 2 replica that's why.

You have 2 options
* use clsterAllRelplicas `select count(*) from clsterAllRelplicas('cluster1', system.query_log_dist) where toDate(event_time)=yesterday()`
* create one more cluster 'cluster-all' where all 6 nodes will shards with a single replica and use this 'cluster-all'  in your Distributed table.

ClickHouse nodes can be a member of any number of c

[2022-01-27 04:17] #34048 closed

[2022-01-27 04:25] amosbird commented on #34035
We have also projection optimization for this https://github.com/ClickHouse/ClickHouse/pull/26286 . If projection is enabled, it will take precedence.

[2022-01-27 06:03] windylcx commented on #34048
got it,thank you!

[2022-01-27 08:22] KANLON commented on #29892
I have same problem! and when I switch if to  " case when " function ，it work slower

[2022-01-27 08:43] gyfis commented on #28034
I believe this was implemented in https://github.com/ClickHouse/ClickHouse/pull/33276/files - are you okay with closing this one @den-crane ?

[2022-01-27 08:46] mark-angelo commented on #33536
Thank you so much Anton, we really appreciate it!

[2022-01-27 08:48] namepunk commented on #34004
Yes exactly. Requests do not work until server restart

[2022-01-27 09:05] tavplubix commented on #33652
https://s3.amazonaws.com/clickhouse-test-reports/0/02146a11d88b3cac622efe99c9a9d972b130293d/stress_test__address__actions_.html

[2022-01-27 09:12] tavplubix commented on #34033
Another strange failure that can be related:
https://s3.amazonaws.com/clickhouse-test-reports/0/6eee1fda56675fd1bbc90ac45bd18cee54a54b63/stateless_tests__ubsan__actions_.html

[code]

[2022-01-27 10:16] Algunenano opened #34053 "Flaky test: test_inconsistent_parts_if_drop_while_replica_not_active"
Looking at the runs of this test in master it seems to be having some issues:

[code]

date | all_runs | failures
-- | -- | --
2021-11-30 | 34 | 1
2021-12-11 | 43 | 1
2021-12-14 | 49 | 4
2021-12-15 | 43 | 6
2021-12-16 | 156 | 6
2021-12-25 | 39 | 1
2022-01-17 | 42 | 2
2022-01-18 | 36 | 3
2022-01-19 | 54 | 2
2022-01-20 | 82 | 2
2022-01-21 | 80 | 2
2022-01-22 | 51 | 2
2022-01-23 | 36 | 3
2022-01-24 |

[2022-01-27 10:45] adam-mrozik commented on #34032
@den-crane Thanks for the answer -> So do you suggest dropping partition? Also, AFAIK ReplacingMergeTree is not working in real time, so any queries might still return duplicated rows

[2022-01-27 11:11] zvonand commented on #16260
Does not reproduce on 22.1 - already fixed.

[2022-01-27 11:27] Algunenano commented on #34053
The issue is that the test is wrong (😮) when the node2 starts a merge before node1 starts replicating again.

In that case, once node1 is up it will wait and replicate using the new merged part while the other 2 will be delayed with something like:
[code]

Once node1 gets the merged part (`201908_21_40_4`) it already has the expected 20 rows and continues, but the replication queue might still hav

[2022-01-27 11:46] alexey-milovidov opened #34056 "Cannot use `*` inside expression in ALTER query"
[code]

[2022-01-27 11:52] alexey-milovidov commented on #34045
The main difference is that volcano has implicit control flow (calculations are controlled by function calls)
and pipeline has explicit control flow (there is query execution graph and external scheduler can select what computation blocks to run in what threads).

Here is the old list (2018) of what to achieve with Processors:

1. Proper conditions push-down.
Current implementation of "enable_opti

[2022-01-27 11:57] #34045 closed

[2022-01-27 12:02] alexey-milovidov commented on #34018
We need to know where exactly this subquery is being stuck.
You can check it with the `system.stack_trace` query: https://clickhouse.com/docs/en/operations/system-tables/stack_trace/

[2022-01-27 12:03] #34008 closed

[2022-01-27 12:21] simpl1g commented on #34018
@alexey-milovidov Here is results from `stack_trace`.
Unfortunately I don't know how to reproduce. It happend randomly 2 times, looks like because of network issues

[code]

[2022-01-27 12:26] wedi-dev commented on #33955
That's why I mentioned adding some extra settings for Direct layout like `dictionary_cache_during_query`, `dictionary_max_cache_size`

We already have/need Dictionaries that have over 250 attributes. So this feature requesting only queried attributes is crucial for us (together with 2nd idea - dynamic attributes).

Redis is too small for our needs, even Redis Cluster (which I assume is not support

[2022-01-27 12:55] YjyJeff commented on #34045
@alexey-milovidov  Awesome， looking forward to all of them will be done.
You have not mentioned that the processor can accelerate the single query, but I find the query based on processor is much faster than volcano model on this [website](https://presentations.clickhouse.com/meetup24/5.%20Clickhouse%20query%20execution%20pipeline%20changes/#processors-1)(10.599s VS 23.227s). Why does it happen?

[2022-01-27 13:06] ramazanpolat commented on #33955
@wedi-dev I can't speak on behalf of CH developers but if these features won't take much time end effort to be implemented, I would like them to be implemented. For me, having CH being able to do much more than it's expected is the way CH should pick. Because I'm certain that even if direct layout over HTTP will be slow, someone will find a way to make it faster someday.

Out of curiosity, how do

[2022-01-27 13:46] Algunenano opened #34061 "query_views_log view_duration_ms is always 0"
[code]

This should return all 1's for the views since they are taking at the very least 100 ms to execute. Nevertheless, for 21.11+ all view_duration_ms are 0.

* 21.9.4.35: OK
* 21.10.4.26: OK
* 21.11.5.33: KO
* 21.12.2.17: KO
* 22.1.3.7: KO

[2022-01-27 14:30] alexxero opened #34062 "Storage MergeTree doesn't support FINAL"
Цитата из документации:

`Если нам не нужна агрегация, но мы хотим принудительно выполнить свёртку данных, можно использовать модификатор FINAL для секции FROM.`

Но при попытке выполнить запрос в локальном образе Clickhouse получаю ошибку:
запрос -
`SELECT * FROM scripts FINAL`

ответ -
`"Code: 181. DB::Exception: Storage MergeTree doesn't support FINAL. (ILLEGAL_FINAL) (version 21.11.4.14 (offic

[2022-01-27 14:32] den-crane commented on #34062
`show create table scripts` -- на локальном образе

[2022-01-27 14:50] alexey-milovidov commented on #34061
Maybe remove `query_views_log`?

[2022-01-27 14:56] Algunenano commented on #34061
It's really useful to know which views are executed, resource usage per view and so on so I don't see why should we remove it

[2022-01-27 14:58] Algunenano commented on #34061
I'm already looking into it, so feel free to assign it the ticket to me.

[2022-01-27 15:14] genzgd commented on #34022
Does that occur on a recent ClickHouse version?  20.9 is quite old.

[2022-01-27 15:46] UnamedRus opened #34063 "WHERE non_null_key_column = null AND some_column > 0 index doesnt work"
**Describe the situation**
What exactly works slower than expected?

**How to reproduce**

[code]

[2022-01-27 15:52] #7334 closed

[2022-01-27 15:53] den-crane commented on #16616
It works if the user `default` and password is empty `''` (also default).
Basically Clickhouse developers assume that `default` user is a special user and it has no password and access to this user is limited using `network` restrictions.

When a dictionary updates the data from the source a caller does not exist.

[2022-01-27 16:11] gauravphoenix commented on #34056
Also, it will be good to support `*` in partition expression if possible. For example, if a table is partitioned by (`tenantId`, `userId`), it should be possible to use partition expression `('tenantId','*')`.

[2022-01-27 16:19] alexxero commented on #34062
Сорри, расхождение в миграциях

[2022-01-27 17:10] andremarianiello opened #34066 "Trace context information is not propagated from GRPC clients"
**Describe the unexpected behaviour**
Trace context information is extracted from HTTP client headers, but not GRPC client metadata. This breaks GRPC traces.

**Expected behavior**
I would expect clickhouse to use GRPC client-provided metadata (`traceparent` and optionally `tracestate`) when creating child spans.

[2022-01-27 17:20] alexey-milovidov commented on #34018
Row 2 looks relevant, maybe @nikitamikhaylov will be interested.

[2022-01-27 18:50] HeenaBansal2009 commented on #33797
apache/orc#1023  is merged.

[2022-01-27 18:52] azat commented on #18794
Agree, +
- [5.5.0, 5.6.13): broken nested epoll_wait (but there is already workaround, see SettingsQuirks.cpp, but this does not mean that this will not be required in some other places, so worth to produce some warning anyway)

This issue already assigned, will get back once it will be fixed (if this will not be resolved).

[2022-01-27 19:13] kokizzu commented on #34036
one more info, tested with only all 53 tables that have primary keys or unique keys (without manual attach), it shows some error:

[code]

[2022-01-27 19:54] #14648 closed

[2022-01-27 19:56] wedi-dev commented on #33955
@ramazanpolat HTTP source with Direct layout :)

[2022-01-27 19:58] #33838 closed

[2022-01-27 19:58] #32374 closed

[2022-01-27 21:55] sulayliu opened #34073 "Get Exception while query from Nested Array table in CH version 21.11.2.2 and upper"
Clickhouse version 21.10.6.2,21.10.5.3 and lower:
[code]
CH version: 21.11.2.2 and upper:

[code]

Unexpected Behaviour:
It should not have an exception in the select query.

[2022-01-28 06:54] xqliang opened #34077 "Cannot find alias column when query a merge-distributed table"
When I query an alias column of a merge-distributed table,  I got the following error: `Received exception from server (version 22.1.3): Code: 8. DB::Exception: Received from localhost:9000. DB::Exception: Cannot find column `id2` in source stream, there are only columns: [id]. (THERE_IS_NO_COLUMN)`

**How to reproduce**

ClickHouse server version: 22.1.3.7

[code]

[code]

[2022-01-28 06:58] yuuch commented on #32513
**JOIN IMPROVEMENT** AFAIK, there is no Cost-Base Optimizer in ClickHouse. Will reorder-join  introduce a CBO?

[2022-01-28 08:33] filimonov opened #34081 "maxsplit argument for splitByChar"
Similar to https://docs.python.org/3/library/stdtypes.html?highlight=split#str.split

Use case:
[code]

Expected result:

[code]

[2022-01-28 08:45] ramazanpolat commented on #33955
😱

So, how come your HTTP server overcome all of those requests? Which HTTP server are you using (lang, framework)?

Or, to better understand your situation, I should ask what problems are you facing now?
(this is nothing to do with this FR, I'm just trying to understand your situation)

[2022-01-28 08:49] 596192804 commented on #32509
I also encountered this problem. I repeatedly drop and create the table several times, and then it no longer reported this error. It feels like a hidden bug.

[2022-01-28 09:03] #33797 closed

[2022-01-28 09:11] linruoma opened #34082 "Error inserting data"
I build a table like this

`CREATE table test1(
`id` Int64,

`head.sha` String,

`head.repo.owner.gravatar_id` String,

`head.repo.is_template` Int64,

`head.repo.topics` Array(String),

`base.repo.topics` Array(String)
)
Engine=MergeTree()
order by `id`;`

If I insert data like this
`insert into test1 (`base.repo.topics`) values(['raw','xxx'])`
It can run successfully

If I insert data like this

[2022-01-28 09:59] taiyang-li opened #34083 "NUMA memory skew between two nodes"
@alexey-milovidov  I found NUMA memory skew between two nodes when running clickhouse-server in production environment.
It is strange that metrics of different NUMA nodes is skew, not as expected in https://github.com/ClickHouse/ClickHouse/issues/338. But I can't find where the problem is. I'am not quite familiar with numa, need your help, thanks very much in advance.

[code]

The numa policy of t

[2022-01-28 10:03] #7461 closed

[2022-01-28 10:21] alexey-milovidov commented on #34083
Maybe it is related to dictionaries (they can be large and be allocated from one thread) or tables' primary key.
I think, we should not worry. You can try to use "interleave" memory policy, but I doubt that it will lead to better performance.

[2022-01-28 10:36] AlmostIvanSidorov opened #34089 "Data duplication in `PART MOVE TO SHARD` feature"
I wrote a test for  `PART MOVE TO SHARD` runs multiple times and received some unexpected behavior.

**Test description:**
1) Create a table
2) Make 2 rows insert on one shard and 1 row insert on some other
3) Stop Merges
4) Create Distributed table
5) Receive part UUID
6) Move this part multiple times
7) Make concurrent check on the number of rows

**How to reproduce**
1) CREATE TABLE IF NOT EXIS

[2022-01-28 10:45] Tiaonmmn opened #34091 "unknown serialization kind on distributed table"
**Describe the unexpected behaviour**
After upgraded to ClickHouse 22.1.3 revision 54455,when using distributed table to insert data,errors occured in log.

**How to reproduce**
Version:ClickHouse 22.1.3.7

**Expected behavior**
After upgraded to ClickHouse 22.1.3 revision 54455,when using distributed table to insert data,errors occured in log.
Cluster's ClickHouse version are the same,22.1.3.7.

[2022-01-28 11:34] taiyang-li commented on #34081
I'd like to take this issue if you like.

[2022-01-28 12:10] CurtizJ commented on #34091
Please, can you share the schema of tables?

[2022-01-28 12:21] alrocar opened #34093 "EXPLAIN SYNTAX doesn't report more than one column in GROUP BY"
For instance a query like this:

[code]

should report: `GROUP BY number, date` in the last line.

Tested on these versions with the same result: 20.7.2.30, 21.7.4.18, 21.9.5.16, 21.12.3.32, 22.1.2.2

[2022-01-28 12:34] CurtizJ commented on #34093
`toDate(now())` is a constant and constants are eliminated from `GROUP BY` keys.

[2022-01-28 13:07] alrocar commented on #34093
Oh I see, a non constant date works:

[code]

Thanks!

[2022-01-28 13:07] #34093 closed

[2022-01-28 13:16] shashankkoppar commented on #34091
We are also facing similar issue after upgrading to 22.1.3.7

[2022-01-28 13:24] tavplubix opened #34111 "Data race in `StorageFile::read`"
https://s3.amazonaws.com/clickhouse-test-reports/0/277fe4e1c4eaf45708c4eedc640136d387c7f869/stateless_tests__thread__actions__[1/3].html

[code]

Probably related to #33960, cc: @Avogar

[2022-01-28 13:30] alexey-milovidov commented on #33850
@CurtizJ found out that it is not so trivial - for example it will not work for `Memory` tables.

[2022-01-28 13:36] alexey-milovidov commented on #27509
#20001
#34070

[2022-01-28 13:41] alexey-milovidov commented on #30274
Proposal is to implement it with explicit `PARTITION BY` clause:

[code]

It will allow to analyze the query to track what columns are needed before output.

[2022-01-28 13:48] alexey-milovidov commented on #23320
![Screenshot_20220128_164747](https://user-images.githubusercontent.com/18581488/151557858-44138966-61e2-4b96-9bea-1f52df4f2c0c.png)

[2022-01-28 14:52] Tiaonmmn commented on #34091
create table XXX.YYYY(
BEGINTIME DateTime,
ABCD String,
DEFG String,
Flag LowCardinality(String),
QWER String,
TYUI Int32,
FGHJ String,
ZXCV String
)
engine =Distributed('example','blah','blah_base',rand());

create table blah.blah_base(
BEGINTIME DateTime,
ABCD String,
DEFG String,
Flag LowCardinality(String),
QWER String,
TYUI Int32,
FGHJ String,
ZXCV String
)
engine=MergeTree PARTITION BY toYYY

[2022-01-28 15:31] chhetripradeep opened #34115 "Consider checking out bitsetsort performance"
[BitSetSort](https://github.com/minjaehwang/bitsetsort) claims to perform better than pdqsort and std::sort for randomized inputs. I thought to open this issue to see if we can benefit from it.

[2022-01-28 16:18] electrical commented on #33994
We decided to rebuild the entire setup and import a backup.
So far nothing has broken after doing the same upgrade.
This would indicate the cluster somehow got in a very weird state. It's still unclear why the node decided to replay old mutations.

[2022-01-28 16:19] perst20 commented on #25603
booked by me

[2022-01-28 16:24] electrical opened #34118 "DB::Exception: There is no role `xxxx` in user directories (version 21.8.13.6 (official build))"
**Describe the unexpected behaviour**
We manage users via DDL statements for CREATE and GRANT on our different cluster nodes.
This worked fine until the upgrade to 21.8.13.6

Querying the individual nodes, all the users exist. They also exist in the `access` directory.

The error ```DB::Exception: There is no role `xxxx` in user directories.``` seems to indicate it's looking for a role while it sh

[2022-01-28 17:20] den-crane commented on #34118
Any clues how it can be reproduced?

[2022-01-28 17:24] den-crane commented on #34115
https://probablydance.com/2017/01/17/faster-sorting-algorithm-part-2/ https://habr.com/ru/company/wunderfund/blog/599249/

[2022-01-28 17:29] electrical commented on #34118
Hi @den-crane the previous version is 21.3.14.1

We execute the following queries using the python `clickhouse_driver`.

[code]
{profile} is a profile we predefined in the Clickhouse config.

And
[code]

{roles} could be any grants like `SELECT, INSERT, UPDATE, DELETE`.

In some cases the user can have access to multiple clusters.

[2022-01-28 17:33] thomas-imi opened #34127 "USE documentation page is in Chinese instead of English"
**Describe the issue**
The [use.md.](https://github.com/ClickHouse/ClickHouse/blob/master/docs/en/sql-reference/statements/use.md) English documentation page has been overwritten by a Chinese translation.

[2022-01-28 17:38] den-crane commented on #34118
How many shards and replicas do you have?

[2022-01-28 17:41] electrical commented on #34118
we have 3 clusters within the setup

main: single shard, single replica
api: single shard, 2 replicas
analytics: single shard, 2 replicas

[2022-01-28 17:47] den-crane commented on #34082
`.` - dot is a special character in column names, reserved for Nested Arrays.

You should never use `.` dots if you don't use `Nested`.

Replace `.` with `_`

[code]

[2022-01-28 17:47] #34082 closed

[2022-01-28 18:07] javiermas commented on #6003
Hello. Has this behaviour changed? I'm seeing now the prefixes being returned. Not only that, within a query, I need to reference selected columns using their table prefixes even on later parts of the query: e.g.:

[code]

Is this expected?

[2022-01-28 20:48] cnmade opened #34129 "docs/zh/sql-reference/statements/alter/index.md translate is wrong place"
**Describe the issue**

The current translate file has problem with
`docs/zh/sql-reference/statements/alter/index.md`

and
`docs/zh/sql-reference/statements/alter/index/index.md`

**Additional context**
These two file need to be put with their right place, and translate right again.

[2022-01-28 20:49] cnmade commented on #34129
So i had post new translate and made a pull request,
Welcome to review my new translate.
https://github.com/ClickHouse/ClickHouse/pull/34050

[2022-01-28 20:55] den-crane commented on #11925
still relevant 22.1.2.2

[2022-01-28 21:09] traceon opened #34130 "LDAP: authentication with configured role mapping fails on a cluster with a secret"
When ClickHouse server is configured as a part of a cluster with a secret, and there is an LDAP user directory with a role mapping, authentications for users from that directory fails.

If the `<secret>` is removed from the cluster config, or role mapping is disabled for LDAP user directory, users are authenticated successfully.

[2022-01-28 21:34] den-crane commented on #34032
You need to understand that deduplication is a byproduct of merges.
Merges happen only between parts in a partition, so rows in different partitions will be never deduplicated.
You can remove partitioning or partition by another key or use select with deduplication on the fly

dedup. on the fly
[code]

[code]

[code]

[2022-01-28 21:34] #34032 closed

[2022-01-28 22:10] alexey-milovidov commented on #34127
Fixed https://github.com/ClickHouse/ClickHouse/commit/379f8d3d7e531840503456c84cf000c14df578b0

[2022-01-28 22:10] #34127 closed

[2022-01-28 22:24] #33536 closed

[2022-01-29 00:00] CurtizJ commented on #34091
I reproduced it with the following scenario: after inserts on old version there should remain files with unflushed to shards inserted data. Then after upgrade data cannot be read back and sent to shards, because version of Native format (in which temporary  data is written) is accounted incorrectly. The Native protocol was changed in 22.1 and its version was incremented. I'll try to fix it soon.

[2022-01-29 00:57] filimonov commented on #22381
https://github.com/ClickHouse/ClickHouse/pull/29140

[2022-01-29 01:08] Tiaonmmn commented on #34091
I downgrade the insert server to 21.12.9,and it seems you can transfer data from old version server to new version server.
Waiting for new release.

[2022-01-29 01:29] zhanglistar opened #34134 "Join two big tables"
**Use case**
In data analysis, the fact table is big, TB level or even bigger, very easy to got OOM now. But it is inevitable to join two big tables in nowadays.
Impala/doris/starrocks can join two big tables, while clickhouse could not. I think that helps clickhouse to expand the scope.

Our team have an initial idea, that is rewrite the join clause to several clauses 1) create two tmp special di

[2022-01-29 01:42] den-crane commented on #34134
https://github.com/ClickHouse/ClickHouse/issues/32513
see  JOIN Improvements

[2022-01-29 01:42] #34134 closed

[2022-01-29 02:05] den-crane opened #34135 "Dictionaries complex primary key does not allow ( )"
`PRIMARY KEY (key1,key2,key3)` VS `PRIMARY KEY key1,key2,key3`

[code]

[2022-01-29 13:53] alexey-milovidov opened #34138 "Should we support `#` for single-line comments in SQL?"
Pros:
- very easy to support;
- compatibility with MySQL syntax;
- this #33584 get supported automatically;
- sometimes I write comments starting with `#` by mistake, and will be pleased if it worked;
- simplify creation of "quines".

Cons:
- it may be too bizarre to support all these styles of comments;
- PostgreSQL has [#>](https://www.postgresql.org/docs/14/functions-json.html) and similar oper

[2022-01-29 13:56] alexey-milovidov commented on #34135
@kitaisreal We should support the variant in parens.

[2022-01-29 16:08] den-crane opened #34142 "TO_CHAR (number) / Printf"
Users often ask how to format Numbers (Integers /  Floats / Decimals) ( they need to separate thousands by '.,' or format fractions.

I propose to implement either TO_CHAR or c-lang printf.

https://www.postgresql.org/docs/9.6/functions-formatting.html
https://en.wikipedia.org/wiki/Printf_format_string

Personally I prefer Printf, but TO_CHAR is more SQL way, because it exists in other RDBMS.

[2022-01-29 16:11] #34129 closed

[2022-01-29 16:17] alexey-milovidov commented on #34142
This can be implemented as extension for `format` function.

[2022-01-29 18:52] alexey-milovidov commented on #34089
CC @nvartolomei

[2022-01-29 18:53] alexey-milovidov commented on #34089
This experimental feature is going to be removed if this issue will not be addressed in 6 months (before July 2022).

[2022-01-29 18:55] #34135 closed

[2022-01-29 19:16] alexey-milovidov commented on #19794
Does not reproduce anymore.
What I did:

1. Upgraded kUbuntu from 20.04 to 21.04.
2. Disable "compositioning" in Appearance setting (everything becomes tremendously faster).

Bottomline:
This was a bug in Ubuntu, not in ClickHouse.

[2022-01-29 19:16] #19794 closed

[2022-01-29 19:17] jtrosty commented on #34142
I'd like to perform this task.  When you say as an extension for format function, where specifically? Looking around the codebase I thought maybe in the writeHelpers in IO.  I look forward to start contributing to open source projects.

[2022-01-29 19:23] alexey-milovidov commented on #15609
@bugaevc The latest release in the repository is still February 25, 2021.
And Darling is quite heavy to build.

[2022-01-29 19:36] den-crane commented on #34142
There is the format function

[code]

probably it could be extended?

[code]

[2022-01-29 19:40] den-crane commented on #34142
If such arguments are impossible `'Geeks', 1, 05.333`, it could be a tuple `('Geeks', 1, 05.333)`

[code]

[2022-01-29 19:43] jtrosty commented on #34142
I understand, thank you I'll start work on it.

[2022-01-29 20:07] alexey-milovidov commented on #15609
I cannot build Darling on a clean Ubuntu 20.04 machine in AWS.

[2022-01-29 21:50] alexey-milovidov commented on #15318
It's good example of multi-terabyte dataset, good for testing.
Let's continue...

[2022-01-29 22:50] alexey-milovidov commented on #34142
@den-crane For consistency reasons, it will be better to use fmt-style substitutions than printf-style.

[2022-01-29 22:55] alexey-milovidov commented on #34142
By the way, I'm not sure that this task is easy.
It should be implemented by carefully reusing `fmt` library inside our `format` function while carefully keeping the current implementation (fast string substitution) as a shortcut. Also, it should be possible to use `fmt` with zero copies and allocations (some experience in C++ is required). Special handlers for Date, DateTime and Decimal are neede

[2022-01-29 22:55] den-crane commented on #34142
Ah, OK.

[2022-01-29 23:05] alexey-milovidov opened #34147 "(master) reading parquet file from url does not work"
**Describe what's wrong**

[code]

[2022-01-29 23:53] alexey-milovidov opened #34148 ""Cancelled merging parts" is not an error."
I see this in logs on server shutdown:

[code]

but it's not an error.

Log level should be changed and it should not show stack trace.

[2022-01-30 00:08] den-crane commented on #34148
Also it would be nice to see a reason (who / why initiated it)

[2022-01-30 01:12] taiyang-li commented on #34081
Done: https://github.com/ClickHouse/ClickHouse/pull/34140

[2022-01-30 02:48] inertance commented on #32963
how can i config this in jdbc, when i use datax ,write data into clickhouse distributed table ,it also occur

[2022-01-30 03:14] inertance commented on #25843
i do it also , but a error occur : Method write is not supported by storage Distributed with more than one shard and no sharding key provided (version 20.8.18.32 (official build))

[2022-01-30 04:52] apptut opened #34150 "grant with role error : DB::Exception: There is no role `superadmin` in user directories"
I try build a clickhouse cluster with multi shards and 2 replica. I just create a role superadmin in one node use the clickhouse client with DDL SQL, then I create one user grant the role permission. but will get this error: There is no role `superadmin` in user directories in in other shard node.

I found the role acess file not sync to other node, it just in the local node, but account do。Is thi

[2022-01-30 06:55] apptut commented on #34150
I have fixed this problem。 It's not bug. just create with Cluster Statment:

[code]
but the official document not show this detail things.

[2022-01-30 06:55] #34150 closed

[2022-01-30 13:04] nvartolomei commented on #34089
@AlmostIvanSidorov before trying to reproduce this may I ask if have you enabled the `allow_experimental_query_deduplication` setting? @alexey-milovidov we shall enable this by default and remove obsolete `experimental_query_deduplication_send_all_part_uuids`.

[2022-01-30 13:49] AlmostIvanSidorov commented on #34089
@nvartolomei in my tests I used 3 cases:

[2022-01-30 14:23] electrical commented on #34118
I've just tried to run the same process with a 100ms sleep in between commands but has the same effect.

[2022-01-30 14:34] Bulat-Ziganshin opened #34154 "Try Intel TBB memory allocator"
I quickly searched the repository and didn't find any mention of Intel TBB.

TBB contains drop-in replacement for built-in memory allocator (malloc/new), so it should be easy to try: https://www.intel.com/content/www/us/en/develop/documentation/onetbb-documentation/top/onetbb-developer-guide/memory-allocation/automically_replacing_malloc.html

Note that this memory allocator was specifically optim

[2022-01-30 14:38] AlmostIvanSidorov commented on #34089
@nvartolomei in my tests I used 3 cases for check:
1) select * from {table_name} ORDER BY v ASC SETTINGS allow_experimental_query_deduplication = 1 FORMAT TSV
seems this works correct (I didn't catch duplication in my tests)

2) select * from {table_name} ORDER BY v ASC FORMAT TSV -  i received visual confirm of data duplication.

3)But select count() from {table_name} SETTINGS allow_experimental_

[2022-01-30 14:53] nvartolomei commented on #34089
@AlmostIvanSidorov can you also try with `optimize_trivial_count = false`?

[2022-01-30 15:15] alexey-milovidov opened #34155 "`arrayFold` function"
See

#21589
#23248
#27270

[2022-01-30 15:22] UnamedRus commented on #21047
Does it make sense to use HashedArray-like layout for JOIN hashtables? (https://github.com/ClickHouse/ClickHouse/issues/30236)

It uses less memory, but gives pretty similar performance as in hashed dictionary especially in case of multi attribute lookup (because we need to get index offset only once for all value).

It will also speedup initial hash table build, which is important for joins.

[2022-01-30 15:33] alexey-milovidov opened #34156 "TOTALS, BY and ORDER BY combinators for aggregate functions"
**Use case**

Provide more convenient and possibly more efficient way to write queries with a non-standard syntax as an alternative to window functions when you need to calculate subtotal aggregations in a query or you need to pass values into aggregate function in specific order.

[code]

**Describe the solution you'd like**

Allow to write aggregate functions like this:

[code]

`ORDER BY` synta

[2022-01-30 15:42] UnamedRus commented on #34156
There is also another combinator, which make sense to have: -DistinctBy
https://github.com/ClickHouse/ClickHouse/issues/33358

BTW there is pr for groupSortedArray https://github.com/ClickHouse/ClickHouse/pull/34055

[2022-01-30 15:44] artyomVB commented on #34156
I will do this task

[2022-01-30 16:01] AlmostIvanSidorov commented on #34089
@nvartolomei  As I understood optimize_trivial_count_query* )

`select count() from {table_name} SETTINGS allow_experimental_query_deduplication = 1,  optimize_trivial_count_query = false`

Passed test x3 times, seems to work as it should.

[2022-01-30 16:04] alexey-milovidov commented on #33358
It should somehow separate argument groups, like:

`sumDistinctBy(tuple(sold), tuple(date))`

but it looks clumsy.

[2022-01-30 16:04] alexey-milovidov commented on #33358
If we will figure out some neat syntax, the rest of implementation will be trivial.

[2022-01-30 16:32] alexey-milovidov opened #34157 "Umbrella task for memory allocators"
We can easily add and test various `malloc` implementations with ClickHouse.

**Caveats**

If some allocator shows better or worse results on ClickHouse performance tests, it does not mean that it is better or worse in general. It will only show that it appeared to be better or worse on some slightly representative subset of some specific workload.

Sometimes performance depends mostly on threshol

[2022-01-30 17:05] alexey-milovidov commented on #21047
@UnamedRus It is already using one hash table for all columns. The hash table contains a reference to row.

[2022-01-30 17:06] alexey-milovidov opened #34158 "22.2 release checklist"
Please list here all the issues that must be fixed before the next release in Feb 2022.

[2022-01-30 17:07] alexey-milovidov commented on #34158
#34147
#34111

[2022-01-30 17:43] alexey-milovidov commented on #10781
The information relevant to this task was lost.

[2022-01-30 17:43] #10781 closed

[2022-01-30 17:44] alexey-milovidov commented on #10197
Fixed.

[2022-01-30 17:44] #10197 closed

[2022-01-30 17:49] alexey-milovidov commented on #9214
Duplicate. And the document is outdated.

[2022-01-30 17:49] #9214 closed

[2022-01-30 18:33] alexey-milovidov opened #34161 "Load compilation profile `-ftime-trace` to ClickHouse for analysis"

[2022-01-30 18:39] jtrosty commented on #34142
I'm still working to understand how the ` format ` function works and am a bit lost.  I am going through the `FormatFactory` and I think the output is then determined by the code in Format.cpp in the programs/format.
If I'm completely off base do you have some guidance?

[2022-01-30 20:01] UnamedRus commented on #33358
I don't like tuples here much, because they can be slow. https://github.com/ClickHouse/ClickHouse/issues/33156

And we already has combinators like -If and -Resample which occupy specific positions of arguments being passed to function.

I see those approaches for syntax (order doesn't matter)

1. expand agg(...) FILTER(....) syntax. https://github.com/ClickHouse/ClickHouse/issues/26776

right now

[2022-01-30 20:12] alexey-milovidov commented on #31093
We can easily determine the region by:

`curl http://169.254.169.254/latest/meta-data/placement/region`

[2022-01-30 20:23] alexey-milovidov opened #34163 "Columns are not skipped while reading Parquet file from s3"
**Describe the situation**
[code]

Although it works perfectly for `file` table function:

[code]

[2022-01-30 22:20] alexey-milovidov opened #34164 "`zeros_mt` is slower than `numbers_mt`"
[code]

[2022-01-30 23:19] alexey-milovidov opened #34165 "Add option `input_format_json_path`"
**Use case**

Allow to parse data from JSON if it is located in some nested element.
Parameter `input_format_json_path` will define path to that element in form of JSONPath compatible with SQL/JSON functions.

**Describe the solution you'd like**

Dive into this nested element, then parse data as usual.
We should do it in streaming fashion without buffering JSON in memory.

[2022-01-31 08:26] aubweb9 opened #34168 "Lost connection to MySQL server during query"
Hello,

Since upgrade CH version 21.4.xxx to 22.1.xx we have the following error when running MySQL selects that takes more than 5 seconds.
In MySQL we see 6 incoming connections but clickhouse is throwing an error.

**Error message and/or stacktrace**
2022.01.31 06:42:35.336335 [ 22718 ] {70d2138d-f044-46e9-b1b0-70d6c8879c62} <Error> DynamicQueryHandler: Poco::Exception. Code: 1000, e.code() = 20

[2022-01-31 08:46] alex-zaitsev commented on #33147
@lingtaolf , are you working on that? If not, we have a developer who can take it.

[2022-01-31 08:46] ne1r0n opened #34171 ""Cannot convert column Function to mask" error with enabled short_circuit_function_evaluation"
version `22.1.2.2`

[code]

`Code: 44. DB::Exception: Received from localhost:9000. DB::Exception: Cannot convert column Function to mask.: while executing 'FUNCTION if(greater(length(arrayFilter(lambda(tuple(x), notEquals(x, '')), [''])), 0) :: 5, arrayFilter(lambda(tuple(x), notEquals(x, '')), ['']) :: 1, [''] :: 0) -> if(greater(length(arrayFilter(lambda(tuple(x), notEquals(x, '')), [''])), 0),

[2022-01-31 08:46] zvonand commented on #33147
I can take this one

[2022-01-31 08:58] #34111 closed

[2022-01-31 09:11] PancoCheong commented on #7611
It is possible to set up 3 shards and 2 replicas on 3 server nodes...
but this setting requires some workaround, the detail is in the link below:

https://zhuanlan.zhihu.com/p/461792873

The workaround to solve this is to
- put each shard into a separate database
- set default_database for each shard
- set empty database parameter in the distributed table DDL script, the system will use the defaul

[2022-01-31 12:06] #34164 closed

[2022-01-31 12:12] alexey-milovidov opened #34177 "`s3` table function does not work without format or structure arguments"
**Describe the unexpected behaviour**

[code]

[2022-01-31 15:49] yard commented on #22222
@alexey-milovidov @Felixoid hey guys, really looking forward to seeing ARM builds, thank you for your effort! Quick question: will it include all features available for x86 ones (e.g. Kafka engine, MySQL and PostgreSQL integration etc) or some will be excluded?

[2022-01-31 16:26] Ryado commented on #31065
ClickHouse doesn't currently support the DNS name parsing used in AWS PrivateLink for Amazon S3 (eg. `s3.us-east-1.vpce.amazonaws.com`). The issue [#31074](https://github.com/ClickHouse/ClickHouse/issues/31074) referenced above is the feature request to track for AWS S3 interface endpoint support. It also describes a workaround which consists of hard coding the DNS resolution (in `/etc/hosts` for

[2022-01-31 16:45] darthShadow commented on #33247
Hi,

Just checking in case there is any further info required or if there is any alternative way to accomplish this.

Thanks.

[2022-01-31 16:48] UnamedRus commented on #33247
Answer remain the same:

Everything about voting and split brain protection handled in ZooKeeper or ClickHouse-Keeper. (Outside of ClickHouse actual data storage).

ClickHouse use ZooKeeper / ClickHouse-Keeper only for metadata and don't store any data in them.

[2022-01-31 17:13] darthShadow commented on #33247
Is there any way then to discard all the data sent to a `0` priority node since it will never be selected as the leader per the documentation of NuRaft? That solves my requirement of having an arbitrator node.

If not that, is there any way to have a 2-node cluster rather than the recommended minimum of 3 nodes?

Thanks.

[2022-01-31 17:34] sundarv85 commented on #23516
Hello, Is there any timeline for this feature to be shipped in a particular release..

[2022-01-31 17:37] den-crane commented on #33247
You can use `is there any way to have a 2-node cluster`. But if one node is down, other node became RO.

[2022-01-31 17:37] #33247 closed

[2022-01-31 17:59] PHaroZ opened #34190 "Unknown column with repeated column identifier"
Hi,

I have a strange issue with colum name in select.
tested with 21.10.2.15 and 22.1.3.7

This 2 queries work :
[code]
[code]

but this 2 others failed
[code]
[code]
The error message is

Also tested with a MergeTree table instead of the sub-select, result is the same.

And thanks for your work ;)

Note : this is possibly a duplicate of  #14978

[2022-01-31 18:32] HeenaBansal2009 commented on #33953
Hi All ,
I am planning to set a config option in users.xml at profile level like this:
[code]
So , this config value can be different for different values and similar different users can set different profiles.
For example
[code]

Please pour in your suggestions on this design . Thanks

[2022-01-31 18:53] alexey-milovidov commented on #23516
@sundarv85 See the answer here: https://github.com/ClickHouse/ClickHouse/pull/23932

[2022-01-31 19:07] AndreyTokmakov commented on #9437
Hi,
If you don't mind I would like to take this issue

Wanted to clarify, the idea is to implement something like the space-time efficient wrapper around punycode_encode() and punycode_decode() which we have in Net/src/DNS.cpp?

[2022-01-31 19:36] alexey-milovidov commented on #9437
Yes. Looks like these functions are fairly dry (no copies, allocations) and we need to make wrappers for them to be available as SQL functions.

[2022-01-31 21:05] Felixoid commented on #22222
Hi. The current state of stateful tests is in each commit report, for example [here](https://s3.amazonaws.com/clickhouse-test-reports/0/dd61d1c2de387dff1c75fd8ed7c587483857382d/stateful_tests__aarch64__actions_.html). The only one failed test I see there is 00092_obfuscator.

A current task for me is reworking a building process, it's in progress in #33664. It should be the last thing necessary fo

[2022-01-31 21:34] amitsharma10 commented on #32513
"Key-value data marts" is this going to be built on top of RocksDB engine ?  Is there a requirements document available for this ?

[2022-01-31 22:14] alexey-milovidov commented on #15318
`clickhouse-local --format_regexp_escaping_rule 'Raw' --format_regexp_skip_unmatched 1 --format_regexp '^([^ \.]+)(\.[^ ]+)? +([^ ]+) +(\d+) +(\d+)$' --query "SELECT replaceRegexpOne(_path, '^.+pageviews-(\\d{4})(\\d{2})(\\d{2})-(\\d{2})(\\d{2})(\\d{2}).gz$', '\1-\2-\3 \4-\5-\6')::DateTime AS time, * FROM file('pageviews*.gz', Regexp, 'project String, subproject String, path String, hits UInt64, s

[2022-01-31 22:25] alexey-milovidov opened #34198 "`file` table function should print the name of erroneous file in case of error"
**Describe the issue**

[code]

There is no information that the error is related to `test2.csv`.

[2022-01-31 22:47] alexey-milovidov opened #34200 "Format `Regexp` is unusable"
[code]

[code]

[code]

[code]

[2022-01-31 23:24] alexey-milovidov opened #34203 "Line numbers in error messages are incorrect when using parallel parsing"
[code]

[2022-01-31 23:41] alexey-milovidov opened #34204 "Casting and array index operators are not composable"
**Describe the issue**
[code]

[2022-01-31 23:48] den-crane commented on #34190
it does not work for a long time.

[code]

will be solved here https://github.com/ClickHouse/ClickHouse/issues/23194

[2022-01-31 23:48] #34190 closed

[2022-01-31 23:59] alexey-milovidov commented on #15318
`clickhouse-local --query "WITH replaceRegexpOne(_path, '^.+pageviews-(\\d{4})(\\d{2})(\\d{2})-(\\d{2})(\\d{2})(\\d{2}).gz$', '\1-\2-\3 \4-\5-\6')::DateTime AS time, extractGroups(line, '^([^ \\.]+)(\\.[^ ]+)? +([^ ]+) +(\\d+) +(\\d+)$') AS values SELECT time, values[1] AS project, values[2] AS subproject, values[3] AS path, (values[4])::UInt64 AS hits, (values[5])::UInt64 AS size FROM file('pagev

[2022-02-01 00:01] alexey-milovidov opened #34206 "parseDateTimeBestEffort can support format `yymmdd-hhmmss`"
**Describe the issue**
[code]

[2022-02-01 00:13] alexey-milovidov opened #34207 "`file` table function: an option to rename processed files"
**Use case**

I process huge amount of files and want to see what files have been already processed and avoid processing them twice if the operation is restarted.

**Describe the solution you'd like**

A setting with some template like `{}.processed` or with regexp and replacement pattern.

It should allow moving files to another directory.
The directories should not be created. Path to destinatio

[2022-02-01 05:38] taiyang-li commented on #30885
I'd like take this issue up.

[2022-02-01 05:42] amitsharma10 opened #34214 "Supporting storage policies and replication for Rocks db table engine"
We want to populate a table with EmbeddedRocksDB table engine for key, value based lookup to complement the analytics data stored in MergeTree table.
The Data is huge so we can't use join engine and joinGet as that will require everything to be stored in RAM.

We would like the rocks db data to be stored separately on fast disks like Flash storage and also replicated across multiple clickhouse rep

[2022-02-01 07:13] #34066 closed

[2022-02-01 10:27] melvynator opened #34217 "Quota key not set in the TCPHandler"
**Describe what's wrong**

The quota key is not properly set when the clickhouse-client is being used

**Does it reproduce on recent release?**

Yes it reproduce on the latest relesase: 22.2.1

**How to reproduce**:

[code]

Try to log in:

[code]

 You wll see the following error:

[code]

**Expected behavior**

It should log in as the user and also use the provided quota_key

**Error message and

[2022-02-01 10:35] simPod opened #34218 "Error log full of ServerErrorHandler: Poco::Exception. Code: 1000, e.code() = 107, Net Exception: Socket is not connected"
I've got the error log full of errors like this

[code]

1. It's not really visible from the trace what kind of error this is. I have no idea where to look since I don't know what connection fails
2. Any idea what might it be? I have one MergeTree table and inserting into it over http interface. I've disabled clickhouse-keeper since I suspected that might have been the cause but it is not.

[2022-02-01 10:54] gingerwizard commented on #33370
This causes of this are hard to determine without knowing:

- The network connection between the respective clusters
- Where are you running the clickhouse copier?
- Any metrics for the network connection or its expected latency?
- Load on the respective clusters during copy? Any CPU/Disk load metrics?

Note that your can also change the timeout settings for the copier itself

    <settings_pull>

[2022-02-01 10:54] melvynator opened #34220 "ClickHouse should provide a way to retrieve the information provided in the configuration files"
**Use case**

It's usually very useful to retrieve the information in the config file for example `config.xml` or `users.xml` for troubleshooting or for monitoring purposes. Currently the only way to retrieve these information is to retrieve the configuration file directly (which can be a tedious task because the user could be using non-default path)

**Describe the solution you'd like**

It would

[2022-02-01 10:56] gingerwizard commented on #34220
Ideally this would provide the processed configuration i.e. a view of the settings that have been compiled and applied by Clickhouse. The `system.settings` table does not seem exhaustive. May we could enhance this?

[2022-02-01 11:24] Felixoid commented on #19964
I'll see if we can use a schedule to run it once a day on `master` branch

[2022-02-01 11:35] tavplubix commented on #34220
ClickHouse already dumps preprocessed configuration files to `/path/to/clickhouse/root/dir/preprocessed_configs/`, the only problem is to find `/path/to/clickhouse/root/dir/` (usually it's `/var/lib/clickhouse-server/`, but it can be changed in config). Also there is `clickhouse-extract-from-config` utility, but it requires path to `config.xml` (and does not work with embedded configs). I can sugg

[2022-02-01 13:22] #34200 closed

[2022-02-01 13:22] #34206 closed

[2022-02-01 13:32] #32399 closed

[2022-02-01 14:00] evillique commented on #34204
Should I also fix tuple index operator?

[code]

[2022-02-01 14:28] #33572 closed

[2022-02-01 14:34] AnhTuanNguyenn opened #34227 "ClickHouse on PFSENSE with ntopng"
hello, i have problem when i try install click house and pfsense,
pfsense: 192 xx xx.14 (clickhouse installed)
debian: 31.xx.xx.16(clickhouse installed too, dont worry i usenat to foward this ip so it's same network now)

so the pb is i cant connect clickhouse-client from pfsense to debian,
i got this error, some one tell me how can i can do pls ?
Code: 210. DB::NetException: Connection refused (3

[2022-02-01 15:29] gingerwizard commented on #30659
hi @itzikiusa thanks for the question.

As you may already know, we already support rocks db as an engine type - https://clickhouse.com/docs/en/engines/table-engines/integrations/embedded-rocksdb/

This also supports instance updates through inserts. This ideal for small records when requesting rows by a specific key or reading random rows by a filter.

This DB can be used in conjunction with Dict

[2022-02-01 15:55] AnhTuanNguyenn commented on #34227
update after connect clickhouse i got this error

01/Feb/2022 16:52:36 [ClickHouseImport.cpp:83] WARNING Child process could not be created, or its status could not be retrieved [No child processes]
01/Feb/2022 16:52:35 [ClickHouseImport.cpp:89] WARNING
01/Feb/2022 16:52:35 [ClickHouseImport.cpp:88] WARNING Unable to execute 'cat /var/db/ntopng/tmp/clickhouse/clickhouse-2-0-333.1643730695.csv | /u

[2022-02-01 16:01] alesapin commented on #31533
@gfunc @DenKoren Any idea for repro? Maybe you can send broken part privately?

[2022-02-01 17:37] nvartolomei commented on #34220
Also discussed in #7663.

[2022-02-01 17:59] aaronstephenkatz commented on #34138
Leave this one to me @alexey-milovidov

[2022-02-01 18:06] kiryaka opened #34231 "hasToken not works inside lambda"
I am using tokenbf_v1 index and trying to create a UDF for a string search. The idea is to have this working:
`SELECT ... FROM largeTextTable as t WHERE hasAllTokens(t.body, 'search string')`
the function suppose to look something like this:
` (column, searchString) -> arrayAll( token -> hasToken(lower(column), token ), tokens(searchString) ) `
It does not work and I narrowed down the problem to t

[2022-02-01 18:47] alrocar opened #34233 "DESCRIBE return wrong result for sumMap/minMap/maxMap"
I'd expect a DESCRIBE on a sumMap agg function to return

[code]

but in recent versions is returning:

[code]

See example:

[code]

[code]

[2022-02-01 19:15] den-crane opened #34235 "ip_trie dictionary does not support Nullable and Array"
[code]

Code: 1. DB::Exception: ipv6: array or nullable attributes not supported for dictionary of type Trie. (UNSUPPORTED_METHOD) (version 21.13.1.1309)

[2022-02-01 19:26] alexey-milovidov opened #34236 "Real merge JOIN support."
**Use case**

JOIN two large tables,
especially when the JOIN key is similar to the order key of these tables.

**Describe the solution you'd like**

If the data from either or both sides of JOIN can be transformed to the order by any of permutations of the JOIN key by `FinishSortingTransform`, we should apply this transform. If it cannot, we should order data similar to external sorting.

Then we

[2022-02-01 19:43] mxalis commented on #29430
Is there documentation for this feature? Seems it was released in 22.1, but can't find eg configuration docs

[2022-02-01 19:46] gauravphoenix opened #34237 "Logical error if I use Altinity's operator on GKE"
I am inserting data while a new replica is being added to the cluster, the insertion code (JDBC) is throwing an exception sporadically-

[code]
it doesn't happen often, if the request fails (like above) and I retry it, it works just fine.

CH was deployed using the Altinitiy operator. 2 shards, 5 replicas on GKE.

[2022-02-01 19:57] bkuschel opened #34238 "Be able to Clickhouse in FIPS-compliant way"
To allow running of clickhouse in governmental agencies.

May require:
1. Moving to a FIPS-validated version of boringSSL
https://boringssl.googlesource.com/boringssl/+/refs/heads/master/crypto/fipsmodule/FIPS.md
2. Approved Security Functions and algorithms are used
3. Other things states here: https://csrc.nist.gov/CSRC/media/projects/cryptographic-module-validation-program/documents/security-po

[2022-02-01 20:39] geertvanbommel opened #34239 "forbidden requests due to missing user-agent header in URL engine"
Some URLs expect a User-Agent header.

Example (version 22.2.1.3767):
[code]
Results in:
[code]

Maybe it's nice to always send a header along, something like `User-Agent: ClickHouse/22.2.1.3767` ?

[2022-02-01 20:41] alexey-milovidov commented on #30885
Thank you, let's do it!

[2022-02-01 22:13] alexey-milovidov commented on #34239
Makes sense, and it should be easy to implement.

[2022-02-01 22:53] genzgd commented on #30055
I've been unable to reproduce this on recent builds (in particular 22.1.).  What version of ClickHouse did you observe this on?  Can you provide minimal set of steps to reproduce?

[2022-02-01 22:54] kashwy commented on #8687
Hi @alexey-milovidov  and to whom it may concern:
I am reviewing this feature, and I have some consideration and want to get confirmed,

1. For the Syntax, the above example use keyword **ARRAY JOIN** for each array , do we need to repeat the keyword **ARRAY JOIN** every time? Maybe we can use one keyword for all arrays that need to be joined, current Multiple arrays can be comma-separated in the

[2022-02-01 23:00] alexey-milovidov opened #34241 "At least one test without Docker"
This PR #33957 passed the tests but `clickhouse` binary did not start on a clean VM in AWS.
Most likely because all the tests are run in Docker.

Let's make a check that will download a binary and run

[code]

**Additional context**

Later we can extend it to implement package installation tests (that we don't have for now).

[2022-02-01 23:12] alexey-milovidov commented on #34198
@CurtizJ We can add `getReadBuffer` method for formats, and try to extract the filename in case of error.

[2022-02-01 23:12] alexey-milovidov commented on #33501
@holadepo Are you still working on it?

[2022-02-01 23:14] alexey-milovidov commented on #33501
`DateLUTImpl.h`

look at `toFirstDayOfMonth` and add similar `toLastDayOfMonth` functions
by replacing `i - (lut[i].day_of_month - 1)` to `i - lut[i].day_of_month + lut[i].days_in_month`

look at `DateTimeTransforms.h` and add a new transforms similar to others.

look at the usages of the existing DateTimeTransforms and add similar.

[2022-02-01 23:34] genzgd commented on #30875
This was updated in https://github.com/ClickHouse/ClickHouse/pull/26642 to limit the number of consumers to the number of physical cores.  This change is available in recent versions.  Will that update meet your needs?

I don't know why the original was set to 16, although some limits may be desirable to prevent excessive resource consumption in ClickHouse, as each consumer requires additional buf

[2022-02-01 23:34] #30875 closed

[2022-02-02 00:18] genzgd commented on #31845
Unfortunately there is not a command or tool to independently view the data in a skip index file.  In addition the binary format differs by skip index type -- the values for a bloom filter index are stored differently than the simpler minmax index.  The actual serialization is controlled by the implementation of IMergeTreeIndexGranule for each index type -- see, for example, the relatively simple

[2022-02-02 00:18] #31845 closed

[2022-02-02 00:51] den-crane commented on #34237
Then this error happens is it always 0_0_0 ?

[2022-02-02 01:01] gauravphoenix commented on #34237
yes!
Also, I think I know how I got into this state. I had three replicas of a shard before, I then reduced the replicas to just 1 and then re-increased the replicas to 3 and that's when I started seeing this error

[2022-02-02 01:03] genzgd commented on #32334
The 446.34 MB number in the result line `Process 23.24 million rows, 446.34 MB` does not represent the memory used, it represents the amount of data read from disk.  Also a setting of 100 bytes is too small to provide a useful test, and the different between 113 rows with distinct() vs all 116 rows with  GROUP BY with that tiny limit could just be the result of a minor differences in how ClickHous

[2022-02-02 01:03] #32334 closed

[2022-02-02 06:34] qoega commented on #33652
https://s3.amazonaws.com/clickhouse-test-reports/34228/0c3d2b048dc39de13069ab8922dee5892fee54ee/stress_test__address__actions_/stderr.log

[2022-02-02 07:29] #34148 closed

[2022-02-02 08:30] yonesko opened #34244 "S3 table function can't upload file while aws s3 CLI can"
I have insert to s3 6bil rows table:
[code]
but it fails trying to upload part 10001 while aws s3 upload [supports](https://docs.aws.amazon.com/AmazonS3/latest/userguide/qfacts.html) only 10k parts.

I had to export this select into CSV 600GB file on the disk and then perform successful `aws s3 cp data.csv s3://my-bucket/data.csv`

I expected Clickhouse would do it on his own successfully.

┌─vers

[2022-02-02 09:07] devcrafter opened #34246 "Apply FSST compression for strings"
See https://github.com/cwida/fsst

[2022-02-02 09:17] holadepo commented on #33501
Thanks @alexey-milovidov. This was really helpful

[2022-02-02 10:39] #34014 closed

[2022-02-02 10:41] roanhe-ts commented on #34155
Hello，i want to pick this up

[2022-02-02 10:51] melvynator commented on #33762
Thanks for creating this issue.

MaterializedMySQL is in experimental state.

When the query is executed we append the FINAL modifier at the end of the query unless the `_version` is being used.

When FINAL is specified, ClickHouse fully merges the data before returning the result and thus performs all data transformations that happen during merges.

You can find more information about FINAL [here

[2022-02-02 12:13] UnamedRus commented on #34244
https://github.com/ClickHouse/ClickHouse/pull/28679

Adjust those settings

[code]

[2022-02-02 13:26] Tomislav24i opened #34253 "How to escape backslash in replaceRegexpAll expression"

[2022-02-02 13:51] filimonov commented on #29022
Hit that on prod.

[2022-02-02 14:01] #34253 closed

[2022-02-02 14:07] melvynator opened #34254 "A simple test"
This is a test

[2022-02-02 14:12] #34254 closed

[2022-02-02 14:14] melvynator opened #34255 "Test"
test

[2022-02-02 14:14] #34255 closed

[2022-02-02 14:14] melvynator opened #34256 "Test without label"
test

[2022-02-02 14:14] #34256 closed

[2022-02-02 14:21] azeroc opened #34257 "How to store per-second-rates from raw counter values?"
I would like to know if it is possible to store **per-second-rates** through a materialized or window view or some other mechanism from a query that calculates them from **raw counter values**.

### My current setup
I have a time-series table like this which is populated from kafka topic via materialized view:
[code]
(on unrelated note, I was quite impressed that with the codec combination and ord

[2022-02-02 14:39] Algunenano opened #34259 "Client: Always go to the previous query on arrow-up"
Currently when navigating the history using the clickhouse-client, if you press up I expect to go to the previous query. Then if I press up again, it should go to the previous one, and so on. The usability problem I have is that when the queries are multi-line then pressing arrow-up sends you to the previous line and not the previous query:

Here is an example when using clickhouse-client:
![click

[2022-02-02 16:05] mikeTWC1984 commented on #34163
As a side note - CH also doesn't seem to use parquet metadata (counts/distinct counts/value ranges), which to my mind is a big miss. Queries like above should take about 0s + network latency. I'd also expect all basic group by queries to be very fast (for parquet on s3). I know it works very well on apache drill and I'd think on any other mainstream java based tool too (spark, presto)

[2022-02-02 16:56] mikeTWC1984 commented on #32513
One thing I really miss and looking forward to see is a **table function for sftp**. While you can pipe/ use script table as a work around, I'd still prefer to have some tool for sftp in the box, assuming it's still widely used as a data storage option. Another argument against workarounds is that (in my understanding) piping/scripting can only do "forward only" reading, while sftp stream can be r

[2022-02-02 17:05] tom-clickhouse commented on #30480
ClickHouse currently doesn’t have a built-in mechanism for regularly running/scheduling sql scripts.

You can set up cron jobs in linux operating systems calling the ClickHouse client in order to schedule the execution of sql scripts in ClickHouse.

And maybe slightly related, you also can automatically get notifications from ClickHouse via [WATCH](https://clickhouse.com/docs/en/sql-reference/stat

[2022-02-02 17:08] tom-clickhouse commented on #25985
Can you please install the latest release if possible, and see if the issue still exists? There have been some improvements and bug fixes for OOM issues in the meantime.

[2022-02-02 17:27] den-crane commented on #25985
20.8 is out of support. Upgrade.

[2022-02-02 17:27] #25985 closed

[2022-02-02 17:38] den-crane commented on #34259
It was intentional change to ease query editing https://github.com/ClickHouse/ClickHouse/pull/31641

You can use M-UP/M-DOWN

[2022-02-02 17:41] shashankkoppar commented on #34091
Hey @Tiaonmmn , i dont see any clickhouse version with 21.12.9 in here https://repo.yandex.ru/clickhouse/rpm/stable/x86_64/
could u tell me which exact version did u use?

[2022-02-02 17:43] shashankkoppar commented on #34091
Hey @CurtizJ , I tried to follow ur steps, but when i try to flush distributed tables it points some bin file which is not in broken directory
How do u suggest to fix this issue?

[2022-02-02 17:50] Algunenano commented on #34259
I see. Then it's just unexpected to me (since it works differently from other CLI tools) but I can live with Alt+UP

[2022-02-02 17:50] #34259 closed

[2022-02-02 17:58] den-crane commented on #34259
It was unexpected for everyone. 6 years we used UP/DOWN

[2022-02-02 18:19] #29778 closed

[2022-02-02 18:29] tom-clickhouse commented on #33915
I tried to reproduce the execution speed differences, but on my system with the current release, both queries have the same zero execution speed.

`./clickhouse benchmark --query 'select 0 from (select 0 as x);` and
`./clickhouse benchmark --query 'select x from (select 0 as x);` both look the same:
0.000%		       0.000 sec.
10.000%		0.000 sec.
20.000%		0.000 sec.
30.000%		0.000 sec.
40.000%		0.00

[2022-02-02 19:33] yuval-boker commented on #33915
Thanks Tom.

I can't share the tables but this is the query:
`SELECT "guid_2"."guid_1.0_keyword" AS "keyword", "guid_2"."guid_1.1_0" AS "tmp_col", "guid_2"."guid_1.2_SUM(visits)" AS "tmp_visits"
FROM  (
SELECT "guid_1"."keyword" AS "guid_1.0_keyword", 0 AS "guid_1.1_0", sum("guid_1"."visits") AS "guid_1.2_SUM(visits)"
FROM MY_TABLE AS "guid_1"
WHERE ( ( "guid_1"."date" >= '2020-06-01' ) AND ( ( "g

[2022-02-02 19:55] alexey-milovidov commented on #34115
@chhetripradeep A bug was found in this library by the run of ClickHouse test suite:
https://github.com/minjaehwang/bitsetsort/pull/3

[2022-02-02 20:19] alexey-milovidov commented on #34115
The library is unsupported: https://github.com/minjaehwang/bitsetsort/graphs/contributors

[2022-02-02 20:21] alexey-milovidov commented on #34115
Maybe we need to use the version that is proposed to libc++?
https://reviews.llvm.org/D93233#3195993

[2022-02-02 20:35] alexey-milovidov commented on #34115
@kitaisreal pointed out that LLVM's version also contains the same bug.

[2022-02-02 20:52] #29022 closed

[2022-02-02 21:51] #19429 closed

[2022-02-02 21:53] #33762 closed

[2022-02-02 21:55] den-crane opened #34271 "Predicate pushdown (Partition pruning) does not work against VIEW with ARRAY JOIN"
[code]

[2022-02-02 21:56] alexey-milovidov commented on #34155
Ok, it's yours.

Just to let you know - it's not an easy task.
We have to implement "vertical" application of the folding function to the column with arrays.

1. Filter arrays that contain more than zero elements and pick first elements.
2. Apply a function to the first elements of every arrays.
3. Repeat with (1) and (2) with the second elements and so forth.
4. Now we have columns with the resul

[2022-02-02 22:03] CTCC1 opened #34272 "Unexpected high memory usage when provided precise filter of primary key."
**Describe the unexpected behaviour**
Unexpected high memory usage when provided precise filter of primary key.
This happens more often when crossing the boundary of marks of the 1st primary key.

**How to reproduce**
* Which ClickHouse server version to use
21.5.5.12
* Which interface to use, if matters
* Non-default settings, if any
* `CREATE TABLE` statements for all tables involved

[code]
* S

[2022-02-02 22:59] den-crane commented on #34272
21.5.5.12 is obsolete, does it reproduce with 22.1 ?

[2022-02-03 00:10] alexey-milovidov commented on #34231
The author @Enmk of function `hasToken` implemented it only for constant arguments.
If you apply it for elements of array inside lambda, the function becomes non applicable.

[2022-02-03 00:11] alexey-milovidov commented on #34231
I will close this issue, because @Enmk is an external contributor and the chance he will pay attention is very low.

[2022-02-03 00:11] #34231 closed

[2022-02-03 00:12] alexey-milovidov commented on #34231
The current behavior should be documented.

[2022-02-03 00:14] alexey-milovidov commented on #34237
Do you use any experimental non-production features like s3 storage?

[2022-02-03 00:15] alexey-milovidov commented on #34233
This is absolutely correct and indicates that the first version of the sumMap aggregate function is using.
See #12552.

[2022-02-03 00:15] #34233 closed

[2022-02-03 00:19] alexey-milovidov commented on #34130
@azat is the author of the `<secret>` feature.

[2022-02-03 00:20] alexey-milovidov commented on #34077
Hold until #23194.

[2022-02-03 00:21] den-crane opened #34273 "Projections and engine Merge"
[code]

[2022-02-03 00:34] alexey-milovidov commented on #34138
Solved.

[2022-02-03 00:34] #34138 closed

[2022-02-03 00:49] alexey-milovidov commented on #10616
Google Trends: https://trends.google.com/trends/explore?date=today%205-y&q=Greenplum,ClickHouse,SingleStore

(difficult to use for non-unique terms)

[2022-02-03 01:45] alexey-milovidov commented on #15318
Download size is 3 TB.

[2022-02-03 01:45] chhetripradeep commented on #34115
Thank you @alexey-milovidov @kitaisreal for doing the evaluation and being so fast. I am keeping an eye on the PR. I am curious if we have some report generated by CI jobs for performance related PRs comparing before vs after.

[2022-02-03 01:45] CTCC1 commented on #34272
Hi, it will take some operational process to update the clickhouse operator version to the latest in our production system. I will get back once I have more info on this in later versions.
Before then I have another related question to this behavior:
The memory limit exceeded query is equivalent to
[code]
And the value `t1` and `t2` here lies in 2 separate marks since our 1st primary key is (toSta

[2022-02-03 02:53] alexey-milovidov commented on #34204
@evillique Yes, it looks logical.

[2022-02-03 03:44] zhixiangyuan commented on #33414
I also encountered this problem, can this problem be fixed in the next version?

[2022-02-03 03:59] FrankChen021 opened #34276 "`bitmapBuild` does not work for `TabSeparated` format when inserting data"
**Describe what's wrong**

When inserting data to a column `groupBitmap`, `bitmapBuild` is used to construct a bitmap object on the SQL. But now we find that this expression fails to work for `TabSeparated` input format.

**Does it reproduce on recent release?**

We're using 21.8.4.1, but this problem also exists on the master branch.

## **How to reproduce**

1. Create a table with groupBitmap fi

[2022-02-03 04:08] roanhe-ts commented on #34155
All right ...., I thought it was an easy task ...
So, is there any time limitation? I will consider the complexity with my capability in case of overdue too much

[2022-02-03 04:14] den-crane commented on #10616
https://trends.google.com/trends/explore?date=all&q=ClickHouse,vertica

[2022-02-03 04:29] owpqwe commented on #33762
Thank you for your answer, but how do I determine the version(`_version`) number of the data

[2022-02-03 05:56] vitlibar commented on #19429
To execute `SHOW GRANTS for users, roles` the current user now needs to have grants `SHOW USERS` and `SHOW ROLES` respectively. But even if the current user doesn't have any of those privileges he is still able to execute `SHOW GRANTS` to see his own grants.

[2022-02-03 07:15] Heroidjsjs opened #34278 "Metrics to Prometheus from custom metrics table"
Hi there, I understand that it's might be an unappropriate place to ask, though I've got a question. You've included support of Prometheus for metrics from `system` tables as it's written in [here](https://clickhouse.com/docs/en/operations/server-configuration-parameters/settings/#server_configuration_parameters-prometheus), but, nevertheless, will it be possible to expose metrics to Prometheus fr

[2022-02-03 07:41] ray-at-github opened #34279 "Window Functions - Unknown identifier"
Clickhouse version 22.1.3.7.

When running this query:

[code]

I receive this error:

[code]

I can get around by nesting it into a subquery:

[code]

So this works. But in other database engines the first SQL is valid SQL.

For example, in BigQuery this query works (equivalent to the first SQL):

[code]

So I believe it can be improved in Clickhouse to support the syntax?

[2022-02-03 07:52] azat commented on #34130
@traceon can you write an integration test please? That will help a lot.

[2022-02-03 08:27] UnamedRus commented on #34271
Related https://github.com/ClickHouse/ClickHouse/issues/15309

[2022-02-03 09:03] traceon commented on #34130
@azat Yes, that's the plan.

@vzakaznikov can we write a test for this case upfront, in TestFlows? This will really help to debug/implement this issue.

[2022-02-03 09:07] alrocar commented on #34233
I see, thanks!

[2022-02-03 09:34] andrea-s opened #34280 "Any plans to optimize the Map type from the storage perspective?"
The Map type provides great syntax benefits, but the fact that all data for the Map column is stored in a single file ends up being a significant bottleneck (becoming more and more significant as the number of keys grows, especially if the dataset is somewhat sparse).

Is there any plan to optimize this and make it so that the "Map" datatype actually writes on separate files for each key? At the m

[2022-02-03 09:39] AnhTuanNguyenn commented on #34227
someone pls ?

[2022-02-03 10:01] jkuklis commented on #29430
Hey @mxalis,

The feature isn't documented yet, as far as I know. Below I list the available configuration parameters.
These parameters are parsed in `registerDiskAzureBlobStorage.cpp`, `AzureBlobStorageAuth.cpp` and `RemoteDisksCommon.cpp`.
Examples of working configurations can be found in tests/integration in `test_merge_tree_azure_blob_storage/configs/config.d/storage_conf.xml` and in `test_az

[2022-02-03 10:20] #33584 closed

[2022-02-03 10:47] Alex-Burmak opened #34281 "Wrong privelege level for CREATE / DROP FUNCTION in system.privileges"
**Describe what's wrong**

UDF functions are global objects. Creating or dropping them requires global level privilege.

- https://clickhouse.com/docs/en/sql-reference/statements/create/function/
- https://github.com/ClickHouse/ClickHouse/blob/14811a357e2136ff2940d791f2dbe59c65e87601/tests/integration/test_access_for_functions/test.py#L22

But "system.privileges" table reports DATABASE level for t

[2022-02-03 11:06] amosbird commented on #34273
It's handled in https://github.com/ClickHouse/ClickHouse/pull/33680 . Now almost all CI failures are fixed when we enable projections by default.

[2022-02-03 12:09] CurtizJ commented on #34280
Yes, there are plans to implement `Map` type that writes each key to separate column, but only after #23932 will be merged.

[2022-02-03 12:12] andrea-s commented on #34280
That's a great news, thank you!

[2022-02-03 12:18] #34280 closed

[2022-02-03 12:35] den-crane commented on #34279
duplicate https://github.com/ClickHouse/ClickHouse/issues/19857

[2022-02-03 12:35] #34279 closed

[2022-02-03 12:37] den-crane commented on #34278
here https://github.com/ClickHouse/ClickHouse/issues/20200

[2022-02-03 12:37] #34278 closed

[2022-02-03 12:42] acmeguy commented on #32513
I would like to suggest a "event sourcing" focus and utilities.
There are many things in this database design that are in 100% alignment with Clickhouse.

[2022-02-03 12:44] acmeguy commented on #32513
I'd also like to mention support for extarnal sources that are not SQL friendly but have great potential.
There are different database types like Neo4j and Solr. (Native-grah and Fulltext/rev.index search engine)

[2022-02-03 12:52] den-crane commented on #34276
TSV format expects that you insert binary STATE. TSV parser does not support any functions, only data.

Use input function https://clickhouse.com/docs/en/sql-reference/table-functions/input/

[code]

[2022-02-03 12:52] #34276 closed

[2022-02-03 12:53] seandhaynes opened #34288 "Add HTTP-SECURE and NATIVE-SECURE Interface entries to system.query_log"
**Use case**
We're currently in the process of migrating all clients over from connecting to Native and HTTP endpoints (non TLS) over to secure  endpoints using TLS.

As part of this, given we have thousands of different clients connecting to multiple different clusters, we would like to  have metrics on the clients that are still making connections to the unencrypted endpoints.

Looking at `syste

[2022-02-03 13:03] den-crane commented on #34276
BTW JDBC supports roaringBitmap, you can do bitmapBuild in JDBC/java before sending data to CH server.

[2022-02-03 13:12] #26686 closed

[2022-02-03 13:20] alexey-milovidov commented on #18507
Yandex checks and Testflows checks were removed.

[2022-02-03 15:17] #7102 closed

[2022-02-03 15:29] Tiaonmmn commented on #34091
https://repo.clickhouse.com/rpm/stable/x86_64/clickhouse-common-static-21.9.7.2-2.x86_64.rpm

[2022-02-03 15:30] Tiaonmmn commented on #34091
Sorry,it's 21.12.4.I wrote wrong version number.

[2022-02-03 15:50] tom-clickhouse commented on #30480
There is open feature #33919 proposing automated batch jobs running queries for automated periodic imports of data into ClickHouse and automated data transformation.

[2022-02-03 16:37] m1khal3v commented on #7321
Is this functionality planned?

[2022-02-03 19:03] alexey-milovidov opened #34300 "`_path` virtual column should be `LowCardinality`"
[code]

[2022-02-03 19:03] alexey-milovidov commented on #15318
`WITH parseDateTimeBestEffort(extract(toLowCardinality(_path), 'pageviews-([\\d\\-]+)\\.gz$')) AS time, splitByChar(' ', line) AS values, splitByChar('.', values[1]) AS projects SELECT time, projects[1] AS project, projects[2] AS subproject, values[2] AS path, (values[3])::UInt64 AS hits FROM file('pageviews*.gz', LineAsString) WHERE length(values) >= 3`

[2022-02-03 19:25] alexey-milovidov commented on #15318
`size` column is always zero, the new table definition is:

[code]

[2022-02-03 19:36] alexey-milovidov opened #34301 "Query metrics are not shown on progress bar for INSERT SELECT."
This query does not show realtime metrics:

[code]

Although this query does:

[code]

I also was not able to cancel the first query.

[2022-02-03 19:45] gauravphoenix commented on #34237
none at all, pretty standard setup-just two merge tree tables

[2022-02-03 19:49] alexey-milovidov opened #34302 "TRUNCATE TABLE does not cancel merges"
**Describe the situation**

[code]

[code]

[2022-02-03 20:00] tavplubix commented on #34302
See the discussion in #33457

[2022-02-03 20:05] tavplubix commented on #34302
But yes, for now we can simply stop merges before acquiring the lock in TRUNCATE if table is *MergeTree

[2022-02-03 20:30] alexey-milovidov opened #34303 "`ProfileEvents::increment` can be in top if you run a query with huge number of threads."
**Describe the situation**
https://markify.dev/p/zfrQMV2/text

**How to reproduce**
On aws `c5ad.24xlarge` run a query:

[code]

Performance is not bad (22 million rows are inserted per second) but can be better.

[2022-02-03 20:46] alexey-milovidov commented on #34227
Check server logs at /var/log/clickhouse-server/

[2022-02-03 20:51] alexey-milovidov commented on #34303
[code]

[code]

[2022-02-03 21:17] alexey-milovidov commented on #34155
No time limitation. You can spend several months if you want :+1:
It should be doable maybe in a week if someone will help.

[2022-02-03 21:18] alexey-milovidov commented on #34115
Yes, we do. Although these report require some care to be taken during reading...

[2022-02-03 21:30] alexey-milovidov opened #34308 "replxx should position cursor at beginning of the line before rendering prompt"
**Describe the issue**
Otherwise if I type my query while the client is being run, the prompt appeared mangled:

[code]

Look at the excessive letter `L` at the beginning and the lack of whitespace before `SELECT`.

[2022-02-03 21:40] #15764 closed

[2022-02-03 22:02] den-crane commented on #34272
Primary key index always is stored in memory (whole), with and without queries.

`SELECT COUNT()` VS `SELECT value`

CH reads value.mrk into markcache and the reads value.bin and decompress in blocks and process in blocks

You can try PREWHERE and max_block_size

[code]

[code]

[2022-02-03 22:50] den-crane commented on #34237
@gauravphoenix can you share `show create table ...` or at least `partition by ` and types of columns in partition by

[2022-02-03 23:03] alexey-milovidov commented on #15318
Should make better compression:

[code]

[2022-02-03 23:14] alexey-milovidov commented on #4699
Parts are not loaded in parallel :(

[code]

[2022-02-03 23:28] alexey-milovidov commented on #4699
Broken here: #6489

[2022-02-03 23:38] alexey-milovidov opened #34311 "Allow to change the size of background pools in runtime."
**Use case**

The server is not loaded and I want to do more merges quickly.

**Describe the solution you'd like**

[code]

[2022-02-03 23:49] alexey-milovidov commented on #34303
After https://github.com/ClickHouse/ClickHouse/pull/34306 the same query is running two times faster and `ProfileEvents::Increment` is gone.

[2022-02-04 01:09] alexey-milovidov commented on #29601
@AlexanderChiuluvB It is already taken.

[2022-02-04 01:11] alexey-milovidov commented on #29601
More ideas:

clickhouse-top - a terminal application similar to btop++ that presents a dashboard of the most important ClickHouse and system metrics for local or remote instances or clusters.

[2022-02-04 01:13] alexey-milovidov commented on #29601
Visualization of merge process - JavaScript SPA that loads data from system.part_log and represents merging process as animated graphics (data parts as rectangles, area proportional to the size, tuneable play speed)...

[2022-02-04 01:57] CTCC1 commented on #34272
Thanks for the suggestion and explanation @den-crane
I have tried setting max_block_size to as low as 128 but the memory (claimed to "would have used 33.90 GiB") remain the same as before, triggering the same DB Exception.

[2022-02-04 09:32] #34302 closed

[2022-02-04 09:54] azeroc commented on #34257
Thank you for the quick response!

OK. I will stick with the current alternative as I don't think Window View will be good enough to replace it.

Thinking about it more and as far as I know the core issue with materialized / window views with regards to this use-case is that they have no idea about continuation of series from different blocks of inserts (i.e. series of counter raw values with the

[2022-02-04 10:08] murfel commented on #34246
Hi there! I'll be working on this feature.

I ran FSST on the Metrica dataset. I took all the string columns from the hits table, removed empty and duplicating lines, and removed columns with <100 lines.

Out of those 26 columns, FSST performed better than LZ4 on 5 of them only. There were 8 other columns where FSST was better in terms of ratio and compression speed but 200-500 MB/s slower in deco

[2022-02-04 10:10] simPod opened #34313 "Why is float datatype usage not recommended?"
On https://clickhouse.com/docs/en/sql-reference/data-types/float/ there is said:

So is float usage discouraged? It is not specified why. I know culpits of floats in general. I've stored money amount as int*100 instead of float in my life few times already.

I have a packet loss value as float32 and need to store it in clickhouse. So I wonder whether there are any specifics to floats in clickhouse

[2022-02-04 10:12] roanhe-ts commented on #34155
OK, I will try my best.

[2022-02-04 10:22] genzgd commented on #34313
Float is discouraged for two reasons -- the loss of precision when precision matters (like with money), and the performance cost when using float instead of integer types.  That cost can be significant for compression (network and storage), where something like a delta based algorithm is much more efficient with integers than floats, and for aggregate functions, especially complex ones such as qua

[2022-02-04 10:22] #34313 closed

[2022-02-04 10:33] murfel commented on #28544
@wangqinghuan were you able to compile in CLion?

[2022-02-04 11:27] Olga-par opened #34315 "Adding/removing tables and columns in replicated schema in MetarializedPostgreSQL database"
Hello!

We have some problem with adding/removing tables and columns in replicated schema in MetarializedPostgreSQL database.
We have created MetarializedPostgreSQL database and have done some schema changes on postgresql side (adding/removing tables and columns).
We want to add/remove tables and columns in replicated schema in MetarializedPostgreSQL database.

We have used command:

[2022-02-04 12:11] #34303 closed

[2022-02-04 14:01] ucasfl commented on #34300
Maybe `_file` virtual column also should be `LowCardinality`.

[2022-02-04 14:13] AndreyTokmakov commented on #9437
I need a little advice, I wanted to agree/clarify on the data formats (signature):
1. punycodeDecode(): should convert UTF-8 --> UTF-32
at the input we get std::string as far as I understand
we assume that the string is already encoded in punycode? and we actually do punycode decoding
We can return std::u32string or uint32_t array

2. punycodeEncode():
Can we assume that we should get some kind of

[2022-02-04 14:14] gingerwizard commented on #33947
ClickHouse does not support automatic shard rebalancing. However, there are ways to rebalance shards in order of preference:

1. Adjust shard for the [distributed table](https://clickhouse.com/docs/en/engines/table-engines/special/distributed/) allowing writes to be biased to the new shard. This potentially will cause load imbalances and hot spots on the cluster, but can be viable in most scenario

[2022-02-04 16:02] gingerwizard commented on #34257
@azeroc curious why you don't use `runningDifference` function and simply compute your aggregates per unit time and then use these to compute higher-order aggregations as you need? Is the reason for wanting to store sec values in a table purely a performance optimisation decision?

I would like to dig into this a little more as we feel there is potential product enhancement need her for monotonica

[2022-02-04 16:22] den-crane commented on #34257
[code]

[2022-02-04 16:42] gingerwizard commented on #34257
@den-crane Thanks for pointing out the limitation of `runningDifference` with the respect to the current block. Maybe we can consider this as a potential area for enhancement to avoid the complex logic.

[2022-02-04 17:29] alexey-milovidov commented on #15318
The data is compressed really well. The source data of 3 TB and it was already compressed.
The data in ClickHouse only takes 665 GiB, it is 1.93 bytes per row.

[2022-02-04 17:31] alexey-milovidov commented on #15318
A table for search:

[code]

[2022-02-04 17:35] alexey-milovidov commented on #15318
The queries are really fast:

[code]
- 39 ms.

https://gist.github.com/alexey-milovidov/bf2b8842d26037d895b5b51b5b6ee38d

[2022-02-04 18:22] gauravphoenix opened #34322 "Store frozen partitions on remote storage (s3 etc)"
**Use case**
`freeze partition` is quite a useful command for partition management, backups, etc. Most likely, the frozen parts need to be moved somewhere.

**Describe the solution you'd like**

provide an option to the freeze command like this-
`ALTER TABLE table_name FREEZE [PARTITION partition_expr] [WITH NAME 'backup_name'] TO s3://foo`

if `to s3://foo` is not provided, the parts can be store

[2022-02-04 18:24] KochetovNicolai commented on #9436
@yakov-olkhovskiy is working on this task

[2022-02-04 18:27] azeroc commented on #34257
@den-crane Thanks, that illustrates one of my described limitations pretty clearly.

Another issue with straight-forward usage of runningDifference is that it won't work on a table where value series are grouped by certain columns (can be considered label columns).
[code]
The above returns
[code]
Ideally I would want running difference there to be 0, so the running difference is aware of certain c

[2022-02-04 19:31] alexey-milovidov opened #34323 "A way to tune compression level for file-like storages."
**Use case**

Compress data with higher level while writing to file/s3.
Now the level is hardcoded to `3`.

**Describe the solution you'd like**

Maybe a setting, like `file_compression_level`.

[2022-02-04 19:33] surahman commented on #34239
I would like to give this a shot to learn the codebase. Which files should I be looking at? `ClickHouse/src/Functions/URL/`?

[2022-02-04 19:35] alexey-milovidov opened #34324 "22.1: progress bar is jumping forward when around 50%"
**Describe the issue**
Maybe it's a bug in my implementation of #33271

**How to reproduce**
Run some long query and look carefully with full attention.

[2022-02-04 19:42] alexey-milovidov commented on #34239
@surahman You should look at `ReadWriteBufferFromHTTP`

Also you can look around (the code that calls it):
`TableFunctions/TableFunctionURL` - table function `url`
`Storages/StorageURL` - table engine under this table function
`StorageURLSource` - how the URL table reads data

PS. What you've pointed is unrelated - it is about SQL functions for URL string processing like 'domainWithoutWWW'.

[2022-02-04 19:52] gauravphoenix commented on #34237
@den-crane -the tables are quite simple-
`PARTITION BY (tenant_id,retention_days)`
the cardinality of tenant_id and retention_days is also quite low. There are just 4-5 columns in the table.

I have a feeling that the issue was caused by some GKE DNS stale cache issue. While the replicas were scaling up and down, although k8s StatefulSets give stable network identity, the identity is tied to the D

[2022-02-04 20:00] alexey-milovidov commented on #9437
@AndreyTokmakov

Both functions should assume UTF-8 input and return UTF-8 output (String -> String).
Example:

[code]

[2022-02-04 20:03] alexey-milovidov commented on #34300
Now need the same for other file-like storages.

[2022-02-04 20:19] AndreyTokmakov commented on #9437
Thanks

[2022-02-04 20:19] alexey-milovidov commented on #28544
@murfel I've switched to CLion recently and use it for compiling ClickHouse.

[2022-02-04 20:25] russfeld opened #34325 "Docker latest-alpine missing clickhouse binary"
The current `latest-alpine` Docker image is missing the `clickhouse` binary. It will not start and continually crashes.

![image](https://user-images.githubusercontent.com/10699734/152598028-21e76a5e-6fdc-4298-9afa-dbfd0a583018.png)

Compared to the `21.8-alpine` image:

![image](https://user-images.githubusercontent.com/10699734/152598155-b9a14f9e-1d1c-4f06-a407-7e4a924ff85c.png)

Just reporting

[2022-02-04 20:27] alexey-milovidov commented on #7321
It is in backlog.

[2022-02-04 20:29] alexey-milovidov commented on #34325
Thank you.

I'm curious, what is the reason of using Docker Alpine images?
They are submitted by third-party contributors and are out of scope of the testing infrastructure.

[2022-02-04 21:09] russfeld commented on #34325
I prefer the Alpine-based images simply because they are smaller in size than the Ubuntu or Debian based images. Its a personal preference more than anything - I run Docker on a small virtual server with limited resources, so I'm always trying to minimize where I can.

It's unclear on DockerHub where the images are coming from - it only links to the official repository for ClickHouse. I'm happy to

[2022-02-04 21:43] UnamedRus commented on #34322
related https://github.com/ClickHouse/ClickHouse/issues/28527

[2022-02-04 22:14] alexey-milovidov opened #34326 "Convert column to `Const` and `LowCardinality` after filtering by constant or by set of values."
We already have the following optimization:

[code]

In the query pipeline, after filtering, the expression `column = 'hello'` becomes constant 1.

Why can further improve it: also make `column` constant after filtering (containing value `hello`).

And if we filter by set:

[code]

make `column` LowCardinality after filtering unless the set is too large.

[2022-02-04 22:16] gingerwizard commented on #34257
@azeroc did you consider using window functions? i.e. https://clickhouse.com/docs/en/sql-reference/window-functions/

Here you have the functions `lagInFrame` - this doesn't suffer the same block level limitations @den-crane kindly pointed out.

The query becomes a little easier - its simplest form:

[code]

As you point out though, this still doesn't solve you requirement fully - just simplifies

[2022-02-04 22:28] alexey-milovidov opened #34328 "Schema inference can work for INSERT INTO FUNCTION"
**Use case**

[code]

[code]

[2022-02-04 22:41] alexey-milovidov opened #34329 "Strange exception while INSERT INTO FUNCTION file(...) PARTITION BY ..."
**Describe the issue**
[code]

[2022-02-04 22:57] surahman commented on #34239
Replacing this line https://github.com/ClickHouse/ClickHouse/blob/e194bf3377a18fe137fbd5c04151d2fdb0f149e5/src/IO/ReadWriteBufferFromHTTP.h#L116
with this
[code]
should ensure that all HTTP requests have the `User-Agent` info in the headers.

The `User-Agent` key-value pair should probably be in a file that contains constants so they can be easily found and updated. The value/version would probabl

[2022-02-05 02:13] alexey-milovidov commented on #26175
Very nice:

[code]

[2022-02-05 02:33] alexey-milovidov commented on #34239
@surahman

We use end-to-end functional tests, see `tests` directory and `tests/queries/` specifically;
unit tests are also occasionally used, but they are not as popular.

[2022-02-05 02:35] alexey-milovidov commented on #34239
See `config_version.h`

[2022-02-05 02:40] alexey-milovidov commented on #15318
[code]

[2022-02-05 04:21] surahman commented on #34239
@alexey-milovidov thank you for all the help, I really appreciate it. I have created a PR and we can iterate from there if required.

[2022-02-05 07:57] Wachynaky opened #34331 ""FROM remote table" doesn't work if user password in remote server contains "!""
**Description**
From initial host (host1) if you uses "remote" function and the user password in remote host (host2) contains "!" show error

**How to reproduce**
1.  In **Host2**:
`CREATE USER otherUserNameInHost2  IDENTIFIED WITH sha256_password BY 'user2Pass';`
2. From terminal in Host2
`clickhouse-client -u otherUserNameInHost2 --password 'user2Pass'  -q "select * from system.numbers limit 10"

[2022-02-05 08:14] bvt123 opened #34332 "lemmatize function is too greedy"
I am trying to use the NLP function lemmatize, but get wrong results on some words.

ClickHouse server version 22.1.3 revision 54455.

SELECT
    lemmatize('en', 'Being'),
    lemmatize('en', 'Bing'),
    lemmatize('en', 'bing')
SETTINGS allow_experimental_nlp_functions = 1

Query id: 5f62df61-db4c-4618-b838-90ef87e6e41d

┌─lemmatize('en', 'Being')─┬─lemmatize('en', 'Bing')─┬─lemmatize('en', 'bing

[2022-02-05 09:52] DerekHou commented on #31533
Same error happend when try to export the data.  And the output like "from mark xxxxx with max_rows_to_read=xxxxx" always changed

[2022-02-05 09:55] danlark1 commented on #34115
I don't think so
![image](https://user-images.githubusercontent.com/15173761/152636961-293ab265-549f-43e2-b3f3-30f6b7127059.png)

[2022-02-05 11:47] taiyang-li commented on #30885
PR: https://github.com/ClickHouse/ClickHouse/pull/34334

[2022-02-05 11:51] #33944 closed

[2022-02-05 12:09] kitaisreal commented on #34115
Initially we did not check diff, but thought that patch if from same author and is just mirror of GitHub repository.
After double check I write to @alexey-milovidov, that it seems that there are no same bug in LLVM patch, probably comment was not updated.
Need to test LLVM version, maybe there are some other changes, maybe some performance improvements.
Also it is better to close, mark experimenta

[2022-02-05 13:03] Slach opened #34335 "SHOW CREATE DATABASE information_schema return wrong SQL `ENGINE=Memory()` instead of `ENGINE=Memory`"
**Describe what's wrong**
inconsistent behavior

[code]
returns the following SQL statement

[code]

but when you try to run these queries
[code]

It returns

**Does it reproduce on recent release?**
reproduced any version from 21.11+

[2022-02-05 14:17] taiyang-li commented on #30528
I wanna to try it

[2022-02-05 14:24] taiyang-li commented on #31468
@thedolphin Do you mean adding function close` in grpc service of clickhouse? If I don't misunderstand I'd like to try it.

[2022-02-05 15:58] alexey-milovidov commented on #34332
I think, it's a design choice - to do some rough processing for words normalization that mostly works.
Let's ask the author @evillique

[2022-02-05 16:03] alexey-milovidov commented on #34331
The unix shell (most likely bash) is doing some magic with `!` symbol.

Example:
[code]

See the explanation here: https://unix.stackexchange.com/questions/33339/cant-use-exclamation-mark-in-bash

[2022-02-05 16:03] #34331 closed

[2022-02-05 16:07] alexey-milovidov commented on #34325
As an alternative you can run ClickHouse without docker - it will be smaller, because it does not include Ubuntu's or Alpine's filesystem image.

[2022-02-05 16:39] zimv opened #34338 "node-clickhouse-orm"
Hello! At the beginning, I want to say that Clickhouse is a great database.

I'm developing [node-clickhouse-orm](https://github.com/zimv/node-clickhouse-orm).Because in the actual development, I need to finish the work more efficiently.

I'm not very familiar with Clickhouse, so I just realized some capabilities.

I want to know what ability Clickhouse ORM needs to achieve to be included in offic

[2022-02-05 19:03] #34308 closed

[2022-02-05 19:30] peledni commented on #34338
Hello @zimv,

We will happily add your library to our client-libraries once it is mature enough. A few suggestions:

* Add types (using typescript) - will make the library a lot more self-explanatory and easy to use
* Research 'mongoose' - a beautiful ODM for mongo. They actually make you want to use mongo with how well designed it is.
* Make sure to define a criteria structure for queries but als

[2022-02-05 21:22] nvartolomei opened #34342 "Mutations may fail when coalesced together"
**Describe what's wrong**

The following example should succeed. If merges are not stopped and each mutation is given opportunity to complete, then no errors arise. However, they fail when ClickHouse decides to coalesce them and run in a single task.

**How to reproduce**

[code]

[code]

and logs

[code]

[2022-02-05 21:35] seanlaff commented on #34257
I'm also struggling with turning monotonically increasing counters into rates, it seems like `runningDifference` is the most performant way to do this calculation (I need to do it very frequently over large data, which makes the `groupArray` workarounds untenable)

A similar function, [runningAccumulate](https://clickhouse.com/docs/en/sql-reference/functions/other-functions/#runningaccumulate), su

[2022-02-05 23:55] aderouineau commented on #27140
@UnamedRus Isn't this more a bug than a feature?

[2022-02-06 00:00] UnamedRus commented on #27140
Because it was added for a different purpose and never worked like that, it's being considered as feature by clickhouse core team standarts.

[2022-02-06 00:03] alexey-milovidov opened #34343 "Topological Sorting"
**Use case**

Backup and restore tables based on their dependencies.

**Describe the solution you'd like**

`ORDER BY x DEPENDS ON y`

Where `y` has the same type as `x` or Nullable of the same type, or it is an array of elements of the same type as `x`.

[code]

`SELECT what FROM places ORDER BY what DEPENDS ON dependencies`

will give

[code]

Similarly, on:

[code]

the same query will give

[c

[2022-02-06 00:06] alexey-milovidov commented on #30399
@nikitamikhaylov Please take a look. The test is still flaky:

https://gh-api.clickhouse.com/play?user=play&url=https%3A%2F%2Fplay-ci.clickhouse.com%2F#U0VMRUNUIGV4dHJhY3QodGVzdF9uYW1lLCAnXi4rLycpIEFTIG5hbWUsIGNvdW50KCkgQVMgYywgYXJnTWF4KHJlcG9ydF91cmwsIGNoZWNrX3N0YXJ0X3RpbWUpCkZST00gYGdoLWRhdGFgLmNoZWNrcwpXSEVSRQogICAgY2hlY2tfbmFtZSBMSUtFICdJbnRlZ3JhdGlvbiUnCiAgICBBTkQgKHRlc3Rfc3RhdHVzIExJS0UgJ0Yl

[2022-02-06 00:07] alexey-milovidov commented on #30399
| name | c | argMax(report_url, check_start_time) |
|:-|-:|:-|
| test_storage_postgresql/ | 61 | https://s3.amazonaws.com/clickhouse-test-reports/0/77fac4cdb4bb2a89cda1d587ca6ceacd02bc095e/integration_tests__asan__actions__[1/3].html |
| test_s3_zero_copy_replication/ | 43 | https://s3.amazonaws.com/clickhouse-test-reports/0/eff16baaf369ca8ad94d1d4ab5517f7766c7eeb1/integration_tests__asan__actions

[2022-02-06 00:10] alexey-milovidov commented on #34244
@UnamedRus do you know why `aws s3 cp` can successfully upload the data?
Recently I've uploaded 0.75 TB file, it did not blink an eye. Why we cannot do the same?

[2022-02-06 00:26] UnamedRus commented on #34244
AWS S3 allow to have not more than 10k parts per single multipart upload.

If you use:
32MB part size = 320GB max file size
512MB part size = 5TB max file size.

`aws s3 cp` either always use 512MB part size or adjust part size depending on the total file size.

Before https://github.com/ClickHouse/ClickHouse/pull/28679 pr ClickHouse also used 512MB part size, but value was lower due high ram usag

[2022-02-06 00:34] UnamedRus commented on #34244
Also about writing of big files in s3-like storage.
It's possible that event 5TB limit will not be enough.

In https://github.com/ClickHouse/ClickHouse/pull/33142, it was prohibited to use globs in files names in case of writing to s3.

For example in case of big query, you **need** to use `*` in uri, if you want to export big files, big query will automatically append `_000000000.format, _0000000

[2022-02-06 00:41] #34338 closed

[2022-02-06 01:04] alexey-milovidov commented on #34244
Let's start with 10 MB parts and increase it twice every 1000 parts.

[2022-02-06 01:12] zhicwu commented on #28671
Thanks @vitlibar, just noticed the change. Will update Java implementation accordingly in v0.3.3.

Couple of questions:
1. Why compression level was omitted for External table?
2. Is `result_compression` deprecated? Looks like we just need `compression_type` and `compression_level`.
3. Can we use separate compression settings for request and response? For http interface, by default the request sen

[2022-02-06 01:13] alexey-milovidov opened #34346 "`WriteBufferFromS3` does one or two extra copies."
First copy happens here:

[code]

We already have data in the buffer. But we are copying it into another temporary buffer for no reason.

Second copy happens inside `std::basic_ostream` if I remember it correctly.
The basic rule for good C++ code is to avoid `iostream` from the standard library.
Also keep in mind, that by default, `std::basic_ostream` is not exception safe (if it performs allocati

[2022-02-06 01:14] alexey-milovidov commented on #34244
Also found that current implementation is not good enough: https://github.com/ClickHouse/ClickHouse/issues/34346

[2022-02-06 02:00] zhicwu opened #34347 "21.12 crashed after running gRPC test"
It happened a few times that 21.12 crashed when testing JDBC driver and gRPC Java client. Upgrade to 22.1 seemed resolve the issue.
[code]

Besides above failure, there are a few more issues I noticed during the test:
1. error like below before crash - might be a client-side issue
[code]
2. session seems not working properly via grpc
[code]
3. Session is locked by a concurrent client - happens occ

[2022-02-06 03:22] alexey-milovidov opened #34348 "Indecently slow INSERT ... PARTITION BY"
**Describe the situation**

[code]

The issue introduced here: https://github.com/ClickHouse/ClickHouse/pull/23051/files#diff-a118e043f3175929dbe8a96c6dcc7db80e31ddae5581f29b4286eb9e2d9d925dR391

It is doing unnecessary copy into `std::string`. We can use the same StringRef as a key.
Also it is using `std::unordered_map` for no reason. Better to use `HashTable`.
The profile contains allocations, h

[2022-02-06 03:27] taiyang-li commented on #30528
Only `max_query_size` and `max_parser_depth` have affect on clickhouse-format.

[2022-02-06 03:28] alexey-milovidov opened #34350 "StorageS3 does not perform parallel multipart upload."
**Describe the situation**

The author implemented it but enabled only for DiskS3.
CC @excitoon

[2022-02-06 12:37] #30885 closed

[2022-02-06 12:38] #34081 closed

[2022-02-06 14:15] sliontc opened #34356 "JDBC engine doesn't work with materialized view"
I'v tested JDBC engine with materialized view and found out that the view was not refreshed after data inserted into the jdbc table.

Steps:

Create Table test ENGINE = JDBC('msjdbc_keyword', 'dbo', 'NewTable') // the datasource is MS SqlServer
CREATE MATERIALIZED VIEW mv ENGINE = MergeTree AS SELECT * FROM test
Insert into Keyword.dbo.NewTable (name) VALUES('oiljkl')
Select * From mv
Result:
No d

[2022-02-06 15:09] den-crane commented on #34356
https://den-crane.github.io/Everything_you_should_know_about_materialized_views_commented.pdf

Materialized view an insert trigger which gets data from inserts

[2022-02-06 15:09] #34356 closed

[2022-02-06 15:15] vitlibar commented on #28671
Because it would be useless otherwise. External tables are sent from a client to a server, and the server decompresses them before executing the query. The server needs to know only `compression_type` to do that.

In the way it exists now it is a kind of deprecated, yes. Probably I'll keep it because I suppose it might be useful sometimes. But I think I'll rename it to `transport_compression`. Jus

[2022-02-06 16:48] SaltTan commented on #34218
Check what the thread was doing before and after the exception.
Look by the thread number `[ 341370 ]`.

[2022-02-06 17:29] #33538 closed

[2022-02-06 17:53] electrical commented on #34118
Just a quick update. I've noticed in the logs of the process that it's not always hitting the issue with the first user it loops through.
Sometimes it passes fine on the first user and then crashes on the second user.

[2022-02-06 20:32] alexey-milovidov commented on #34115
So, the results are questionable
https://s3.amazonaws.com/clickhouse-test-reports/34175/45fa68b4a890b1bda979cadfbd8968422fcecd9d/performance_comparison__actions__[2/4]/report.html
https://s3.amazonaws.com/clickhouse-test-reports/34175/45fa68b4a890b1bda979cadfbd8968422fcecd9d/performance_comparison__actions__[1/4]/report.html

but LLVM version appears to be better, and also @danlark1 said that ther

[2022-02-06 20:35] #34177 closed

[2022-02-06 20:42] alexey-milovidov commented on #34288
Another option is to add a column `is_secure`.

[2022-02-06 23:55] #34300 closed

[2022-02-07 01:03] alexey-milovidov commented on #33320
The only suspect is live view

because it is an experimental feature with low amount of developers attention to it.

Does the issue reproduce if live views are not used?

[2022-02-07 01:06] alexey-milovidov commented on #26242
@akuzm Could you please help with this question?

[2022-02-07 01:07] #29114 closed

[2022-02-07 01:07] alexey-milovidov commented on #29114
No info.

[2022-02-07 01:09] alexey-milovidov commented on #30214
@jiangdaokun Can be the reason that the data in table is constantly changing and you have queried it in different moments of time?

[2022-02-07 01:10] alexey-milovidov commented on #30214
ClickHouse does not perform any magic work, it only sends a query to Postgres.
You can check Postgres/Greenplum logs to find what query was sent and what result did it give.

[2022-02-07 01:10] #30214 closed

[2022-02-07 01:11] #30216 closed

[2022-02-07 01:14] #32896 closed

[2022-02-07 01:16] alexey-milovidov commented on #34003
ClickHouse is returning data in streaming fashion and you can process it while reading without allocating large amount of memory.

Some 3rd-party client drivers and tools may still buffer the result, but it is a problem of these tools, not ClickHouse itself.

[2022-02-07 01:16] #34003 closed

[2022-02-07 01:21] alexey-milovidov commented on #33009
@UnamedRus Could you please help debugging this issue. You need the following steps:

1. Run this query in AWS.
2. Capture the real HTTP request that is being performed.
3. Read the description of the request signature method, try to apply it manually and construct the same HTTP request to validate that you are correctly calculating the request signature.
4. Perform the same algorithm with GCP and

[2022-02-07 01:23] alexey-milovidov commented on #33009
May be the problem is that sometimes URL-encoded data is signed and sometimes URL-unencoded data is signed?

[2022-02-07 01:49] alexey-milovidov commented on #33964
We don't set Content-Type anywhere, so AWS decide it on their own.
To fix this issue, we have to start specifying Content-Type explicitly.

[2022-02-07 01:51] alexey-milovidov commented on #33964
Always using `binary/octet-stream` is probably the most safe.
Although if the data is uncompressed, we can use Content-Type from the format to allow nice data representation in web browser if static hosting is enabled.

[2022-02-07 01:51] alexey-milovidov commented on #32439
@filimonov Let's do it.

[2022-02-07 01:53] alexey-milovidov commented on #31221
@alex-zaitsev Does not look like that.

[2022-02-07 01:54] alexey-milovidov commented on #31221
We should extract `versionId` parameter from the URL and set the corresponding header explicitly.

[2022-02-07 01:55] alexey-milovidov commented on #31221
`Aws::S3::Model::GetObjectRequest::SetVersionId`

[2022-02-07 02:34] #34115 closed

[2022-02-07 03:35] alexey-milovidov opened #34359 "Schema inference does not work for globs in URL table function."
**Use case**

[code]

**Describe the solution you'd like**

Generate URLs according to these globs. Request them. Skip if HTTP response is 404, throw exception in other erroneous codes.

[2022-02-07 03:36] alexey-milovidov commented on #34359
It's strange, they are already working in another use case: https://github.com/ClickHouse/ClickHouse/issues/29696

[2022-02-07 03:41] alexey-milovidov commented on #34359
It's an error with schema inference.

[2022-02-07 03:54] alexey-milovidov opened #34361 "Memory limit does not work if I misuse Parquet format"
**Describe the situation**

Here I intentionally misspecify Native format as Parquet:
[code]

I expected to quickly get an error.
What happened is - it consumes more than 100 GB of memory without respect to the limits and without ability to cancel the query.

[2022-02-07 04:46] alexey-milovidov commented on #33961
What is the reason to have sequential view processing?
Maybe we can say that parallel view processing is an advantage and deprecate the setting `parallel_view_processing`?

[2022-02-07 04:52] zhicwu opened #34362 "Return format in gRPC response"
Hi @vitlibar,
In http implementation, ClickHouse will return format of query result in header `X-ClickHouse-Format`. Can we return format in gRPC response as well? This helps client like JDBC driver for deserialization(without the need for parsing the query).

[2022-02-07 04:54] zhicwu commented on #28671
Thanks @vitlibar. Would be great if you can mark the field as deprecated or so in .proto file, so that it's clear for everyone. If you're going to change the spec, please also consider #34362 which is for adding additional field in response.

[2022-02-07 05:53] vitlibar commented on #34347
The issue `#3` "Session is locked by a concurrent client" has been fixed (https://github.com/ClickHouse/ClickHouse/pull/29954) but 21.3 and 21.8 don't contain that fix.

[2022-02-07 06:29] zhicwu commented on #34347
I don't currently have a minimal case to reproduce the crash, but you can start by following instructions below:
[code]

Repeat the last step two or more times and you'll see the server crashed.

[2022-02-07 07:42] ernado opened #34369 "Use FixedString(16) instead of UUID for OpenTelemetry trace_id"
Currently, `UUID` is used for `trace_id`, which is not fully correct.

The `trace_id` is [defined](https://www.w3.org/TR/trace-context/#version-format) as lowercase 16-bytes hexadecimal array:

[code]

Not all trace-id's are valid UUID's.

Reference:
- [W3 Trace Context](https://www.w3.org/TR/trace-context/#version-format)
- [OpenTelemetry Specification](https://opentelemetry.io/docs/reference/spe

[2022-02-07 07:59] loyd commented on #33320
We need to modify our code to work without LV because now we highly depend on them.
Write here, when we check.

[2022-02-07 09:09] filimonov opened #34370 "Long locks in DB::DiskLocal::getUnreservedSpace"
Scenario: very high number of MergeTree tables, background schedule pool is mostly busy all the time

[code]

Maybe we should move getStatVFS call out from the lock?

[2022-02-07 09:14] filimonov commented on #34370
I.e. exchange those 2 lines:

https://github.com/ClickHouse/ClickHouse/blob/279c1f832a48c03eefa8fffd2270dd1aadd3584f/src/Disks/DiskLocal.cpp#L270-L271

[2022-02-07 09:44] akuzm commented on #26242
This needs a `FILTER` clause which CH doesn't have, but it does have `-If` combinator that has a similar effect.  So `sumIf(payInfo['total'], pay_time < start_time)`.

[2022-02-07 10:15] Algunenano commented on #33961
I understand that it's mostly to limit resource usage; at some point in the past it's had some issues but I think it's been pretty stable since the pipelines introduction. In some cases people also used sequential processing because they required a specific execution order (alphabetically in traditional engine or by uuid order in atomic databases).

I think that if there are other ways to limit re

[2022-02-07 10:17] Algunenano commented on #33961
OTOH, the bug only happes with insert from values. Other insertion method did respect the setting and execute sequentially.

[2022-02-07 10:43] KochetovNicolai commented on #34370
Maybe we can do `getStatVFS` call not so often. Remember an old value for some time, and update only periodically.
Or take and old value if some other thread is already doing this call.

[2022-02-07 11:47] sliontc commented on #34356
I did insert data into the table as said above:
"Insert into Keyword.dbo.NewTable (name) VALUES('oiljkl')"

[2022-02-07 12:05] nvartolomei commented on #20451
I'm interested in this feature and spent some time looking at how it could/should be implemented. So far, the task for adding optimization for skipping reading entire columns seems complicated. The complications arise from the flexibility of the TTL feature in ClickHouse. That is that it accept a wide variety of expressions which are hard to be proven monotonic. For example even the simplest one `

[2022-02-07 12:08] KochetovNicolai commented on #34346
It's in ASW sdk:
https://github.com/ClickHouse-Extras/aws-sdk-cpp/blob/266d7682c3d07d41618c41a3521811e1219c1bc7/aws-cpp-sdk-core/include/aws/core/AmazonStreamingWebServiceRequest.h#L44

[2022-02-07 12:15] kitaisreal commented on #34346
@KochetovNicolai we can provide own std buffer, or std stream implementation that will avoid additional copying.

CC: @alexey-milovidov

[2022-02-07 13:56] UnamedRus opened #34375 "Skip index in memory cache/persistence storage."
**Use case**

Heavy Bloom filter skip index.

If skip index bigger than 1GB, it can take up to 1 second to load it in memory, which significantly slowdown query.

**Describe the solution you'd like**

Have separate cache for skip indexes, so they will not be flushed out from page cache by MergeTree data parts.

Related https://github.com/ClickHouse/ClickHouse/issues/20157

[2022-02-07 14:40] vzakaznikov commented on #34130
Yes, I'm working on developing extra tests that combine LDAP + secret.

[2022-02-07 15:02] nvartolomei commented on #34375
This #27961?

[2022-02-07 15:40] genzgd commented on #29884
ClickHouse is designed for immutable data.  Its high performance is dependent on sparse indexes (in the default case there is only a single index value for every 8192 rows), and keeping all of the columnar data in the table sorted by those indexes.  Accordingly mutations are very expensive, and in many cases require resorting and rewriting one or more columns for all the data.  If there are a 100+

[2022-02-07 15:40] #29884 closed

[2022-02-07 15:41] gingerwizard commented on #34257
@seanlaff as pointed out the runningDifference cant be used across multiple blocks e.g.

[code]

| ts | val | rate |
| :--- | :--- | :--- |
| 2022-02-07 15:38:00 | 86 | NaN |
| 2022-02-07 15:38:05 | 401 | 63 |
| 2022-02-07 15:38:10 | 1317 | 183.2 |
| 2022-02-07 15:38:15 | 1399 | 16.4 |
| 2022-02-07 15:38:20 | 2372 | NaN |
| 2022-02-07 15:38:25 | 3121 | 149.8 |
| 2022-02-07 15:38:30 | 3931 | 162 |

[2022-02-07 15:58] qoega opened #34377 "ILLEGAL_AGGREGATION: Aggregate function uniqExact(value, value) is found inside another aggregate function in query: While processing uniqExact(value, value)."
https://s3.amazonaws.com/clickhouse-test-reports/34373/c7ba5204b3fa3d8120a6111730902c7a7aaa9e0c/fuzzer_astfuzzerasan,actions//report.html

[code]

[2022-02-07 16:37] m1khal3v commented on #7321
If someone really needs a match with expressions as a pattern, you can use custom functions right now
https://clickhouse.com/docs/en/sql-reference/functions/#executable-user-defined-functions

@alexey-milovidov looking forward to

[2022-02-07 16:56] adam-mrozik opened #34383 "Update based on current value"
Hey,

I am struggling a little bit with finding a solution for updating certaing int rows by dividing current value by the factor of 10. But let's say I want to add 5, append a suffix to a string, whatever. The idea is just how to alter rows based on a current value.

Pseudo-code I want to perform:
[code]

Do you have any idea how could I do it?

[2022-02-07 17:28] nvartolomei commented on #34383
The query you posted above should work.

[code]

[2022-02-07 17:30] UnamedRus commented on #34375
Great!

[2022-02-07 17:31] #33811 closed

[2022-02-07 18:44] alexey-milovidov commented on #34377
@qoega The error message is correct and fuzzer should not argue about it.

[2022-02-07 18:55] alexey-milovidov commented on #34346
Yes, plan A is to implement our streambuf and plan B is to bypass AWS SDK library in this place.

[2022-02-07 19:37] derlaft commented on #33320
Steps to reproduce:

1) create table
[code]

2) create live view with timeout

[code]

3) make a query

[code]

Query hangs forever. Even after it's aborted the process can be seen in `system.process`:

[code]

Tested in: clickhouse-server-22.1.3.7

[2022-02-07 19:50] derlaft commented on #33320
Ugh, noticed this in documentation. With this format it works as intended.

[2022-02-07 20:37] #34053 closed

[2022-02-07 20:39] loyd commented on #33320
That's another problem (I've faced it in https://github.com/ClickHouse/ClickHouse/issues/22996), likely not related here, but also inconvenient.

[2022-02-07 21:09] tom-clickhouse commented on #29493
TTL moves for stored data are done by threads from a [dedicated threadpool](https://clickhouse.com/docs/en/operations/settings/settings/#background_move_pool_size). This scheduler threads are triggered each 10-600 seconds depending on current load (if load is lower then the timeout is longer). Therefore when using perform_ttl_move_on_insert=0, freshly inserted data that is old according to TTL mov

[2022-02-07 21:48] HeenaBansal2009 commented on #33953
@vitlibar , How this globalcontext can be accessed here.
I would like to know your opinion/thoughts on this or any alternative you can suggest here.

 I am planning to put the new config  in global context and trying to find out how global context can be accessed while parsing users.xml.  I  don’t see we have withcontext reference visible in userConfigAccessStorage.cpp. At this stage the shared po

[2022-02-07 22:10] #29493 closed

[2022-02-07 22:36] holadepo commented on #33501
I think the name of this function should be `toLastDayOfMonth` rather than `toEndOfMonth` as the last day of a month is not exactly the end of the month. What do you think @alexandr-subota-idf @alexey-milovidov?

[2022-02-07 22:39] TheGreatAbyss commented on #3824
I also had this happen in a test a cluster running in Kubernetes.    A rollout restart of my ClickHouse Zookeeper statefulset wouldn't fix it, the only thing that did was a hard kubectl delete of each of the zookeeper pods

[2022-02-07 23:04] alexey-milovidov commented on #33501
@holadepo Yes, this name is better.

[2022-02-07 23:45] #34335 closed

[2022-02-07 23:48] #33812 closed

[2022-02-07 23:50] #30528 closed

[2022-02-08 00:17] #34204 closed

[2022-02-08 00:35] daledude opened #34397 "Cannot cancel queries"
Clickhouse server version: 21.8.13

Not sure if there is a config option or if this is a bug or, hopefully not, expected behaviour.

Running simple SELECT's using clickhouse-client takes a very long time to cancel after CTRL-C and `Cancelling query.` is output. Query continues to run to completion.

[code]

Did this 56 secs into query and about 40 seconds after I hit CTRL-C
[code]

[2022-02-08 01:48] zhanglistar commented on #32513
@alexey-milovidov what about join two big tables in roadmap 2022?

[2022-02-08 01:52] #34383 closed

[2022-02-08 06:49] ernado opened #34399 "clickhouse-local: Native format not supported for stdin"
Let's prepare simple output file in Native format:
[code]

This works:
[code]

This probably should work:
[code]

[2022-02-08 08:11] #34377 closed

[2022-02-08 08:18] qoega opened #34400 "AddressSanitizer: heap-use-after-free DB::ExecutingGraph::updateNode"
query:
[code]

Log
[code]

report
[code]

[2022-02-08 08:18] qoega commented on #34377
This one is correct https://github.com/ClickHouse/ClickHouse/issues/34400

[2022-02-08 08:42] #33756 closed

[2022-02-08 09:13] Pythonov opened #34402 "Replication doesn't work. Permission denied"
Hi!
I created CH cluster with 3 nodes (1 shard and 3 replicas)
Then created a table with that query
_CREATE TABLE food ON CLUSTER default_cluster (period DateTime64, region String, indicator String, price Float64) Engine = ReplicatedMergeTree('/clickhouse/tables/shard_{shard}/test_food', 'replica_{replica}') PARTITION BY toYYYYMM(period) ORDER BY (region);_
I inserted data into 1st replica and got

[2022-02-08 09:21] DogeWatch opened #34403 "cmake failed on macos 12.1"
**ClickHouse version**
commit 17a245aa4de9f0028966e5c61578a3aae0716a33 (HEAD, tag: v22.1.2.2-stable)

**Cmake version**
❯ cmake --version
cmake version 3.22.2

CMake suite maintained and supported by Kitware (kitware.com/cmake).

**Ninja version**
❯ ninja --version
1.10.2

**Compiler name and version**
Homebrew clang version 13.0.1
Target: arm64-apple-darwin21.2.0
Thread model: posix
InstalledDir:

[2022-02-08 11:46] #34347 closed

[2022-02-08 11:47] taiyang-li commented on #34403
Looks like dead loop in cmake function `get_all_targets`

[2022-02-08 11:48] wedi-dev commented on #33955
@ramazanpolat We've prepared very fast HTTP service (golang + fasthttp and internal caching), which is able to handle such not optimal requests, that's why I created this issue.

The main problem for now is that sometimes request fail and then the query fail - we're sure querying only requested attribute would be a huge game changer, for all sources with direct layout.
Just finished tests with usi

[2022-02-08 12:04] filimonov opened #34407 "-SimpleState with nullable argument creates Nullable(SimpleAggregateFunction(...))"
[code]

Should be
[code]

[2022-02-08 12:07] kitaisreal commented on #33955
@wedi-dev what features probably can be implemented.
1. Query only necessary attributes with Direct layout. Can be implemented with special setting for Direct layout.
2. dynamic attributes for direct layout - so you do not need to specify structure but can ask for any attribute. I am skeptical about this, because it will require a lot of changes, not sure if this worth it.
3. remove the constraint

[2022-02-08 12:08] Pythonov commented on #34402
But i can't chmod folder from error
![image](https://user-images.githubusercontent.com/61191665/152984097-3bdab351-b86e-4060-9d03-ad681cd73941.png)

[2022-02-08 12:11] mo-avatar commented on #34402
try to find whether the parent directory or the file itself 's owner is clickhouse may help

[2022-02-08 12:17] mo-avatar commented on #34402
If chmod do not help, may be you can just stop clickhouse instance , chmod -R the data directory and just restart the clickhouse instance。

[2022-02-08 12:18] Pythonov commented on #34402
I tried this)
It changed back after I started ch

[2022-02-08 12:19] Pythonov commented on #34402
Owner is clickhouse

[2022-02-08 12:23] mo-avatar commented on #34402
check if the path element in config.xml is in correct mode

[2022-02-08 12:23] Pythonov commented on #34402
In documentation it's said that if Zookeeper isn't set in the config file, any existing replicated tables will be read-only. But i configured that

[2022-02-08 12:23] mo-avatar commented on #34402
for now , it has nothing to do with zookeeper

[2022-02-08 12:41] mo-avatar commented on #34402
I wonder whether you have started three instance  on the same linux environment, if it is, you'd better check if you are operating on the right instance.

[2022-02-08 13:00] Pythonov commented on #34402
Config is ok i think
![image](https://user-images.githubusercontent.com/61191665/152991675-040f8116-fb93-4fba-aab7-db64d069d6e3.png)
I have 3 VMs with the same CentOs7

[2022-02-08 13:04] mo-avatar commented on #34402
Alright ,  what I mean is you might need to check whether the  permission on /var/lib/clickhouse is correct.

[2022-02-08 13:07] Pythonov commented on #34402
![image](https://user-images.githubusercontent.com/61191665/152992991-39d571fe-780f-48ad-b352-f39792dde970.png)
It's the same for all nodes

[2022-02-08 13:10] mo-avatar commented on #34402
It is beyond my knowledge now.  but the error is still most likely  caused by permission.  obviously, something weird happening, may the luck be with you

[2022-02-08 13:11] Pythonov commented on #34402
Thanks

[2022-02-08 13:13] mo-avatar commented on #34402
One more thing,  try to check if the clickhouse instance are started with the right user (clickhouse)

[2022-02-08 13:33] den-crane commented on #34399
It needs a structure of an input data `-S '"1" UInt8' `

It's about scheme inference

[code]

[2022-02-08 13:45] #30480 closed

[2022-02-08 13:46] Pythonov commented on #34402
I don't know what did it use for config file, but it started to work after i chmod /etc/clickhouse-server/config.xml

[2022-02-08 13:46] #34402 closed

[2022-02-08 13:48] #34147 closed

[2022-02-08 14:03] #26211 closed

[2022-02-08 14:06] Felixoid opened #34411 "Implement lambda cleaner for artifacts for some repositories"
As we've found today, there are a few repositories producing heavy artifacts:

- clickhouse-com-content
- clickhouse-presentations
- clickhouse-blog-images

Lambda should retrieve the artifacts for there repos via `https://api.github.com/repos/ClickHouse/${repo}/actions/artifacts?per_page=100` and then for each `repo` field send `DELETE` request. That's all!

[2022-02-08 14:07] #32741 closed

[2022-02-08 14:17] boldakovds opened #34412 "Unexpected behaviour RBAC"
I try to use RBAC.
Something happened on production. Grants to roles didn’t work correctly. I could reproduce this situation on test just once.

I created role and user on existing cluster:
[code]

And I granted select on existing table to role and role to user:
[code]

Expected behavior:
When i’ll connect as test_user I see result:
`select * from test1.table1;`

But I received:
[code]

Revoke gra

[2022-02-08 14:19] #34273 closed

[2022-02-08 14:50] x052bb opened #34414 "Adding a column (ALTER TABLE ADD COLUMN) fails"
Hi all

I have the following setup:
     - Clickhouse version 21.9
     - 8 nodes in cluster ( 2 shards / 4 replicas)
     - test.XXX is a ReplicatedMergeTree table

I need to add a column to test.XXX table , the following query is executed:

It fails with an error:

Some observations:

1. Sometimes the above ALTER works ok, but such cases are rare.
2. Even though query ends with an error, the col

[2022-02-08 15:11] #33932 closed

[2022-02-08 15:15] den-crane commented on #34414
@x052bb
Do you use JDBC ?
Do you connect to a random server?
Do you run several `alter` one by one? `ALTER TABLE .... ADD COLUMN ..; ALTER TABLE .... ADD COLUMN ..; ALTER TABLE .... ADD COLUMN ..;` ?

[2022-02-08 15:42] x052bb commented on #34414
Yes

No. There's a single server in JDBC connection string, like _jdbc:clickhouse://host:port_

The above error is reproduced if I run single ALTER, just as in example above

[2022-02-08 16:30] #34399 closed

[2022-02-08 16:54] den-crane opened #34425 "incorrect results for uniq(UUID type)"
the same data in UUID & String, but results of  uniq are different

[code]

related https://github.com/ClickHouse/ClickHouse/pull/23631 https://github.com/ClickHouse/ClickHouse/issues/33607

[2022-02-08 17:00] ramazanpolat opened #34426 "Rename PRIMARY KEY to PRIMARY INDEX"
In database world, the definition of PRIMARY KEY is used to denote the column (or set of columns) as to be uniquely identify a row. It is also used for releations between tables. But in ClickHouse, it is just an index which is really confusing for newcomers.

Therefore I suggest that the naming it as PRIMARY KEY should be deprecated and PRIMARY INDEX should be used instead.

[2022-02-08 17:03] den-crane commented on #34425
Because in order to shrink space from 128 bits to 64 bits starting from 21.6 ClickHouse does xor between high and low bits:
[code]
Because those UUIDs basically the same bits but put in different order, they results in the same state.

Thanks,
Dima

[2022-02-08 17:38] ramazanpolat opened #34427 "Rename ORDER BY to SORT BY or SORTED BY"
ORDER BY clause used in MergeTree engine family usually gets confused with the ORDER BY in SELECT statements.

I suggest that renaming it to SORT BY or SORTED BY will prevent this confusion.

[code]

[2022-02-08 17:58] azeroc commented on #34257
I ended up slightly expanding my alternative for my backend agents to calculate extra values per sensor measurement (raw value, delta, timestamp delta, few others) and storing that in Clickhouse instead of just raw counter value. The cost is simply more storage but with proper codec and compression settings few extra columns won't be an issue. As a result it will be easier to setup aggregation pip

[2022-02-08 18:20] HeenaBansal2009 commented on #33953
Thanks @vitlibar for the valuable suggestions on the design of this feature. Now, The plan is to add a new config option at global context level.

[2022-02-08 18:21] filimonov opened #34428 "system.asynchronous_inserts engine lacks System prefix"
[code]

[2022-02-08 18:21] #34257 closed

[2022-02-08 19:37] alexey-milovidov commented on #34427
Isn't it too late to change?

IIRC Vertica is using ORDER BY similarly to ClickHouse:
https://www.vertica.com/docs/9.2.x/HTML/Content/Authoring/AdministratorsGuide/ConfiguringTheDB/PhysicalSchema/ChoosingSortOrderBestPractices.htm

[2022-02-08 19:38] alexey-milovidov commented on #34427
The fact that it is similar to ORDER BY in SELECT queries is alright, because the ORDER BY in table will also optimize ORDER BY queries.

[2022-02-08 20:00] UnamedRus commented on #34427
The only problem with ORDER BY is that people assume, that they will get fully sorted data even without ORDER BY in query.

[2022-02-08 21:30] alexey-milovidov commented on #34045
@YjyJeff Processors parallelize query both horizontally (different parts of data is processed in parallel by the same computation) and vertically (different stages of computation are run in parallel). The old volcano model only parallelize horizontally.

[2022-02-09 01:44] aderouineau commented on #27140
It looks like moving `AWSAuthV4Signer::SignRequest` and `AWSAuthV4Signer::PresignRequest` after the `SetHeaderValue()` loops in `src/IO/S3Common.cpp` should fix this issue. It worked for me. Unfortunately for legal reasons I am currently unable to issue a pull request.

[2022-02-09 01:49] YjyJeff commented on #34045
Thanks~

[2022-02-09 01:58] alexey-milovidov commented on #33964
I have also faced this issue today.

[2022-02-09 02:00] alexey-milovidov commented on #33964
This is a bug in AWS S3 SDK: https://github.com/aws/aws-sdk-cpp/issues/1840

[2022-02-09 02:43] Alpha-su commented on #27511
ema is like  avgweighted, so the sql sentence 'arraySum(arrayMap(pair -> pair.1 * pair.2, arrayZip(arrayResize(grouped_numbers, n, 0), weights))) / n as ema'  not divided by n,but arraySum(weights), like this: arraySum(arrayMap(pair -> pair.1 * pair.2, arrayZip(arrayResize(grouped_numbers, n, 0), weights))) / arraySum(weights) as ema

[2022-02-09 03:00] ucasfl commented on #34403
It workds well for me in latest master.

[2022-02-09 04:06] alexey-milovidov opened #34436 "Allow to ATTACH PARTITION/PART between different disks or filesystems."
**Use case**

[code]

[2022-02-09 05:15] amosbird commented on #34427
The `(a ASC, s DESC)` part might be useful in some cases.

[2022-02-09 05:19] alexey-milovidov opened #34437 "It makes sense to compress marks and primary.idx"
**Describe the issue**
[code]

In this example, marks compressed 20 times and primary key - 2 times.
That's a huge difference if they are loaded over slow network (example: using MergeTree over `web` disk plugged on my desktop).

[2022-02-09 05:20] alexey-milovidov commented on #34427
Theoretically DESC can be useful if most of SELECT queries are using optimize_read_in_order and DESC order.
But I don't recommend trying to implement it.

[2022-02-09 05:20] #34427 closed

[2022-02-09 05:31] fuwhu opened #34438 "Why always get first disk of volume of data part when selecting parts to move ?"
When i read the code of MergeTreePartsMover::selectPartsForMove, i could not understand the code below :
https://github.com/ClickHouse/ClickHouse/blob/master/src/Storages/MergeTree/MergeTreePartsMover.cpp#L138

Per my understanding, it aims at choosing the data parts  stored on the disks whose free space is not enough. So it use `part->volume->getDisk()` to get the disk of current data part.

But

[2022-02-09 05:52] AndreyTokmakov commented on #9437
@alexey-milovidov hello
i've created a pull request https://github.com/ClickHouse/ClickHouse/pull/34439
its still in “WIP”  status,  but in general, I think it can at least be reviewed/discussed that you understand whether this implementation is suitable at all or not

[2022-02-09 05:58] amosbird commented on #30146
https://github.com/ClickHouse/ClickHouse/pull/34305

[2022-02-09 05:58] #30146 closed

[2022-02-09 05:58] amosbird commented on #31401
https://github.com/ClickHouse/ClickHouse/pull/34305

[2022-02-09 05:58] #31401 closed

[2022-02-09 07:10] fuwhu commented on #34438
Is IMergeTreeDataPart::volume always of SingleDiskVolume type ?

[2022-02-09 07:24] caoweiwei opened #34440 "how to drop ttl column （exception: not found column ... in block）"
### Table Structure: ###
[code]

### Steps ###
1. Stop data writing
2. SYSTEM FLUSH DISTRIBUTED default.demo_user_d
3. Execute ddl：
``` alter table default.demo_user_d ON CLUSTER default DROP COLUMN IF EXISTS demo,DROP COLUMN IF EXISTS demo_ts;```
```alter table default.demo_user ON CLUSTER default DROP COLUMN IF EXISTS demo,DROP COLUMN IF EXISTS demo_ts; ```
4. Restore data write

### Exception i

[2022-02-09 07:32] estaine opened #34441 "0 is handled improperly as a column constant value"
We upgraded from v. 21.2.2.8 to v. 21.12.4.1 a few days ago and started to experience a weird issue.
Some queries having 0 as a column constant value started to return the following error:

I wasn't able to define exact criteria but it seems that a JOIN and a UNION ALL, as in the example below, are a must.

The query is:

[code]

Things start working properly if I replace 0 with, say, `1-1` or `to

[2022-02-09 08:19] JackyWoo commented on #34438
@fuwhu yes, because a data part is a single file.

[2022-02-09 08:28] fuwhu commented on #34438
Thanks for your reply. I quickly check the code, it seems all createPart calls pass a SingleDiskVolume parameter.
Just feel a bit confusing here, but it's ok.

[2022-02-09 08:29] #34438 closed

[2022-02-09 08:32] #34359 closed

[2022-02-09 09:42] x052bb commented on #34414
@den-crane

Here's how reply looks when I'm using pure HTTP:

But

< HTTP/1.1 200 OK

Looks like there's a difference between pure-HTTP & JDBC driver request? Do you know the root cause ( I assume that since you asked about CH client)?

[2022-02-09 09:51] #34244 closed

[2022-02-09 10:01] xpleaf opened #34445 "HDFS with Kerberos: Data cannot be read from the HDFS table engine, but can be written"
## 1 Problem specification

ClickHouse Version:

[code]

According to official documentation:

https://clickhouse.com/docs/en/engines/table-engines/integrations/hdfs/#usage

I'm trying to create a HDFS table:

[code]

Then write data:

[code]

You can see that it has been written successfully.

Next query the data:

[code]

It could be found that no data was detected. Then I paid attention to the

[2022-02-09 10:06] xpleaf commented on #34445
@kssenii @yehiaelbehery @filimonov

[2022-02-09 10:23] winter7 opened #34446 "coalesce behavior when typecasting in Kafka engine"
version 21.11.9.1.
Enabled setting `input_format_avro_allow_missing_fields=1`.
Set a field named `field_a` in avro schema with type of `int`. And I tried to consume it by a Kafka engine table.

1.
If I set `field_a` with type of `Nullable(Int32)`,everything works fine.
[code]
The field `field_result` in `target_table` would get expected value that's consistent with kafka message.

2.
To make it cl

[2022-02-09 10:36] kssenii commented on #34445
Can you please try latest clickhouse version?

[2022-02-09 10:43] JackyWoo opened #34447 "Add settings to allow parts merge in same disk"
**Use case**

In case of mulit-disk cluster,  part merging may lead to disk usage inbalance.

Because merging will select parts from all disks and the merged part will reside in only one disk. If a partition has too many data it will lead to one disk usage very high.

I have 100+ CH clusters in production some of them the difference may be 30%.   After investigation, the cause of disk usage inbala

[2022-02-09 11:04] #34171 closed

[2022-02-09 11:14] qoega opened #34451 "Harmful "rand" in test_azure_blob_storage_zero_copy_replication"
[code]

[2022-02-09 11:41] den-hrybkov opened #34453 "MySQL dictionary: SSL connection error: SSLV3_ALERT_HANDSHAKE_FAILURE ((nullptr):3306)"
**Describe the unexpected behaviour**
After the latest update Clickhouse can't connect MySQL dictionary

* Which ClickHouse server version to use
22.1.3.7

* Non-default settings, if any
Dictionary source settings:
[code]
* Queries to run that lead to unexpected result
`:) SYSTEM RELOAD DICTIONARY broker_joined;`

**Expected behavior**
The dictionary data loaded successfully from MySQL source

**E

[2022-02-09 11:58] #34091 closed

[2022-02-09 12:03] kitaisreal commented on #33734
I could reproduce crash, this https://github.com/ClickHouse/ClickHouse/pull/31766 fixes crash. It was back ported in 21.11 https://github.com/ClickHouse/ClickHouse/pull/32202.
Solution is to update to new version.

[2022-02-09 12:26] den-hrybkov commented on #34453
After downgrade to the LTS version 21.8.14.5 the issue still present:
[code]

[2022-02-09 12:26] alesapin opened #34455 "Ability to specify `TTL MOVE TO [DISK|VOLUME] [IF EXISTS]`"
Different replicas can have different disks/volumes/storage policies configuration. But `TTL MOVE` expression is a part of the table definition and cannot be different on different replicas.

So the idea is to implement `TTL MOVE IF EXSITS` which works only if disk exists on replica. Other replicas just ignores this expression.

[2022-02-09 12:43] #33734 closed

[2022-02-09 14:59] Zkuns opened #34464 "PostgreSQL new insert data not sync to ClickHouse"
Hello
**My problem is:**
I want to use ClickHouse to load the PostgreSQL data. I create table success but the new insert data is not synced here.

I create a database from my remote **amazon PostgreSQL 11 database**.
<img width="1676" alt="image" src="https://user-images.githubusercontent.com/8684193/153219803-8dbb798f-06bf-40d9-9167-67c5f1ea746f.png">
The log show database is create success
<img

[2022-02-09 15:37] HeenaBansal2009 commented on #34397
I also observed this issue. When the query is cancelled and if we try to create a same user again, Clickhouse throwing "user already exist" error. This indicates CreateUserquery went to completion even after timeout & cancel.

[2022-02-09 15:43] Algunenano commented on #34397
There have been several improvements in query cancelation and KILL'ing (they are 2 different things) in the last few releases. Can you test it with 22.1? Also, can you try (also with a recent version) to KILL instead of Ctrl+C and see if that works?

[2022-02-09 15:52] HeenaBansal2009 commented on #34397
@Algunenano  , I am using ClickHouse client version 22.2.1.1.
I didn't cancel/kill the query, Client received timeout to receive the response from server because I was debugging the clickhouse server and my server was paused on the gdb breakpoint. This is the scenario I observed.

[2022-02-09 15:55] Algunenano commented on #34397
I was talking about the original issue, which has nothing to do with user creation. Sorry

[2022-02-09 16:52] johnnyleitrim commented on #33993
Yes, using `JSONAsString` allowed me to get the raw message

[2022-02-09 17:55] 123Lookatme opened #34470 "Randomly crash with Integer divide by zero"
we have a table with events where is about 3 billion of records:
[code]
It worked perfectly before last month.
However right now queries are randomly failing with `Integer divide by zero` exception.
Randomly because same query can raise this exception and than just work later.
Example:

[code]

[2022-02-09 17:57] den-crane commented on #34440
Clickhouse version? `select version()` ?

[2022-02-09 18:06] den-crane commented on #34470
grep logs for  af9a2dd3-9db8-4e2a-8494-140a93f98007 , which query caused a crash?

is it server or desktop? ECC Ram or not https://en.wikipedia.org/wiki/ECC_memory ?

[2022-02-09 18:13] den-crane commented on #13907
works now. I'll check tests.

[code]

[2022-02-09 18:16] alexey-milovidov commented on #34397
I'm observing this issue with INSERT SELECT queries,
AFAIR @novikd started looking at it.

[2022-02-09 18:23] den-crane commented on #34441
is it reproduce if instead of `0 AS enabled,` you use `materialize(0) AS enabled,`

[2022-02-09 18:24] alexey-milovidov commented on #34397
@daledude Please do the following:

1. Install version 22.1 across your cluster.
2. If the issue still reproduces, check this:

[code]
[code]

[2022-02-09 18:32] alexey-milovidov commented on #34397
@daledude It can also happen if:
- your system is grind to halt (overloaded);
- you have faulty disks that continue to work but do it extremely slow;
- your table have very large records.

[2022-02-09 18:37] 123Lookatme commented on #34470
server. AWS t3.2xlarge instance

[2022-02-09 18:40] UnamedRus commented on #34455
Maybe it should be the default behavior?
How often do we want to see exception in merge/move/mutation in case of missing disk in disk policy?

[2022-02-09 18:48] den-crane commented on #34446
Can you share this avro as a file?

[2022-02-09 19:00] den-crane commented on #34470
is it crashing the same queries, or it random query each time?

[2022-02-09 19:00] den-crane commented on #34470
you mean before upgrade? Which version was before?

[2022-02-09 19:36] a-dot opened #34474 "Breaking a source table row into multiple rows using materialized views"
Is it possible to create two rows in a MV from a single row in a source table?

Example:
Insert in source table:
|when | col_1 | col_2|
|-----|-------|------|
|datetime | val_1 | val_2|

I would like to end up with something like this in the Materialized view:
| when | col_x |
|------|-------|
|datetime | val_1|
|datetime | val_2|

Is it possible to do that? Thanks!!

[2022-02-09 19:38] 123Lookatme commented on #34470
random queries. For example:
[code]
crashes first time and work after server restarts (caused by exception)
Version we were using: `20.8.7.15` had same issue. Update didn't help:
<img width="1249" alt="Снимок экрана 2022-02-09 в 21 33 49" src="https://user-images.githubusercontent.com/7915379/153276695-5cbbef2e-0d21-4305-94a3-b259bc9e2263.png">

Current version:  `22.1.3.7`:
[code]

[2022-02-09 21:02] den-crane commented on #34470
I suggest you to stop EC2 (shutdown) and than start back (in this case your EC2 will start on another hardware server), this will exclude a hardware from the suspicion.

[2022-02-09 21:05] den-crane commented on #34474
Yes it's possible `arrayJoin( [ col_1 , col_2 ] ) `

[code]

[2022-02-09 22:26] filimonov commented on #34397
I observe that sometimes on wide tables (pre 22 versions) with queries like `SELECT *`. I thought it's just reading lot of marks / columns by several threads from different parts. And kill happen only when full block read.

[2022-02-09 22:34] UnamedRus commented on #33267
```version 21.12``` result the same

[code]

[2022-02-09 22:35] filimonov commented on #34023
I don't think it's needed. You can use RawBLOB format instead.

[2022-02-09 22:49] den-crane opened #34477 "SBE message format"
https://real-logic.github.io/simple-binary-encoding/

[2022-02-09 23:04] den-crane commented on #33267
[code]

[2022-02-09 23:50] genzgd commented on #34403
What is your error message?  See https://github.com/ClickHouse/ClickHouse/pull/34472

[2022-02-09 23:57] alexey-milovidov commented on #34455
I want to always get exception if `IF EXISTS` is not specified
to prevent typos.

[2022-02-10 00:44] eni9889 commented on #34470
@den-crane I work with @123Lookatme I have gone ahead and stopped and started the instance. For now looks like the issue is fixed

[2022-02-10 01:37] a-dot commented on #34474
Thanks den-crane, as always!
One follow up question if I may... the array approach is stumping me and I simply can't figure out how to do this. In my first post I gave you a simple example but what I'm trying to do is slightly more complicated.. I want to unfold col1 and col2 but I want to assign val_3 as such:

Before:
|when|col_1|col_2|col_3|
|------|-----|-----|------|
| datetime | val_1 | val_

[2022-02-10 01:50] den-crane commented on #34474
[code]

[code]

[2022-02-10 01:58] a-dot commented on #34474
thank you so much!

[2022-02-10 02:13] xpleaf commented on #34445
@kssenii Ok, I will have a try.

[2022-02-10 02:33] amosbird commented on #34447
You can try using `min_bytes_to_rebalance_partition_over_jbod`.