[2021-06-29 13:43] pakud opened #25815 "DATE_SUB(date, INTERVAL xxx unit) - works, but is not documented"
**Describe the issue**
ClickHouse seems to handle correctly this type of expressions:

- DATE_SUB(NOW(), INTERVAL 1 DAY)
- DATE_ADD(NOW(), INTERVAL 1 WEEK)

handling of this format is in https://github.com/ClickHouse/ClickHouse/blob/a52bba91b776034654a96f88b2b3f81bc6170a83/src/Parsers/ExpressionElementParsers.cpp#L1369 but is not documented in https://clickhouse.tech/docs/en/sql-reference/function

[2021-06-29 14:48] OmarBazaraa opened #25818 "Encountering lots detached parts when using `ALTER .. DELETE`"
After we start deleting data manually from ClickHouse using `ALTER .. DELETE` command, we start facing lots of detached parts with very large sizes that almost fill our storage.

The table we delete from is a `ReplicatedMergeTree` table, and we execute mutation command on a single replica only.

Those are the logs I was able to grab related to one of the detached parts:
[code]

We are using `click

[2021-06-29 15:17] alesapin commented on #25813
:(

[2021-06-29 15:39] let4be commented on #15928
does it mean I cannot properly run clickhouse in docker?
I see the warning as well, what exactly does it mean?

[2021-06-29 15:44] Algunenano opened #25821 "Crash on when shutting down the server with compile_expressions enabled"
Build master/HEAD on fcff8dc3d59808b3410196143c66ae537096949d

Debug build with:
[code]

[code]

**Describe the bug**

The server crashes during shutdown.

Started the server (Note that this is a clean path and default config):
[code]

Launch a stateless tests that uses JIT (on a different tab):

[code]

Once the test has finished, stop the server (Ctrl+C):
[code]

**Does it reproduce on recent re

[2021-06-29 15:45] socketpair commented on #15928
No, You can. The message from the Linux Kernel means that CH uses an ancient API, although it still works.

[2021-06-29 17:13] #24128 closed

[2021-06-29 18:01] alexey-milovidov commented on #18765
Still relevant in 20.8 (master).

[2021-06-29 18:09] chrisgoddard opened #25825 "Unknown table engine / table function s3 when using clickhouse-local"
I'm trying to use clickhouse-local to pull some data from an S3 bucket. The query works fine on Clickhouse Server, but when I run in clickhouse-local I get an error "Unknown table function s3"

[code]

I also tried defining as a table engine and then querying:

[code]

Here I got "Unknown table engine s3".

I'm using version 21.7.1.7136 (official build)

Is s3 not supported at all through clickhou

[2021-06-29 18:25] alexey-milovidov commented on #25825
I've got:

[code]

Which answers the question.

[2021-06-29 18:25] alexey-milovidov commented on #25825
Table engine with Capital letter: S3.
Table function with lowercase letter: s3.

[2021-06-29 18:35] alexey-milovidov commented on #25825
I also have one thought... maybe you are using clickhouse-local built for non-Linux, where integration with s3 may be disabled.

[2021-06-29 18:38] alexey-milovidov commented on #25821
If you switch to prebuilt binary, does it still reproduce?

[2021-06-29 18:43] alexey-milovidov commented on #25821
I've successfully reproduced it on my machine with build from master.

[2021-06-29 18:51] chrisgoddard commented on #25825
Ah that must be it - I'm using it on OSX. I tried both upper and lower case for both.

Just out of interest, why is that disabled in the MacOSx binary?

[2021-06-29 19:07] vzakaznikov commented on #23157
We add table dependency here https://github.com/ClickHouse/ClickHouse/blob/master/src/Storages/LiveView/StorageLiveView.cpp#L275 and we should probably do it at https://github.com/ClickHouse/ClickHouse/blob/master/src/Storages/LiveView/StorageLiveView.cpp#L413.

[2021-06-29 19:11] vzakaznikov commented on #23157
In MV we do it at https://github.com/ClickHouse/ClickHouse/blob/567f6a2b6f34e98aa1d8c0cc5f5ea049ae99f669/src/Storages/StorageMaterializedView.cpp#L129 which is also in the constructor. @alexey-milovidov, when are tables considered to be alive? I don't think it is inside the constructor so it most likely means that MV can suffer from the same problem. @KochetovNicolai?

[2021-06-29 19:44] alexey-milovidov commented on #25825
Most likely it is just not configured for build, but can be added easily.

[2021-06-29 19:44] #25825 closed

[2021-06-29 20:08] SaltTan commented on #25611
Duplicate https://github.com/ClickHouse/ClickHouse/issues/24024?
Does it work on 21.5.7?
You can disable `query_plan_filter_push_down` as a workaround.

[2021-06-29 20:13] alexey-milovidov commented on #25611
Works perfect on 21.8.

[2021-06-29 20:13] #25611 closed

[2021-06-29 20:56] SaltTan opened #25836 "GET_PART tasks are getting postponed for a long period of time"
After a separate pool for background fetches was implemented, some task get stuck in the queue for a long time even though there are threads available in the pool.

Here is an example:
[code]
There was plenty of opportunities to run the task earlier.
Here is the whole the queue, it was not long at all:
[code]
It seems to me that GET_PART tasks always get postponed by 10 minutes unless another part

[2021-06-29 21:17] SaltTan commented on #25724
I insert into SummingMergeTree directly.
I don't group_by on insert, because I need to push data through quickly.
I vote for 'fast' by default.

[2021-06-29 22:14] den-crane commented on #25836
I marked this major because this serious issue and it made some users to downgrade.

[2021-06-29 22:44] alexey-milovidov commented on #15609
darlinghq/darling#986

[2021-06-29 22:47] #25821 closed

[2021-06-29 23:32] den-crane commented on #25818
20.10 is out support. Supported versions are 21.3, 21.5, 21.6.
You need to upgrade at least to the latest bugfix release 20.10.7.4

[2021-06-29 23:41] vzakaznikov commented on #23157
@loyd, thanks for the bug report! I apologize that it took so long from my side to fix it.

[2021-06-29 23:42] vzakaznikov commented on #23157
The same bug was present in MVs.

[2021-06-29 23:45] den-crane commented on #25811
Result is different because functions are different.

sum = 0, avg = nan, because avg = sum(0)/count 0 = nan.

you can enable ANSI behavior, it disabled by performance reasons.
--aggregate_functions_null_for_empty arg                         Rewrite all aggregate functions in a query, adding -OrNull suffix to them

[code]

unfortunately it does not work for quantiles

[code]

[2021-06-29 23:52] den-crane commented on #25661
Replication depends on ZK path and macros (ReplicatedMergeTree(zk_path)).
You need to have 2 sets of macros shard.

Please provide EXACT command `create table t on cluster 3shards_1replicas (...) engine = ReplicatedMergeTree(...) `
and `select * from system.macros` from all 4 nodes.

[2021-06-30 01:35] HavAnIdea commented on #25661
local table DDL like ' create table t on 3shards_1replicas (columns) engine = ReplicatedMergeTree('clickhouse/table/{shard}/default/t', {replica}) '
A,B,C,D four nodes have the same macros (shard and replica), but different value

A shard = 01, replica = 01
B shard = 01, replica = 02
C shard = 02, replica = 01
D shard = 02, replica = 02

only 2shards_2replicas's macros , no 3shards_1replicas's mac

[2021-06-30 02:08] HavAnIdea opened #25843 "Use JDBC to insert a distributed table, and the local engine is a replicatedMergeTree, and the number of data items is always inconsistent."
Now there are 4 CK servers A, B, C, D  the cluster's configuration like (2shards_2replicas: s1{A,B}, s2{C,D})

local table DDL :
create table t on 3shards_1replicas (columns) engine = ReplicatedMergeTree('clickhouse/table/{shard}/default/t', {replica})

I used JDBC to insert a distributed table, and the local engine is a replicatedMergeTree.

First,
[code]
When `buffer` has more than 4096 identica

[2021-06-30 03:31] den-crane commented on #25661
forget about `on cluster`. `on cluster` is a simple helper to execute queries on each node. It has no relation to replication.

remote_servers section -- aka cluster description has 0 ZERO relation to replication.

You need to define one more macro and name it for example myshardXXX.

A shard = 01, replica = 01, myshardXXX=01
B shard = 01, replica = 02, myshardXXX=02
C shard = 02, replica = 01, my

[2021-06-30 03:31] #25661 closed

[2021-06-30 04:27] compasses commented on #25733
Hi, @KochetovNicolai  do you have any idea or any clue?

[2021-06-30 06:13] smbanaie commented on #7611
Hi ,
Can you share your final solution. I stuck here !

[2021-06-30 06:30] F0XMa5t3r commented on #24516
Colleagues, is there any progress in resolving this issue?

[2021-06-30 06:51] chaiyongc commented on #9855
![image](https://user-images.githubusercontent.com/45169333/123914986-9741a580-d9b2-11eb-8dc1-272161731ac5.png)
Is it fixed now?Mine can succeed

[2021-06-30 07:44] kssenii commented on #24516
Sorry, it was stopped. I'll continue with it this week.

[2021-06-30 07:54] #24209 closed

[2021-06-30 07:58] baofengzhouyu commented on #21622
Did you solved this problem ？ I had  the same problem !

[2021-06-30 08:49] kullanici0606 opened #25848 "Max vs Order by desc limit 1"
I have a table where I need to query current maximum value constantly. Therefore I tried to use `max` aggregate function and even though it runs on a sorting key column, it looks like it is scanning all the rows. However, when I change the query to `order by column desc limit 1`, it returns a lot faster. Is it the expected behaviour or am I doing something wrong?

Clickhouse version: 21.4.6.55-2

[2021-06-30 08:55] mkocztorz opened #25853 "Aggregated measurements have higher values in Materialized View than in the table which it built on"
**Describe the unexpected behaviour**

When connecting to one node and performing inserts on Distributed table the data in Materialized View do not match aggregated values from original table, but only on a shard where the inserts are NOT done.

We have four nodes:
- Shard 1 Replica 1
- Shard 1 Replica 2
- Shard 2 Replica 1
- Shard 2 Replica 2

I have Distributed table `events` designed for writes

[2021-06-30 09:58] Algunenano opened #25855 "ANTLR parser: Missing column when casting with Postgresql style cast"
**Describe the bug**

When using the antrl parser, using CAST on a column works:

[code]

But using `::` doesn't:

[code]

Although the queries reported back by the backend are the same, the second one throws an exception.

**Does it reproduce on recent release?**

* master/HEAD: KO
* v21.7.1.7020-testing: KO
* v21.6.5.37-stable: KO

**Expected behavior**

Both queries should work the same way (sa

[2021-06-30 10:48] l1t1 commented on #24075
does x86 version 21.7 works well

[2021-06-30 12:24] gjaehrling opened #25864 "S3 DB::Exception: The type "null" of an input column not supported for conversion from a Parquet data format"
### SELECT queries from S3 with WHERE condition not working for Parquet input-files
I'm trying to use clickhouse on S3 buckets with Parquet data. The following create statement was used:

`CREATE TABLE s3_sensor_data_2 (LogID Nullable(String), LoggingTime Nullable(Datetime), LoggingValue Nullable(Float)) ENGINE = S3('https://s3.eu-central-1.amazonaws.com/bucket/*.parquet', 'Parquet');`

I'm able t

[2021-06-30 12:34] UnamedRus opened #25865 "USER/ROLES comments"
**Use case**
Have ability to add comment's to user/roles

**Describe the solution you'd like**

[code]

[2021-06-30 13:12] alexey-milovidov commented on #15609
Cool:

[code]

[2021-06-30 13:14] alexey-milovidov commented on #15609
[code]

[2021-06-30 13:18] bugaevc commented on #15609
Any idea if this is a bug on our side or yours? (I.e. is this ClickHouse running into a bad instruction, or some Darling library?)
Do you have a stack trace?

[2021-06-30 13:18] #25512 closed

[2021-06-30 13:19] #19703 closed

[2021-06-30 13:19] #20221 closed

[2021-06-30 13:19] #23183 closed

[2021-06-30 13:19] #24901 closed

[2021-06-30 13:19] #25044 closed

[2021-06-30 13:19] #12483 closed

[2021-06-30 13:19] #17994 closed

[2021-06-30 13:19] #18121 closed

[2021-06-30 13:19] #18391 closed

[2021-06-30 13:19] #19028 closed

[2021-06-30 13:41] filimonov opened #25873 "centos7 pidfile location systemd service vs init.d"
[code]

[code]

[code]

[code]

[2021-06-30 13:55] bugaevc commented on #15609
[code]

[2021-06-30 13:55] filimonov commented on #25873
Not sure if it's a bug and how to fix it currently.

[2021-06-30 13:58] bugaevc commented on #15609
`PTHREAD_INTERNAL_CRASH(res, "__psynch_mutexdrop failed");` → our bug. Let me file an issue over at our repo.

[2021-06-30 14:02] xjewer commented on #19627
Lightweight deletes: https://github.com/ClickHouse/ClickHouse/pull/24755

[2021-06-30 15:40] jaumeNPAW opened #25882 "DELETE/UPDATE IN PARTITION not working"
Hi, I'm trying to delete some data from a table, for a specified partition. This is the ALTER QUERY:

`ALTER TABLE events_table DELETE IN PARTITION 20210626 WHERE (id = 20790) AND type = 'ERROR'`

The mutation is still checking all the partitions from the table as you can see in the below:

`> select * from system.mutations where is_done = 0\G

Row 1:
──────
database:                   default
tab

[2021-06-30 15:58] den-crane commented on #25882
IN PARTITION is applicable to only REPLICATED tables.

[2021-06-30 16:01] jaumeNPAW commented on #25882
Is it planned to add it to non-replicated tables?

[2021-06-30 16:05] jaumeNPAW opened #25883 "Add IN PARTITION clause for non-replicated tables"
I would like to have IN PARTITION clause available for non-replicated tables, in order to perform mutations only to specified partition/partitions.

[2021-06-30 16:12] den-crane commented on #25882
No idea.
It almost has no sense for non-replicated tables. IN PARTITION was implemented to reduce impact on Zookeeper.

Mutations does not read/write not-related parts. Mutations just clone parts using hardlinks.

[2021-06-30 16:37] alex-zaitsev commented on #25882
Yes. See https://github.com/ClickHouse/ClickHouse/pull/21326

[2021-06-30 16:48] stergiotis opened #25885 "ARRAY JOIN in Materialized View yields empty values"
**Describe the bug**

A materialized view similiar to the one below does insert rows with all columns populated from array values filled with the default values (empty string, 0 uint64).
[code]

**Does it reproduce on recent release?**

Yes (Version 21.6)

**How to reproduce**

Version 21.6.1.6689 on Linux amd64 (official build)

**Expected behavior**

I could not find any mentioned limitation of

[2021-06-30 17:10] Hanna-Kuzub commented on #21101
Hi @kitaisreal
We still have problems with dictGetFloat64 - ClickHouse doesn't start
Could you please give us any update about this case?

[2021-06-30 17:18] #7994 closed

[2021-06-30 17:20] jirisamek opened #25887 "Command-line client: Show actual database name in shell prompt"
**Use case**
I am using ClickHouse command line client to connect to ClickHouse cluster  with multiple databases. When executing SQL commands I would like to easily see in which database they are being executed.

**Describe the solution you'd like**
I would like to have database name shown in the prefix of the command prompt.

[2021-06-30 17:50] den-crane commented on #25887
it's already implemented

check /etc/clickhouse-client/config.xml

[code]

[2021-06-30 17:52] den-crane commented on #25887
Though it has a bug. If default database is not names default.

[code]

[2021-06-30 18:40] den-crane commented on #25885
cannot reproduce. Can you provide repro?

[code]

[2021-06-30 18:44] den-crane commented on #25885
21.6.1 is obsolete. use 21.6.5.37

[2021-06-30 20:41] #17151 closed

[2021-07-01 00:03] den-crane commented on #25848
it is the expected behaviour.

ORDER BY is optimized to use matching index / table order. MAX is not optimized.

[2021-07-01 00:03] #25848 closed

[2021-07-01 05:07] l1t1 commented on #24075
I run sql above on centos7 vm on windows7 x86_64, it has the same performance problem.
on 21.1.1     0.8 s
on 21.6.5.37   2.5s

for 21.1 doesn't support UInt64 join to UInt8, I fixed the sql as following

with
taggs as (select toUInt8(number)  agg from numbers(20+1)),
tage1s as (select toUInt8(number)  age1 from numbers(100+1)),
td6s as (select toUInt8(number)  d6 from numbers(58+1)),
td4s as (sel

[2021-07-01 05:09] l1t1 commented on #24075
21.1
![VirtualBox_centos7_01_07_2021_12_26_55](https://user-images.githubusercontent.com/23301704/124068624-6d00ee00-da6d-11eb-97bf-35b15ceb81fd.png)
 21.6
![VirtualBox_centos7_01_07_2021_12_55_53](https://user-images.githubusercontent.com/23301704/124068648-768a5600-da6d-11eb-8a48-917b7ca84a7f.png)

[2021-07-01 05:19] l1t1 commented on #25224
pls check https://github.com/ClickHouse/ClickHouse/issues/24075

[2021-07-01 05:38] l1t1 commented on #24075
21.4.7.3 is no problem
21.5.7.9 is no problem

[2021-07-01 05:50] fantastic2085 opened #25890 "The slack link of the Clickhouse is invalid. The Clickhouse community can send an effective link"
Make sure to check documentation https://clickhouse.yandex/docs/en/ first. If the question is concise and probably has a short answer, asking it in Telegram chat https://telegram.me/clickhouse_en is probably the fastest way to find the answer. For more complicated questions, consider asking them on StackOverflow with "clickhouse" tag https://stackoverflow.com/questions/tagged/clickhouse

If you st

[2021-07-01 05:57] l1t1 commented on #24075
21.7.1.7283 has this problem

[2021-07-01 06:01] kullanici0606 commented on #25848
Thanks for the answer Denny.

[2021-07-01 06:04] jirisamek commented on #25887
I see, perfect. Thank you for the quick reply.

[2021-07-01 06:04] #25887 closed

[2021-07-01 06:05] l1t1 commented on #24075
![VirtualBox_centos7_01_07_2021_13_32_32](https://user-images.githubusercontent.com/23301704/124073962-5ced0c80-da75-11eb-963f-5c3e44e619be.png)
![VirtualBox_centos7_01_07_2021_13_37_42](https://user-images.githubusercontent.com/23301704/124073975-61192a00-da75-11eb-9094-657a74cdddc6.png)
![VirtualBox_centos7_01_07_2021_13_56_31](https://user-images.githubusercontent.com/23301704/124073984-637b840

[2021-07-01 08:17] ygnuss commented on #25811
Ok, thanks for your explanation @den-crane!!

One question. You've said `aggregate_functions_null_for_empty` is disabled by default due to performance reasons. The performance hit is due to having to rewrite the query or due to using -OrNull suffix?

Thanks!!

[2021-07-01 10:01] sasha-moiseenko commented on #6260
if somebody is running into this error I found cause of this issue in syslog (ubuntu 20.04), but not in dmesg:
kernel: [  123.578583] Out of memory: Killed process 4211 (clickhouse-clie) total-vm:23408928kB, anon-rss:14246608kB, file-rss:0kB, shmem-rss:0kB, UID:0 pgtables:28752kB oom_score_adj:0

[2021-07-01 10:31] DipalPrajapati commented on #25673
I am also facing the same issue.

[2021-07-01 12:26] den-crane opened #25891 "clickhouse-client shows "default" (incorrect) database name in the prompt"
[code]

now: `default@localhost :)`
expected: `dw@localhost :)`

[2021-07-01 12:30] den-crane commented on #25811
Nullable types are slower than not Nullable.
`aggregate_functions_null_for_empty` produces Nullable types.

[2021-07-01 12:34] den-crane opened #25892 "Error if quantiles is used with aggregate_functions_null_for_empty"
[code]

[2021-07-01 13:23] zxc111 commented on #11333
hi @alexey-milovidov
I find `rand()` is based `IFunction`, but `now()` is based `IExecutableFunction` and return `createColumnConst` as result.
So the check in  [checkKeyExpression](https://clickhouse.tech/codebrowser/html_report/ClickHouse/src/Storages/MergeTree/MergeTreeData.cpp.html#281) is not work.(I'm not sure).
What should we do, change `now()` function to be based `IFunction` or any idea?

[2021-07-01 13:32] TheAlexCH opened #25896 "MaterializeMySQL wrong values replicated"
I have been getting wrong data in Clickhouse when working with MaterializeMysql database engine. It affects one particular field only that is decimal (32,8) and contains a financial amount (like money, crypto, etc.). I know it is experimental but

The replication works perfectly when I drop the database on Clickhouse and recreated it from scratch (initial replication). The only time the values go

[2021-07-01 13:38] tavplubix commented on #25896
Probably related to #16265, #19597

[2021-07-01 13:48] TheAlexCH commented on #25896
To reproduce all one has to do is add couple hundred million rows into a table with decimal fields and non decimal fields. synchronize it **while the mysql table is standing still** and then when replication is up and **synced**, start heavily inserting values into the mysql table (100k a minute+). This is what I do and so far, without exception, always had a lot of weird values. Did it over 5 tim

[2021-07-01 13:50] TheAlexCH commented on #16265
@liangli1213 did you get any resolution for this? Avoiding datatype Decimal is hopefully not the solution as we cannot do that.

[2021-07-01 14:05] q0987 opened #25897 "clickhouse-local stops working on 21.4.6.55"
Hello all,

I cannot run clickhouse-local anymore on version 21.4.6.55 but I can run it without any issue on version 18.6.0.

Question 1> What is the issue here and How I can fix it?

Question 2> Why the clickhouse-local requires to write into config.xml?

Thank you

[code]

=============================
[code]

[2021-07-01 14:32] wangzhen11aaa opened #25898 "Code: 529. DB::Exception: Received from localhost:9000. DB::Exception: DROP PART|PARTITION cannot be done on this replica because it is not a leader."
You have to provide the following information whenever possible.

Two replicas both can not drop partition via "alter table xxx drop partition id 'xxxx'

A clear and concise description of what works not as it is supposed to.

**How to reproduce**

* Which ClickHouse server version to use
* 21.4.1 (21.3.3.14 lts)
*
* Which interface to use, if matters

(CONNECTED [localhost:2181]) /> get /clickhou

[2021-07-01 15:24] stergiotis commented on #25885
I am terribly sorry, haven't been able to reproduce on dev machine so far. I am speculating that it might be an edge case when bloom-filter indices and LowCardinality is involved.

Will upgrade the production system and re-open a fresh bug if still relevant.

Many thanks for your support and the great DB, love it!

[2021-07-01 15:24] #25885 closed

[2021-07-01 15:47] #25898 closed

[2021-07-01 18:02] TemaSpb opened #25901 "Datetime64 invalid range specified"
https://clickhouse.tech/docs/en/sql-reference/data-types/datetime64/

On this page stated that:

but DateTime64 has the same supported range as Datetime type ([1970-01-01 00:00:00, 2105-12-31 23:59:59]).
Is it a bug or incorrect documentation?

[2021-07-01 18:03] alexey-milovidov commented on #25897
TLDR: run `clickhouse-local` from another directory, without `config.xml`.

You are running `clickhouse-local`, it looks for a config in current directory. You are running it inside a directory where the server's config is located. But `clickhouse-server` config does not make sense for `clickhouse-local`.

In most cases `clickhouse-local` does not need any config at all.

[2021-07-01 18:10] den-crane commented on #25901
ClickHouse release 21.4.1 2021-04-12
New Feature
    Extended range of DateTime64 to support dates from year 1925 to 2283.

[code]

[2021-07-01 18:11] #25901 closed

[2021-07-01 18:11] q0987 commented on #25897
This is not true. I didn't run clickhouse-local from a directory where it has config.xml.

[2021-07-01 18:13] alexey-milovidov commented on #25897
But it managed to find
`Processing configuration file 'config.xml'.`
anyhow.

Type `ls -l` in the current working directory.

[2021-07-01 18:18] jiegui-2021 commented on #21075
We got the same issue too here. After changing from '=' to 'IN', the query performance increase from 3 seconds to 36 seconds, selected marks increased from 157033 to 1728526, 10x downgrade.  Really hope this bug can be prioritized and fixed earlier.
This defined as below. Column A is part of ORDER BY, and its value can only be 0 or 1.
CREATE TABLE MyDB.MyTable_Local
(
              … --column list

[2021-07-01 18:37] q0987 commented on #25897
@alexey-milovidov You are right. By accident, my home directory does have a copy of the config.xml. Thank you very much!

[2021-07-01 18:54] Jack012a opened #25905 "Code: 33. DB::Exception: Cannot read all data. : data for INSERT was parsed from stdin"
Hello all,

We have a process that is used to import data of RowBinary into ClickHouseDB.

For example,

`$ cat abc.rowbinary | clickhouse-client --query="insert into default.test FORMAT RowBinary"`

It has been working fine without issues. However, this morning, it crashed and reported the following errors:

I manually checked the abc.rowbinary with clickhouse-local and the file looks fine. After

[2021-07-01 19:00] #25897 closed

[2021-07-01 19:23] den-crane commented on #25905
Bit-rot? https://en.wikipedia.org/wiki/Data_degradation Does your server have ECC memory?

Clickhouse version?

[2021-07-01 19:30] #25890 closed

[2021-07-01 19:51] q0987 commented on #25905
$ clickhouse-client --version
ClickHouse client version 21.4.6.55 (official build).

$ clickhouse-server --version
ClickHouse server version 21.4.6.55 (official build).

[2021-07-01 22:48] den-crane commented on #25905
1 Can you show column types `desc default.test` ?
2 What is the average size of  abc.rowbinary files?
3 How many files for you load per day in average?
4 Do you load several files in parallel?

[2021-07-01 23:11] alexey-milovidov commented on #8684
This task is worth doing, but I'm slightly afraid that someone will argue about performance degradations in some cases.
Let's introduce another setting `optimize_move_to_prewhere_if_final`, zero by default.

If query has FINAL, the optimization "move to PREWHERE" will be enabled only if both `optimize_move_to_prewhere` and `optimize_move_to_prewhere_if_final` are enabled.

So, it will be safe by d

[2021-07-01 23:16] alexey-milovidov commented on #5056
@akuzm has added this option a year ago: #11616.

Unfortunately:
- it was added without a note in changelog;
- it is named `--continue_on_errors` instead of `--ignore-error`;
(this is quite chaotic change, my apologies)

Example:

`clickhouse-benchmark --query "SELECT throwIf(1)" --continue_on_errors`

[2021-07-01 23:16] #5056 closed

[2021-07-01 23:19] alexey-milovidov commented on #25855
@Algunenano I'm wondering why do you use ANTLR parser? What are the benefits?

[2021-07-01 23:21] alexey-milovidov commented on #24158
No info.

[2021-07-01 23:31] Algunenano commented on #25855
I don't use it. I only discovered this because the CI complained about this while working on other things (https://github.com/ClickHouse/ClickHouse/pull/25714). To be honest I did try the Antrl parser + conversion from new to old for a different project and saw that it was ~10x slower so I wouldn't mind if it was removed tomorrow.

[2021-07-02 00:57] q0987 commented on #25905
1> Sorry, I cannot.

2> Each file is around 400MB

3> ~4000 files
But the issue happened on the first file of the day and the server at the time is idle.

4> we only insert one file at a time.

5> 250GB memory

I only got the following:
thread(MemoryTracker*, unsigned long)+0x1fa) [0x4190dfa]
thread(MemoryTracker*, unsigned long)+0x1fa) [0x4190dfa]
thread(MemoryTracker*, unsigned long)+0x1fa) [0x4

[2021-07-02 02:55] ys-zhaoyh opened #25911 "about bloom_filter"
May I ask, who can briefly introduce the realization principle of bloom_filter,not Bloom filter.

[2021-07-02 02:58] alexey-milovidov commented on #19897
At least it works:

[code]

[2021-07-02 03:00] alexey-milovidov commented on #19897
But all found races are meaningless: 26 in jemalloc and 1 in libcxx.

[2021-07-02 03:02] alexey-milovidov commented on #19897
https://drive.google.com/file/d/1yJgnxET6aopNj33TxpJlghP9BYNAf4F3/view?usp=sharing

[2021-07-02 03:03] alexey-milovidov commented on #19897
@funemy Maybe there are no data races in ClickHouse :)
But also there is a chance that Coderrect did not process it correctly.

Could you please check if I did evertything correct?

[2021-07-02 03:36] den-crane commented on #25905
1 column types? Even without names?

[2021-07-02 05:24] ubyyj commented on #15121
hit same issue here, though I am using version 21.4.5.46

[2021-07-02 08:25] #9958 closed

[2021-07-02 09:32] #11607 closed

[2021-07-02 10:34] chengchengxiao commented on #4292
After Remove incl="zookeeper-servers" optional="true" part from zookeeper tag , now is ok?  I had the same problem but  I didn't have this  part

[2021-07-02 12:31] q0987 commented on #25905
Date, DateTime, String, UInt64, String, String, String, Float64, Float64, UInt8, UInt8, UInt8, Float64, ..., UInt8

ENGINE = MergeTree PARTITION BY date

Thank you

[2021-07-02 12:36] #24035 closed

[2021-07-02 13:52] alesapin commented on #25883
Hi! Unfortunately, it's almost impossible because of the differences between MergeTree and ReplicatedMergeTree. In Replicated tables in each partition, we have different block numbers, while in non-replicated tables we have single block numbers counter for all partitions. Mutations rely on block number allocation, so that is why `IN PARTITION` implemented only for Replicated table.

[2021-07-02 13:56] AllanLeanderRostockHansen opened #25916 "Histograms & group by would be useful together"
**Use case**
[Histograms](https://clickhouse.tech/docs/en/sql-reference/aggregate-functions/parametric-functions/#histogram) are useful for  examining the distribution of a variable, but it's often interesting to compare several the distributions of a variable filtered by some other variable, which groupby is really useful for.
Combining the `histogram`-function with `group by` could be immensely

[2021-07-02 14:00] excitoon commented on #17317
1. It is not a constant memory usage, but it is 8x for few first blocks only.
2. It was caused by wrong block size prediction which did not account for DEFAULT columns.

[2021-07-02 16:29] funemy commented on #19897
Hi @alexey-milovidov,
as far as I remember, you just got the same result as I did months ago :).

Yes, that's true. It's highly possible coderrect missed some code paths thus missed some data races.

I no longer work for Coderrect, but I've handed over this thread to the people there.
There should be someone to connect you with the newest updates in Coderrect soon.

Best of luck :)

[2021-07-02 17:54] #6481 closed

[2021-07-02 19:17] alexey-milovidov commented on #14582
Fixed in https://github.com/ClickHouse/ClickHouse/pull/21760.

[2021-07-02 19:17] #14582 closed

[2021-07-02 20:43] #8159 closed

[2021-07-02 22:18] #25892 closed

[2021-07-02 23:17] alexey-milovidov commented on #25585
You have `myDB` for `myDB.TestTable` and `myDB.TestTable_buffer`
but for the destination table you have `myDb`.

Database names are case sensitive.

[2021-07-02 23:18] #25585 closed

[2021-07-02 23:20] alexey-milovidov commented on #25585
[code]

[2021-07-02 23:27] alexey-milovidov commented on #23213
It does not work, because absolute paths are used in symlinks.
You have to update symlinks manually.

[2021-07-02 23:27] #23213 closed

[2021-07-02 23:30] alexey-milovidov commented on #17045
`Cannot open file /var/run/clickhouse-serve r/clickhouse-server.pid`

For some reason you have whitespace in directory name: `clickhouse-serve r`
It is also possible that you have copied the message incorrectly.

Check the path and access rights.

[2021-07-02 23:30] #17045 closed

[2021-07-02 23:34] alexey-milovidov commented on #11005
Closing as no one bothered.

[2021-07-02 23:34] #11005 closed

[2021-07-02 23:35] alexey-milovidov commented on #24281
No info.

[2021-07-02 23:37] #24057 closed

[2021-07-02 23:41] alexey-milovidov commented on #24396
`SELECT * FROM remote('127.0.0.{1,2}', numbers(10)) ORDER BY number + 1 ASC LIMIT 1 BY number`

[2021-07-02 23:44] traceon commented on #25800
If bind succeeds - yes.

[2021-07-02 23:56] alexey-milovidov commented on #21558
@kitaisreal FYI it is related to type inference in KeyCondition.
KeyCondition may think that `data` has Array type while in fact it is unnested by ARRAY JOIN.

[2021-07-02 23:58] alexey-milovidov commented on #21469
It reproduces not only in Arcadia.
I've reproduced it on version 21.8 (master).

[2021-07-03 00:02] alexey-milovidov commented on #21469
Minified example:

[code]

[2021-07-03 00:27] alexey-milovidov commented on #15170
#13359

[2021-07-03 01:15] alexey-milovidov opened #25925 "Review and possibly integrate codecs for floating point data"
Example from Acumuli, author @Lazin, license Apache 2.0:

https://github.com/akumuli/Akumuli/blob/master/libakumuli/storage_engine/compression.h
(search FCM and DFCM)

[2021-07-03 01:53] #25533 closed

[2021-07-03 03:17] filimonov commented on #25523
That should help to avoid the problem

[2021-07-03 06:40] #24516 closed

[2021-07-03 11:50] #14298 closed

[2021-07-03 11:50] #17799 closed

[2021-07-03 11:51] #25594 closed

[2021-07-03 11:55] #17861 closed

[2021-07-03 15:03] #25836 closed

[2021-07-03 15:26] #24730 closed

[2021-07-03 17:43] hiepxanh commented on #21740
I already find any possible posts about Clickhouse and Kafka and I still cannot understand this error or find a way to fix it, I'm really desperated, can someone help me to resolve this error?
I have the same config above, I insert to CH and other kafka application get it but once I insert data from other source, the row select return 0 rows and have this error

[2021-07-03 18:03] den-crane commented on #25853
[code]

Please share `select * from system.settings where changed`.

Distributed table repeats insertion on failure automatically. Though with default settings it should not be a problem.
Check CH logs at the node that you use for insertion.

[2021-07-03 18:07] den-crane commented on #25811
quantiles has been fixed https://github.com/ClickHouse/ClickHouse/pull/25919

[2021-07-03 18:07] #25811 closed

[2021-07-03 18:14] lucasguo opened #25953 "Is it possible to change zkpath for a ReplicatedMergeTree table?"
At first I have created a distributed table (let us name it **table_A**). And then I decided to move the data to a ReplicatedMergeTable. I did it as below:

`create table table_B as table_A engine=ReplicatedMergeTree('/clickhouse/tables/01/{database}/{table}', '{replica}');`
`insert into table_B select * from table_A;`

So far so good. After that, I drop the distributed table and rename the new on

[2021-07-03 18:25] den-crane commented on #25905
I've realized that the error happened in clickhouse-client and is not related to server.

[2021-07-03 18:34] den-crane commented on #25953
There is no good solution. ZK does not allow to rename znodes.
You can manually fix table_A.sql file in metadata folder.

This is impossible situation in the latest CH versions. Because CH now expand {database}/{table} macros on create command, so in the table's metadata (.sql) will be real name table_B, instead of {table} macro.

Also the latest CH versions allow to use Atomic databases and uuid

[2021-07-03 18:36] den-crane commented on #25664
Short answer: No.

[2021-07-03 18:36] #25664 closed

[2021-07-03 18:41] den-crane commented on #25613
@yanhuqing666 What CH version do you use? I believe it's  multi-threaded now.

[2021-07-03 18:42] den-crane commented on #25534
In some sense yes.

[2021-07-03 18:42] #25534 closed

[2021-07-03 18:48] den-crane commented on #25587
Per node.

But it's very average recommendation.  Probably if you have 4CPU/16GB RAM/1 HDD server this sentence is true.
If you have NVME disks and 64 CPU and do more inserts per second per server.

[2021-07-03 18:48] #25587 closed

[2021-07-03 18:50] den-crane commented on #25457
Check this https://den-crane.github.io/Everything_you_should_know_about_materialized_views_commented.pdf
slides 9, 34-38

[2021-07-03 18:50] #25457 closed

[2021-07-03 19:00] #25401 closed

[2021-07-03 19:06] den-crane commented on #25429
it's actually http_connection_timeout and =1 second

[code]

try

[code]

[2021-07-03 19:08] den-crane commented on #25429
20.8.3.18 is obsolete. Upgrade to 20.8.18.32 .

[2021-07-03 19:14] den-crane commented on #25121
There is a feature for Replicated tables  update-in-partition https://clickhouse.tech/docs/en/sql-reference/statements/alter/partition/#update-in-partition

Also CH changes only names of the parts, so you can deduce using part name and checksums.txt that part is unchanged, just renamed.

[2021-07-03 19:14] #25121 closed

[2021-07-03 19:23] den-crane commented on #24864
How you managed to create history_replace? Because this path already  exists `'/clickhouse/tables/{shard}/RTDC/history_replace', ` ?

[2021-07-03 19:23] #24831 closed

[2021-07-03 19:25] #25532 closed

[2021-07-03 20:21] #20091 closed

[2021-07-03 20:24] alexey-milovidov opened #25961 "Fuse some aggregate functions, part 2."
Continuation of #20091

If query has multiple `quantile` aggregate functions with the same arguments but different level parameter:
[code]

Rewrite it to
[code]

So the aggregation will share the state.
This should be applied to every type of quantile calculation algorithm (quantile, quantileDeterministic, quantileTiming, quantileTDigest, quantileTDigestWeighted, quantileExact, quantileExactWeight

[2021-07-03 20:27] alexey-milovidov commented on #17484
It started to work, but it is not perfect:

[code]

[2021-07-03 20:28] alexey-milovidov commented on #17484
See the ugly `99%1` at the end of line:

![Screenshot_20210703_232727](https://user-images.githubusercontent.com/18581488/124366160-45b94500-dc56-11eb-930f-d469545a748a.png)

[2021-07-03 20:31] alexey-milovidov commented on #15090
The task is done. Auth and ACL are implemented. Log and snapshot conversion is also implemented.
`clickhouse keeper` is ready for evaluation.

[2021-07-03 20:31] #15090 closed

[2021-07-03 20:33] alexey-milovidov commented on #13460
Done!

[2021-07-03 20:33] #13460 closed

[2021-07-03 20:37] alexey-milovidov commented on #9140
It will be much easier to use `posix_fadvise` and `POSIX_FADV_DONTNEED`.

[2021-07-03 20:40] alexey-milovidov commented on #6874
This task remains as a research topic, but currently there is no demand for it.

[2021-07-03 20:40] #6874 closed

[2021-07-03 20:41] alexey-milovidov commented on #6584
Cancelled in favor of SQL/JSON support: #24148

[2021-07-03 20:41] #6584 closed

[2021-07-03 20:42] alexey-milovidov commented on #6498
This function is needed for web analytics applications.

[2021-07-03 21:10] alexey-milovidov opened #25963 "Unicode normalization/decomposition functions; diacritics removal."
**Use case**
Text preprocessing and matching inside ClickHouse.

**Describe the solution you'd like**
Wrap functions from `icu` library. The functions should work on UTF-8 data.

**Additional context**
See also a sibling task: #17182.

[2021-07-03 22:18] #18965 closed

[2021-07-03 22:21] alexey-milovidov commented on #7461
Makes sense.

We can introduce a setting named `insert_deduplication_token` with String value.
It can be provided by user with unique value on every INSERT.
If it is non empty, we will hash it along with the partition id and the ordinal number of block if data was split to multiple blocks,
and use this hash instead of a digest of data.

Looks easy to implement.

[2021-07-03 22:25] alexey-milovidov commented on #1052
Duplicate of #13953.

[2021-07-03 22:25] #1052 closed

[2021-07-03 22:29] alexey-milovidov commented on #1646
It should be partially solved by:
- WITH clause;
- upcoming support for SQL UDFs.

It is in question should we have a generic macro preprocessor.
I'm against adding syntax-agnostic preprocessor like C-preprocessor, m4 or Jinja into ClickHouse.
But it can be easily implemented in middleware.

[2021-07-03 22:29] #1646 closed

[2021-07-03 22:31] alexey-milovidov commented on #3266
We still don't have normality tests in ClickHouse. This task is worth doing.

[2021-07-03 22:32] alexey-milovidov commented on #15065
This is Ok for 2nd grade coursework: #3266

[2021-07-03 22:36] alexey-milovidov commented on #4424
The only way is to avoid doing `OPTIMIZE`.
You can perform `SELECT ... FROM table FINAL`
or do aggregation with argMax: `SELECT k, argMax(column1, version), ... FROM table`.

[2021-07-03 22:36] #4424 closed

[2021-07-03 22:38] alexey-milovidov commented on #4092
You can get the desired result if you CREATE DICTIONARY or create a table with Join engine, and then do an update with `dictGet` or `joinGet` function.

[2021-07-03 22:38] #4092 closed

[2021-07-03 22:42] alexey-milovidov commented on #4509
So, we need tuple-wise addition and subtraction operators, and also scalar product function and l2Distance, l2Norm and cosineDistance functions.

[2021-07-03 22:47] alexey-milovidov commented on #4633
We already have `hex`/`unhex`, `base64Encode`/`base64Decode`.
`bin`/`unbin` are on the way.

 `base36Encode`/`base36Decode` may be useful (see `GeoHash.cpp`).

Only then we can add generic conv function.

[2021-07-03 22:48] alexey-milovidov commented on #4823
Finaly implemented! #23631

[2021-07-03 22:48] #4823 closed

[2021-07-03 22:53] #25953 closed

[2021-07-03 22:53] #25855 closed

[2021-07-04 02:19] alexey-milovidov opened #25964 "Aggregate function to check if a random process is stationary"
**Use case**
I have a ton of time series, but I want to look only at time series where something is actually changing.
Example: if CPU temperature oscillates around the same mean with the same variance - I don't even want to look at the graph. I just want to look at the "interesting" graphs and create a dashboard of the most interesting graphs.

**Describe the solution you'd like**
An aggregate or

[2021-07-04 02:41] alexey-milovidov commented on #25964
A ton of good stuff: https://www.statsmodels.org/stable/tsa.html

[2021-07-04 04:44] lucasguo commented on #25953
Thanks for your fast response! After changing the table_A.sql under /clickhouse/metadata/default/ by replacing the {table} macro to the real table name,  and restarting the clickhouse service, everything goes fine now.

[2021-07-04 05:00] wangqinghuan1993 opened #25967 "What's the max precision of datetime64"
Hi
 I do not get the decription of max precision datetime64 supports in [Datetime64](https://clickhouse.tech/docs/en/sql-reference/data-types/datetime64/) . Could you tell me or enrich [Datetime64](https://clickhouse.tech/docs/en/sql-reference/data-types/datetime64/) doc about max precision support?

[2021-07-04 05:03] alexey-milovidov opened #25968 "StackBuffer from libunwind, DwarfParser.hpp contains a bug."
**Describe the bug**

It can introduce deadlock when query profiler is enabled.

[code]

[2021-07-04 05:07] alexey-milovidov commented on #25967
Nanoseconds (9 digits after decimal point).

[2021-07-04 05:07] #25967 closed

[2021-07-04 08:33] #8684 closed

[2021-07-04 12:22] UnamedRus commented on #25916
[code]

What is your problem?

[2021-07-04 13:13] awslabspl opened #25971 "CHANGELOG.md wasnt updated. Why?"
The file `CHANGELOG.md` hadnt been updated with whats been changed in new release and so on. Why?

[2021-07-04 13:33] awslabspl commented on #17623
1. Redesign CH to work with systemD ( make starting of CH troubleless ) there are plernty of reports of this indexed in Google.
2. Make log messages meaningfull.
3. Improve dimation

[2021-07-04 14:20] andrey-admin commented on #21101
@kitaisreal hello,
any news about that issue? we have a lot of problems because of this, could you take a look?
thanks.

[2021-07-04 14:23] awslabspl commented on #25873
@filimonov you mean that there are 2 pid files, each for respective init manager? If this is the case, than yes, its a bug, as pidfile stays the same regardless init system.

[2021-07-04 14:32] den-crane commented on #25971
Chanelog is updated with some delay.
Currently the latest stable is 21.6. And changelog has info about 21.6 https://github.com/ClickHouse/ClickHouse/blob/master/CHANGELOG.md#clickhouse-release-216-2021-06-05

[2021-07-04 14:32] #25971 closed

[2021-07-04 14:55] kitaisreal commented on #21101
@andrey-admin, @Hanna-Kuzub, @VKoptev  please provide reproducible example with table and dictionary configuration and clickhouse version. Also please check that dictionary and table is in same database. Thanks.

[2021-07-04 15:19] awslabspl commented on #25971
There was an release today. Its marked as `stable`. Why there is not mentioned in `Changelog`?

[2021-07-04 15:55] #10368 closed

[2021-07-04 16:32] den-crane commented on #25971
Chanelog is updated with some delay.

[2021-07-04 16:45] den-crane commented on #25843
CH does not support transaction. This two line do nothing.
Insert deduplication is a feature https://clickhouse.tech/docs/en/engines/table-engines/mergetree-family/replication/

_Data blocks are deduplicated. For multiple writes of the same data block (data blocks of the same size containing the same rows in the same order), the block is only written once. The reason for this is in case of network

[2021-07-04 16:45] #25843 closed

[2021-07-04 16:49] alexey-milovidov commented on #25971
We don't update changelog for "patch" releases.

[2021-07-04 16:59] #22754 closed

[2021-07-04 19:04] #24606 closed

[2021-07-04 19:05] #25968 closed

[2021-07-04 19:09] #17115 closed

[2021-07-05 02:52] yanhuqing666 commented on #25613
21.6.3.14 ， I open a pr https://github.com/ClickHouse/ClickHouse/pull/25614
maybe there are other better ways to resolve

[2021-07-05 02:56] h6353115 commented on #17623
About Provide alternative for ZooKeeper.

How is the development progress of this function.
Will it be released in advance.

[2021-07-05 03:03] kssenii commented on #17115
**Google data studio:**

![Screenshot from 2021-07-05 06-01-29](https://user-images.githubusercontent.com/54203879/124412172-944e0880-dd56-11eb-8c3b-a482d58fe255.png)

**Before:**
[code]
**Now:**
![Screenshot from 2021-07-05 05-53-42](https://user-images.githubusercontent.com/54203879/124411590-7f24aa00-dd55-11eb-88ac-4973c5a51e1e.png)

[2021-07-05 03:05] shadowDy opened #25983 "Why is the result of the Clickhouse query unstable"
Clickhouse version: 20.12.3

When I execute this SQL query on the distributed table:

41 results are returned.

When I executed it again, I found that 43 results were returned.

After comparison, I found the two missing data and confirmed that the missing data were not inserted during this period; And the two data are on the same slice;

Log in to the corresponding partition to view the log_ ID fi

[2021-07-05 03:42] den-crane commented on #25983
duplicate https://github.com/ClickHouse/ClickHouse/issues/18137
Fixed a long time ago.
You need to upgrade to at least 20.12.8.5 or set `read_backoff_min_latency_ms=0`

[2021-07-05 03:42] #25983 closed

[2021-07-05 04:13] HyaZz opened #25985 "The CH progress was killed by OOM killer"
Recently,our team meets a problem!The length of user's queries is big,even bigger than max_query_size sometime.In addition,some of them are RAM high-consumed including group by,join and so on.Our servers‘ RAM are 256G.The CH version is 20.8.5.45.The cluster have 45 nodes(15 shards & 3 replicas)

The correlative config settings at beginning are as follow:
1.max_query_size (default:256K)
2.max_memor

[2021-07-05 08:02] jaumeNPAW commented on #25883
Hi @alesapin , thank you very much for your reply. Is there some kind of workaround for the mutations to only process 1 partition for non-replicated tables?

[2021-07-05 08:08] shadowDy commented on #25983
How to add or set this parameter, I didn't find this parameter in the document.
thanks~

[2021-07-05 08:09] shadowDy commented on #25983
How to add or set this parameter, I didn't find this parameter in the document.

[2021-07-05 09:11] Bornegio opened #25987 "Force remote execution of function in postgressql funtion"
**Use case**
External databases uses custom functions or extension, so receiving data from that db is impossible (e.g postgis geo types).

**Describe the solution you'd like**
Adding function like literal, that takes string with function and expected response data type as arguments. It sends function and force to execute it on remote db side.

[2021-07-05 09:14] tobiaslins opened #25988 "Dictionary Updates with updateField not working (Postgres)"
**Describe the bug**

I've created an external dictionary with a Postgres source. The table has a `updateAt` column. When Clickhouse tries to refetch the updated columns, Postgres throws an error because the timestamp provided is not valid.

I see following error in clickhouse:
[code]

Is there a way to set a custom date format? it should be either a valid Unix timestamp or Iso timstamp

**How to

[2021-07-05 09:21] #3446 closed

[2021-07-05 09:22] kitaisreal commented on #25988
@tobiaslins please provide part of your dictionary and postgres table configuration for reproducible example.

[2021-07-05 09:30] tobiaslins commented on #25988
Hey @kitaisreal , just added it sorry!

[2021-07-05 09:48] AllanLeanderRostockHansen commented on #25916
Hmm, I think the query that I couldn't get to work had another problem, but thanks for the example of how to do this.

Would you mind if I submit a PR to the docs using the example code that you provided above? I could have used that myself :)
I will of course credit you with the code in the text accompanying text.

[2021-07-05 09:54] UnamedRus commented on #25916
That would be appreciated.

Not needed at all. (Let's keep docs clear)

[2021-07-05 09:57] #25916 closed

[2021-07-05 10:11] EgorKurito opened #25990 "SELECT row of data is too slow"
The following problem occurred in our project, which we cannot solve.
We have a huge data of our logs, and we go to ClickHouse from MongoDB.

Our table is created like this:

[code]

and I'm running a query like so

[code]
this is the result 10 rows in set. **Elapsed: 6.23 sec.**

And second without order, limit and offset:
[code]
this is the result **Elapsed: 7.994 sec.** for each 500 rows of 130

[2021-07-05 10:15] UnamedRus commented on #25987
Related to https://github.com/ClickHouse/ClickHouse/issues/19320

[2021-07-05 10:27] LHertz opened #25991 "extracting pattern A or pattern B in strings got unexpected results"
ClickHouse server version 21.6.5 revision 54448

[code]

How can I select all 'A's that are followed by 'B's OR behind 'C's?
It looks like patterns behind `|` do not work in this function?

Thanks for your attention and help!

[2021-07-05 10:32] Blackmorse commented on #25800
The first one. May it be some additional setting - don't allow users to log in if he has no valid assigned role?

[2021-07-05 10:34] kitaisreal commented on #25990
Hello, @EgorKurito. Such table possibly can show some performance decrease during insert, but selects should be fast.
Can you provide some minimum reproducible syntetic example to check ?
Which version of ClickHouse do you use ? Thanks

[2021-07-05 10:53] kitaisreal commented on #25988
@tobiaslins checked on version 21.6.
Dictionary configuration
[code]
PostgresTable
[code]
ClickHouse send queries to Postgres like :
[code]

Could you please check on version 21.6 if your case will work ? I will check now on 21.3.

[2021-07-05 11:12] zxealous opened #25992 "use ipv4 error"
`2021.07.05 19:06:31.047053 [ 945 ] {} <Error> Application: DB::Exception: Listen [0.0.0.0]:8124 failed: Poco::Exception. Code: 1000, e.code() = 13, e.displayText() = I/O error: Permission denied (version 21.5.5.1)`

The network does not support ipv6, so I set <listen_host>0.0.0.0</listen_host> in config.xml, but I have the above problem

[2021-07-05 11:14] #776 closed

[2021-07-05 11:17] carlosalbaladejo opened #25993 "joinGet Error: Invalid column type for ColumnUnique::insertRangeFrom. Expected String, got ColumnLowCardinality"
**Describe the bug**

When doing `joinGet(<join table>, <column with LowCardinality(String) type>, <key>)`, ClickHouse returns `Error: Invalid column type for ColumnUnique::insertRangeFrom. Expected String, got ColumnLowCardinality`

**Version**

**21.5.4.6809**

**How to reproduce**

[code]
**Expected behavior**

[code]

**Additional context**

Tested with **20.7.2.30** too

[2021-07-05 11:30] #25987 closed

[2021-07-05 12:03] EgorKurito commented on #25990
@kitaisreal Unfortunately, we will not be able to provide data from tables for privacy reasons (
We have about 2 billion records;
CH version is 21.6.5.37;

[2021-07-05 12:24] kitaisreal commented on #25993
@vdimir can you please take a look at it ?

[2021-07-05 12:27] electrical opened #25994 "Too many open files issue"
**Describe the unexpected behaviour**
For unknown reasons i've started receiving errors.

Setup is a 2 node cluster with replication.
The open file limit is set to 1048576
At the moment i'm only getting this on 1 of the 2 nodes which makes this very confusing.
I get the errors pretty quickly after a restart.
Most information I've been able to find is to increase the openfile limit but since it's a

[2021-07-05 12:30] kitaisreal commented on #25988
@tobiaslins issue exists in 21.3 I successfully reproduced it.

[2021-07-05 12:36] den-crane commented on #25983
[code]

[2021-07-05 12:39] kitaisreal commented on #25988
@tobiaslins it was fixed here https://github.com/ClickHouse/ClickHouse/commit/671395e8c81e79f079334650112737eca6e3f6c7#diff-c44c88fa71cecc689a30191d0379be5caa9391ad9718c763f35efbbdcb5901f8R131.
This commit goes into 21.4. Please check if it will fix your issue.

[2021-07-05 12:41] kitaisreal commented on #25994
Hello, @electrical. Please send your table configuration.

[2021-07-05 12:42] den-crane commented on #25990
@EgorKurito can you share result and statistics of `select uniq(_part) from logs`

[2021-07-05 12:59] electrical commented on #25994
@kitaisreal From what I can see it's related to the metrics table(s) from CH it self.

`CurrentMetric_DiskSpaceReservedForMerge`

[2021-07-05 13:00] tavplubix commented on #23213
But `tryCreateSymlink(...)` ignores such exceptions and just prints message in log without rethrowing exception. It's not the reason why you cannot connect to clickhouse-server. Is there any other error messages in server log?

[2021-07-05 13:13] den-crane commented on #25994
@electrical can you share

[code]

[2021-07-05 13:25] Sallery-X opened #25996 "timeout exceeded while writing to socket"
![image](https://user-images.githubusercontent.com/45587738/124478203-8a201e80-ddd7-11eb-914d-a2eca9cb2834.png)

[2021-07-05 13:39] electrical commented on #25994
@den-crane

First query: `46886`
Second query:
[code]

I had to replace the names of our own tables as you can understand.

[2021-07-05 13:57] kitaisreal commented on #25991
@LHertz if you need to extract more than pattern match in result, please use extractAll or extractAllGroups to match your regexp.

[2021-07-05 14:01] kitaisreal commented on #25994
@electrical it does not seem to be a lot of columns parts.
Can you please share logs of queries ?
Maybe you use OPTIMIZE FINAL a lot ?
Can you share table configuration ?

[2021-07-05 14:05] kitaisreal commented on #25991
@LHertz for your specific query you can use something like:
[code]

[2021-07-05 14:09] EgorKurito commented on #25990
@den-crane
[code]

One of the decision tools to search by week partitioning

[2021-07-05 14:23] electrical commented on #25994
@kirillDanshin we haven't done any `OPTIMIZE FINAL` yet anywhere.

After digging into this further we might have found the issue ( I hope )
Although the docker container shows with ulimit to be set to `1048576`, the `/proc/sys/fs/file-max` file shows a maximum of `65536` which i'm guessing we are hitting.
Need to see if we can increase that and go from there.

[2021-07-05 14:31] kitaisreal commented on #25994
@electrical ok, if there will be any additional issues feel free to post them here.

[2021-07-05 14:58] tobiaslins commented on #25988
@kitaisreal amazing! thank you for the fast responses and solution. I just upgraded to 21.6 and it seems to work fine now :)

[2021-07-05 15:22] kitaisreal commented on #25990
@EgorKurito is there any change that these MATERIALIZED columns where added with ALTER command ?
Can you please provide server characteristics ?
How many records are in table 2 billions ?
Maybe query is not slow.

[2021-07-05 15:38] kitaisreal commented on #25990
@EgorKurito could you please provide query_log data and query_thread_log data for queries that we try to optimise ?

[2021-07-05 16:02] alexey-milovidov opened #25997 "`min_bytes_to_use_direct_io` works incorrectly for `max_threads` > 1"
**Describe the bug**

Dataset from:
https://clickhouse.tech/docs/en/getting-started/example-datasets/metrica/

**Does it reproduce on recent release?**

Yes, it is reproduced on master.

**How to reproduce**

[code]

[2021-07-05 16:06] siradjev opened #25998 "Limit mutations by number of parts or partitions to prevent large table mutations"
(you don't have to strictly follow this form)

**Use case**
Accidental mutations on large partitioned tables cause clickhouse to die in loop of not merging/not mutating due to not having enough background pools in thread, and typically those are human errors as syntax for partition pruning is not something enforced.
Problem happens frequently, and there are plenty of tickets about it...

**Describ

[2021-07-05 16:12] simPod opened #25999 "Reusing CTE twice in a filter makes query performance worse 4+ times"
This is my table definition

[code]

_Bellow is my query._

There are 3 CTEs: `now`, `w1` and `w4`. I'm basically selecting values from now as `now` and values from a week ago and 4 weeks ago as `w1` and `w4`.

I tried to filter values in `w1` and `w4` CTEs using values from `now` and expected to make the result set to select from smaller.

So I added `AND (c) IN (SELECT c FROM now)` to `w1` and `

[2021-07-05 16:40] Kev1ntan opened #26000 "timestamp clause not working properly"
**Describe the unexpected behaviour**
The following problem occurred in our project, which we cannot solve.
Our table is created like this:

[code]

and i'm running a query like:
[code]
the results is(order ascending):
original_timestamp
2021-05-02 00:00:00
2021-05-02 00:00:00
2021-05-02 00:00:02
2021-05-02 00:00:02
...

there are millions rows with original_timestamp before 2021-May, but the quer

[2021-07-05 16:52] vzakaznikov opened #26001 "Window functions in view stopped working"
**Describe the unexpected behaviour**
Window functions in view stopped working. See test https://github.com/ClickHouse/ClickHouse/blob/master/tests/testflows/window_functions/tests/misc.py#L355.

**How to reproduce**
Test fails on master.

[code]

and easily reproduced manually

[code]

**Expected behavior**
Test should pass.

[2021-07-05 16:53] vzakaznikov commented on #26001
@akuzm, can you take a look?

[2021-07-05 17:18] den-crane commented on #26000
20.12.3 is obsolete, check with 21.5 or 21.6
and check result with parseDateTime64BestEffortOrNull

[code]

[2021-07-05 17:20] den-crane commented on #25994
BTW @electrical you can disable metric_log/query_log or configure TTL

https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-system-tables-eat-my-disk

[2021-07-05 17:23] den-crane commented on #25990
@EgorKurito

Your disk random i/o is very slow, what do you use as disks?  s3 ?

[2021-07-05 17:28] #25988 closed

[2021-07-05 18:10] #25991 closed

[2021-07-05 18:32] alexey-milovidov commented on #26001
Does it work if you enable `allow_experimental_window_functions` globally?

[2021-07-05 21:06] traceon commented on #25800
Sounds reasonable.

[2021-07-05 21:33] ilejn commented on #21435
Ubuntu 21.04 has glibc 2.33 and ClickHouse built in a plain way has number of symbols marked GLIBC_2.32 and GLIBC_2.33,
namely

[code]

[2021-07-05 23:40] alexey-milovidov commented on #15065
FORMAT PNG for creating simple plots directly in ClickHouse.

It does not aim to compete with full featured plotting libraries (both web based and server side) but it can be made reasonably neat and powerful... and fast and ubiquitous.

[2021-07-05 23:43] vzakaznikov commented on #26001
Yes, if I add the setting to users.xml.

[code]

[2021-07-05 23:44] vzakaznikov commented on #26001
The strange part is that it used to work so something got changed.

[2021-07-06 00:26] l1t1 commented on #25999
what version do you use? if your version is newer than 21.4, try version 21.4

https://github.com/ClickHouse/ClickHouse/issues/24075

[2021-07-06 00:33] cyberhuman opened #26013 "DB::ParsingException when parsing zstd-compressed JSON from HDFS"
You have to provide the following information whenever possible.

**Describe the bug**

We have stored some data into HDFS using `INSERT INTO FUNCTION hdfs('.../file.zstd', 'JSONEachRow', '...') SELECT ...`. When trying to read the same data back using `SELECT ... FROM hdfs('.../file.zstd', 'JSONEachRow', '...')`, CH throws a exception.
It appears the bug occurs when:
1) the file is in HDFS;
2) th

[2021-07-06 00:36] #6842 closed

[2021-07-06 01:24] alexey-milovidov commented on #24075
It is somehow related to query parallelism. With max_threads = 1 there is no performance difference.
New version is using 100% CPU (single core) for some reason.
Old version is using 1400% CPU on 16 core machine.

[2021-07-06 01:34] alexey-milovidov commented on #24075
Minimal query to reproduce:
[code]

The right hand side of JOIN does not get required number of threads.

[2021-07-06 02:24] alexey-milovidov commented on #24075
Version 21.5 is Ok.

[2021-07-06 02:32] alexey-milovidov commented on #24075
Maybe #23743 or #24574.

[2021-07-06 03:07] shadowDy commented on #25983
thanks，This configuration seems to solve the problem

[2021-07-06 03:19] alexey-milovidov commented on #24075
This commit is slow: 08f10dc
This commit is good: 6f08f945e84f614e64d3cb2e36ea925c3267c508

[2021-07-06 04:00] zouyonghao opened #26015 "Logical error: 'It's new replica, but database is not empty'"
You have to provide the following information whenever possible.

**Describe the bug**

I got "Logical error: 'It's new replica, but database is not empty'" on my test environment.
I make several operations including restarting zookeeper and deleting data of zookeeper, and the last command is "drop database ...", then the server crashed with this error.

**Does it reproduce on recent release?**

[

[2021-07-06 06:04] Kev1ntan commented on #26000
@den-crane thanks, working properly with 21.6

[2021-07-06 06:04] #26000 closed

[2021-07-06 07:51] hssrs opened #26016 "Is there any best practice for running functional-test in docker?"
We made some adaptive and intrusive modifications to the ClickHouse source code, so we wanted to test ClickHouse locally. I found that the integration test has a ReadMe file, which is helpful. I was able to run the integration test in docker successfully, but I didn’t find the instructions for running functional-test **in docker**.
The reason why I want to run with docker is because I encountered

[2021-07-06 08:03] vpanfilov commented on #25999
Seems to be related to https://github.com/ClickHouse/ClickHouse/issues/23444

[2021-07-06 08:06] electrical commented on #25994
@den-crane thank you for that! I'll have a look at that. since our metrics are collected into prometheus it doesn't make much sense to keep them long in clickhouse it self indeed :-)

[2021-07-06 08:08] DimasKovas opened #26017 "Logical error leads to server crash when joining subquery with totals"
**How to reproduce**

* Which ClickHouse server version to use
latest master/trunk version

* Queries to run that lead to unexpected result
[code]

**Error message and/or stacktrace**
[code]
[code]

**Additional context**

Without "with totals" query works fine.
Changing "on a.number = b.number" to "using number" also helps.

[2021-07-06 08:29] tavplubix commented on #26015
Do I understand correctly that you have removed some data from ZooKeeper manually? Such error means that there are some tables in replicated database, but no metadata in ZooKeeper (it should never happen on normal operation).

Do you use debug build? Usually logical errors cause crash in debug/sanitizer builds only. In release builds it's just ordinary exception.

[2021-07-06 09:00] zouyonghao commented on #26015
I stop the zookeeper, delete its data and then restart it.

Yes, it is debug build.

[2021-07-06 09:37] tavplubix commented on #26015
So everything works as expected. Maybe we should change error code from `LOGICAL_ERROR` to something else.

[2021-07-06 09:38] #26015 closed

[2021-07-06 09:41] wallace-clickhouse opened #26019 "The Performance of Join Fact Tables with Large Dimension Tables Is Poor"
I find the performance of join fact tables with large dimension tables in ClickHouse is poor，is there any plan to optimize this performance weakness in future versions?

Thank you!

[2021-07-06 09:47] Algunenano opened #26020 "[EXPERIMENTAL] Crash when using a projection while it's materializing"
You have to provide the following information whenever possible.

**Describe the bug**

If you run a query that uses a projection while it's being materialized it might crash the server.

**Does it reproduce on recent release?**

Only tested on master/HEAD

**How to reproduce**

Here is what I did to reproduce it (twice):

Table (113M rows)

[code]

Add a new projection:
[code]

Materialize it:

[

[2021-07-06 11:05] kitaisreal commented on #26020
@amosbird can you take a look at it ?

[2021-07-06 11:17] kurtschelfthout commented on #25864
I've also had a similar problem with loading parquet files from S3. I think the root cause of the issue here is that ClickHouse doesn't support the `null` arrow column type: http://arrow.apache.org/docs/format/Columnar.html#null-layout

I'm guessing (and this was the case for me, which resulted in similar behavior) that a subset of your parquet files has a `null` column type for the `LogID` column

[2021-07-06 11:41] depyronick opened #26024 "clickhouse subtracts hours on insert"
While inserting exact same data with exact method and exact time, all of a sudden clickhouse starts to subtract two hours. Also the table DDLs are exactly same too.

![image](https://user-images.githubusercontent.com/13220891/124594003-f64a6300-de67-11eb-9b5a-d5f9096b2b34.png)

The terminal on right side shows what it should be.

On right CH version: 21.3.2.5
On left CH version: 21.6.5.37

[2021-07-06 12:05] SargtLa commented on #25585
Hello! Sorry, renamed tables for this issue, because real name does not matter here. I have no problem with inserting the data and get no errors about naming. The insert queries are all the same and the name of the table does not matter. The issue is that some data were flushed to the main table from buffer and some data were lost, despite being inserted in buffer.

[2021-07-06 12:16] rsaphala opened #26025 "Requested cluster 'xxx' not found: while loading database `default` from path /var/lib/clickhouse/metadata/default"
When upgrading from 20.12.3 to 21.6.6.51, the below error occurs and one of the server won't start (one of the shards).  I run a cluster of 2 shards with 1 replica each on kubernetes.

After downgrading back, query from ` system.clusters` table shows that the cluster actually exists.

[code]

[2021-07-06 12:17] den-crane commented on #26019
Yes, there are plans to implement grace-join and merge-join in the future.

[2021-07-06 12:17] #26019 closed

[2021-07-06 12:17] den-crane commented on #26024
can you share `select timezone()` from both servers?

[2021-07-06 12:21] Algunenano commented on #26020
Fixed with #26026. The problem wasn't that the materialization of the projection is in progress, but that it couldn't merge the result of the 2 pipes (the `ordinary_pipe` that reads the parts that aren't materialized yet, and the `projection_pipe` that reads projected parts) because the ordinary was using the projection query, which has more columns than necessary.

To fix it I changed the ordinar

[2021-07-06 12:25] depyronick commented on #26024
Server on left has timezone config set to UTC on config.xml but the server on the right uses default configurations.

Server on left shows `UTC` and `Europe/Berlin` on right.

I've made a few more tests, it seems like the issue is that if I use `remote` function, like `INSERT INTO table SELECT * FROM remote()`, it inserts by converting the time.

But if I insert new data with HTTP interface, it in

[2021-07-06 12:31] nvartolomei opened #26027 "Mixed versions in a cluster: Backwards compatibility broken when using aggregate functions w/ aliases over distributed tables"
I'm trying to test upgrade path from 20.8 to the latest version and found that queries that involve aliases fail.

I have built a test case and submitted it as a PR as well 26028.
node1 is master
node2 is v19.16

[code]

Last query fails w/ `Code: 10. DB::Exception: Received from 172.16.1.3:9000. DB::Exception: Not found column sum(x_alias) in block. There are only columns: sum(x)`

[2021-07-06 12:32] Data-bytes305 opened #26029 "why force_data_skipping_indices , indexHint"
clickhouse version: 21.7.1.7029

Table ddl:
CREATE TABLE dw.xxxxxx
(
    `stk_day` Date,
    `shopid` String,
    `goodsid` String,
    `qty` Decimal(18, 4),
    `cost` Decimal(18, 4),
    `costvalue` Decimal(18, 4),
    `bu` UInt16,
    `key_goodsid` UInt64 DEFAULT cityHash64(concat(toString(bu), '-', goodsid)),
    `key_shop_goodsid` UInt64 DEFAULT cityHash64(concat(shopid, '-', goodsid)),
    `

[2021-07-06 12:41] tavplubix commented on #21184
The reason is that ClickHouse sends `ERR_Packet` with incorrect sequence number, so MySQL client does not recognize it as a part of `COM_QUERY_Response` and resets connection. It happens if exception is thrown during query execution:
[code]
I will try to fix it

[2021-07-06 13:01] depyronick commented on #26024
So, i've tried using `--use_client_time_zone` setting with `clickhouse-client` it seems it now inserts what it reads.

Is this the correct way to do that? I am trying to insert from one server with Berlin timezone to another with UTC, without changing any value...

[2021-07-06 13:14] nvartolomei opened #26030 "Mixed versions in a cluster: Backwards compatibility broken when using aggregate functions w/ aliases over distributed tablesBroken backwards compatibility when using CTEs, nested queries and aggregations"
This used to work fine but is failing on recent releases (21.7+ and latest master commit). When the following query is executed from 21.7 build it fails with: `Code: 184. DB::Exception: Received from 172.16.1.2:9000. DB::Exception: Received from node2:9000. DB::Exception: Aggregate function count() is found inside another aggregate function in query.`

Test case #26031

[code]

Worked perfectly be

[2021-07-06 13:49] BradSwain commented on #19897
Hi @alexey-milovidov

Here is a link to another report for clickhouse: http://cloud.coderrect.com/6ed934f377614be290e4a71c7999fed9/index.html

This report was generated with some special configurations set.

Instead of starting from main (which can potentially miss code paths), coderrect was configured to search for potentially racing function pairs using the configuration shown below.

[code]

Th

[2021-07-06 13:59] w4x-gh opened #26033 "clickhouse-client systematically killed by oom"
ClickHouse client version 21.5.5.12 is systematically killed when I execute any command.

System details: debian buster with 16G RAM
Clickhouse server version: 21.5.5 revision 54448

Bug:
root@debian:~# clickhouse-client --ask-password
ClickHouse client version 21.5.5.12 (official build).
Password for user (default):
Connecting to localhost:9000 as user default.
Connected to ClickHouse server vers

[2021-07-06 15:06] #25818 closed

[2021-07-06 15:37] alexey-milovidov commented on #19897
Thank you!

The report is not clear to me. For example,
![Screenshot_20210706_183457](https://user-images.githubusercontent.com/18581488/124628237-f149db80-de88-11eb-82b9-99708f8bb8f9.png)

it said that if `finalize()` and `nextImpl()` called concurrently the trouble may happen. This is true - these methods are not thread safe (and all the object as a whole). But how it proves that they can be cal

[2021-07-06 15:57] alexey-milovidov commented on #26017
@DimasKovas Logical error is a simple exception in release build.
But in debug build it terminates the server (as failed assertion).

[2021-07-06 16:01] alexey-milovidov commented on #25994
@electrical You have too low system-wide limit on the number of opened files:

[code]

[2021-07-06 16:03] den-crane commented on #26024
It seems you insert datetime incorrectly using HTTP.

CH stores datetime in UTC only, no matter what.
TZ are applied when string are rendered or parsed.

`INSERT INTO table SELECT * FROM remote()` -- does nothing with TZ. Just copies data as is.

When you query data using clickhouse-client you get data in server TZ by default.

When you insert data using HTTP TZ can be applied if you insert use st

[2021-07-06 16:30] mjh568412187 opened #26035 "What is the meaning of the commands in clickhouse 21.4.5.46 version?"
You have to provide the following information whenever possible.

**Describe the bug**

A clear and concise description of what works not as it is supposed to.

**Does it reproduce on recent release?**

[The list of releases](https://github.com/ClickHouse/ClickHouse/blob/master/utils/list-versions/version_date.tsv)

**Enable crash reporting**

If possible, change "enabled" to true in "send_crash_r

[2021-07-06 16:37] nvartolomei opened #26036 "ZK watch leak in DDLWorker"
DDLWorker thread checks in a loop for new tasks by calling ZooKeeper GetChildren with a watch callback.

https://github.com/ClickHouse/ClickHouse/blob/5b0bc8a7fbf846cb45012e8009d58341656bf12c/src/Interpreters/DDLWorker.cpp#L374

Due to a recent change from #25373 instead of blocking on new events we retry the loop every 10 seconds instead of when watch callback is triggered.

https://github.com/Cl

[2021-07-06 17:04] BradSwain commented on #19897
Your understanding is correct.

When the `openlib.optimal` setting is used the tool searches for function pairs that could potentially be called in parallel, but the tool cannot prove that these functions will be called in parallel.

[2021-07-06 17:58] den-crane opened #26037 "complex_key_range_hashed"
range_hashed dictionary supports only UInt64 as a key right now.
I need more complex key  i.e (banner_id UInt64, event_state String)

[2021-07-06 18:09] kitaisreal commented on #26036
@tavplubix can you take a look at it ?

[2021-07-06 18:28] amosbird commented on #26020
We cannot use the original plan since filtering is done in projection and we have to apply it to the ordinary pipe too.

[2021-07-06 19:07] #25530 closed

[2021-07-06 19:32] alexey-milovidov opened #26039 "`system.warnings` table and warnings in `clickhouse-client`"
The server should have a shared array of warning messages.
You can put it simply as `std::vector<std::string>` in `ContextShared`.

There should be a method to add a new warning.
This method will print a log message and also add the warning to the list.
Warnings are not persisted (the list is empty on server startup and will be filled at runtime).

A system table `system.warnings` should be create

[2021-07-06 19:48] UnamedRus commented on #18794
It's also make sense to add check about too old kernel.
Clickhouse could have some hard to debug issues with randomly closed sockets on 3.10 kernel.

[2021-07-06 19:55] alexey-milovidov commented on #18794
Yes, should be easy to check.

Just check for some threshold? What threshold do you suggest?
Or a list of version ranges with explanation of known problems?

[2021-07-06 19:57] alexey-milovidov commented on #19897
Ok. 111 cases are not too many, it is possible to check all of them...

[2021-07-06 20:06] alexey-milovidov commented on #19897
@BradSwain

I don't understand how it is supposed to work.

Currently looks like it assumes that every function can work concurrently with every another.
To prove with static analysis that something is synchronized, it requires very powerful inference, equivalent to solving the halting problem (in extreme case).

But there are examples that look like there is no inference at all or it is obviously

[2021-07-06 20:12] alexey-milovidov commented on #26037
Ok.

Workaround: hash both keys into single UInt64 key if the number of keys is small (e.g millions) and you can tolerate 1 / 2^64 potential collision probability for every key.

[2021-07-06 20:16] UnamedRus commented on #18794
Yes. (at least for start)

Dunno,
I faced an issues with sockets and 3.10, i heard that was some bug in kernel + ext4, which often lead to filesystem corruption in versions pre 3.17.
@den-crane said that it's better to start from 3.17+

It's looks like a good idea, but finding/debugging such problem and maintaining list could be problematic.

[2021-07-06 20:38] Algunenano commented on #23503
I can't reopen the issue myself. Can one of the maintainers do it, please? Otherwise, should I open a different ticket instead?

[2021-07-06 20:49] den-crane commented on #18794
Unfortunately I was talking about 4.16.4

_EXT4-fs error (device sda2): ext4_validate_inode_bitmap:96: comm AsyncBlockInput: Corrupt inode bitmap - block_group = 38449, inode_bitmap = 1259864081_

_Обновления ядра с 4.16 на 4.17 на Debian из backports решило вопрос, пофиксили в 4.16.4 (https://cdn.kernel.org/pub/linux/kernel/v4.x/ChangeLog-4.16.4)_

[2021-07-06 20:54] den-crane commented on #26025
@rsaphala do you use metrica.xml or incl ?

https://github.com/ClickHouse/ClickHouse/issues/21905#issuecomment-803456597
https://github.com/ClickHouse/ClickHouse/pull/25083/files

Can you share your config files?

[2021-07-06 20:59] den-crane commented on #26035
Some parameters are applied automatically, no actions required other parameters require full restart  `service clickhouse-server restart` .

[code]

https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-server-config-files#Serverconfigfiles-Settings&restart

[2021-07-06 21:04] den-crane commented on #26029
Can you show the same for

[code]

I think indexHint disables ind_goodsid bloom_filter index. Because in this case this index is bad.

[2021-07-06 21:09] rsaphala commented on #26025
config.xml: https://gist.github.com/rsaphala/e7d40124498d75ef9f80bb7572bdbc1c

metrica.xml: https://gist.github.com/rsaphala/23c9ad7007912e2673d612668336d2a8

Yes I use both

[2021-07-06 21:58] den-crane commented on #26025
You don't need to use `/etc/metrica.xml` https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-server-config-files
Just copy this xml file into `/etc/clickhouse-server/config.d/`

this is exactly  https://github.com/ClickHouse/ClickHouse/issues/21905#issuecomment-803456597

[2021-07-06 23:20] reflection opened #26042 "Memory leak when upgrading ClickHouse from 21.4.5.46 -> 21.6.6.51"
** Describe the bug**
ClickHouse nodes consistently restart with OOMKilled error after upgrade.  Reverting fixed this.

**Does it reproduce on recent release?**
Yes

**How to reproduce**

* Which ClickHouse server version to use - 21.6.6.51
* Queries to run that lead to unexpected result
* Only thing running were standard summarization queries (summarizing raw -> summary tables).  Didn't see any l

[2021-07-06 23:26] BradSwain commented on #19897
@alexey-milovidov

Your understanding is still correct.

The `openlib.optimal` setting is designed to find all possible races by default, even in code that may potentially be called in parallel in the future. This leads to a high number of false positives being reported as well.

The tool is designed to be configurable to specific use cases and catch potential race conditions.
The full list of ava

[2021-07-06 23:57] alexey-milovidov commented on #25700
You can try Query Profiler: https://clickhouse.tech/docs/en/operations/optimizing-performance/sampling-query-profiler/
It should be already enabled by default, just replace the query id in the [example](https://clickhouse.tech/docs/en/operations/optimizing-performance/sampling-query-profiler/#example)

[2021-07-06 23:57] alexey-milovidov commented on #25700
If you have any difficulties, upgrade ClickHouse to version 21.6 (latest) and check again.

[2021-07-06 23:59] alexey-milovidov commented on #25700
`create_table_query` requires opening and reading .sql metadata files. It's expected to be slow if you have slow or overloaded IO.
20 rows per second does not look normal anyhow but it is possible with slow HDD or EBS.

[2021-07-07 00:01] alexey-milovidov commented on #26033
What happens if you run `curl 'http://localhost:8123/' -d 'SHOW DATABASES'`?
Could you please paste server logs corresponding to this query?

[2021-07-07 00:04] alexey-milovidov opened #26043 "Add memory tracker with memory limit to clickhouse-client."
Prevent excessive memory usage on client side.
Should be controlled by `max_memory_usage` in client's config file.

By default it should not be sent to the server (when the setting is unchanged).

But if the user specified the setting explicitly, either in client's config file, in command line or with SET query, it should affect both client and server side limits.

**Use case**
#26033

[2021-07-07 00:06] alexey-milovidov commented on #26042
Yes, it is possible that the excessive memory usage is related to S3 tiered storage, that is currently in development and is not ready for production.

[2021-07-07 00:08] alexey-milovidov commented on #26042
Run the following query to check from where the memory is allocated:

[code]

[2021-07-07 00:21] #9430 closed

[2021-07-07 00:24] alexey-milovidov opened #26044 "Play UI: server URL should be also saved in URL if it differs."
**Use case**
I run https://gh-api.clickhouse.tech/play?user=team#U0VMRUNUIGNoZWNrX25hbWUsIHRlc3RfbmFtZSwgdGVzdF9zdGF0dXMsIGNoZWNrX3N0YXJ0X3RpbWUsICdodHRwczovL2NsaWNraG91c2UtdGVzdC1yZXBvcnRzLnMzLnlhbmRleC5uZXQvMC8nIHx8IGNvbW1pdF9zaGEgfHwgJy9wZXJmb3JtYW5jZV9jb21wYXJpc29uL3JlcG9ydC5odG1sJyBBUyB1cmwgRlJPTSBgZ2gtZGF0YWAuY2hlY2tzCldIRVJFCiAgICBjaGVja19uYW1lIExJS0UgJ1BlcmZvcm1hbmNlJScKICAgIEFORCB0ZXN0X3N

[2021-07-07 00:55] alexey-milovidov commented on #19897
[code]

The functions with `__attribute__((constructor))` should be considered executing sequentially.

[2021-07-07 00:55] alexey-milovidov commented on #19897
I've read all 111 entries and found all of them false positive.

[2021-07-07 00:57] alexey-milovidov commented on #19897
Nevertheless, I welcome if you write, that Coderrect has been successfully evaluated with ClickHouse :)
You can write it on official website if you want.

Though the chance we will use Coderrect in our CI is low.

[2021-07-07 00:57] #19897 closed

[2021-07-07 01:27] chriscoderrect commented on #19897
Hello - I am from Coderrect, thanks for trying our tool!  just want to add a few comments here.

Even though Coderrect Scanner can be used as a one-time scanning tool, it is mainly designed to be a quality assurance tool as part of developers work flow, e.g. being integrated into a CI/CD process.  While developers working with Coderrect Scanner in this process, they can use configurations to tell

[2021-07-07 02:22] feihengye commented on #25523
@filimonov
reproduce:
![image](https://user-images.githubusercontent.com/77636494/124690680-239d1c80-df0d-11eb-91f7-3fff16a50f50.png)

[2021-07-07 06:09] baofengzhouyu commented on #23020
I have the same error on  version 20.8.18.32  lts

[2021-07-07 06:36] #25422 closed

[2021-07-07 07:12] kitaisreal commented on #26042
@nikitamikhaylov can you take a look at it ?

[2021-07-07 07:42] simPod commented on #25999
I'm on 20.12.5.14, sorry for not mentioning it before. I'll try 21.4.

[2021-07-07 08:01] filimonov commented on #25523
I've meant 0

[2021-07-07 08:17] vpanfilov commented on #26037
Duplicate of https://github.com/ClickHouse/ClickHouse/issues/22029

[2021-07-07 08:50] kreuzerkrieg commented on #15065
How about to take a look at FSST compression?

[2021-07-07 08:52] EgorKurito commented on #25990
**Update**
Sorry for slow answer,
If I search by partition, like this:
[code]
This is faster: 200-600ms
But if I just need to get the last 10,100, 1000 logs, this method will be inconvenient.
@den-crane, @kitaisreal

[2021-07-07 09:36] Zark1999 opened #26046 "Queries with external data specified are not parsed correctly in the clickhouse server"
**Bug Description**

Clickhouse Version: 21.3.4.25
JDBC Version: 0.3.1-patch

When executing queries with several ClickhouseExternalData, the server side has a possiblility that the parsed sql (store in system.query_log) is incorrect, which causes either syntax error or missing column exception.

---
e.g.
Querying about the avg, sum, min, max and any of column `Ca` with some extra conditions
L0, L

[2021-07-07 11:17] w4x-gh commented on #26033
The request:
debian:~# curl 'http://localhost:8123/?user=default&password=somepwd' -d 'SHOW DATABASES'
mychdb
default
system

The logs:

2021.07.07 13:12:07.822396 [ 23062 ] {} <Trace> HTTPHandler-factory: HTTP Request for HTTPHandler-factory. Method: POST, Address: [::1]:46146, User-Agent: curl/7.64.0, Length: 14, Content Type: application/x-www-form-urlencoded, Transfer Encoding: identity, X-For

[2021-07-07 12:30] #26037 closed

[2021-07-07 12:50] #26035 closed

[2021-07-07 12:50] alexey-milovidov commented on #26033
Ok. The server processed this request successfully with neglible amount of allocated RAM.

It remains in question why the client allocates so much RAM on the same request.
Does it die instantly or it takes several seconds?

You can stop clickhouse-client with gdb during this several seconds and print stack traces:
`sudo gdb -batch -ex 'thread apply all backtrace' -p $(pidof clickhouse-client)`
and

[2021-07-07 13:28] mfridental opened #26049 "Incorrect results of ORDER BY ... WITH FILL when used together with toStartOfMinute()"
[code]
returns
1970-01-01 01:00:00
2021-07-07 15:21:00
1970-01-01 01:00:00

but expected to return
2021-07-07 15:21:00
2021-07-07 15:21:05
2021-07-07 15:21:10

select version()
21.4.7.3

[2021-07-07 15:39] alexey-milovidov opened #26050 "ClickHouse dictionary source with TLS"
For some reason it is not supported.

Simply adding `<secure />`, `<secure>1</secure>` in config and `SECURE` in DDL will suffice.

[2021-07-07 16:29] alexey-milovidov commented on #12576
It should be added in `ISerialization` similar to Text, JSON, CSV, etc.
Default implementation will call `deserializeTextEscaped`, then check for end of line and throw if it is not at end of line.
Implementation for String-like types will be overloaded and use something similar to `readEscapedStringUntilEOL`.

[2021-07-07 17:38] hamsterready commented on #23508
I still see this issue in 21.6.6.51:

[code]

Logs:

[code]

Version:

[code]

[2021-07-07 18:34] kssenii commented on #23508
@hamsterready  It looks like you have some other index with modulo? Because `loadIndex()` in trace does not load partition key, it loads primary key. But It was only fixed for partition key. What is table definition?

[2021-07-07 19:18] alexey-milovidov commented on #26050
It was already implemented but not documented.

[2021-07-07 19:45] kitaisreal commented on #26046
@zhicwu can you take a look at it ?

[2021-07-07 21:02] depyronick commented on #26024
Imagine two servers

**Server #1** with OS timezone set to _Europe/Berlin_ and clickhouse server timezone set to _Europe/Berlin_ and with clickhouse version of _21.3.2.5_.

**Server #2** with OS timezone set to _Europe/Berlin_ and clickhouse server timezone set to _UTC_ and with clickhouse version of _21.6.5.37_

And now imagine a data with datetime value on Server #1, and is inserted via HTTP int

[2021-07-07 21:45] alexey-milovidov commented on #17623
@h6353115 We have functional completeness of clickhouse-keeper and we already started evaluating it in our environments.

[2021-07-07 21:52] alexey-milovidov commented on #17623
@awslabspl

For a few past releases we prepare changelog in advance - in a few days before the release.

We make our log messages meaningful and understandable. I always keep an eye on log messages, so there are no overwhelming/excessive and also there are enough logs to debug production cases. Whenever is possible we provide explanation with possible reasons, example: https://github.com/ClickHous

[2021-07-07 22:02] alexey-milovidov commented on #17623
@zouyonghao

The idea is to run our tests but replace all tables with Distributed tables with some numbers of shards and replicas. Maybe adding cases when Distributed table look at other Distributed tables.

The first step is to ensure that there are no failed assertions, no logical errors and tests run successfully under all sanitizers and with fuzzing.

When a test has Distributed table, point o

[2021-07-07 22:07] alexey-milovidov commented on #17623
@melin This task is in queue after "Provide alternative for ZooKeeper" and "Simplify replication". It is not in roadmap for 2021, because the chance to get it in 2021 is lower than 50%.

[2021-07-07 22:09] den-crane commented on #26024
When you insert into server1 using HTTP 2021-01-01 00:00:00 -- CH thinks that '2021-01-01 00:00:00' (BERLIN TZ) and stores in a table value 1609455600 -- 2020-12-31 23:00:00 UTC

When you insert into server2 using HTTP 2021-01-01 00:00:00 -- CH thinks that '2021-01-01 00:00:00' (UTC) and stores in a table value 1609459200 -- '2021-01-01 00:00:00 UTC

When you load from server2 into server1 value 1

[2021-07-07 22:09] #26024 closed

[2021-07-07 22:14] alexey-milovidov commented on #18135
@RonanMorgan @g1rlp0w3r Your data is broken due to faulty hardware.

If you are using Replicated tables (redundancy), the data will be recovered automatically (no action required).

If you are not using Replicated tables, it is possible to continue operation by moving out broken data part manually (move the directory `/data/clickhouse/lib/clickhouse/data/charts/report_usage/20210301_2895_9969_5_15

[2021-07-07 22:14] #18135 closed

[2021-07-07 23:03] genzgd commented on #17623
Will clickhouse-keeper support TLS in the initial release?

[2021-07-08 00:14] zhicwu commented on #26046
Sure, I'll look into this today.

The timestamps are different in above queries so I guess the major differences are in the where clause. I haven't enabled SQL rewrite in JDBC driver yet but it's possible related to SQL parsing.

[2021-07-08 02:20] akamensky opened #26066 "sorting by Int and by DateTime results in very different query timings"
**Describe the unexpected behaviour**
We have a table with a few columns, two of those columns are Int64 (col A) which represent a Unix timestamp with nanoseconds and another is DateTime64(3) (col B). Both are exactly the same value with column A having last 6 digits as 0s. The table is ordered by col B and partitioned by toStartOfHour(col B).

With the setup above we noticed very big difference i

[2021-07-08 02:20] h6353115 commented on #17623
nice !!!

[2021-07-08 02:26] akamensky commented on #26066
The query plan for sorting by Int64:

[code]

Query plan for sorting by DateTime64(3):

[code]

[2021-07-08 02:37] alexey-milovidov commented on #17623
@genzgd Yes, it is added three months ago: #22992

[2021-07-08 02:54] den-crane commented on #26066
CH Version?

[2021-07-08 02:58] akamensky commented on #23867
I see the same behavior in `21.5.5.12`. But with entire table TTL. Table defined similar to:

[code]

Then running the query on it:

[code]

Running:

[code]

cleans expired data

[2021-07-08 03:10] akamensky commented on #26066
@den-crane 21.5.5.12

[2021-07-08 05:35] VKoptev commented on #21101
@kitaisreal

[code]

[2021-07-08 06:33] akamensky commented on #23867
See also closed #10004, looks like it was not fixed after all?

[2021-07-08 06:35] andrea-s opened #26069 "Sequence match/count: provide timestamp(s) in which a user qualified for a certain sequence"
When using sequenceMatch / sequenceCount, it would be interesting to have a way to extract the timestamps in which a user qualifies for the match (I would say the first timestamp is ok for sequenceMatch, and probably an array of timestamps for sequenceCount?).

Use case: qualify changes in size for a calculated segment of users in an efficient way.

[2021-07-08 07:02] mo-avatar opened #26070 "When will 21.6 release it's first LTS version？[projection feature related]"
Projection has been merged as an experimental feature in 21.6, and 21.6 has just released an stable version "v21.6.6.51-stable", When will 21.6 release it's first LTS version?
Best Regards!

[2021-07-08 07:16] shadowDy opened #26071 "Write distributed table, no ZK, how to avoid data inconsistency between replic"
In our cluster, the query results are inconsistent for many times. After investigation, it is found that the reason is that the query is executed on different copies and the returned results are inconsistent.

Comparing the data of two replicates, there are some differences.

Write method: write distributed table, randomly to each local table.

Read mode: read distributed table.

config:
insert_di

[2021-07-08 07:20] filimonov commented on #26071
Use replicated tables / zookeeper

[2021-07-08 07:30] #25992 closed

[2021-07-08 07:56] #26050 closed

[2021-07-08 07:56] shadowDy commented on #26071
Why do distributed tables have this problem

I understand that if local is written first and then distributed to other nodes or replicas in the form of files, the short-term data will be delayed (inconsistent), but it should be the same in the end.

[2021-07-08 07:59] kitaisreal commented on #26066
@akamensky can you provide reproducible example with tables configuration ? Just fill necessary columns with random timestamps should be enought.

[2021-07-08 08:00] kitaisreal commented on #21101
@VKoptev thanks for example. Will look into that.

[2021-07-08 08:07] hamsterready commented on #23508
@kssenii thank you for pointing it out, you are right, table to which I was attaching part is missing primary key definition.

[2021-07-08 09:10] MaxWk opened #26073 "recreate user with xml cause EXC_BAD_ACCESS"
You have to provide the following information whenever possible.

**Describe the bug**

recreate user with xml ,sometimes server will throw exception with EXC_BAD_ACCESS

**How to reproduce**
1.start server
2. create user by xml
[code]
3.make sure user success loaded
`clickhouse-client --query "show users"`

4. delete the xml
`rm $USER_CONFIG_PATH/test.xml`

5. repeat 2

6. connect with user
`clic

[2021-07-08 09:51] cadet354 opened #26076 "How to insert collection json strings into table?"
Hi, how to insert collection json strings into a table?
For example, I have a collection of objects, convert them to json strings and send them to a table.
[code]
but an exception occurs:
DB::Exception: Format JSONStringEachRow is not suitable for input (with processors).

I didn't find an example of using JSONStringEachRow in unit tests.

[2021-07-08 10:04] cadet354 commented on #26076
Move question into clickhouse-jdbc https://github.com/ClickHouse/clickhouse-jdbc/issues/681

[2021-07-08 10:04] #26076 closed

[2021-07-08 10:30] mkocztorz commented on #25853
Yes it's partitioned by event_at, but before inserting its grouped to 15 minutes.

Currently we are recreating the cluster. When it's back I will repeat the test and share the changed settings and logs. But as far as I know we were not changing many defaults.

[2021-07-08 11:00] electrical commented on #25994
@alexey-milovidov Yeah, we found that out as well. It's something I realised a bit late :-( We bumped it to 500k which has solved our issue.
I'll have a look at the linked issue as well for anything I might have missed.

Thank you all so much for your help!

[2021-07-08 11:00] #25994 closed

[2021-07-08 12:32] den-crane commented on #26070
21.6 will not be LTS.
LTS will be 21.8 or 21.9.
The experimental mark will be removed from Projections someday in the future, nobody know when.

[2021-07-08 12:32] #26070 closed

[2021-07-08 12:38] den-crane commented on #26071
Distributed table do insert retry in case of error.
MergeTree table does not have a deduplication feature.

There is a scenario possible:
1. Distributed table inserts into the shard
2. Shard successfully applies the insert.
3. Distributed gets insert timeout because of network error
4. Distributed table repeats the same insert from the step 1
5. You got double data.

[2021-07-08 12:38] #26071 closed

[2021-07-08 12:42] hssrs commented on #26016
**Update:**
   After trying to look at `image.json` in the docker directory, I found an image called `yandex/clickhouse-stateless-test`, so I tried to run the functional test this way:

[code]
Then in the local machine:
[code]
It did run, but still get  some strange error, for example:
[code]

I have no idea how to fix it or what should I do to confirm if this is due to the environment?

[2021-07-08 13:10] Slach opened #26078 "`system.detached_parts` doesn't works after change `detault` storage policy to multiple disk"
**Describe the bug**

After adding the second disk to `default` storage policy, any questions to system.detached_parts return error

**Does it reproduce on recent release?**

yes reproduced, and any LTS release 20.3 (ordinary), 20.8 21.3

**How to reproduce**
[code]

* Queries to run that lead to unexpected result
[code]

**Expected behavior**
empty result

**Error message and/or stacktrace**
[cod

[2021-07-08 13:47] zhicwu commented on #26046
@Zark1999, I was not able to reproduce the issue on both 20.8 and 21.3. Does it has to be ReplicatedMergeTree? Are you saying the exact same case on 20.8 worked but not on 21.3? And the two environments are similar?

It sounds like a server side issue, but can you add `log4j.logger.org.apache.http=DEBUG` into your log4j.properties to check if JDBC driver somehow changed the query before sending to

[2021-07-08 13:53] xoelop commented on #7752
@PHameete you can probably do that with some array functions, `arrayFill` is what you need. Here's a practical example: https://blog.tinybird.co/2021/05/18/tips-7-filling-null-values-on-clickhouse/

[2021-07-08 14:18] #24075 closed

[2021-07-08 14:20] #5897 closed

[2021-07-08 14:53] nvartolomei opened #26086 "When using XML/YAML based user configuration if profile or quota is not defined then default ones are used"
Previously (until RBAC was introduced) users were not allowed to connect to ClickHouse if user definition referenced a non-existing profile/quota. `DB::Exception: There is no profile 'does_not_exist' in configuration file..`

After RBAC was introduced this behavior changed and now users can connect and they are assigned default profile. This is unexpected and is easy to make mistakes (eg typos) th

[2021-07-08 15:08] den-crane commented on #26046
I was unable to reproduce it with ch server + curl .

[code]

[26046.tar.gz](https://github.com/ClickHouse/ClickHouse/files/6785538/26046.tar.gz)

[2021-07-08 15:24] StephenSorriaux opened #26088 "CREATE VIEW with postgres table function results in connections growth without limit in 21.6, but not in 21.4"
**Describe the issue**
After an update from CH 21.4.6.55 to CH 21.6.5.37 I noticed an endless growth of idle connections on PosgtreSQL side (which is configured as a sync replica, without expiration of idle connections).

My configuration:
- 2-nodes CH cluster
- Multiple `Engine=PostgreSQL()` tables

PostgreSQL stats:
The 21.6.5.37 version was deployed on June, 30th at mid-day (which is the start

[2021-07-08 15:40] nvartolomei commented on #26086
https://github.com/ClickHouse/ClickHouse/blob/9f5cd35a6963cc556a51218b46b0754dcac7306a/src/Access/SettingsProfilesCache.cpp#L176-L180

Looks like the profile is skipped here.

[2021-07-08 15:52] alesapin commented on #24972
No, still cannot understand... If `_pFile` is `nullptr` then we should reallocate it in `unsafeOpen()`. If `unsafeOpen()` throws then we cannot get into `mustRotate`. So yes, the logger can be left in the empty state, but race condition doesn't look .

[2021-07-08 16:17] kssenii commented on #26088
It is possible in case of concurrent access to tables, but onlyy in scope of one pool size.

btw, how many? just interested.

Actually a little strange, because 21.4.1 had also reported connections issue compared to 21.3 and then there were changes, which were not backported to 21.4. So I believe there should be the same issue in 21.4...

And the issue can remain, as I believe, only if there is co

[2021-07-08 16:19] akamensky commented on #26066
@kitaisreal

## Reproducible example

I've put the simple tool to fill the data here: https://github.com/akamensky/ch_fill

You can also download the linux 64bit compiled binary there in Releases.

For the schema (also available in the code comment for copy-paste):

[code]

## What in my tests is different from our production env

- Since I don't feel like waiting forever to generate enough data,

[2021-07-08 16:37] kitaisreal commented on #21101
@VKoptev interesting case.
We does not guarantee that xml dictionaries will be loaded before tables will be loaded, we only guarantee that dictionaries from database created with DDL will be loaded before tables from same database.
In your case your columns have type
[code]
During server startup and table loading we need to calculate default value for `currency_rate` column to be able to insert it

[2021-07-08 16:55] andrea-s opened #26095 "sequenceMatch fails often even for trivial amounts of data (hardcoded limit)"
[code]

The limit seems to be hardcoded (https://github.com/ClickHouse/ClickHouse/blob/7a56ab8b1dc833d40e2140a35b95c65f383e4132/src/AggregateFunctions/AggregateFunctionSequenceMatch.h#L138), is there a way that we could expose this in settings at least? Unfortunately situations like the above happen quite a bit with "real life" datasets and it makes it hard to use sequenceMatch in production.

The

[2021-07-08 16:56] SaltTan commented on #10128
TTL expression for columns should be exposed in system.columns

[2021-07-08 16:58] Jokser commented on #26042
@reflection
I see the following line in your logs:
`2021.07.06 22:27:31.457135 [ 107 ] {} <Debug> WriteBufferFromS3: Writing part. Bucket: cuda-datalake-waf-archive, Key: ch/mhpuybehncrrginjuguicdfxnplasjua, Upload_id: x6WYfXqPTyya1NmNv6n4nlWJwJgHIQF8OWI.3mOdig_odDl3hqvsIDvM80aw4UP_bBuDQ0xk3Ieq3CKfxCKansndulFggqvOOcQXVEQD67Nm9VyBlImKCug8NcLFTGQ_, Size: 537919488
`

It means that each opened WriteB

[2021-07-08 17:38] StephenSorriaux commented on #26088
Currently 5 tables (+2 views that uses some `postgresql()` functions).

I did not check the code, does `PostgreSQL` dictionary and `PostgreSQL` tables behave the same way from a connection point of view?
The main difference I saw is the steady amount of idle connections I had in 21.4 vs the increase from the 21.6 version. From my graph above:
- June, 25th (21.4): green line is at 32 idle connectio

[2021-07-08 17:59] w4x-gh commented on #26033
1/ Before password entry:

root@debian:~# gdb -batch -ex 'thread apply all backtrace' -p 14363
[Thread debugging using libthread_db enabled]
Using host libthread_db library "/lib/x86_64-linux-gnu/libthread_db.so.1".
0x00007fca3a95450e in __libc_read (fd=5, buf=0x7ffc5116558b, nbytes=1) at ../sysdeps/unix/sysv/linux/read.c:26
26	../sysdeps/unix/sysv/linux/read.c: No such file or directory.

Thread

[2021-07-08 19:30] UnamedRus commented on #23858
As workaround it's possible to use http/s health checks on 9000/9440 port.

[code]

For haproxy it would be something like this:
[code]

[2021-07-08 19:58] #25813 closed

[2021-07-08 20:00] Alekky09 opened #26098 "Distributed Join() tables?"
Hello,
I have created a table with engine Join() on my cluster of nodes, however I can't access the data from all of the nodes, just the one from which I did INSERT. Is there a Distributed version of this table?

It seems like it would fit my needs as I do large JOINs frequently, and I'd avoid the speed slowdown with this Join() table engine.

[2021-07-08 22:08] alexey-milovidov commented on #23858
This workaround is so weird, better not to use it.

[2021-07-08 23:14] den-crane commented on #26098
You can use this Join table locally where you did the insert.

[2021-07-09 00:18] #13274 closed

[2021-07-09 00:29] alexey-milovidov commented on #26033
@w4x-gh I need this report at the moment before OOM happens.

[2021-07-09 00:30] #25224 closed

[2021-07-09 01:40] alexey-milovidov commented on #26042
@Jokser it should work with default settings.
Also, OOM should not occur regardless to the settings.

@reflection I suggest not using the "S3 virtual filesystem" feature while it is under development.

[2021-07-09 01:46] l1t1 commented on #26066
maybe the partition effect

with test as
(select
    toInt64(date_add(toDateTime('1970-01-01 00:00:00'),number/1000))tsUnix ,
    toDateTime64(date_add(toDateTime('1970-01-01 00:00:00'),number/1000),3) tsDateTime ,
    toString(tsUnix%50) tsString ,
    toUInt32(tsUnix%1e8) rndNumber
from (select number from system.numbers limit 28e6)
)
select sum(tsUnix) from(
select * from test
where tsDateTime

[2021-07-09 01:57] mo-avatar commented on #26070
Thanks!  If 21.8 or 21.9 will be LTS， when can we expect the LTS version be released(do not need to be guaranteed)?  Say, September or October?
Cause we want to use the feature some how, but we can't introduce an non-LTS version due to certain rules.

[2021-07-09 02:06] akamensky commented on #26066
This does not explain anything. It is just a dump of 2 statements (not even formatted) w/o any details on conditions where this test was done and why in memory test was chosen. Can you please elaborate on this?

[2021-07-09 02:21] ryzuo opened #26112 "Is there any plan to implement window function nth_value in the near future? We'd like to use it."
In some of our scenarios, use nth_value can be more convenient for developers, saving them from writing much more codes. Though, I have an implementation of this function in WindowTransform.cpp that satisfy ourselves' usage, I'm thinking it's better to ask community if there's plan to implement it. Or I can create a pull request.

[2021-07-09 02:37] alexey-milovidov commented on #23194
See also #18185.

[2021-07-09 02:55] l1t1 commented on #26066
my simpler test shows different results on 21.7

![VirtualBox_centos7_09_07_2021_10_40_02](https://user-images.githubusercontent.com/23301704/125016178-76104180-e0a3-11eb-8fef-1416af2ae124.png)

[2021-07-09 02:56] l1t1 commented on #26066
![VirtualBox_centos7_09_07_2021_10_39_14](https://user-images.githubusercontent.com/23301704/125016579-2aaa6300-e0a4-11eb-820b-2ef15438c9bd.png)
![VirtualBox_centos7_09_07_2021_10_39_14](https://user-images.githubusercontent.com/23301704/125016639-3d249c80-e0a4-11eb-9299-5f1d14d761c1.png)

[2021-07-09 02:57] l1t1 commented on #26066
![VirtualBox_centos7_09_07_2021_10_38_30](https://user-images.githubusercontent.com/23301704/125016764-75c47600-e0a4-11eb-8cdc-f2ee234efde5.png)

[2021-07-09 02:58] akamensky commented on #26066
@l1t1 you are not doing the same thing tho. You are missing columns and constraints.

[2021-07-09 02:59] Zark1999 commented on #26046
@zhicwu

Sorry that my example is ambiguous. Let me rephrase the whole process in a clearer way (with some data masking).
In order to make the query has a higher chance to throw the exception, I will construct a more complex query.

The table engine is ReplicatedMergeTree. I am not sure whether this affects how sql is parsed on the server side or not.
The table has sorting key  (Cb,TIMESTAMP,Cc),

[2021-07-09 03:06] l1t1 commented on #26066
a centos 7 default config on windows7 64 virtual box

[2021-07-09 03:20] akamensky commented on #26066
@l1t1 so you run different test (again your test is not the same schema and not the same query) and you get different result. How does that disprove what I am seeing in our production env? 你懂马？

[2021-07-09 03:32] den-crane commented on #26046
@Zark1999 can you share  .java file with repro?

[2021-07-09 03:41] ryzuo opened #26115 "lagInFrame and leadInFrame does not return NULL for calculated target rows which are out of frame."
**Describe the unexpected behaviour**
When we use lagInFrame/leadInFrame window function, the returned value of rows that to be out of the frame is 0 or an empty string(depends on the type of the original column). However, like most other DBMSs' implementation, the returned value is null instead of 0 or empty string. Semantically, 0 or empty string can be computed while null cannot. Consequently,

[2021-07-09 03:43] alexey-milovidov commented on #26070
21.8 will be released in August.

[2021-07-09 04:36] Zark1999 commented on #26046
@den-crane

Table Creation
[code]

Java Code
[code]

No need to insert data.

[2021-07-09 05:03] filimonov commented on #26033
Also - share full fragment of oomkiller logs (including 'Call Trace' fragment)

[2021-07-09 05:06] filimonov commented on #26095
Without time condition different algorithm is used.

[2021-07-09 05:09] filimonov commented on #26095
https://github.com/ClickHouse/ClickHouse/pull/4004

[2021-07-09 05:43] andrea-s commented on #26095
Thank you for the pointer @filimonov.

Digging a bit more into it, it looks like even for sequenceMatch, too many paths are checked/kept in memory - so customer journeys that involve large matches in the first stage and few matches in the second stage have a probability to fail. E.g.:

[code]

Am I right in saying that the sequenceMatch algorithm could work in a greedier way? Like in the example a

[2021-07-09 06:22] kssenii opened #26116 "AMQP-CPP issues"
- [ ] ***crash 1:***
[code]

- [ ]  ***crash 2:***
[code]

- [ ] ***crash 3:***
[code]

[2021-07-09 06:50] #25404 closed

[2021-07-09 07:05] depyronick commented on #26024
Alright got it. I've inserted values using `date_add(HOUR, 2, dt_value) as dt_value` and it's all ok.

[2021-07-09 07:15] zhbdesign opened #26117 "Do you have any documentation on how to use Clickhouse keeper"
Do you have any documentation on how to use Clickhouse keeper

[2021-07-09 08:37] mo-avatar commented on #26070
Roger that, thanks!

[2021-07-09 09:19] kitaisreal commented on #26112
@akuzm do we plan to implement it ?

[2021-07-09 09:21] kitaisreal commented on #26115
@akuzm can you take a look at it ?

[2021-07-09 09:52] sileiH opened #26121 "The distributed table IN specifies that all table data is faster than some of its data"
CREATE TABLE test.test_local
(
    `fid` String,
    `imei` String,
    `app` String
)
ENGINE = ReplicatedMergeTree('/clickhouse/tables/{layer}-{shard}/test_local', '{replica}')
ORDER BY app
SETTINGS storage_policy = 'hdd_in_order', index_granularity = 8192

 CREATE TABLE test.test
(
    `fid` String,
    `imei` String,
    `app` String
)
ENGINE = Distributed('report_shards_replicas', 'test', 'tes

[2021-07-09 11:32] excitoon commented on #17317
@UnamedRus @alz There is a quick workaround for this bug:

[code]

Add some other non-default column into the query.

[2021-07-09 12:21] vdimir commented on #25806
Actually not related to join, minimal example:

[code]

[2021-07-09 12:40] fedoranvar opened #26124 "Unknown function dateName"
You have to provide the following information whenever possible.

**Describe the bug**

receive 'Unknown function' error by running query with dateName function

**Does it reproduce on recent release?**

On clickhouse server version of 21.6.5 (latest)

**How to reproduce**

* Which ClickHouse server version to use
    21.6.5
* Which interface to use, if matters
    grafana or official docker conta

[2021-07-09 12:48] yurayko opened #26125 "Crash when ENGINE = PostgreSQL"
Debian PostgreSQL 11

CREATE TABLE sche.pt (
        ts TIMESTAMP WITH TIME ZONE                DEFAULT NOW()                NOT NULL,
...
) PARTITION BY RANGE (ts);

ClickHouse

CREATE TABLE pt.d
(
	`ts` TIMESTAMP
)
ENGINE = PostgreSQL( 'srv', 'db', 'pt', 'logi', 'pass', 'sche' );

Crashed when `select ts from pt.d limit 1`

2021.07.09 15:28:52.786507 [ 20552 ] {aa35704a-4624-4259-9ead-ac45cc7ec0

[2021-07-09 12:48] den-crane commented on #26124
It will be available from 21.7

[2021-07-09 12:48] #26124 closed

[2021-07-09 12:54] edenisn opened #26126 "Schema migration"
Where I can find actual schema migration in Clickhouse? (https://en.wikipedia.org/wiki/Schema_migration)
For example like in postgresql:

[code]

[2021-07-09 12:58] kssenii commented on #26125
Duplicate of https://github.com/ClickHouse/ClickHouse/issues/24516. Was fixed in https://github.com/ClickHouse/ClickHouse/pull/25906.

[2021-07-09 13:03] #26125 closed

[2021-07-09 13:41] #9390 closed

[2021-07-09 13:44] Alekky09 commented on #26098
But I can't use it globally?

[2021-07-09 14:14] den-crane commented on #26126
There is no schema in CH. There is no transactions.

You can use smth like

[code]

[2021-07-09 14:32] edenisn commented on #26126
@den-crane Thanks a lot!

[2021-07-09 14:38] #26126 closed

[2021-07-09 14:41] alexey-milovidov commented on #25848
Duplicate https://github.com/ClickHouse/ClickHouse/issues/329

[2021-07-09 14:48] alexey-milovidov commented on #329
This should be similar to the "trivial count optimization" but for min/max.
We can extend "trivial count optimization" for queries without GROUP BY and without filter (or with filter by partition) that contain only count, min and max aggregate functions.

[2021-07-09 15:01] markheger opened #26137 "Avoid wraparound (timestamp underflow) in toStartOfWeek()"
`toStartofWeek()` does a wraparound (timestamp underflow) in case the timestamp `0` or `1970-01-01 00:00:00`

`1970-01-01 00:00:00` causes the wraparound since the first day of 1970 is a Thursday.

The result **2106-02-07** does not really make sense.

[code]

[code]

[2021-07-09 15:04] PHameete commented on #7752
Cheers for the pointer I'll give that a try! My current solution is to generate zeroes beforehand for cases where this is relevant (sums and counts) and to then use UNION ALL to merge with the query without fills.

The original remark still holds: using time intervals as step size would be very valuable, particularly for days and larger intervals as then the workaround above will not work due to D

[2021-07-09 16:07] VKoptev commented on #21101
@kitaisreal

Thanks a lot!
We changed to DDL dictionaries. It helped.

[2021-07-09 16:11] akuzm commented on #26112
`nth_value(value, n)` -- Returns value evaluated at the row that is the n'th row of the window frame (counting from 1);

I think it can be replaced with `groupArray(n)(value)[n]`, but it is somewhat ugly, yes. We don't have plans to implement it soon, but a PR would be welcome.

[2021-07-09 17:08] akuzm commented on #26115
[code]

Nice.

This one is also broken:
[code]

[2021-07-09 17:41] zhengshengjun opened #26146 "'auto' not allowed in function prototype"
Hi, I just checked out from master branch and met the following build error. Should ClickHouse avoid using 'auto' in function prototype ?

**Operating system**
macOS Catalina 10.15.7

**Cmake version**
3.19.2

**Ninja version**

**Compiler name and version**
Apple clang version 12.0.0 (clang-1200.0.32.29)

**Full cmake and/or ninja output**

/Users/workspace/clion/opensource/ClickHouse/src/Common/

[2021-07-09 17:50] ryzuo commented on #26115
Right, forgot to mention this does not work either, and I also tried table with the type of column is Nullable(Float32), and run the functions on the column, the value overflows... I've got no time to look into the cause yet.
The change of getReturnType() I mentioned above can fix the "no-null returned value" problem, but it clearly does not solve the rest of the problem

[2021-07-09 17:54] ryzuo commented on #26112
Yes, groupArray is an option we tried, but with some more complicated requirements, the query can be much more complicated, and does not work very well and neither graceful.
I will shoot a PR later

[2021-07-09 17:55] alexey-milovidov commented on #15065
clickhouse perf-sender - a tool to collect Linix Perf data and send it to ClickHouse for always-on server profiling.

[2021-07-09 17:58] alexey-milovidov commented on #15065
@kreuzerkrieg I ruled it out for some reason, but don't remember why. Need to take a look again.
Also take a look at https://github.com/ClickHouse/ClickHouse/issues/21426

I'm not sure that it's ok as intern task as it has very high requirement on the quality of implementation. E.g. the internal filtering kernel has to be optimized to the works of https://lemire.me/

[2021-07-09 18:04] alexey-milovidov commented on #15065
Time series analysis with window functions.

Simple moving average. Exponentially smoothed moving average. Holt-Winters forecast. ARIMA. Discovery of "shock events".
A modifier for ORDER BY WITH FILL or similar to fill data with extrapolation.

[2021-07-09 18:06] alexey-milovidov commented on #15065
Integrate ClickHouse as Python module for embedded processing of dataframes similar to DuckDB.

[2021-07-09 18:46] alexey-milovidov commented on #25224
@l1t1 Checked and fixed.
Version 21.7 has been released.

[2021-07-09 18:48] alexey-milovidov opened #26148 "21.8 release checklist"
Please list here all the issues that must be fixed before the next release.
21.8 will be the next LTS version and it is scheduled for release in August.

[2021-07-09 18:52] alexey-milovidov commented on #26117
This documentation is going to be written.

[2021-07-09 18:54] alexey-milovidov commented on #26112
@akuzm Is it somehow difficult to implement? Maybe it's a piece of cake. Just tell what parts of code needs to me modified :)

[2021-07-09 19:03] akuzm commented on #26112
We have an endless supply of "piece of cake" tasks that can saturate several full-time employees for years, so I'm not very keen to implement everything that pops up.

To answer your question, it needs about one meaningful line of code, ten lines of boilerplate and one test query. Analogous to `first_value`. The issue author says they have an implementation, so probably they have figured it out al

[2021-07-09 19:04] alexey-milovidov commented on #26146
The code is valid and conforms C++20 standard.
The issue is with *Apple* clang.
clang should be used instead. You can install clang with brew.

[2021-07-09 19:04] #26146 closed

[2021-07-09 19:09] alexey-milovidov commented on #26112
@ryzuo please send a PR.

[2021-07-09 19:16] vhsmacabre opened #26149 "Attempt to read after eof with enabled data compression on carbon-clickhouse"
**Describe the bug**

CH throws an `Attempt to read after eof` exception when `carbon-clickhouse` with enabled gzip compression (`compress-data true` in `carbon-clickhouse` config) tries to insert 5000+ metrics.

**Does it reproduce on recent release?**

Reproduces on 21.6.6.51 (stable) and v21.3.14.1 (LTS).

**How to reproduce**

***Prerequisites***
1. `carbon-clickhouse` - `clickhouse` [default

[2021-07-09 19:31] alexey-milovidov commented on #26149
Is it related to ClickHouse or to carbon-clickhouse (a third-party software)?

[2021-07-09 19:36] vhsmacabre commented on #26149
@alexey-milovidov

It works with CH 20.6.8.5 and `carbon-clickhouse` 0.11.1 and broken in CH 21.3.14.1+, so I think it's CH-related.

[2021-07-09 19:59] alesapin commented on #26117
You can look at draft here: https://github.com/ClickHouse/ClickHouse/pull/26150

[2021-07-09 20:23] isheu opened #26151 "hasAll() filter condition not relying on bloom filter; re-writing as has() AND has()... does use bloom_filter"
**Describe the situation**
hasAll() filter condition not relying on bloom filter, but re-writing as series of has() AND has()... (or series of indexOf conditions) does use bloom filter

**How to reproduce**
* ClickHouse server version: 21.2.7.2

Test Table:
- 33M records, 10 columns
- MergeTree() engine, has a sort order specified
- Has a field STRING_ARRAY that is a Array(String) column. It has a

[2021-07-09 20:45] #25993 closed

[2021-07-09 22:29] den-crane commented on #26149
[log_500.crash.txt](https://github.com/ClickHouse/ClickHouse/files/6794163/log_500.crash.txt)
[log_segfault.crash.txt](https://github.com/ClickHouse/ClickHouse/files/6794164/log_segfault.crash.txt)

[2021-07-10 00:01] den-crane commented on #26149
cc @Felixoid

[2021-07-10 01:19] alexey-milovidov commented on #15065
Userspace page cache (already booked).

[2021-07-10 01:20] alexey-milovidov commented on #15065
Compile expressions to GPU

It is relatively easy as we already have compilation of simple expressions to LLVM IR and LLVM has GPU backends.

[2021-07-10 03:11] SaltTan opened #26173 "FR: Expose TTL expression for columns in the system database"
It would be great to have this information in both system.columns and system.parts_columns

[2021-07-10 05:10] alexey-milovidov opened #26174 "A function to transform named tuple to Array of name, value pairs or Map."
**Use case**
Convert columns to rows by applying this function and doing arrayJoin.

[code]
to
[code]

[2021-07-10 05:20] alexey-milovidov opened #26175 "`sparkbar` aggregate function"
See https://github.com/deeplook/sparklines

**Describe the solution you'd like**
[code]

An aggregate function calculates a histogram of `y` by `x` and then reshapes it to `width` buckets if the histogram is larger.
Linear weighted average is used for reshaping. If multiple values correspond to a single bucket, they are also averaged.
The function returns a string.

The height of bar is proportion

[2021-07-10 06:09] alexey-milovidov opened #26177 "Forward profile events to client"
Server should send to the client the data in form of collections of
`host_name, thread_id, type, name, value` records.
type is either `increment` or `gauge`.

This data contains info from ProfileEvents (in form of increments) and from MemoryTracker (in form of gauge).
The data is sent at some intervals similarly to the `Progress` packets.

New type of packet will be introduced to send this data an

[2021-07-10 08:10] #17484 closed

[2021-07-10 11:18] UnamedRus commented on #26174
Probably syntax could be inspired from snowflake

https://docs.snowflake.com/en/sql-reference/constructs/unpivot.html

Workaround for now:
https://kb.altinity.com/altinity-kb-queries-and-syntax/pivot-unpivot

[2021-07-10 13:27] kssenii commented on #26088
Still do not see how you can get this unlimited growth: I checked `clickhouse-benchmark --query "select * from pg;" -c 50` (where 50 is the number of queries sent simultaniously).
Then checking via postgresql client `SELECT count(*) FROM pg_stat_activity WHERE datname = 'postgres';` always shows 17 connections - one for command line client plus 16 for clickhouse server postgres pool connections.
S

[2021-07-10 14:19] vmihailenco opened #26196 "21.5.8, 21.6 & 21.7 break *Array aggregation types"
Updating existing table to 21.6 and 21.7 breaks *Array aggregation types. The table contains mater view with the following column

[code]

When trying to insert into the table I get the following error:

[code]

As you see the type has changed from `topKArray(10)` to `topKArray`. I can update the mater view schema to use the new type and the problem goes away, but it is not clear whether this chan

[2021-07-10 15:21] StephenSorriaux commented on #26088
Thank you, I am going to try to reproduce the issue and come up with something reproducible.

[2021-07-10 16:23] zvonand opened #26197 "Kerberos authentication succeeds when both principal and realm specified"
As stated in [CH docs](https://clickhouse.tech/docs/en/operations/external-authenticators/kerberos/#enabling-kerberos-in-clickhouse), `principal and realm sections cannot be specified at the same time. The presence of both principal and realm sections will force ClickHouse to disable Kerberos authentication`.

Despite that, one can perform authentication when both `principal` and `realm` statement

[2021-07-10 22:51] alexey-milovidov commented on #26117
Merged.

[2021-07-10 22:51] #26117 closed

[2021-07-10 22:52] alexey-milovidov commented on #26117
https://clickhouse.tech/docs/en/operations/clickhouse-keeper/

[2021-07-10 22:54] alexey-milovidov opened #26209 "Miserable quality of documentation search"
Cannot find a page about ClickHouse Keeper.

![Screenshot_20210711_015246](https://user-images.githubusercontent.com/18581488/125178165-d3fb7100-e1ea-11eb-8474-e63bea3ae932.png)

https://clickhouse.tech/docs/en/operations/clickhouse-keeper/

[2021-07-11 00:42] alexey-milovidov opened #26211 "Add `addressToLineWithInlines` function."
**Use case**
Similar to `addressToLine` but outputs an array with inlined places in code.

[2021-07-11 00:53] alexey-milovidov opened #26212 "The function `clearOldTemporaryDirectories` is run every second."
It is too much. It is very heavy function as it iterates over potentially large directories.
Even on my machine it leads to about 8% CPU usage in background which is non-tolerable.

[2021-07-11 01:04] alexey-milovidov commented on #26212
Decrease to at least once a few minutes.

[2021-07-11 02:14] alexey-milovidov opened #26214 "Lower the number of opened file descriptors by introducing ReadBufferFromFileDescriptorPRead"
and sharing it from several threads. It may or may not improve performance.

For comparison, currently we have something like this:
[code]

As a side effect it can be used to read files from `/proc` for `AsynchronousMetrics` using single `pread` syscall instead of two `lseek`, `read`.

[2021-07-11 02:23] alexey-milovidov opened #26215 "Ridiculous amount of `statfs` syscalls."
About 10 seconds:

[code]

[2021-07-11 02:23] alexey-milovidov commented on #26215
CC @alesapin

[2021-07-11 02:26] Ashwin-2000 commented on #26174
Hi,I am first timer, I would like to contribute , can you provide more insight on where to write the code or where to refer ?

[2021-07-11 02:58] alexey-milovidov commented on #25997
21.3 is affected.

[2021-07-11 03:00] alexey-milovidov commented on #25997
20.8 is ok.

[2021-07-11 04:50] jasine opened #26216 "timestamp format should convert to DateTime64 not DateTime in postgres engine"
**Describe the unexpected behaviour**
currently data format name started with `timestamp`(timestamp/timestamptz) all converted to DateTime in postgres engine, this will losing precision of millisecond and microsecond, so they should be regarded as DtateTime64 data format

**Expected behavior**

they should be regarded as DtateTime64 data format

[2021-07-11 08:39] UnamedRus commented on #26095
It's needed for AggregatingMergeTree tables and -State -Merge combinators.
You need to have full state in case of new data appear.

[2021-07-11 09:11] amoskaliov opened #26220 "LDAP: use special account to perform search in the directory"
**Problem**
Currently Clickhouse offers the following scenario of LDAP login:
1. Directly bind with the user's login and password.
2. While bound find the user's groups.

I have 2 problems with this scenario:
1. Users use `uid` attribute to login (it looks like `j.doe`), while the user's DN in LDAP looks like `cn=John Doe,ou=People,dc=***,dc=ru`. So I can't set appropriate `bind_dn` parameter.
2.

[2021-07-11 11:08] skirpichenok commented on #25418
FYI When I defined ORDER BY inside a View definition it works ok and use index. But If I definied a View without OREDR BY and then I query that View like "select * from MY_VIEW OREDR BY id" then it works slower and does not use index [sometimes memory can be over. probably it depends on amount of data I operate]

probably it is similar optimization that needs to be added - for passing ORDER BY fro

[2021-07-11 13:26] zhicwu commented on #26046
Thank you @Zark1999 for the detailed inputs. I hope you don't mind that I added a unit test using the code you provided.

Anyway, I tried a few times using different parameters with no luck. I ran into below error if I create 100 external tables each contains 100 rows, but I don't think it's related. Changing it to 30 tables and 10000 rows worked well. I also tried `BalancedClickhouseDataSource` w

[2021-07-11 19:10] alexey-milovidov commented on #26215
Side note: Linux is capable of doing 10 million simple syscalls per second. But you should not aim this number.

[2021-07-11 21:33] alexey-milovidov commented on #26027
The best option is to simply continue and upgrade the rest of the nodes in a cluster. The chance this incompatibility will be addressed is low.

[2021-07-11 21:40] alexey-milovidov commented on #26030
See the `enable_global_with_statement` setting.

[2021-07-11 21:42] alexey-milovidov commented on #23194
See also #26030.

[2021-07-12 00:25] #25997 closed

[2021-07-12 00:31] alexey-milovidov commented on #18794
Check that server is being able to write 1 MiB of random data into the working directory, close the file and then immediately read data with the same checksum from another thread. If not succeeded, the server should throw exception and refuse to work. It should be possible to disable this check from config. It should also be disabled if default disk is not a local filesystem.

There are cases when

[2021-07-12 01:52] Zark1999 commented on #26046
@zhicwu Sure, use it as one of unit tests. It is great if the code helps to check the funtionality.

As for the problem thrown. if it is not a bug of the source code, it might be caused by other parts like security or proxy. The source code was edited for an enhanced security by the company I'm working at, but I did not expect that would lead to new bugs, which I will check with the other team mem

[2021-07-12 01:52] #26046 closed

[2021-07-12 02:21] zhicwu commented on #26046
You're welcome. Feel free to re-open the issue if you're certain it's related to either the driver or specific version of ClickHouse.

[2021-07-12 04:25] zhicwu commented on #24094
@javawin, you can use connection string like below:
[code]

[This](https://github.com/ClickHouse/clickhouse-jdbc/blob/d3db68c73bb1e81c54e3ff030856998069b2aee4/clickhouse-benchmark/src/main/java/tech/clickhouse/benchmark/JdbcDriver.java#L31) works for me.

[2021-07-12 04:26] alexey-milovidov opened #26233 "Remove function `bayesAB` or break it in backward incompatible way."
This function is strange. Looks like the implementation is of low quality.

[code]
Why it is not deterministic? Missing a comment.

[code]
It returns unstructured data?

As first step we can remove documentation for this function.
CC @nikitamikhaylov

[2021-07-12 04:36] alexey-milovidov commented on #11333
@zxc111 Yes, it is related to constant folding.
The constant folding happens before the check and the function `now` does not exist in actions.

Proper solutions can be:
- ask ExpressionActions or ActionsDAG to check for non-determinism;
- save folded expressions in .sql metadata, so `now()` is resolved at creation time and substituted; but we should also do the same for ORDER BY key stored in Zoo

[2021-07-12 07:08] alexey-milovidov commented on #9001
We cannot easily calculate uncompressed size (in contrast for compressed size) - let's simply return 0.

[2021-07-12 08:52] aoowuu opened #26238 "Users created by RBAC /access_management, use "show databases" to return no data"
## this  is  user.xml
	<yandex>
    <users>
        <default>
            <password>TEST123</password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <databases>
                <system>
                    <tables>
                        <filter>database != 'system'</filter>

[2021-07-12 09:08] scf37 opened #26239 "Inefficient join on ordered data"
**Describe the situation**

Joining tables by sort key should use constant memory - it is basically merging two sorted streams.

[code]

And then
[code]

Expectation:
Joining two ordered streams should be about 2x slower than simple `select max(SSTCK) from target_stocks`

Reality:
Memory limit (for query) exceeded

**Additional context**
Clickhouse 21.6.5 revision 54448

What is the right way to a

[2021-07-12 09:28] #10212 closed

[2021-07-12 09:45] kokizzu opened #26240 "Unclear error message on insert when materialized view query have different column name from parent table"
Trying to rename a column by dropping:

[code]

when dropping dependency should show warning that it's being used by another materialized view.
when inserting should show which materialized view that causes the error, so we can drop it.

**Does it reproduce on recent release?**

only test with 21.6.5, pretty sure still happened in the latest.

[2021-07-12 09:50] KochetovNicolai commented on #24009
@vlstv It is hard to understand why `No more packets are available` happen. Could you please show a query example, and all logs for a query with such a error (grep by query id)? It would be also helpful, if you can find logs both from initiator, and from remote nodes (for remote node, query id is different, but you can find it from `system.query_log` by `initial_query_id` equals to `query_id` of i

[2021-07-12 10:02] godliness commented on #19970
@r-zenine

I found a C++ library for Lucene:  https://github.com/luceneplusplus/LucenePlusPlus

Why you didn't use this and use to instead of rust library?

[2021-07-12 10:16] aohan237 opened #26242 "how to write the sql using clickhouse, if i want to get the aggregate results fo each items select from table?"
search all the ways from google to sf, no same questions.

say i have a table，which is about 1T large:

user_id|  pay_time | pay_info
-|-|-
1 | 1232323 | {'num':10, "total":100}
1  |1232324 | {'num':11, "total":110}
1  |1232325  |{'num':12, "total":120}
2  |1232326 | {'num':13, "total":130}
2  |1232327 | {'num':14, "total":140}
2  |1232328 | {'num':15, "total":150}
2  |1232329 | {'num':16, "total"

[2021-07-12 10:29] kokizzu opened #26244 "SELECT COUNT(1) super slow, COUNT(*) super fast"
isn't it should be exactly the same if there's no null?

`COUNT(1)` took more than a minute (unfinished) and 13GB RAM for 160k-ish rows, but `COUNT(*)` took less than 10 ms.

[2021-07-12 11:20] MaxWk commented on #26073
it look like AccessControlManager cache the ContextAccess in memory ,when user recreate quickly,it will read some old data。

[2021-07-12 11:35] filimonov opened #26247 "Nullable(Nothing) inside parameters"
Need to pass 'type neutral' NULL as a parameter.

ClickHouse client version 19.16.19.85 (official build).

[code]

Since 20.1:
[code]

[2021-07-12 12:04] akuzm commented on #26017
This reproduces in Yandex.Metrica acceptance testing: https://st.yandex-team.ru/MTRSADMIN-7467

[2021-07-12 12:06] akuzm commented on #26017
A real query fails with a cryptic error while it worked before. Looks like this is a bug.

[2021-07-12 12:08] amosbird commented on #26244
If your clickhouse server has a setting named : `optimize_normalize_count_variants`, it should work as expected.

[2021-07-12 12:10] amosbird commented on #777
Do we still need this?

[2021-07-12 12:41] Slach commented on #777
no, I think clickhouse-keeper and nuRaft implementation in future clickhouse releases will enough for ReplicatedMergeTree

[2021-07-12 12:41] #777 closed

[2021-07-12 12:42] vmihailenco commented on #26196
To reproduce create a table:

[code]

And execute:

[code]

The same queries work on 21.5.7.9

[2021-07-12 12:43] den-crane commented on #26244
Clickhouse version?

[code]

[2021-07-12 12:47] den-crane commented on #26239
CH does not support pure MergeJoin. Only hash join and partial hash join are implemented.

[2021-07-12 12:49] den-crane commented on #26242
Clickhouse version?  `select version()`

[2021-07-12 14:10] den-crane commented on #26121
Check performance of

[code]

[2021-07-12 14:59] Slach commented on #16295
@amosbird maybe
COLUMNS expression and EXCEPT clause will usefull for this corner case
https://clickhouse.tech/docs/en/sql-reference/statements/select/#columns-expression
https://clickhouse.tech/docs/en/sql-reference/statements/select/#except-modifier

[2021-07-12 15:11] siradjev opened #26251 "Unfold all macros when creating ReplicatedMergeTree"
**Use case**
Currently on creation of replicated merge tree, metadata SQL files are kept as-is (except for {database}, {table}) macros.
As every replicated merge tree relies heavily on zookeeper path, and zookeeper path is assumed to be constant and never changing, it makes more sense to resolve all of the macros, not just {database} and {table}.
With current behavior clickhouse won't load existin

[2021-07-12 15:21] filimonov opened #26252 "excessive/uncontrolled logging of EmbeddedRocksDB"
[code]

Part of the LOG file:

[code]

It looks like we need to control it via:
https://github.com/facebook/rocksdb/blob/5afd1e309c6959bf192393e4957e0c83234db4fe/include/rocksdb/options.h#L495-L499

and maybe forward those logs to the main clickhouse logs?

[2021-07-12 15:30] asafcombo opened #26253 "Allow custom merge in AggregatingMergeTree when column is of simple type"
**Use case**
The current behavior of `AggregatingMergeTree` for simple columns is to do an `any` merge ( although according to my tests it looks like `anyFirst` ).

I suggest to allow a custom setting in the table settings to allow other function as well - for example `max`.

This will allow a more simple schema design that is more easy to maintain and read. See a more complex example later.

So l

[2021-07-12 15:53] alekon opened #26254 "not working (or outdated) official build instructions"
I'm trying to follow "Faster builds for development " section of build instructions https://clickhouse.tech/docs/en/development/build/#faster-builds-for-development
Did git clone for github repository, then installed clang-11(mentioned as recommended) and build tools from repository:
[code]
and then run command:
[code]
With this flags cmake complain about broken C compiler. After googling bit i fo

[2021-07-12 16:21] alexey-milovidov commented on #26254
I've updated the docs: https://github.com/ClickHouse/ClickHouse/commit/f30e614165183a5dca7276e532f7ff482960463a

`lld` is used by default.

[2021-07-12 16:21] #26254 closed

[2021-07-12 16:24] alexey-milovidov commented on #26252
How do you find it excessive?

It is the internals of every instance of RocksDB table.
My choice is just don't care about these logs and don't look at it.

[2021-07-12 16:45] #26078 closed

[2021-07-12 16:52] SaltTan opened #26255 "FR: Expose what triggered the merge in system.part_log"
It would be great to see what TTL rule triggered a particular merge.
The other reasons are nice to see as well, like an OPTIMIZE statement etc.
Maybe add a row when a merge starts? Like in system.query_log.

[2021-07-12 17:19] ivoleg commented on #21694
I'm working on it

[2021-07-12 19:38] filimonov commented on #26252
When I read my data it should not grow. Logs should be controllable.

[2021-07-12 23:46] #11333 closed

[2021-07-13 00:05] FessAectan commented on #21191
Hello there.
I'll try to be that mysterious person and explain the issue.

The problem:
build for arm64/aarch64 (https://builds.clickhouse.tech/master/aarch64/clickhouse) doesn't have MySQL support.
Query `select * from system.build_options where name like 'USE_MYSQL';` returns nothing.

When I try to compile CH by using this [guid](https://clickhouse.tech/docs/ru/development/build-osx/), I face t

[2021-07-13 00:37] onine007 opened #26259 "exception rows in system.replication_queue"
There are some "Code: 49, e.displayText() = DB::Exception: Unexpected merged part 14_3559_3680_1_3694 intersecting drop range 14_3651_3651_999999999_3656 (version 21.3.14.1 (official build))"  error  rows in   table   system.replication_queue ;

last_exception:         Code: 49, e.displayText() = DB::Exception: Unexpected merged part 14_3559_3680_1_3694 intersecting drop range 14_3651_3651_9999999

[2021-07-13 00:54] #9001 closed

[2021-07-13 02:16] aohan237 commented on #26242
ch-server-11 :) SET allow_experimental_window_functions = 1

SET allow_experimental_window_functions = 1

Query id: 3f2de759-f552-49c5-835f-beb395c2e913

Ok.

0 rows in set. Elapsed: 0.002 sec.

ch-server-11 :) select number, avg(number) over (order by number rows unbounded preceding) from numbers(10);

Syntax error: failed at position 33 ('('):

select number, avg(number) over (order by number ro

[2021-07-13 02:28] alexey-milovidov commented on #21813
@bakey Are you still working on this?

[2021-07-13 03:14] bakey commented on #21813
Yes, I am still working on this.Something interrupt the development processs last couple of weeks.
I will be dedicated to this issue from now on.Hope can submit MR in a few days

[2021-07-13 03:24] aohan237 commented on #26242
version is 21.7.2.7

i cant use allow_experimental_window_functions in sql query,  but i config it in user.xml in profile, it works

[2021-07-13 05:45] filimonov commented on #26095
See https://github.com/ClickHouse/ClickHouse/pull/4004#issuecomment-454349525

P. S. Maybe windowFunnel will work for you? Or combining sequenceMatch (w/o time condition) with window functions?

[2021-07-13 05:46] kokizzu commented on #26244
2.1.6.5 revision 54448

[2021-07-13 05:52] kokizzu commented on #26244
hmm.. today it doesn't happened anymore '__') weird (no changes on the server or the queries tho)

[2021-07-13 06:26] aohan237 commented on #26242
now that i can use window function to fulfill this.
but what should i do if i want exclude the current row?

it seems that exclude is still unsupported,  is there any alternative ways?

[2021-07-13 06:38] windylcx commented on #21335
i met the  same problem

[2021-07-13 06:51] andrea-s commented on #26095
Thank you! For the moment we are just rewriting our queries so that only users which match all the sequence conditions are included in the analysis. This helps quite a bit as it excludes impossible paths from the funnel by itself.

Regardless, do you think there would be room in a future version to make the sequence_match_max_iterations parameter user-settable? I understand the reasoning for its e

[2021-07-13 08:07] markheger opened #26263 "Drop partition failed for partition value 2106-02-07"
Drop partition failed with following error:
`DB::Exception: Parsed partition value: 2106-02-07 doesn't match partition value for an existing part with the same partition ID: 21060207_1_1_0`

Problem observed with releases:
* 20.8.12.2
* 20.8.19.4

**How to reproduce**

[code]

[code]

**Expected behavior**

Drop partition should succeed.

[2021-07-13 08:15] yuwoliang opened #26264 "clickhouse connect HDFS, I want to modify the user who logs in to HDFS."
When I log in to other use in Clickhouse, I want to log in to HDFS with different users, how can I do? The hadoop security authentication is simple.

[2021-07-13 08:17] alexey-milovidov commented on #26263
Overflow of `Date` values is implementation specific behaviour. If you have the partition with overflowed value, you should drop it manually from filesystem and restart clickhouse-server.

[2021-07-13 08:21] markheger commented on #26263
The problem does not occur in 21.x release, hope that same fix could be done in 20.x release

[2021-07-13 08:45] kssenii commented on #26264
It can be implemented by adding `hdfsBuilderSetUserName`. You want to be able specify a specific user for each hdfs table? I can add a new engine argument for this.

[2021-07-13 09:32] dgloeckner commented on #26215
We've seen a similar behaviour in our CH server (21.6.6.51).

Bellow you find the CH syscalls just for one BgSchPool thread. It almost uses 1 second of CPU time in an interval of 10 seconds.
Together, all 16 BgSchPool threads of a single CH server account for a CPU usage of 150%.

What about the calls to clock_gettime? 10K calls per second per thread seems quite a lot, even if the actual call is c

[2021-07-13 09:33] #25990 closed

[2021-07-13 10:12] ST-eugenekrivdyuk opened #26267 "MongoDB engine can't connect to mongo without auth"
**Describe the unexpected behaviour**
`MongoDB` engine is failing to fetch data from collection when Mongo server doesn't have auth enabled.

**How to reproduce**
* Which ClickHouse server version to use
21.3.14.1
* `CREATE TABLE` statements for all tables involved

[code]
Note that I left user and password empty because Mongo doesn't have auth configured.

* Queries to run that lead to unexpected

[2021-07-13 10:22] fantom0005 opened #26268 "Optimization Union/Join at query filtration"
**Use case**
We join/union several tables with billions of rows of ad campaigns data, filtered by time range. For the most of the cases we need only recent months of data. But now it spends a lot of memory because the external filter doesn't apply on table which we join/union.
So all data in the joined table is loaded into RAM.

Someone in Clickhouse support chat (telegram) has recommended a worka

[2021-07-13 12:04] ubyyj commented on #24092
hit same issue here.
table TTL does not work, to be more specifically, 3 out of 4 nodes are not working.

[2021-07-13 13:03] #21184 closed

[2021-07-13 13:29] SaltTan commented on #23867
Check `system.part_log` to see if TTL merges get scheduled.
What are your TTL settings?
`select * from system.merge_tree_settings where name like '%ttl%'`

[2021-07-13 14:28] ngsiolei commented on #21118
In ClickHouse server 21.7.2 revision 54449, I confirm that the above Kafka failover issue was fixed. Thank a lot.

[2021-07-13 14:41] SaltTan commented on #26263
Try `ALTER TABLE Test.Example  DROP PARTITION ID '21060207'`
Or whatever `SELECT partition_id FROM system.parts` is.

[2021-07-13 14:58] vitlibar commented on #26073
ClickHouse reads users xml configuration files at start, keeps their contents in memory, and after that each two seconds it checks the modification time of those configuration files and rereads those files which have been changed.

[2021-07-13 15:28] geertvanbommel commented on #16682
Similar use case with the URL table engine (version 21.6.5)

`SELECT * FROM url('https://jsonplaceholder.typicode.com/todos', JSONEachRow, 'userId UInt32, id UInt32, title String, completed UInt8');`
=> Works :)

`SELECT * FROM url(CONCAT('https://jsonplaceholder.typicode.com/','todos'), JSONEachRow, 'userId UInt32, id UInt32, title String, completed UInt8');`
=> Works :)

`WITH 'todos' as q SELEC

[2021-07-13 15:38] Cas-pian opened #26293 "Access rights intersection got wrong result"
**Describe the bug**

A clear and concise description of what works not as it is supposed to.

Privileges intersect operation has a bug,  @vitlibar

**How to reproduce**

ck: 21.4.4.30
[code]

**Expected behavior**

The intersection of the two previous access rights `should be empty`, but the method `AccessRights`.`makeIntersection()` produces `show on db1.tb1` as the result, which should be wrong

[2021-07-13 17:05] #17317 closed

[2021-07-13 20:08] StephenSorriaux commented on #26088
I have finally been able to narrow down the issue. Contrary to what I was first thinking, the issue is not with the `PostgreSQL()` engine table but with the function [`postgresql()`](https://clickhouse.tech/docs/en/sql-reference/table-functions/postgresql/). From the logs, it seems like it create a new pool at each call.

![image](https://user-images.githubusercontent.com/16797053/125517915-50a6db

[2021-07-13 20:37] kssenii commented on #26088
Yes, the problem arises when using CREATE VIEW with postgresql table function. Each select creates a new storage instance for postgresql table function, but old storages do not die -> old connections do not die. I'll take a look why old storages do not die...

[2021-07-13 20:44] kssenii commented on #26088
Looks like it's a bug related to views, not to postgres engines. I'll see why it arises.

[2021-07-13 21:22] ywangtht commented on #11910
Any roadmap to add the pattern support for redis?

[2021-07-13 22:01] #26263 closed

[2021-07-13 22:02] quoc-t-le opened #26299 "Unsupported value when reading Array from dictionary with MySQL as source"
Just wanted to test out this item in change log:

Added support for Array type in dictionaries. #25119

I created a view in MySQL 5.7 for the dictionary to read from, I mimic an array column like so:

1. null as test_array_column
2. '[]' as test_array_column
3. '[1337,7331]' as test_array_column
4. JSON_ARRAYAGG(...) as test_array_column

When I reload the dictionary that uses that as source only

[2021-07-13 22:06] kssenii commented on #26299
Array type is not supported for MySQL dictionary source. The exception message `DB::Exception: Unsupported value type` is correct.

[2021-07-13 22:08] #26299 closed

[2021-07-13 22:15] den-crane commented on #23515
Luckily, Altinity client was able to make reproducible example

[code]
Now it's already fixed.

I'll add a test.

[2021-07-13 22:30] quoc-t-le commented on #26299
If you click the item in change log:
Added support for Array type in dictionaries. #25119

The feature claims to close #2135.

and not you say its not supported for MySQL?

[2021-07-13 22:41] kssenii commented on #26299
Yes, not supported.
Here is a list of what types are supported: https://github.com/ClickHouse/ClickHouse/blob/master/src/Formats/MySQLBlockInputStream.cpp#L119-L208.

As for  #2135 - it means that array types now can be supported for external dictionaries in case of there is a defined convertion via client library. For example, it is implemented for PostgreSQL dictionary source so array types are

[2021-07-13 23:29] den-crane commented on #23515
Though, I am wrong. It's not fixed. I've forgotten to enable optimize_move_to_prewhere.

[code]

[2021-07-13 23:54] den-crane commented on #23515
It reproduces more rarely starting from 21.3 because the logic of optimize_move_to_prewhere has changed.
Against another dataset it reproduces with 20.12, but not reproduce with 21.3 because of this.

20.12 MergeTreeWhereOptimizer: condition "a = '1'" moved to PREWHERE
21.3 MergeTreeWhereOptimizer: condition "(a = '1') AND (b = 'a')" moved to PREWHERE

But the root cause is still has not been fixe

[2021-07-14 01:34] yuwoliang commented on #26264
Thank you very much for your quick reply. Yes, In our hdfs, each hdfs path has its own owner. We cannot use hive (super user) to access, so when reading data, we need to switch the user name.
How to configure the hdfsBuilderSetUserName you mentioned? The version I use is 20.8.7.

[2021-07-14 02:51] MaxWk commented on #26073
@vitlibar  I think the design of caching is okay, but the reason I posted this issue is because the  has crashed. Is it possible to prevent it here?

[2021-07-14 02:53] zouyonghao opened #26300 "Got weird fatal log: floating point inexact result"
**Describe the unexpected behaviour**
Got weird fatal log: floating point inexact result
[code]

The line number in this log seems incorrect.

**How to reproduce**
* Which ClickHouse server version to use

[code]

[2021-07-14 03:26] allen12921 commented on #18100
@den-crane
Hi Den,
   Here I'm again,I have upgraded CH from 20.3.8.53 to 21.7.2.7 which contains  #25371  commit but the merge speed become slow again.
Any idea?

[2021-07-14 05:39] mis98zb opened #26301 "support mysql engine in ARM (AArch64) build"
I installed arm build with version 21.9.1.7428.
And when I tried to create database with engine = mysql, I got below error:
[code]

May I know when will arm build support mysql engine?

[2021-07-14 06:36] kssenii commented on #26264
It is not configuration I mentioned, but a change in code. I can add this change and then adding a user will require to add one more hdfs engine argument.

But new abilities are not backported to old versions. If implemented, it will be available only in last versions.

[2021-07-14 06:44] xhsky opened #26302 "arm64 ClickHouse build Failed"
Make sure that `git diff` result is empty and you've just pulled fresh master. Try cleaning up cmake cache. Just in case, official build instructions are published here: https://clickhouse.yandex/docs/en/development/build/

**Operating system**
Kunpeng 920-5251K(aarch64)       UnionTech OS Server 20 Enterpriseplease

**Cmake version**
3.13.4
**Ninja version**
1.8.2
**Compiler name and version**
cl

[2021-07-14 07:11] yuwoliang commented on #26264
OK, Thank you.

[2021-07-14 07:15] vitlibar commented on #26073
Yes, now I see, I'll try to fix it soon.

[2021-07-14 07:22] #25806 closed

[2021-07-14 07:24] filimonov opened #26303 "Safety threshold on data volume is triggered for function `range`."
test
[code]

It's regression:
20.7 - last version when test passes.
20.8 - first version when  test fails.

Error message & stacktrace:
[code]

[2021-07-14 07:31] filimonov commented on #26301
Related: https://github.com/ClickHouse/ClickHouse/issues/21415

[2021-07-14 07:55] fastio commented on #26212
@alexey-milovidov  The execution period of this function can be controlled by parameter with default value. I can fix it.

[2021-07-14 07:58] alexey-milovidov commented on #26212
@fastio Thank you! Let's do it.
It should not affect `clearOldParts` that will continue to run frequently.

[2021-07-14 08:04] alexey-milovidov commented on #26303
It is related to INSERT block size:

[code]

The safety threshold is triggered correctly (the function will produce at least 300 * 1048576 elements that is greater than the threshold).

[2021-07-14 08:06] alexey-milovidov commented on #26303
In this synthetic query the behaviour of ClickHouse is as intented.
Do you have any practical scenario for this case?

[2021-07-14 08:08] alexey-milovidov commented on #16609
This task is available.

[2021-07-14 08:19] alexey-milovidov commented on #26303
This safety threshold is redundant as we also have memory limits.

[2021-07-14 08:23] alexey-milovidov commented on #26303
I will make it configurable.

[2021-07-14 09:00] Sallery-X opened #26304 "2021.07.14 16:48:21.758015 [ 28152 ] {} <Fatal> BaseDaemon: (version 21.3.2.5, no build id) (from thread 28065) (no query) Received signal Segmentation fault (11) 2021.07.14 16:48:21.767489 [ 28152 ] {} <Fatal> BaseDaemon: Address: 0x8 Access: read. Address not mapped to object."

[2021-07-14 09:10] alexey-milovidov commented on #26300
You are using unofficial ClickHouse build.
What modifications did you make?

[2021-07-14 09:25] alexey-milovidov commented on #26304
@Sallery-X You are using unofficial build of ClickHouse.
You did not provide any required information.

[2021-07-14 09:25] #26304 closed

[2021-07-14 09:26] alexey-milovidov commented on #26304
If you have made unknown set of modifications to ClickHouse, we cannot guarantee that it will work stable.

[2021-07-14 10:24] FanWuu opened #26306 "Users created by RBAC /access_management, use "show databases" to return no data"
### this is user.xml
    <yandex>
    <users>
        <default>
            <password>TEST123</password>
            <networks>
                <ip>::/0</ip>
            </networks>
            <profile>default</profile>
            <quota>default</quota>
            <databases>
                <system>
                    <tables>
                        <filter>database != 'system'</filter>

[2021-07-14 10:37] alexey-milovidov commented on #26306
`SHOW DATABASES` query require access to the `system.databases` table. But you have filtered it with row-level filters.

[2021-07-14 10:44] alexey-milovidov commented on #25402
I will close this issue in favor of #23194.

[2021-07-14 10:44] #25402 closed

[2021-07-14 10:44] alexey-milovidov commented on #25335
I will close this issue in favor of #23194.

[2021-07-14 10:44] alexey-milovidov commented on #25389
I will close this issue in favor of #23194.

[2021-07-14 10:44] alexey-milovidov commented on #25405
I will close this issue in favor of #23194.

[2021-07-14 10:44] #25405 closed

[2021-07-14 10:44] #25389 closed

[2021-07-14 10:45] #25335 closed

[2021-07-14 10:46] alexey-milovidov commented on #25118
I will close this issue in favor of #23194.

[2021-07-14 10:46] #25118 closed

[2021-07-14 10:46] alexey-milovidov commented on #25522
I will close this issue in favor of #23194.

[2021-07-14 10:46] #25522 closed

[2021-07-14 10:48] alexey-milovidov commented on #23125
@akuzm Would you like to address this issue or we'd better close as "won't fix"?

[2021-07-14 10:49] aoowuu commented on #26306
So how can I make the "admin" account have the same permissions as the "default" account, but also block the system database, because the "default" account blocks the system database and can  show  other databases  normally

[2021-07-14 10:51] aoowuu commented on #26306
@alexey-milovidov

[2021-07-14 10:52] alexey-milovidov commented on #5176
@filimonov As nothing has been done and no one is interested solving this issue, I will close it.

[2021-07-14 10:52] #5176 closed

[2021-07-14 11:06] filimonov commented on #26303
Just was generating some data and filling arrays for test case.

[2021-07-14 11:06] akuzm commented on #23125
The use case is of minor importance and has a simple workaround, but it is still a correctness problem, so I wouldn't close with "won't fix". I think it will be fixed as a side effect when we redo how we push down sorting nodes in the execution plan (@KochetovNicolai has some plans for this).

[2021-07-14 11:07] alexey-milovidov commented on #26303
Test case should be added into `tests` directory in the repository.

[2021-07-14 11:16] #822 closed

[2021-07-14 12:29] mkocztorz commented on #25853
Updated config
---
|name|value                        |changed|description                                  |min|max|readonly|type         |
|----|-----------------------------|-------|---------------------------------------------|---|---|--------|-------------|
|use_uncompressed_cache|0                            |1      |Whether to use the cache of uncompressed blocks.|   |   |0       |Bool

[2021-07-14 12:41] zouyonghao commented on #26300
I do not modify the code, just build ClickHouse with ASan.

[2021-07-14 13:12] UnamedRus opened #26315 "ORDER BY + constraint optimization."
**Use case**
We have column (rating) which could have only specific values in it: (1-10 or [1,5,10])
And we use this column in ORDER BY clause:

[code]

And we do know in advantage that this column can't have value bigger than 10.
So we don't need to sort all table to first find largest value / apply order by / limit
We can just stop searching after first 5 rows with rating column = 10 will be fou

[2021-07-14 13:14] alexey-milovidov commented on #26300
Here is the official ClickHouse build with ASan: https://clickhouse-builds.s3.yandex.net/0/e2249bf1e5a5150b18f7826c0bc570e760e399cf/clickhouse_build_check/report.html

[2021-07-14 13:16] alexey-milovidov commented on #26300
Does the issue reproduce with the official build?
What are the steps to reproduce?

[2021-07-14 13:19] filimonov commented on #25493
See https://stackoverflow.com/questions/53571823/why-could-kafka-warn-partitions-have-leader-brokers-without-a-matching-listener

Please also update to 21.7 or newer.

[2021-07-14 13:19] #25493 closed

[2021-07-14 13:20] filimonov commented on #19255
So if the problem does not reproduces anymore - I will not do any fixes.

[2021-07-14 13:20] traceon commented on #26197
The problem was introduced at some point by other PRs. Currently investigating.

[2021-07-14 13:22] filimonov commented on #12661
Error processing was introduced in  https://github.com/ClickHouse/ClickHouse/pull/21850

[2021-07-14 13:22] #12661 closed

[2021-07-14 13:24] filimonov commented on #2547
The code was significantly reworked since 2018. Please report new issue if you still facing it.

[2021-07-14 13:24] #2547 closed

[2021-07-14 13:26] filimonov commented on #9573
It looks like some broker configuration / connectivity issue. Try to debug it using kafkacat utility.

[2021-07-14 13:26] #9573 closed

[2021-07-14 13:29] filimonov commented on #14201
Let's close it. It's possible to redirect the errors manually where needed now. Other options described https://github.com/ClickHouse/ClickHouse/pull/20249#issuecomment-779054737 can also be implemented one day.

[2021-07-14 13:29] #14201 closed

[2021-07-14 13:31] scottgurevich commented on #24281
@vdimir  - from what I remember the following query is considered as semi join during som parts of the execution:

[code]

[2021-07-14 13:40] KochetovNicolai commented on #25411
One of the reasons in this code:
https://github.com/ClickHouse/ClickHouse/blob/master/src/Interpreters/ExecuteScalarSubqueriesVisitor.cpp#L99-L127

The point is that for joined table we need to know it's structure. If right table is subquery, we run InterpreterSelectQuery with only_analyze flag. In this case, we do not execute scalar subquery (`select 1 where 0` in our case), but take result type

[2021-07-14 13:47] KochetovNicolai commented on #25411
Also, here
https://github.com/ClickHouse/ClickHouse/blob/a924a9dbacc1bd1506d4429d7e3d677cd97a2b38/src/Interpreters/ExpressionActions.cpp#L796-L801
we do't apply `analyzed_join->rightConvertingActions()` to added columns. @vdimir probably, we should?

[2021-07-14 13:52] SaltTan opened #26316 "MATERIALIZE TTL does not respect ttl_only_drop_parts"
I set `ttl_only_drop_parts` to 1 and then ran an ALTER TABLE MODIFY TTL query.
It merged every part.
I would expect MATERIALIZE TTL not to merge everything if `ttl_only_drop_parts` is enabled.

[code]

[2021-07-14 14:11] filimonov commented on #15613
Not confirmed.

[2021-07-14 14:11] #15613 closed

[2021-07-14 14:13] filimonov commented on #10573
Currenlty engine=Kafka provides at-least-once guarnatee. In some corner cases you can get duplicates. Improvements in that part are planned (no concrete date).

[2021-07-14 14:13] #10573 closed

[2021-07-14 15:04] vdimir commented on #25411
It's not required because `addJoinedColumnsAndCorrectTypes` adds columns with applied type conversion.
https://github.com/ClickHouse/ClickHouse/blob/cb89a2be9783de646c95ee8c424ce6a664c7dffc/src/Interpreters/TableJoin.cpp#L275-L277

[2021-07-14 15:39] #14046 closed

[2021-07-14 15:45] filimonov commented on #23933
See
https://github.com/ClickHouse/ClickHouse/blob/master/tests/integration/test_storage_kerberized_kafka/configs/kafka.xml

and
https://github.com/edenhill/librdkafka/wiki/Using-SASL-with-librdkafka

Try to connect with kafkacat. After success - use same parameters in kafka config in clickhouse

[2021-07-14 15:45] #23933 closed

[2021-07-14 15:48] filimonov commented on #12295
Also #20548

[2021-07-14 15:48] filimonov commented on #18719
Similar to #12295

[2021-07-14 15:48] #18719 closed

[2021-07-14 16:29] SaltTan opened #26319 "FR: ALTER MODIFY TTL should modify metadata only"
Now ALTER MODIFY TTL triggers MATERIALIZE TTL that runs a merge for every part in the table.
Not only it requires a lot of resources, it might also be completely useless (I might want to increase the TTL period, for example).
MATERIALIZE TTL can be skipped with the `materialize_ttl_after_modify` setting, but in this case TTL will not be re-calculated for existing data.
I think ALTER MODIFY TTL sho

[2021-07-14 19:07] alexey-milovidov opened #26325 "Infinite loop in "partial merge JOIN"."
Thankfully "partial merge join" is disabled by default.

[code]

Found by stress test.

[2021-07-14 19:08] #26044 closed

[2021-07-14 19:25] alexey-milovidov opened #26327 "If server killed in a moment after table metadata was changed in ZooKeeper but before it was changed locally (by ALTER MODIFY COLUMN) query, it may refuse to start."
https://clickhouse-test-reports.s3.yandex.net/0/1b4d2cbc6da217f0f89ba791f40fec3ca05d464e/stress_test_(thread).html

[code]

[2021-07-14 19:33] SaltTan opened #26328 "TTL for columns does not need to merge the table if it only needs to clear a column"
When TTL for a column expires it triggers a merge.
Instead of re-merging all parts TTL for columns can work more like CLEAR COLUMN, at least when `ttl_only_drop_parts` is enabled.

[2021-07-14 20:15] #26303 closed

[2021-07-14 20:23] alexey-milovidov opened #26330 "Failed assertion in function `has`"
[code]

[2021-07-14 20:25] alexey-milovidov commented on #26330
Related to #12550

[2021-07-14 20:42] #26216 closed

[2021-07-14 21:50] SaltTan opened #26331 "ttl_only_drop_parts affects TTL for columns in a strange way"
I enabled TTL for several columns, and I used different TTL expressions with different TTL periods.
I also enabled `ttl_only_drop_parts` because I didn't want ClickHouse to re-merge older parts (I know for sure my TTL expressions lead to the same value for all rows in a part).
However the merges were still being scheduled, and only for the parts where all TTL columns got expired, i.e for the longe

[2021-07-14 21:56] den-crane commented on #25853
You do understand that by design CH expects monthly partitioning?
15 minutes partitions are unthinkable.

[2021-07-14 21:59] den-crane commented on #20138
Source table is the table is used in MV from section.

[2021-07-14 21:59] #20138 closed

[2021-07-15 02:32] sileiH commented on #26121
The performance of this SQL is still very poor。
![image](https://user-images.githubusercontent.com/34700762/125718276-34506f81-51af-42f5-97a8-a77eded1af1f.png)

But when I removed the WHERE condition from the IN subquery, the performance improved
<img width="869" alt="WeChatc814860947bc987facf6cca8f50721c4" src="https://user-images.githubusercontent.com/34700762/125718828-4ce578cb-ffa9-4992-8749-3

[2021-07-15 02:39] l1t1 commented on #24075
checked on 21.7.3.14. fixed

[2021-07-15 03:21] Sallery-X opened #26332 "<Warning> AddressPatterns: Failed to check if the allowed client hosts contain address 11.74.128.63. DB::Exception: Cannot getnameinfo(::ffff:11.74.128.63): Temporary failure in name resolution, code = 198 2021.07.14 22:47:58.496848 [ 86754 ] {} <Error> Access(user directories): default: Authentication failed: Code: 195, e.displayText() = DB::Exception: Connections from 11.74.128.63 are not allowed, Stack trace (when copying this message, always include the lines below):"
The version is 21.3.5.42

[2021-07-15 03:30] #26332 closed

[2021-07-15 03:31] Sallery-X opened #26333 "Occasionally authentication failed occurs (hostname_pattern is used, `getaddrinfo` does not work)"
You have to provide the following information whenever possible.

Which ClickHouse server version to use
21.3.5.42
the error like this
![image](https://user-images.githubusercontent.com/45587738/125724907-6e8f4aaa-7ba4-46ce-b81f-cc71022967d4.png)

[2021-07-15 04:49] alexey-milovidov commented on #26333
Your DNS server cannot perform requests in some cases.

[2021-07-15 04:50] #26333 closed

[2021-07-15 05:03] #26017 closed

[2021-07-15 05:22] alexey-milovidov commented on #26030
See the comment: https://github.com/ClickHouse/ClickHouse/pull/26031#issuecomment-880402901

[2021-07-15 05:22] #26030 closed

[2021-07-15 06:59] mkocztorz commented on #25853
Thanks for pointing it out.
I did not find information that monthly partitions are expected. I've found that documentation warns about creating tables with over granular partitions (more than 1000) https://clickhouse.tech/docs/en/engines/table-engines/mergetree-family/custom-partitioning-key/#custom-partitioning-key. I'd be more than happy to read more about it if you have some links.
The schema I

[2021-07-15 07:11] aoowuu commented on #26306
@vitlibar

[2021-07-15 07:50] kokizzu opened #26350 "clickhouse-client for Alpine?"
I'm trying to connect using [clickhouse-go](https://github.com/ClickHouse/clickhouse-go/), when i test it, it shows:
[code]

tried with `apk add mysql-client`, it connect properly with that username and password
[code]

i want to test with `clickhouse-client` but there's no alpine package for clickhouse?
[code]

tried with amd64 binary `curl -O 'https://builds.clickhouse.tech/master/amd64/clickhou

[2021-07-15 07:52] vitlibar commented on #26293
`AccessRights.makeIntersection()` is an internal function, it's used currently only to find out if the current user have enough access rights granted with grant option to execute the `REVOKE` command. I don't quite understand the connection to your example. In your example the user named `test` will get access rights on `db1.tb1` and at the same time on each table in the database `db2`. `AccessRig

[2021-07-15 07:52] alexey-milovidov opened #26351 "Bad cast in `Date32`"
[code]

[code]

[2021-07-15 08:01] zouyonghao commented on #26300
I got this with my fuzzing tool like Jepsen, it seems hard to reproduce for now, but it produces several times in my tests.

Here is the whole log of this node when testing it, hope it can help.
[log0.txt](https://github.com/ClickHouse/ClickHouse/files/6821366/log0.txt)

[2021-07-15 08:13] alexey-milovidov commented on #26350
Yes, we don't have clickhouse-client for Alpine.

[2021-07-15 08:14] alexey-milovidov commented on #26350
[code]

It will work if you copy the following files to `/`:
https://github.com/ClickHouse-Extras/libc-blobs/tree/master/x86_64

[2021-07-15 08:19] alexey-milovidov commented on #26300
Yes, it is very valuable to apply more fuzzing to ClickHouse.
We are big fans of trying various fuzzing methods :)

It looks like:
- division by zero;
- `in std::chrono::duration::operator<` and `std::chrono::duration_cast`;
- when server is shut down.

Maybe it is related to some corner case in configuration. Did you change the configuration in some unusual way?

[2021-07-15 08:23] alexey-milovidov commented on #26300
@zouyonghao On what server do you test ClickHouse?
Maybe you have modified FPU flags, so some floating point operations became signaling?

[2021-07-15 08:39] alexey-milovidov commented on #26300
I've read more about floating point flags and exceptions and can conclude that there is an issue with your fuzzer, not with ClickHouse. Nevertheless, the details are interesting to me.

[2021-07-15 08:39] #26300 closed

[2021-07-15 08:43] alexey-milovidov commented on #18793
Fixed in #25801.

[2021-07-15 08:43] #18793 closed

[2021-07-15 08:46] alexey-milovidov commented on #14700
Still relevant in July 2021.

[2021-07-15 08:55] zouyonghao commented on #26300
Thanks for your time on this issue @alexey-milovidov
I do not modify configs much, here is the file.
[config0.txt](https://github.com/ClickHouse/ClickHouse/files/6821701/config0.txt)

Testing is running on a normal vm on VMWare.
I'll investigate my fuzzer about this issue.

[2021-07-15 08:59] Cas-pian commented on #26293
@vitlibar Thanks for your response.
Yes, it's a internal function, and I found the result of intersection is werid when I develop a new feature which uses this function. And I'll show my feature in minutes. Thanks.

[2021-07-15 09:06] wallace-clickhouse opened #26355 "How to Configm Who Uses the Memory of the Clickhouse Process?"
I found that clickhouse server memory usage is always around 22% while no merge task or query is being executed,it's very strange.So how can I check and analyze the memory usage of clickhouse server to find who is occupying the memory.

[2021-07-15 09:16] Cas-pian commented on #25395
This is a useful feature

[2021-07-15 09:33] UnamedRus commented on #26355
https://kb.altinity.com/altinity-kb-setup-and-maintenance/altinity-kb-who-ate-my-memory

[2021-07-15 10:09] #26355 closed

[2021-07-15 10:17] Cas-pian commented on #26293
@vitlibar This is my [code](https://github.com/Cas-pian/ClickHouse/commit/4c0456650a3558be0483d4d666cbc402396920d3) to add [grant replace](https://github.com/ClickHouse/ClickHouse/issues/25395) feature support. And I'm trying to test the case and got the wrong result.

So I've got a little debuging and found `AccessRights.makeIntersection()` remains false access rights, [this](7dc5b6bdc06a970a4653

[2021-07-15 10:22] alexey-milovidov commented on #23661
@tavplubix Fixed?

[2021-07-15 10:33] 115201592 opened #26361 "MaterializeMySQL engine mysql time type error"
May I ask the MaterializeMySQL engine when a certain field type of mysql is changed to time, the entire library cannot be used, and an error is reported:

`2021.07.15 17:32:08.888869 [ 17577 ] {} <Debug> MaterializeMySQLSyncThread: Skip MySQL event:

=== FormatDescriptionEvent ===
Timestamp: 1626324911
Event Type: FormatDescriptionEvent
Server ID: 683306
Event Size: 119
Log Pos: 123
Flags: 0
Binlo

[2021-07-15 11:29] vitlibar commented on #25395
It seems a bit unclear to me. Could you explain for example what the following statement

[code]

is going to do?

[2021-07-15 12:12] Cas-pian commented on #25395
It's a bit like `CREATE OR REPLACE TABLE`, it drop old privileges and replace it by new privileges, cause there might be two much privilges that need to be revoked, and is too long for the sql.

[2021-07-15 12:28] UnamedRus commented on #21756
[code]

```SELECT key FROM table GROUP BY key ORDER BY key```
It looks like we can ignore ORDER BY clause because after GROUP BY we do have right order?
Would it always works in that manner?

What about ```ORDER BY key DESC```
Should we have ability to do GROUP BY from end of parts?

So it looks like that ORDER BY clause should determine order of reading data and GROUP BY should use this order for

[2021-07-15 12:36] UnamedRus commented on #26253
Currently table level settings isn't being replicated at most (except index_granularity*) AFAIK.

So it's possible to have different values on each replica which would lead to merges inconsistency.

[2021-07-15 12:37] vitlibar commented on #25395
`CREATE OR REPLACE TABLE` is like two commands `DROP TABLE IF EXISTS` and then `CREATE TABLE` but in one command. Do you mean `GRANT REPLACE` should work as `REVOKE <something>` and after that `GRANT <something>`?

So

[code]

should work like

[code]

Is that what you mean?

[2021-07-15 13:02] Cas-pian commented on #25395
Yes, correct. Thus we don't need to revoke old privileges one by one, just drop them and grant with new privileges.

[2021-07-15 13:05] vitlibar commented on #25395
You can revoke everything with one command

[code]

and then you can grant what you need.

[2021-07-15 13:15] abraithwaite commented on #5176
I still care about this, I'm willing to do work to contribute, but got the impression that it was something that the core contributors wanted to address from the telegram channel IIRC.

[2021-07-15 13:15] Cas-pian commented on #25395
@vitlibar Yes, but this might affect the sql which is current using some privileges, if grant replace is supported, we can do these things in one sql (since there's no transaction in ck)
cc @godliness

[2021-07-15 13:38] den-crane opened #26369 "Projections are not very smart about datetime dimension."
[code]

[2021-07-15 13:48] kymtwyf opened #26370 "Clickhouse failed to start due to suspicious parts"
my clickhouse server failed to start due to below error messages:
[code]

How can I fix this to start the server?

[2021-07-15 13:48] amosbird commented on #26369
We need deterministic rules to do factorization over functions.

[2021-07-15 13:55] vitlibar commented on #25395
If I understand your idea correctly after implementing this feature you will have to write all privileges in a single command, like this

[code]

And if you write that sequentially:
[code]
you'll get a completely wrong result (`john will be left with only `CREATE, DROP ON mydb3.*` access rights).

[2021-07-15 13:58] akuzm commented on #26370
This means that the local data is not consistent with metadata in Zookeeper.
First of all, check that the Zookeeper path is correct.
If it is correct, follow this manual to restore the data on this replica from other replicas: https://clickhouse.tech/docs/en/engines/table-engines/mergetree-family/replication/#recovery-after-failures

[2021-07-15 14:00] kymtwyf commented on #26370
@akuzm thank you for your quick response! It is helpful !!!

[2021-07-15 14:00] #26370 closed

[2021-07-15 14:01] akuzm commented on #26361
Maybe @tavplubix or @BohuTANG would know.

[2021-07-15 14:05] Cas-pian commented on #25395
It seems CH has already support grant multi db privileges to user in a single command.
`GRANT select on db1*, insert on db2.* to john`.

The point is that if current privilege is `select, insert on db1.tb1`, and execute `grant replace select on db1.tb1`, the `select` should never be revoked at any time, cause it might be using by an incoming request.

[2021-07-15 14:11] akuzm commented on #26268
This is a straightforward optimization we would want to have. When we have an inner equi-join, we should create an "equivalence class" (in pg terms) that records the fact that `ad_id` on both sides is the same. Then we should move this inequality condition to the equivalence class. Then we should re-generate the inequality clause for both tables from this equivalence class.

I guess you shouldn't

[2021-07-15 14:16] akuzm commented on #26247
I guess we should just introduce some text serialization for them, why not...
Another dumb thing to fix is that we serialize Nulls as binary with ascii character '0', not with zero byte. Not that it has any effects though.

[2021-07-15 14:21] akuzm commented on #26242
`EXCLUDE CURRENT ROW` is not currently supported and we don't have a timeline for this, but for frames that don't go over current row, you can emulate it by switching from e.g. `ROWS BETWEEN UNBOUNDED PRECEDING AND CURRENT ROW` to `ROWS BETWEEN UNBOUNDED PRECEDING AND 1 PRECEDING`.

[2021-07-15 14:23] akuzm commented on #26239
A 'partial merge join' we already have would help, but AFAIK it is still an experimental feature.

@vdimir FYI

[2021-07-15 14:23] vitlibar commented on #25395
Ok, I understood. This should be a useful feature.

[2021-07-15 14:24] vitlibar commented on #25395
GRANT select on db1*, insert on db2.* to john

That's right, so implementing of this feature seems to be not very difficult.

[2021-07-15 14:43] godliness commented on #25395
@vitlibar thanks for your attention.
@Cas-pian thanks for your explain.
try think we need develop a web portal to manage privileges of clickhouse cluster which has thounsands nodes，everyone has its own privileges，so we need a master just like the web portal to push the final state privileges to every node，web portal need store the cluster privileges data into database，so we have to generate the de

[2021-07-15 14:49] traceon commented on #26220
Makes sense. Will be implemented eventually... probably.

[2021-07-15 14:56] akuzm commented on #26253
This would be just another way to do the same thing as `SimpleAggregateFunction`, but specifying it in a different way. Not sure we would want to support it.

Maybe there are some ways to improve the usability of SimpleAggregateFunction instead? What is the primary problem, downstream systems not understanding the unusual column type, and having to apply `finalizeAggregation`? For the latter, we c

[2021-07-15 14:59] akuzm commented on #26151
This feature would be nice to have.

[2021-07-15 15:09] Cas-pian commented on #25395
@vitlibar Bingo.
@godliness similar use case, very clear explaination 👍

[2021-07-15 16:17] #26350 closed

[2021-07-15 16:31] MaxWk commented on #26255
please assign it to me

[2021-07-15 16:39] alexey-milovidov commented on #20870
Fixed in https://github.com/ClickHouse/ClickHouse/pull/25484.

[2021-07-15 16:39] #20870 closed

[2021-07-15 16:43] MaxWk commented on #26255
Hi SaltTan,did you mean add merge_type column into part log?
[code]

[2021-07-15 16:53] alexey-milovidov commented on #21960
Duplicate of #23431.

[2021-07-15 16:53] #21960 closed

[2021-07-15 17:40] #19966 closed

[2021-07-15 17:48] alexey-milovidov commented on #26239
@akuzm even partial merge join currently does not use the benefit of order key.

[2021-07-15 17:51] alexey-milovidov commented on #26151
Related to #24900 (hasAny is already supported).
CC @Enmk

[2021-07-15 17:55] alexey-milovidov commented on #26247
That's awful.

But then you don't need to use parameter. Because parameter with only one possible value has no use.
Just write `SELECT NULL`.

Yes, it will be very easy, let's do it.

[2021-07-15 18:11] genzgd opened #26382 "Crash on multiple buffer table inserts"
ClickHouse 21.4.4

Crash occurred when doing fairly intense inserts (production traffic plus backfill using INSERT INTO) into a buffer table.  There were two virtually identical stack traces, first one below.

Table definition:

[code]

Crash:

[code]

[2021-07-15 18:38] alexey-milovidov commented on #26382
It's interesting. Looks like the culprit is Buffer + AggregateFunction states.
Is there any chance to construct some synthetic reproducer?

[2021-07-15 18:44] alexey-milovidov commented on #26382
How often does the issue reproduce?

It will be helpful to temporarily run the build with Address Sanitizer under load (it will run 3x..10x slower) until the issue reproduce and collect the report in /var/log/clickhouse-server/stderr.

The build with ASan is located here:
![Screenshot_20210715_214140](https://user-images.githubusercontent.com/18581488/125840458-316c5936-2aaf-4554-a996-f585854a3554

[2021-07-15 18:49] alexey-milovidov commented on #5176
It will be very appreciated.

[2021-07-15 19:11] filimonov commented on #5176
Can you please sent PR with proposed changes?

[2021-07-15 19:14] genzgd commented on #26382
This has not happened before in the week+ we've been using these buffer tables.  It only happened today (once) while running "backfill" queries.  I've just started the major backfills and ~1000 inserts (INSERT INTO from a SELECT on a similar table) across 10 shards worked successfully before the crash.  I've run ~5000 inserts since, but only half the size (30 minutes of raw data instead of 60) and

[2021-07-15 19:59] SaltTan commented on #26255
Ideally I would like to see something like this:
[code]
I'm not sure about regular merges, but if it's possible to expose the reason why ClickHouse decided to run this particular merge, that would be interesting to see :)
However I'll be happy to see MergeType as you are suggesting, it's much better than nothing.

[2021-07-15 22:14] vitlibar commented on #26293
I've fixed the issue with `makeIntersection()`. By the way, it seems `grant replace` can be implemented by adding about four lines to the beginning of `updateFromQueryTemplate()`:

[code]

[2021-07-16 01:41] Cas-pian commented on #25395
@vilibar, I have finished this feature [here](https://github.com/ClickHouse/ClickHouse/issues/25395), PTAL

[2021-07-16 01:48] Cas-pian commented on #26293
Nice work. Thanks for you quick fix.

And let's discuss the implment detail [here](https://github.com/ClickHouse/ClickHouse/pull/26384), thanks

[2021-07-16 02:53] aohan237 commented on #26242
thanks

what if i want condition sum, i only want to sum pay_time less than start time,  as follows: how do i fulfill this

user_id |start_time| pay_time | pay_info
-- | --|-- | --
1 | 2|5 | {'num':10, "total":100}
1 | 2|2 | {'num':11, "total":110}
1 | 3|3 | {'num':12, "total":120}
1 | 3|3 | {'num':13, "total":130}

results like this

user_id |start_time| pay_time | sum_num | sum_total
-- | --|--

[2021-07-16 03:48] Jiacheng-WU opened #26390 "Why remove ReadBufferAIO in master branch"
It seems that ReadBufferAIO is still in branch 21.8, but not shown in master branch?
Is there any reason to remove ReadBufferAIO in master branch?

[2021-07-16 06:46] #26293 closed

[2021-07-16 06:47] #26073 closed

[2021-07-16 06:50] #26325 closed

[2021-07-16 06:51] vitlibar commented on #26073
The bug has been fixed.

[2021-07-16 07:34] alexey-milovidov commented on #20314
Does not reproduce:

[code]

[2021-07-16 07:34] #20314 closed

[2021-07-16 07:36] alexey-milovidov commented on #22119
Not enough info to reproduce.

[2021-07-16 07:36] #22119 closed

[2021-07-16 07:41] alexey-milovidov commented on #24184
This issue is blocking to removing experimental status of window functions.

[2021-07-16 07:43] #20165 closed

[2021-07-16 07:55] azat commented on #26382
It seems that #24158 is also related (although it is about LowCardinality).
It will be very helpful if you can run version of the server with ASAN as suggested by @alexey-milovidov.

@genzgd And all similar issues reported by you, are you sure that your hardware is fine? Do you have memory with ECC any corrected/uncorrected errors?
By the way have you resolved #24158 ?

[2021-07-16 08:01] alexey-milovidov commented on #26390
See https://github.com/ClickHouse/ClickHouse/pull/26003

[2021-07-16 08:01] #26390 closed

[2021-07-16 08:03] alexey-milovidov commented on #26382
Also I suggest to check:
- does it reproduce if you upgrade to the latest stable version 21.7?
- does it reproduce if you remove the usage of Buffer tables.

[2021-07-16 08:08] alexey-milovidov commented on #23116
This can naturally happen in presense of bad_alloc exceptions or similar.

LocalSavePoint checks that the user called "commit" before destructor and aborting otherwise. It is similar to std::thread.

[2021-07-16 08:27] zhanghaicheng1 commented on #20608
Has the host solved this problem? I ran into the same problem! Looking forward to reply~

[2021-07-16 08:31] moweonlee opened #26395 "Read and Write separation implementation."
I have been looking for some documents to implement Read/Write separation in distributed table.

And I found an issue that read-write separation can be archived by using "always_fetch_merged_parts" in following [link].(https://github.com/ClickHouse/ClickHouse/issues/18452)

But I can't find any detail instruction to do that.

So can I get any detail instruction to do read-write separation ?

But a

[2021-07-16 08:38] alexey-milovidov commented on #20608
We do not test or run ClickHouse inside LXD.
Need step-by-step instruction how to install LXD and reproduce the issue.

[2021-07-16 08:40] zhanghaicheng1 commented on #20608
Don't seem to understand what you mean

[2021-07-16 08:43] alexey-milovidov commented on #20608
We don't run or support ClickHouse on LXD.

[2021-07-16 08:47] zhanghaicheng1 commented on #20608
Thank you for your reply, I seem to understand~

[2021-07-16 09:12] akuzm commented on #24184
This should reproduce in debug because there is an assert_cast. Can't make it fail:
[code]

[2021-07-16 09:15] akuzm opened #26396 "remove experimental status of window functions"
Blocking issues:

- [x] broken null handling, need to refactor to add deeper separation between window and aggregate functions https://github.com/ClickHouse/ClickHouse/issues/26115
- [ ] expression analyzer woes, not all expression dependencies are handled properly https://github.com/ClickHouse/ClickHouse/issues/24892
- [x] a mystery ubsan failure that doesn't reproduce https://github.com/ClickHou

[2021-07-16 09:33] Exus commented on #20608
I've given up fighting with random  segfaults and migrated LXD/lxc containers to [LXD/qemu](https://discuss.linuxcontainers.org/t/running-virtual-machines-with-lxd-4-0/7519)
Works perfect now (with /var/lib/clickhouse disk passed as device)

[2021-07-16 09:55] alexey-milovidov commented on #22517
Wow, it's reproduced easily also with MSan:

[code]

[2021-07-16 10:21] alexey-milovidov commented on #22517
[code]

[2021-07-16 10:22] alexey-milovidov commented on #19889
Does not reproduce.

[2021-07-16 10:22] #19889 closed

[2021-07-16 10:24] alexey-milovidov commented on #25447
It is reproducing very easily.

[2021-07-16 10:25] alexey-milovidov commented on #25447
[code]

We should simply forbid these aliases.

[2021-07-16 10:44] scf37 commented on #26239
@alexey-milovidov thus is the only way to merge join two columns efficiently to put them to the same table?

[2021-07-16 11:19] vdimir commented on #26239
For some cases [Join table engine](https://clickhouse.tech/docs/en/engines/table-engines/special/join/ is suitable, it stores hash table for table in memory and joining with such table is effective

[2021-07-16 11:57] filimonov commented on #21740
Can you update to 21.7 and check if you still have some issues there?

[2021-07-16 12:39] #23116 closed

[2021-07-16 13:17] genzgd commented on #26382
Our hardware is fine.  :)  We run close to 200 ClickHouse servers, with 64 or 128 cores and up to 768GB of ECC ram with periodic memory testing, and we replace the DIMMs if ECC is showing an elevated level of errors.  We've only seen no memory related issues or crashes except in connection with buffer tables over the last year or more.

We've continued the backfill queries (probably 100,000 at thi

[2021-07-16 13:18] qoega commented on #26088
Similar problem with table function `postgresql`.
Easy to trigger in tests via test_postgres_select_insert test by adding
[code]

postgresql log
[code]

stacktrace
[code]
Dumped connections. SELECT * FROM pg_stat_activity:
[code]

[2021-07-16 13:41] macobo commented on #26396
After this, will window functions also distribute across nodes?

[2021-07-16 14:10] cyrilou242 opened #26427 "Nested columns with dot in their name are not unnested by ARRAY JOIN close"
**Description**
When using nested arrays, nested columns that have a dot in their name are not unnested by an ARRAY JOIN close.
This is unexpected because it's written in the [ARRAY JOIN Clause doc](https://clickhouse.tech/docs/en/sql-reference/statements/select/array-join/#array-join-with-nested-data-structure):

**How to reproduce**
Reproduced on ClickHouse server version 21.6.5 revision 54448.

[2021-07-16 14:56] den-crane commented on #26427
dot characters is reserved and cannot be used in column names

[2021-07-16 14:57] den-crane commented on #26427
duplicate https://github.com/ClickHouse/ClickHouse/issues/18765

[2021-07-16 14:57] #26427 closed

[2021-07-16 20:46] den-crane opened #26432 ""Invalid number of rows in Chunk" when aggregating by alias column"
[code]

[2021-07-16 22:11] #22517 closed

[2021-07-16 22:12] CherkashinSergey opened #26433 "groupUniqArrayState(5000) returns datatype AggregateFunction(groupUniqArray, type) in version 21.7.3.14"
groupUniqArrayState(5000) returns datatype AggregateFunction(groupUniqArray, type) in version 21.7.3.14.

I had a materialized view created like:

[code]
which worked pretty good on 21.6.5.37 version. But after upgrading to 21.7.3.14 insertion to `blah_main` crushes with message
[code]

**How to reproduce**
* Which ClickHouse server versions are incompatible
21.6.5.37 and 21.7.3.14
* `CREATE TABLE

[2021-07-16 22:53] #26039 closed

[2021-07-16 23:48] alexey-milovidov commented on #26432
Confirmed.

[code]

[2021-07-16 23:53] alexey-milovidov commented on #26432
[code]

[2021-07-16 23:54] alexey-milovidov commented on #26148
One bug has been found: #26432

[2021-07-17 10:14] #23941 closed

[2021-07-17 14:27] den-crane opened #26467 "Add a setting `allow_suspicious_indices`."
Not sure is UB or expected B.

[code]

[2021-07-17 16:21] #9587 closed

[2021-07-17 22:17] alexey-milovidov commented on #26033
No info.

[2021-07-17 22:23] alexey-milovidov commented on #26149
@den-crane @vhsmacabre How to reproduce this issue without installing `carbon-clickhouse`?
Or write step-by-step instruction how to install carbon-clickhouse and reproduce this issue.

[2021-07-18 01:50] den-crane commented on #26149
@alexey-milovidov
[carbon-test.tar.gz](https://github.com/ClickHouse/ClickHouse/files/6835530/carbon-test.tar.gz)

[code]

[2021-07-18 03:41] jacobrandall opened #26471 "Lots of empty tmp_merge_... directories under $TMP_PATH leading to significant time to chown on startup"
**Describe the issue**
After running a cluster for ~6 months, I've noticed the chown on startup take ~30 minutes. On a new cluster the chown time is barely noticeable, probably 1 minute or so. Running `df -i` shows inode usage of ~2.1M inodes on `/var/lib/clickhouse` and digging in shows that 1.97M of that is under `/var/lib/clickhouse/tmp/data/default/$TABLE_NAME_REDACTED`, which has only 5 files

[2021-07-18 07:52] abhinavraj23 commented on #4083
I removed partitioning, still the issue comes

[2021-07-18 07:54] vmihailenco commented on #26433
It looks like all *Array functions are affected - https://github.com/ClickHouse/ClickHouse/issues/26196

[2021-07-18 08:02] alexey-milovidov commented on #4083
@abhinavraj23 Create a new issue but provide all the details (as much details as possible).
Most likely the behaviour you observe is correct but there is a chance that something also can be improved on our side.

[2021-07-18 09:20] abhinavraj23 opened #26472 "Connection reset by peer while uploading large csv"
**Describe the unexpected behaviour**
Getting this error

[code]

**How to reproduce**
* Which ClickHouse server version to use
21.6.5.37

* `CREATE TABLE` statements for all tables involved
[code]

The number of columns here is more than 90 and row count is roughly 2.5 M

* what command am I running?
[code]

**Expected behavior**
The complete data  from the csv should have been inserted, and the

[2021-07-18 09:22] abhinavraj23 commented on #26472
@alexey-milovidov

[2021-07-18 11:45] asafcombo commented on #26253
@akuzm yes it would definitely help downstream systems, but the main goal is to simplify the schema maintenance.

As an example, a popular design is to use a `NULL TABLE -> AggregateMergeTree` table.

Instead of having to keep track of all fields in both tables ( but with different types, the null table will have a String for example, where the downstream table will have a  `SimpleAggregateFunctio

[2021-07-18 11:49] asafcombo opened #26473 "Wrong results with IP type when using MAterilized column"
# reproduce

`version 21.3.10.1`

[code]

**expected result:**  cblock column should be equal to the `cutIPv6` function output.

[2021-07-18 14:19] alexey-milovidov commented on #26432
@amosbird We have found that this bug was introduced in #24405.

[2021-07-18 14:34] den-crane commented on #26473
WA: explicit toIPv6  `MATERIALIZED toIPv6(cutIPv6(ipv6, 10, 1))   CODEC (LZ4) )`

[code]

[2021-07-18 16:01] etdick opened #26476 "MongoDB engine can't return String type"
How to reproduce：
1.docker image : clickhouse-server :  21.6.8.62
2.CREATE TABLE statements for all tables involved
CREATE TABLE IF NOT EXISTS mongo_table
(
     `_id` UInt64,
    `updated_time` DateTime,
    `account` Nullable(String)
)
ENGINE = MongoDB('<HOST>:<PORT>', '<DB_NAME>', '<COLLECTION_NAME>', '', '')

3.Queries to run that lead to unexpected result

select * from mongo_table
Received e

[2021-07-18 16:03] etdick opened #26477 "MongoDB engine can't return String type"
How to reproduce：
1.docker image : clickhouse-server :  21.6.8.62
2.CREATE TABLE statements for all tables involved
CREATE TABLE IF NOT EXISTS mongo_table
(
     `_id` UInt64,
    `updated_time` DateTime,
    `account` Nullable(String)
)
ENGINE = MongoDB('<HOST>:<PORT>', '<DB_NAME>', '<COLLECTION_NAME>', '', '')

3.Queries to run that lead to unexpected result

select * from mongo_table
Received e

[2021-07-18 16:04] alter opened #26478 "Is it possible to search by ALL columns?"
Hello,

I have data in millions of columns(I hope I will be able to create so many columns in clickhouse).
And these data will contain only specific strings: 'true', 'false', 'none'.
How it is possible to find all rows with 'true' and 'false' values in all columns?

[2021-07-18 17:54] alexey-milovidov commented on #26478
No, you cannot create a table with million columns.

[2021-07-18 18:44] #26351 closed

[2021-07-18 19:23] kssenii commented on #26477
But it works with String type - there are multiple tests for that in [here](https://github.com/ClickHouse/ClickHouse/blob/master/tests/integration/test_storage_mongodb/test.py). Nullable(String) is also ok I checked.

[2021-07-18 19:25] kssenii commented on #26476
Duplicate of https://github.com/ClickHouse/ClickHouse/issues/26477.

[2021-07-18 19:25] #26476 closed

[2021-07-18 20:41] UnamedRus commented on #26478
You could look into roaringBitMap data type.

[code]
https://clickhouse.tech/docs/en/sql-reference/functions/bitmap-functions/

[2021-07-18 20:53] #26432 closed

[2021-07-18 21:19] #26478 closed

[2021-07-18 21:25] den-crane commented on #26395
always_fetch_merged_part is a merge tree setting. https://clickhouse.tech/docs/en/operations/settings/merge-tree-settings/#merge-tree-settings

[code]

[2021-07-18 21:29] den-crane commented on #26472
How much RAM your server has?
Can you obfuscate and share you CSV file?
Can you share real types? Instead of {column_names and types} ?

[2021-07-18 21:36] den-crane commented on #26433
Simpler example

[code]

[2021-07-18 21:43] den-crane commented on #26471
Not sure is it helpful or not but you can disable `chown` by setting env var CLICKHOUSE_DO_NOT_CHOWN=1

[2021-07-18 22:38] etdick commented on #26477
in my case:
1) when i execute : select * from  mongo_table limit 1,   it will return correct result;

2). when i execute : select * from  mongo_table,   it will  return error;
Received exception from server (version 21.6.8):
Code: 10. DB::Exception: Received from localhost:9000. DB::Exception: Column account is absent in MongoDB collection: While executing SourceFromInputStream.

![image](https://

[2021-07-18 22:40] etdick commented on #26477
my question is : is there any limit configureation in clickhouse ?

[2021-07-18 22:50] jacobrandall commented on #26471
Thanks @den-crane, I have considered setting that but for bootstrapping new clusters still would want that to chown the new volumes. So I'd probably end up doing an initContainer (this is running in Kubernetes) to duplicate what the chown is doing, but perhaps check for a `chown.done` file before the chown that is touched after the very first time a chown is done (perhaps even per directory) but p

[2021-07-19 04:27] moweonlee commented on #26395
Thank you for your information.

So I have configured a distributed table which have 2 nodes (1,2 ) as write role and other nodes  (3,4 ) as fetch role.

Then does this distributed table **write** data into Node 3,4 ( fetch_only) when Node 1,2 failed?

[code]

[2021-07-19 05:20] akamensky commented on #23867
[code]

[code]

[2021-07-19 06:32] Sallery-X opened #26489 "Your DNS server cannot perform requests in some cases."
Your DNS server cannot perform requests in some cases.

_Originally posted by @alexey-milovidov in https://github.com/ClickHouse/ClickHouse/issues/26333#issuecomment-880388637_

[2021-07-19 06:35] Sallery-X commented on #26489
Manual resolution is normal
![009DDFBF82C4B6FDE41980BB6E0BF30A](https://user-images.githubusercontent.com/45587738/126113535-95fabd12-f4a9-4a2e-b703-04e4a9fcbc20.png)
But sometime fail,i am confuzed
![image](https://user-images.githubusercontent.com/45587738/126113741-b6ebaad2-7f32-4f1f-9c62-360c857e1109.png)

[2021-07-19 07:03] etdick commented on #26477
i have found the reason. there is some record have no prorperty 'account' in mongo collection.

[2021-07-19 07:07] etdick opened #26490 "MongoDB engine can return null value when some record lack of property in mongo collection?"
How to reproduce：
1.docker image : clickhouse-server : 21.6.8.62
2.CREATE TABLE statements for all tables involved
CREATE TABLE IF NOT EXISTS mongo_table
(
_id UInt64,
updated_time DateTime,
account Nullable(String)
)
ENGINE = MongoDB(':', '<DB_NAME>', '<COLLECTION_NAME>', '', '')

3.Queries to run that lead to unexpected result

select * from mongo_table
Received exception from server (version 21

[2021-07-19 07:38] filimonov commented on #26489
"Temporary failure in name resolution".

The word **temporary** means that the problem may go away in the next retry (also when you do manual retry).

https://stackoverflow.com/questions/56188537/getaddrinfo-temporary-failure-in-name-resolution-kubernetes-coredns
https://kubernetes.io/docs/tasks/administer-cluster/dns-debugging-resolution/

etc.

[2021-07-19 07:38] #26489 closed

[2021-07-19 08:13] Slach opened #26491 "Look like dictionary `SOURCE(CLICKHOUSE(...))` doesn't work after 21.6+"
**Does it reproduce on recent release?**
yes, 21.6, 21.7 from Docker reproducible

**Describe the bug**
[code]

# returns
[code]

* Queries to run that lead to unexpected result

`SELECT count() FROM `_test.ДБ_atomic_`.dict_example;` returns

**Expected behavior**
100

**Error message and/or stacktrace**

[code]

**Stacktrace**
[code]

[2021-07-19 08:27] filimonov opened #26492 "21.4 system.error doubled errors"
[code]

rows doubled.

[2021-07-19 08:28] mo-avatar opened #26493 "[PART AND PARTITION] Would all the parts of one partition be merged into a single part finally?"
We are trying to use  clickhouse-local to do pre-computing of part。

As we all know，one partition has many parts， but will all the parts in one partition be merged into one part finally？

If they will  be merged into one part some how,  will single execution of  "OPTIMIZE TABLE [db.]name [ON CLUSTER cluster] [PARTITION partition | PARTITION ID 'partition_id'] [FINAL]" command give the final result