[2021-09-16 09:46] alexeyrusnak opened #29069 "DB::Exception: Column Function is not a contiguous block of memory"
Hi
I have updated to 21.9.2.17 and got error while inserting data.
Downgrade to 21.8 or to 21.7 helps.

=========LOG============

2021.09.13 13:56:37.770653 [ 5610 ] {92c98f6c-5d42-4190-afee-04c523e07d28} <Error> TCPHandler: Code: 48. DB::Exception: Column Function is not a contiguous block of memory: while executing 'FUNCTION [compiled] if(equals(multiIf(0 : UInt8, UInt8, 0 : UInt8, if(UInt8, UIn

[2021-09-16 09:51] alexey-milovidov commented on #9437
It was unclear if the library requires extra allocations to process data. But it looks ok https://www.gnu.org/software/libidn/manual/libidn.html#Header-file-punycode_002eh

Also need to check performance. Most likely it will suffice.

[2021-09-16 09:52] alexey-milovidov commented on #9437
Yes, you can take this task!

[2021-09-16 09:57] oleg-savko commented on #29053
I work with @alexsubota and now we can catch one example when it happened:

for example when query has sorting, and its go into _external_sort_ (_limited by max_bytes_before_external_sort_), CH stop response on any query and hanging.

Cpu graph:
![image](https://user-images.githubusercontent.com/14272376/133591589-747553f1-9dcf-443e-90a0-eda047c91bda.png)

perf top (in comment above)

[2021-09-16 10:00] tavplubix commented on #29066
How did you get dot in `*.sql` file name? Table names are [escaped](https://github.com/ClickHouse/ClickHouse/blob/7bea8200d80b24022c285b252258805a5427e3d2/src/Interpreters/DatabaseCatalog.cpp#L754) for metadata file names, so dot is replaced with `"%2E"`. Also we have dots in default name of [materialized view target table](https://github.com/ClickHouse/ClickHouse/blob/8e9aacadd1b5b1e8daab267ab9e7

[2021-09-16 10:01] syominsergey commented on #9437
@alexey-milovidov  Alexey. thank you for explanation. Please, assign it to me.

[2021-09-16 10:01] alexey-milovidov commented on #29064
Some options:
- build this table in FunctionBuilder, so it will be reused in subsequent invocations in the same query, but different queries will build it again;
- pregenerate a table for some common use case?

(I did not have a time to look into details, maybe I miss something)

[2021-09-16 11:19] vmihailenco commented on #28524
I think I've found the problem. The client was using the wrong key type/size when encoding LC keys. Thanks for the help.

[2021-09-16 11:19] #28524 closed

[2021-09-16 11:19] antip00 opened #29072 "Server allows invalid storage configuration when two disks use the same path"
If you create configuration file with two disks and specify that disks use the same path, and then create a policy that uses one of these disks then restarting server works and it is possible to create tables, insert and select from them, but on the next restart the server will not start if there are any files on disk.

**How to reproduce**
[code]
[code]
[code]

Now restarting the server will not

[2021-09-16 12:42] ucasfl commented on #29064
The key of the hash algorithm is build lookup table, it guarantees that there are nodes in every position of the lookup table.

[2021-09-16 12:45] alexey-milovidov opened #29074 "Historical stock market price data, collected by Andy Pavlo"
Add this dataset to the docs: https://www.cs.cmu.edu/~pavlo/datasets/stocks/
The size is quite small (under 1 GB).

[2021-09-16 12:58] alexey-milovidov commented on #29074
[code]

[code]

[2021-09-16 13:02] shadowDy commented on #28673
@filimonov
I'm trying to call clickhouse-local in spark task. Is there a successful demo that can be shared?
thanks~

[2021-09-16 13:12] alexey-milovidov commented on #29074
There are 14 910 341 rows:

[code]

While Andy's website states that there are 14,910,339 records. If anyone knows how to connect Andy Pavlo, please report this discrepancy to him.

[2021-09-16 13:16] alexey-milovidov commented on #29074
Example queries:

[code]

[2021-09-16 13:18] alexey-milovidov commented on #29074
The data size is 214 MB with default (LZ4) compression.

[2021-09-16 13:23] alexey-milovidov commented on #29074
Let's use this dataset to test #27537.
It requires to do 7084 INSERT queries with ~2105 records each, that is suboptimal for batch insertion.
And full data loading takes 22 seconds on my machine with 16 parallel jobs.

[2021-09-16 13:38] kitaisreal commented on #28322
@pengliaoye please for IPTrie create separate issue and I will investigate.

[2021-09-16 13:43] shadowDy opened #29076 "Full CPU for a long time"
On some instances of Clickhouse (single instance on a single machine, no hotspot in the data range), the CPU will be full for a long time. From the log, the write, query and merge are normal, but the CPU idle continues to be 0-1; Restart the instance to return to normal; What may be the cause of this problem

[2021-09-16 14:02] filimonov commented on #17623
We also get a question about integrating ClickHouse with https://www.keycloak.org/

[2021-09-16 14:37] FedericoCeratto commented on #22963
Users would benefit from having Clickhouse packaged and maintained in Linux distributions.
Currently the packaging is attempted by few distributions (see https://repology.org/project/clickhouse/versions ) due the difficulty of the task.
Could you kindly consider making Clickhouse more distribution-friendly and taking feedback from package maintainers?

[2021-09-16 14:51] pengliaoye opened #29079 "dctionary ip_trie layout support ip range"
**Use case**

province: beijing
ip start: 240c:0:0:0:0:0:0:0
ip end: 240c:000f:ffff:ffff:ffff:ffff:ffff:ffff

ipv6: 240c:0:0:0:0:0:0:1

we want using ipv6, check if address range in start and end. then get the province.

**Describe the solution you'd like**

currently the ip_trie layout only support cidr. can support ip range.

**Describe alternatives you've considered**

or dictionary range hashe

[2021-09-16 15:34] FArthur-cmd commented on #29050
But it will be better to ignore unknown methods.

[2021-09-16 15:57] SaltTan commented on #28912
And how do alter a Distributed table itself?

[2021-09-16 16:07] schien-dong commented on #28912
Right, this touches a point I made earlier, which is the DDLs for changing schema and for Updating and Deleting are syntactically similar even though they are semantically different. Although it's hard to tell by looking at "alter table distributed_table ...", the "mutation not allowed" error is thrown at some point - that's when the intercept should take place. If a schema change on the distribut

[2021-09-16 16:21] filimonov commented on #28527
1. r/o disks
2. parameters for tables ? like merge tree settings -  creating the disk on the fly
3. option to use fixed disk for partition, or attach it from there
4. change the disk for partition explicitly
5. disk over s3 with simple folder structure ('as is')

[2021-09-16 16:22] alex-zaitsev opened #29081 "Map type constants fail in queries"
This query fails with an Exception:

[code]

It works if m[name] is replaced with materialize(m)[name]

[2021-09-16 17:19] UnamedRus commented on #28527
6. Ability to land some of partitions from external disk to local disk (without changing remote layout, strictly ro access) and without multiplying it in query result.
7. Easy sharding for this s3 disk between multiple clickhouse servers? (manually or automatically) so different shards will pick different parts. (cityHash64(part_name) % 8 = 1 and etc)

[2021-09-16 17:35] nvartolomei commented on #29081
Seems fine in today's master build.

[2021-09-16 18:50] alexey-milovidov commented on #28527
@UnamedRus 7 is https://github.com/ClickHouse/ClickHouse/issues/26748 - exactly for this purpose.

[2021-09-16 19:06] Lucgarg opened #29098 "AggregatingMergeTree and SummingMergeTree, avoid duplicate rows"
Hello, I am building a table, keeping in mind that it uses as little disk space as possible.

So I would like to insert directly into my table with one of the engines that I mention in the title, the data from an external application, but of course, if I don't use an engine like replacingmergetree or collapsemergetree the duplicate rows are not eliminated.

 What would be the best way to save the

[2021-09-16 20:01] alexey-milovidov commented on #29053
Version 21.8 does not have function `PartLogElement::createBlock`.
Maybe you somehow still run previous version?

[2021-09-16 20:02] alexey-milovidov commented on #29053
[code]

Looks strange, maybe you have *extremely* slow IO on this server?

[2021-09-16 20:03] alexey-milovidov commented on #29053
So, the issue is about IO wait time, not CPU time?

[2021-09-16 20:03] alexey-milovidov commented on #29053
Maybe external sort started to be activated more frequently on this version?

[2021-09-16 20:04] alexey-milovidov commented on #29076
Run `sudo perf top` at the time when CPU usage is high and send the results here.

[2021-09-16 20:06] alexey-milovidov commented on #29074
It loads in just 7 seconds with HTTP protocol:

[code]

[2021-09-16 20:09] CurtizJ commented on #29081
Fixed in #28096.

[2021-09-16 20:10] alexandr-subota-idf commented on #29053
v.21.8.5.7

[2021-09-16 20:11] alexsubota commented on #29053
v.21.8.5.7

[2021-09-16 20:18] alexey-milovidov commented on #29074
Data is uploaded to Playground: https://gh-api.clickhouse.tech/play?user=play#U0hPVyBUQUJMRVM=

[2021-09-16 20:41] alexey-milovidov commented on #29056
`set(1000)` may be too much for a String column.
Better to use index of bloom filter type.

Maybe your index is not beneficial at all - then remove it.

[2021-09-16 20:46] oleg-savko commented on #29053
There is several instance of ch in docker on this server, and one of them v21.7.7.47 (but is almost not used at all), another which used frequent have version  21.8.5.7

and we do `perf log` on server not in container (now i upgrade this one instance and when it happened again will provide for you new fresh `perf log`)

The issue more about why on some load:

(and not only this ch, but all others

[2021-09-16 21:27] oleg-savko commented on #29053
<img width="1166" alt="Screenshot 2021-09-17 at 00 23 34" src="https://user-images.githubusercontent.com/14272376/133687604-77faefb9-19d1-49e9-a313-05cc82e7c1e0.png">

I don`t know really, how to correct check IO on disk. But after some googling seems likes it looks not bad.

[2021-09-16 22:01] SaltTan commented on #28999
Could you upgrade to 21.8.5.7?

[2021-09-16 22:42] genzgd commented on #28999
Happy to do that, is there a particular fix in that version you think might help?

[2021-09-16 23:19] UnamedRus opened #29109 "BI tool compatibility with -State datatypes in tables"
**Use case**

Improve clickhouse usability with BI tools which doesn't know anything about AggregationFunction data type

**Describe the solution you'd like**

`auto_finalize_aggregation_states` setting which will do the following:

1. For `system.tables`, `DESC table_name` return not AggregationFunction(xxxx), but resulting type.
2. For columns with AggregationFunction datatype:
2.1. For non-aggr

[2021-09-16 23:43] UnamedRus commented on #28527
@alexey-milovidov

Yes, i thought about it, but main use case a bit more complex, so using just replicas (what about regular MergeTree tables?) not sufficient for this as it seems to me.

General requirements:

1. Read only access to the remote storage.
2. Efficient scanning in query time (eg use seek in files, so https://github.com/ClickHouse/ClickHouse/pull/25251 doesn't have this AFAIK)
3. Move

[2021-09-16 23:56] UnamedRus opened #29110 "disk & storage_policy sql-driven workflow"
**Use case**

Ability to quickly add datasets from remote filesystems without dealing with xml config files.

**Describe the solution you'd like**

Give ability to define disks and storage policies via SQL queries, it will be especially useful for remote disks (s3, hdfs, web) and wrapper disks (encrypted, cache)

[code]

Like https://postgrespro.com/docs/enterprise/13/sql-createtablespace

[2021-09-17 00:00] UnamedRus commented on #28961
It could also help with use case, when people want to put some columns of table (or projection) to the faster storage.

[2021-09-17 01:54] Tiaonmmn opened #29111 "Logical error: Number of rows in source parts differs from number of bytes written to rows_sources file"
Clickhouse uses all CPU for long time,and logs report something weired.

When `show processlist;` does not report anything,Clickhouse's CPU should not be too high.
It appears on Clickhouse 21.9.2.17.

**How to reproduce**

I don't know what other information should be provided,please tell me what to provide.

**Error message and/or stacktrace**

2021.09.17 09:40:44.989993 [ 44768 ] {} <Error> auto

[2021-09-17 02:02] cantfu commented on #29066
Ohh, that's right. Because we want to keep unescaped tablename as folder name, so we did some changes, that's the root cause. Thanks.
So, there is no way to keep  unescaped tablename as folder name?

[2021-09-17 02:03] cantfu commented on #29066
ohh, that's right. Because we want to keep unescaped tablename as folder name, so we did some changes, that's the root cause. Thanks.
So, there is no way to keep  unescaped tablename as folder name?

[2021-09-17 03:27] MaxWk commented on #15931
+1 i have the same issue

[2021-09-17 05:09] gyfis commented on #28999
We're seeing the same issue on v21.6.9.7-stable.

[2021-09-17 07:17] wzisheng commented on #26558
@alesapin  @tavplubix  hi, I've a doubt here can you help to check:

[2021-09-17 07:19] gj-zhang opened #29113 "Quota doesn't seem to work"
clickhouse version: 21.8.5.7

why user1 queries  is 265? any config missed?
[code]

another question. should i create a quota for each user?

[2021-09-17 07:27] filimonov opened #29114 "isuuse with grants to system tables"
Demo user have no grants to system database:

[code]

1. it's ok to provide access to some system tables.
1. Quite odd to have the possibility to select data, w/o having the possibility to SHOW COLUMNS.
1. `select from remote` uses describe, and w/o `SHOW COLUMNS` it don't work (while direct selects are possible).

[2021-09-17 07:55] Aleksandr-yask opened #29115 "Dictionary not found on create dictionary"
If you execute this commands
[code]
You will get error: Dictionary (`CountryDict`) not found: While processing id, name, dictGet('CountryDict', 'name', countryId) AS countryName

But if you create view like this
[code]
It should work.

Version: 21.8.4.51

[2021-09-17 08:27] alexey-milovidov commented on #29114
Did you check the recent versions, e.g. 21.9?

[2021-09-17 08:38] #28880 closed

[2021-09-17 09:17] filimonov opened #29122 "Liveview-related (?) sigabort"
[code]

I think "Canno" means (meet that in other log lines around)

[code]

[2021-09-17 09:19] filimonov commented on #29122
@vzakaznikov is looking on that...

[2021-09-17 09:25] abhilash-radhakrishnaru commented on #1261
Latest version of clickhouse supports resharding?

[2021-09-17 09:48] tavplubix commented on #29066
No, table name can contain slash, so we have to escape `/` at least. You can try custom escaping rules (and escape slashes only, for example), but you have to deal with all possible issues by yourself.

[2021-09-17 09:49] #29066 closed

[2021-09-17 09:51] alexeyrusnak commented on #29069
WA helps.
I`ll wait 21.10 and check.
Thanks.

[2021-09-17 09:59] abhilash-radhakrishnaru opened #29124 "How to rebalance data in clickhouse cluster after adding new nodes"
I could find a lot of documentation on how to setup clickhouse cluster; but none on expanding existing cluster and rebalance data. Can someone help me with pointers on the same. Is there any best practices on this from clickhouse?

[2021-09-17 10:14] linqingping opened #29125 "How to use post submission of URL function?"
URL — HTTP or HTTPS server address, which can accept GET or POST requests (for SELECT or INSERT queries correspondingly).

How to use POST submission of URL function?
Does anyone have any examples？

Case default GET request
[code]

[2021-09-17 10:17] tavplubix commented on #26558
It cannot work for fundamental reasons. You will get obscure consistency issues if you send requests to multiple ZooKeeper servers during processing of one "task". The only correct way to process ZooKeeper session expiration is to fail task, reconnect, reinitialize in-memory state and try to execute task from the beginning.

Yes, but we throw "Operation timeout" and set "expired" flag not atomical

[2021-09-17 11:33] gyfis commented on #28999
We updated to v21.8.5.7-lts, but this bug happened again for us.

[2021-09-17 11:34] filimonov opened #29129 "[fuzz] Segfault from merge join"
**Describe the bug**
https://clickhouse-test-reports.s3.yandex.net/28639/a6e4dc072dadff7a9a9750bde525896cd323c1d6/fuzzer_msan/report.html#fail1

**How to reproduce**

[code]

[code]

With `join_algorithm='hash'`

[code]

[2021-09-17 11:36] filimonov commented on #29129
Probably is duplicate of https://github.com/ClickHouse/ClickHouse/issues/28660

[2021-09-17 11:56] anmolarora commented on #29125
Since inserts are automatically sent to the POST endpoint. You can create a table and then insert.
[code]

[2021-09-17 12:31] UnamedRus opened #29131 "LowCardinality(Nullable(FixedString(x))) use slow serialized hash table"
**Describe the situation**
When you do GROUP BY multiple LC nullable FixedString clickhouse is using serialized hash table instead of hash table optimized for fixed width types.

**How to reproduce**
ClickHouse version 21.10
[code]

**Expected performance**
The ~same as for LC(FixedString) or Nullable(FixedString)

**Additional context**
Related https://github.com/ClickHouse/ClickHouse/issues/1500

[2021-09-17 13:17] wzisheng commented on #26558
Yes i can see that's not atomically, i just cant' find out why it takes so long time (in my case it's 50s to set expired flag).
From the code i can see there's only one possibility: finialize() can't get acquire `push_request_mutex ` in 5 consecutive times...
https://github.com/ClickHouse/ClickHouse/blob/0e83fff90d8170a93125191bb928cc33400110a4/src/Common/ZooKeeper/ZooKeeperImpl.cpp#L823

[2021-09-17 13:25] aliabidzaidi commented on #28086
Yes! there was an issue with data,
I was using a Nested Array which had invalid sizes,
So this was solely an issue at my end.

[2021-09-17 13:25] #28086 closed

[2021-09-17 14:06] tavplubix commented on #26558
See #28195

[2021-09-17 15:08] den-crane commented on #29053
try

[code]

[2021-09-17 15:09] den-crane commented on #28880
fixed in https://github.com/ClickHouse/ClickHouse/pull/28975

[2021-09-17 15:45] den-crane commented on #29098
The only way is to negate previous state.
You inserted into SummingMergeTree +10, then negate -10, then new value +25.
But obviously you need to store (id, old_value) somewhere (not in CH).

[2021-09-17 15:45] #29098 closed

[2021-09-17 16:25] den-crane commented on #29113
quota is accounted only for real tables

[code]

No, `TO user,user1,user2`

[code]

There is another way to forbid number of simultaneous queries: max_concurrent_queries_for_user

[code]

[2021-09-17 18:16] kssenii commented on #29125
btw you can also do `INSERT INTO TABLE FUNCTION url('http://127.0.0.1:12345/', CSV, 'column1 String, column2 UInt32')`

[2021-09-18 00:33] Fallenyasha opened #29151 "Incorrect work of join_use_nulls"
Проверено в двух версиях КХ, запрос следующий

select toTypeName(
    (select b from
        (select 0 as a) as q1
        any left join
        (select 0 as a, 0 as b) as q2 using a
    ) as v) as type;

19.4.5.1
при join_use_nulls = 0 результат UInt8
при join_use_nulls = 1 результат Nullable(UInt8)

21.9.2.17
при join_use_nulls = 0 результат Nullable(UInt8)
при join_use_nulls = 1 результат Nulla

[2021-09-18 01:29] wzisheng commented on #26558
Great , will it be backported to v21.3 ?

[2021-09-18 01:53] linqingping commented on #29125
Thank you for your  @kssenii @anmolarora
Can't query the post interface only with select?

curl -X POST "http://127.0.0.1:12345/test?keyword=test"
select * from url('http://127.0.0.1:12345/test?keyword=test',csv,'cloumn1 string')

[2021-09-18 02:13] gj-zhang commented on #29113
thank you.

yes. 265 queries for user1 are insert query.

[2021-09-18 03:16] den-crane commented on #29151
никаго отношения к join_use_nulls. Подзапрос возвращает nullable

[code]

join_use_nulls работает коректно

[code]

[2021-09-18 03:18] #29151 closed

[2021-09-18 03:39] den-crane commented on #29124
There is no good and easy solution.
Moreover there is no way magically extract part of rows from old shards and move them to the new.

You can define the new shard with bigger weight then this shard will get more data and eventually all shard became even.

If you need row-level resharding you can only reinsert data. (by any tool: inset / select ; clickhouse-copier ...)
If you don't you can detach

[2021-09-18 03:39] #29124 closed

[2021-09-18 03:50] den-crane commented on #26558
no

[2021-09-18 03:50] #26558 closed

[2021-09-18 04:10] tangxueming commented on #14730
@amosbird
ALTER TABLE [db.]table ADD PROJECTION name AS SELECT <COLUMN LIST EXPR> [WHERE] [GROUP BY] [ORDER BY];

When I use "where"  in  projection , throw exception : Expected one of: DoubleColon, LIKE, GLOBAL NOT IN, AS, DIV, IS, UUID, GROUP BY, OR, identifier, QuestionMark, BETWEEN, NOT LIKE, MOD, AND, ClosingRoundBracket, Comma, alias, ORDER BY, IN, ILIKE, Dot, NOT ILIKE, NOT, Arrow, token, N

[2021-09-18 04:11] DingZhengCN commented on #10336
I encountered the same situation, and I find that the owner of the /etc/clickhouse-server/users.d/default-password.xml  is **ROOT**.

I fix it by those steps:
[code]

[2021-09-18 04:28] olexiyb commented on #27232
Hey, I am as well looking for the best solution, so far I found 2
1. [ReplacingMergeTree](https://altinity.com/blog/2020/4/14/handling-real-time-updates-in-clickhouse)
2. [EmbeddedRocksDB](https://kb.altinity.com/engines/altinity-kb-embeddedrocksdb-and-dictionary/) - primary key supports only one column in the primary key

[2021-09-18 05:33] filimonov commented on #22963
There are few issues:
1) most of the distros require dynamic linking, we prefer static (need to have a full control on the versions of dependencies, some time patches versions used because dependecy maintainers can't fix their issues fast enough)
2) high development pace - we have around one feature release in a month. And much more bug-fix releases. Following that, and keeping that pace is a huge

[2021-09-18 05:37] filimonov commented on #28673
I don't have it. But YOU can create it :)

[2021-09-18 06:24] kssenii commented on #29125
No, select is only GET, insert is only POST.

[2021-09-18 06:42] linqingping commented on #29125
OK, I see. Thank you@kssenii

[2021-09-18 06:43] #29125 closed

[2021-09-18 08:41] amosbird commented on #29125
It may be interesting to have INSERT returning records so that we can do POST)

[2021-09-18 08:57] #28222 closed

[2021-09-18 09:00] Fallenyasha commented on #29151
Да, согласен, где-то ошибся в проверке, но тогда вопрос, почему в разных версиях КХ запрос select toTypeName((select 0 as a)) возвращает разные значения и как их привести к единообразию?

[2021-09-18 09:20] winter7 opened #29154 "Timeout exceeded: elapsed 18446744073.709553 seconds"
**Describe the unexpected behaviour**
Recently, all of a sudden, I received such exceptions from different users with different queries that `Timeout exceeded: elapsed 18446744073.709553 seconds, maximum: 600` while these queries actually elapsed just about 100ms.
Some fields from system.query_log:
[code]

**How to reproduce**
* ClickHouse version: 20.12.8.5 ( I manually built image of 20.12.9.1 b

[2021-09-18 12:40] alexey-milovidov commented on #22398
QuestDB vs ClickHouse on time series ingestion performance:
https://questdb.io/blog/2021/06/16/high-cardinality-time-series-data-performance/

[2021-09-18 12:43] alexey-milovidov commented on #29151
In new versions, subquery result was changed to Nullable.
See the changelog for 21.9: https://github.com/ClickHouse/ClickHouse/blob/master/CHANGELOG.md#backward-incompatible-change

[2021-09-18 12:55] alexey-milovidov commented on #29125
@amosbird Is it about using `url` table function similarly to the new-born `executable` table function to perform arbitrary transformations on data? Sounds nice :)

[2021-09-18 13:19] l1t1 commented on #29074
type Decimal32 may slower than Int32

[2021-09-18 14:02] kasnet commented on #25211
Hi，which version solved this problem？ @alexey-milovidov

[2021-09-18 15:33] den-crane commented on #29154
20.12  is obsolete. Try 21.9
Do you have reproducible example?

[2021-09-18 15:35] den-crane commented on #29154
And we don't support alternative builds.

[2021-09-18 15:35] #29154 closed

[2021-09-18 15:38] den-crane commented on #29113
do you have reproducible example?

[2021-09-18 15:41] den-crane commented on #29053
btw, what filesystem do you use? XFS/Ext4?

[2021-09-19 11:03] tavplubix opened #29166 "QuantileExact.h:240:120: runtime error: signed integer overflow"
https://clickhouse-test-reports.s3.yandex.net/29061/6bc6ef8f2e1a3c4c1ad8a4e8adfe9e647e47dc6c/fuzzer_ubsan/report.html#fail1

[code]

[2021-09-19 14:46] alexey-milovidov opened #29168 "Evaluate `bestline` library from @jart"
https://github.com/jart/bestline/

[2021-09-19 14:47] alexey-milovidov commented on #29168
https://github.com/jart/bestline/issues/2
https://github.com/jart/bestline/issues/5
https://github.com/jart/bestline/issues/1

Looks like it does not support syntax highlighting?

[2021-09-19 14:50] alexey-milovidov commented on #29168
PS. The code for lowercase/uppercase and character width looks nice.
Though it will not help with https://github.com/ClickHouse/ClickHouse/issues/7341
and it definitely does not work with Turkish locale like `i`, `İ`.

[2021-09-19 15:53] Tiaonmmn commented on #29111
Later,I found the problem table,it seems like:
[code]
with nearly 1 billion rows data.

[2021-09-19 18:28] alexey-milovidov opened #29177 "UBSan report in partial merge JOIN"
**Describe the bug**
https://clickhouse-test-reports.s3.yandex.net/0/81de25d37f4a83fd6c0d8dcfd400606dfb6a4a06/fuzzer_ubsan/report.html

**How to reproduce**
[code]

`Changed settings: max_block_size = '6', receive_timeout = '10', receive_data_timeout_ms = '10000', join_algorithm = 'partial_merge', memory_profiler_step = '1000000', allow_introspection_functions = '1', transform_null_in = '1'`

[2021-09-19 20:47] sogawa-sps opened #29178 "CSV parsing failure in case of nested double quotes"
**Describe what's wrong**
CSV parsing fails if there are nested double quotes.

**Does it reproduce on recent release?**
Yes

**How to reproduce**
Table:
[code]

File:
`1,"Build - '"Products'" tab",1`

Import:
`clickhouse-client --query "INSERT INTO test.test FORMAT CSV" < /mnt/c/temp/test.csv`

**Expected behavior**
Import processed successfully. Parser is able to identify nested double quotes.

[2021-09-19 20:54] alexey-milovidov commented on #29178
CSV does not support nested quotes without proper escaping and there is no theoretical way to implement this support.

Example:

Suppose we have a table with two fields: `a String, b String` and a CSV data:
[code]

Then it can be parsed as:

`"Hello","World"`, `"Goodbye"`
or
`"Hello"`, `"World","Goodbye"`

[2021-09-19 21:10] sogawa-sps commented on #29178
@alexey-milovidov thank you for you answer but it I think it's totally valid case if there are no commas inside. For example PostgreSQL processes such a file correctly. And OpenCSV is also able to properly parse such a file.

Actually it was an export from PostgreSQL. I tried to migrate my data from it to ClickHouse and it failed so I can't start working with this DB. PostgreSQL can ingest it back

[2021-09-19 21:58] sogawa-sps opened #29181 "Can't import large files to server running under docker: "Broken pipe, while writing to socket""
I've started ClickHouse server as a docker container on my Windows machine:

`docker run --restart always -d --name ch --ulimit nofile=262144:262144 -p 8123:8123 -p 9000:9000 -p 9009:9009 --volume=/e/ClickHouse:/var/lib/clickhouse yandex/clickhouse-server`

Then I've opened an Ubuntu session (over WSL2)  and tried to import the data (2.1G csv file):

`clickhouse-client --query "INSERT INTO test.ti

[2021-09-19 23:26] den-crane commented on #29178
@sogawa-sps Clickhouse does not support this escaping. There is no strict standard for CSV escaping. Clickhouse has own datatypes and own rules for escaping.

You can use `"Build - ""Products"" tab"`  or `'Build - "Products" tab'`.

[2021-09-19 23:26] #29178 closed

[2021-09-19 23:33] den-crane commented on #29178
[code]

[2021-09-19 23:37] den-crane commented on #29181
18.16.1 is out of support.
Most probably CH server restart because of lack of memory.
Check `/var/log/clickhouse-server/clickhouse-server.log` for more info.

[2021-09-19 23:42] #29181 closed

[2021-09-19 23:54] syominsergey commented on #9437
@alexey-milovidov Alexey, I checked performance for ascii --> unicode decoding.
I used some list of real punycode encoded domains ([this](https://cctld.ru/files/docs/pendingdelete/RFDelList20210917.zip) file from [this](https://cctld.ru/service/dellist/) site - the best list I have found).
And release [libidn2-2.3.2](https://ftp.gnu.org/gnu/libidn/libidn2-2.3.2.tar.gz) of `libidn2` library.
For te

[2021-09-20 00:24] alexey-milovidov commented on #9437
It's better to integrate the library into ClickHouse and then test performance.

PS.

Performance is less than one million rows/sec. that is small, but mostly it because the benchmark is not 100% correct.

[code]

We should use version that does not allocate memory.

[2021-09-20 00:33] syominsergey commented on #9437
@alexey-milovidov Alexey, thank you for your comment.
I thought that it is better to measure performance before integrating into ClickHouse. Because what if it is not good enough?
But if result may be uncorrect... So, I understand now that it is better to integrate it before measuring performance.
Thank you for your comment about need to use version that does not allocate memory.
That was not obvi

[2021-09-20 00:43] alexey-milovidov commented on #9437
If the performance is not good enough, we replace the library with a code snippet that does the same. I know a few places where to get it :)

[2021-09-20 00:58] sogawa-sps commented on #29181
Looks like it was an issue with the client indeed. It came from official Ubuntu rep, I've updated it using ClickHouse's repository and now everything works fine. Thank you!

[2021-09-20 00:59] sogawa-sps commented on #29178
Thank you @den-crane, will try.

[2021-09-20 01:26] alexey-milovidov opened #29184 "Reference to nullptr in ALTER"
**Describe the bug**
https://clickhouse-test-reports.s3.yandex.net/29183/6cf8509ab5da4229b5b1f6b96ff1f162b213e271/fuzzer_ubsan/report.html#fail1

**How to reproduce**
[code]

`Changed settings: receive_timeout = '10', receive_data_timeout_ms = '10000', count_distinct_implementation = 'uniqTheta', max_result_rows = '10', optimize_injective_functions_inside_uniq = '0'`

[2021-09-20 05:42] eqinox76 opened #29185 "How to control MySQL Connection Pool Settings"
**Describe the issue**
I am trying to find out how to control the settings for a mysql data engine.
I see the settings in [MySQLSettings.h](https://github.com/ClickHouse/ClickHouse/blob/2a8f3553264637da204d5ec782847325742e9190/src/Storages/MySQL/MySQLSettings.h) but am unable to set them via the [settings parameter](https://clickhouse.tech/docs/en/sql-reference/statements/alter/setting/) like
[cod

[2021-09-20 07:04] vdimir commented on #29129
Confirmed, build from https://github.com/ClickHouse/ClickHouse/pull/28982 return expected error ` DB::Exception: Not found column s in block. There are only columns: . (NOT_FOUND_COLUMN_IN_BLOCK)`

[2021-09-20 07:05] #29129 closed

[2021-09-20 07:07] vdimir commented on #29177
Same issue as https://github.com/ClickHouse/ClickHouse/issues/28660, will be fixed with https://github.com/ClickHouse/ClickHouse/pull/28982

[2021-09-20 07:07] #29177 closed

[2021-09-20 07:36] oleg-savko commented on #29053
ext4

[2021-09-20 09:11] #11 closed

[2021-09-20 09:28] #29168 closed

[2021-09-20 09:30] #28660 closed

[2021-09-20 10:40] vpanfilov opened #29187 "Conversion between DateTime64 and Date32 is not supported yet"
Conversion from DateTime64 to Date32 is not supported yet, so it is not possible at all to get date from extended range of DateTime64, dates will be narrowed to somewhere between 1970-2105 range.

[code]
[code]

Conversion of value from extended range with `toDate()`
[code]

Conversion of value from extended range with `toDateTime()`
[code]

Tested on Clickhouse version:
[code]

[2021-09-20 10:47] Enmk commented on #29187
[code]

[2021-09-20 10:53] vpanfilov commented on #29187
@Enmk you should test `toDate32(now64())` instead of `toDateTime32(now64())`

[2021-09-20 10:58] Enmk commented on #29187
Aha, ok, that doesn't work, thanks for finding it!

[2021-09-20 11:01] vpanfilov opened #29188 "Ability to use aliases in user-defined functions (CREATE FUNCTION statement)"
Starting with Clickhouse  version 21.10, it is possible to define custom function with lambda-expression inside CREATE FUNCTION statement. But it is not possible to use aliases inside lambda-expressions:
[code]

It would be perfect if it was possible to place all aliases before main lambda expression. I mean something like that:
[code]

[2021-09-20 11:16] #27573 closed

[2021-09-20 11:46] #8004 closed

[2021-09-20 11:46] #15170 closed

[2021-09-20 12:19] oleg-savko commented on #29053
Tried not helped (

Fresh graph and perf log:

![Screenshot 2021-09-20 at 15 14 24](https://user-images.githubusercontent.com/14272376/134000408-8ec78b3f-0720-42d4-9a8d-b316ac0deb6d.png)

<img width="894" alt="Screenshot 2021-09-20 at 15 15 26" src="https://user-images.githubusercontent.com/14272376/134000536-70eda9e6-0d51-4f66-a963-7bcbc566d696.png">
)

Before upgrade this queries worked fine(

[2021-09-20 12:29] alexey-milovidov commented on #29053
Does it reproduce on another machine?
The fact that it started to be reproduced after upgrade can be a coincidence.

[2021-09-20 12:31] filimonov opened #29189 "Broken UTF8 character in string make LIKE works incorrectly"
it's not. It looks like it [uses UTF8](https://github.com/google/re2/blob/123d379e288f3c113c26dca952d78ad5f4fc98fd/re2/re2.h#L59-L62) by default

and `_` matches a single character (not a single byte)

[code]

[2021-09-20 13:46] hrissan commented on #26755
Tried to delete the part in question from ZK, but the problem was not solved. Instead, different part appeared as lost...

<details><summary>select * from system.replication_queue where num_tries>1000</summary>

[code]
</details>

[2021-09-20 14:56] oleg-savko commented on #28810
Does it will be backported to previous version 21.3/21.8/21.7 ?

[2021-09-20 15:13] oleg-savko commented on #29053
Now we execute one more exciting test:

We create on this machine one more docker container with clickhouse version 21.3, and import data for problem query on it.

When we execute this query on clickhouse with version v21.3, it remain be responsive and can execute another query, BUT another clickhouse with v21.8.5.7 on this machine, hanging and become not responsive for n-time until load not becom

[2021-09-20 15:36] aliabidzaidi opened #29200 "DB::Exception: Metadata on replica is not up to date with common metadata in Zookeeper. Cannot alter."
I have a replicated merge tree table on two nodes

I have two columns as client_port and server_port `Int16`, I want to change it to `UInt16`. There is currently alot of data in this table (somewhere around 1.2TB with 20billion rows)

On running these queries one by one,
[code]

client_port was not straight forward, it did its changes on 1 node but for the other node we had to restart all zookeepe

[2021-09-20 16:04] filimonov commented on #29053
can you do the following:
1) run single clickhouse only
2) reproduce the problem
3) count syscalls:  `sudo perf stat -e 'syscalls:sys_enter_*' -a sleep 10 `
4) count ext4 events: `sudo perf stat -e 'ext4:*' -a sleep 10`
5) record the system profiling data: `perf record -F 99 -ag -- sleep 10` (later open it using `perf report`)

Repeat steps 3-5 both for version 21.3 (same load, no problem,) and fo

[2021-09-20 17:17] CurtizJ commented on #18282
Implemented in #20557 and #27537.

[2021-09-20 17:17] #18282 closed

[2021-09-20 18:46] sriram-adpusuhup commented on #7787
Hey guys. Is there any documentation for this?
The [documentation](https://clickhouse.com/docs/en/sql-reference/data-types/tuple/) for Tuples still say that json is treated as arrays. ( Attached Screenshot below )
<img width="1197" alt="Screenshot 2021-09-21 at 12 14 45 AM" src="https://user-images.githubusercontent.com/60172790/134057061-0f720feb-503b-4bf4-a4c2-2f13b80f8950.png">

[2021-09-20 19:25] siganakis commented on #29076
I am also seeing this issue (idle CPU usage is very high, as is disk usage).

My use case is as follows:

* Using the official Alpine Docker Image (yandex/clickhouse-server:21.6-alpine)
* Docker is set to allocate 2vCPU and 16GB of memory

The logs my be useful (which are attached).

[clickhouse-server.err.log](https://github.com/ClickHouse/ClickHouse/files/7198198/clickhouse-server.err.log)
[clic

[2021-09-20 19:37] oleg-savko commented on #29053
Seems like its also depends on how much instance is working on, when one ch v21.8 running same query executed successfully((

So for reproduce bigger load I repeat query 3 times, and then he become no responsive:
[sys_calls_v21.8.txt](https://github.com/ClickHouse/ClickHouse/files/7198075/sys_calls_v21.8.txt)
[ext4_events_v21.8.txt](https://github.com/ClickHouse/ClickHouse/files/7198076/ext4_event

[2021-09-20 19:40] den-crane commented on #29200
https://stackoverflow.com/a/69259570/11644308

[2021-09-20 20:32] alexey-milovidov commented on #29189
Discussed that we can make the behaviour adjustable with a setting.

[2021-09-20 21:36] azat commented on #28810
Unlikely (AFAIU only major bug fixes are backported, @alexey-milovidov / @alesapin will correct me if I'm wrong)

[2021-09-20 22:02] azat commented on #29053
But if this is cpu iowait, then what `perf top` will show? (also note that the `swapper` is not swap, [it is idle task](https://git.kernel.org/pub/scm/linux/kernel/git/torvalds/linux.git/commit/?id=f1c6f1a7eed96))
From the ext4 traces I see more filesystem usage (new files and similar), what is the query, I guess it is some heavy query with aggregation?
In between 21.3 and 21.8.5.7 I see that `gro

[2021-09-21 00:13] alexey-milovidov commented on #29053
I agree, missed it first. Let's call it just "iowait".

[2021-09-21 00:14] den-crane commented on #26755
It's bad confusing practice to ask different queries.

https://github.com/ClickHouse/ClickHouse/issues/10368

[2021-09-21 05:29] tavplubix opened #29210 "MergeTreeSink.cpp:22:24: address does not point to an object of type StorageMergeTree"
https://clickhouse-test-reports.s3.yandex.net/0/1932d29ed14cac2c694779d48dc072d3d3a89809/stress_test_(undefined).html#fail1

[code]

[2021-09-21 07:54] filimonov opened #29214 "argument validation for unhex"
[code]

Would except some exception that 'z' in not allowed in hex strings.

[2021-09-21 07:59] azat commented on #26755
*P.S. @den-crane but does misconfiguration (lack of TRIM) should be marked with `performance` label, maybe it is better to add separate label for this*

[2021-09-21 08:53] marklit commented on #235
I would like to amplify the need for Homebrew-based installation support on macOS. On Debian systems, I can install a 4-day-old build of ClickHouse with a single command. On any Apple hardware, I have the choice of spending hours compiling ClickHouse, even on recent hardware, or using a 3rd-party and often out-of-date build.

Allowing developers to run ``brew install clickhouse`` and get a feel fo

[2021-09-21 09:02] oleg-savko commented on #29053
I suggest to rename issue to: "Sometimes during load ch become not responsive and freeze after upgrade to 21.8"

because on graph the the situation is pretty the same, but in v21.3 you can use clickhouse under load without problem, but in 21.8 all stoped and hanging when there is load on machine (even if no query running in the instance)

[2021-09-21 09:04] tavplubix commented on #26950
https://clickhouse-test-reports.s3.yandex.net/29202/dd8671540aeebef1fffba215e49e1c5439d03bcb/stress_test_(thread).html#fail1

[2021-09-21 09:07] tavplubix opened #29217 "Race between MergeTask and DROP TABLE"
https://clickhouse-test-reports.s3.yandex.net/29202/dd8671540aeebef1fffba215e49e1c5439d03bcb/stress_test_(memory).html#fail1

[code]

cc: @nikitamikhaylov

[2021-09-21 09:33] #25961 closed

[2021-09-21 09:52] vmihailenco commented on #25961
Could you also add `quantileBFloat16Weighted`?

[2021-09-21 10:03] alex-zaitsev commented on #235
@traceon is working on that

[2021-09-21 10:29] tavplubix opened #29218 "Segfault in AvroRowInputFormat"
[code]

[2021-09-21 12:40] SadiHassan opened #29221 "ClickHouse server not running because Build didn't include NuRaft library"
**ClickHouse Version**  21.3
**tag**  v21.3.8.76-lts
**Operating system** MacOS BigSur 11.5.2

**Cmake version**  3.21.2

**Ninja version**  1.10.2

**Compiler name and version**  clang
Apple clang version 12.0.5 (clang-1205.0.22.11)
Target: x86_64-apple-darwin20.6.0
Thread model: posix
InstalledDir: /Applications/Xcode.app/Contents/Developer/Toolchains/XcodeDefault.xctoolchain/usr/bin

**Full cma

[2021-09-21 15:32] alexey-milovidov commented on #235
@marklit

Mac x86:
[code]

Mac M1:
[code]

[2021-09-21 15:35] marklit commented on #235
That works. Cheers @alexey-milovidov

[2021-09-21 15:40] qoega commented on #235
@marklit Totally agree with you!
Last time when we tried to submit formula to allow `brew install clickhouse` we met restrictions due to excessive code vendoring as we have all dependencies in git submodules and brew follows Debian like way with all libraries dynamically linked.

[2021-09-21 16:01] wirtsi opened #29226 "Creating a view fails with EMPTY_LIST_OF_COLUMNS_QUERIED (even though they are there)"
**Describe the unexpected behaviour**
I am using the Star Schema Benchmark dataset and am trying to do this

* Instead of generating the lineorder_flat table and populating it with data, I would like to create a VIEW

**How to reproduce**
* Version 21.11.1.8140 with revision 54456, no build id, PID 65909
* CLI

[code]

Gives me these errors in the server console

[code]

**Expected behavior**
I wo

[2021-09-21 16:03] traceon commented on #235
`clickhouse-cpp` was accepted. `clickhouse-odbc` is on its way to adding. I'll start with `clickhouse-client` package, and see how it goes. Ideally, we will be able to also push `clickhouse-server` trough. Will try to do native builds (bottles) and not casks.

[2021-09-21 16:04] oleg-savko commented on #29053
Maybe when server under load, something in background jobs dont allow clickhouse to be responsive and freeze it (seems like this peaks match with problem on server)
![Screenshot 2021-09-21 at 18 56 57](https://user-images.githubusercontent.com/14272376/134205090-da362972-509f-4188-9a6a-50be35e3a2be.png)

Maybe you can suggest how to better optimize pool params?

[2021-09-21 16:39] tavplubix opened #29227 "Segfault in StorageEmbeddedRocksDB"
https://clickhouse-test-reports.s3.yandex.net/29044/5be9ad2b09c7d10ba80da573b971794aac7837b7/stress_test_(address).html#fail1

[code]

[2021-09-21 17:04] alexey-milovidov commented on #29214
I'm alright with implementation specific behaviour on invalid data if it makes implementation simpler / more efficient.

[2021-09-21 17:04] #29214 closed

[2021-09-21 17:12] #29122 closed

[2021-09-21 19:21] kitaisreal commented on #29185
@eqinox76 how many StorageMySQL tables you created in ClickHouse ?

[2021-09-21 20:37] azat commented on #29053
@oleg-savko it is hard to tell just by those settings and the graphs of pool tasks.

Can you provide some logs or at least some details?

- what is the query that hangs everything? can you share logs for it?
- according to graphs above you exceed 128 limit for `backgorund_schedule_pool_size`, this is pretty huge. If I did not miss anything, the only heavy thing there is cleanup thread (that cleanu

[2021-09-21 20:38] syominsergey commented on #9437
Just for information.
I'm trying to understand how to use `punycode_decode`:
https://github.com/libidn/libidn2/blob/master/lib/decode.c#L95

it is not so trivial as using high level `idn2_to_unicode_8z8z`

[2021-09-21 20:41] syominsergey commented on #9437
it looks like `punycode_decode` is some kind of middleware function that takes only part of work when decoding punycode

[2021-09-21 20:52] #27511 closed

[2021-09-21 21:01] syominsergey commented on #9437
I think we need to copypaste sources of `idn2_to_unicode_8z8z`, `idn2_to_unicode_8z4z` and other related and modify then to use preallocated memory instead of allocating memory in this functions as done in oriiginal `libidn2` library

[2021-09-21 21:12] syominsergey commented on #9437
@alexey-milovidov Alexey, what dou you think about this? ^

[2021-09-21 21:17] alexey-milovidov commented on #9437
It's not ok, because these sources are under LGPL. You can write your own implementation on top of punycode_encode/punycode_decode.

[2021-09-21 21:45] traceon commented on #235
@qoega are you going to retry your this https://github.com/Homebrew/homebrew-core/pull/79378 attempt, or should I go ahead and make `clickhouse-client`/`clickhouse-server` as I planned?

[2021-09-21 21:51] syominsergey commented on #9437
Suddenly some question appeared.

Do we need he to only support punycode encoding decoding as described, for example, [here](https://en.m.wikipedia.org/wiki/Punycode)? Or we need to support internationalized domain names encoding and decoding as described, for example, [here](https://en.m.wikipedia.org/wiki/Internationalized_domain_name). Sorry for such question. Because IDN is based on Punycode,

[2021-09-21 22:15] nikitamikhaylov commented on #29217
I have put a lot of effort into being confident that there is no such races...

[2021-09-22 00:02] alexey-milovidov commented on #9437
Ideally we should do both, like

punycodeEncode
punycodeDecode
IDNEncode
IDNDecode

[2021-09-22 02:07] zhicwu commented on #4003
Somehow I ran into the same issue on `21.9.2.17`. I was running grpc client unit test(not benchmarking or stress test). The issue was gone after server restart. Not sure if this is related to DateTime64(3) or not, because the issue happened after I made some changes related to DateTime in the client. Will open a case if I can reproduce the issue later today.

[2021-09-22 02:18] zhanglistar commented on #28961
For better cache rate hit, metadata need to be recorded and used for the computing node to process remote data either in s3 or hdfs. Very similar to alluxio with presto, see details here https://prestodb.io/blog/2020/06/16/alluxio-datacaching and https://prestodb.io/blog/2021/02/04/raptorx.

[2021-09-22 02:56] zhanglistar opened #29245 "[RFC] Access Apache Hive from clickhouse"
**Use case**
Actually, apache hive(hive) is data warehouse for many companies because of its stablity, scalability and completeness, but it is slow, so presto and impala are developed on it to meet the OLAP need.
Clickhouse is prestty fast OLAP system and widely used. There are both hive and clickhosue in many companies.
But there are many problems because of totally independence of the two system

[2021-09-22 03:38] den-crane commented on #26755
@azat the issue is kinda unrelated to CH. It will be the same without CH.

я уже предлагал сделать

[code]

[2021-09-22 03:38] #26755 closed

[2021-09-22 04:45] zhanglistar commented on #29227
Easily repeatable?

[2021-09-22 07:36] gj-zhang commented on #29113
no . but thank you

[2021-09-22 07:36] #29113 closed

[2021-09-22 07:44] l1t1 opened #29248 "aarch64 version doesn't support Parquet format"
run
select * from table1 format Parquet
returned
Unknown format Parquet
x86 Linux version works

[2021-09-22 07:53] syominsergey commented on #9437
Thank you for clarification.
I will try to implement punycodeEncode and punycodeDecode at first using ready functions from libidn2 suitable for us and then think what to do with IDNEncode and IDNDecode

[2021-09-22 08:24] mo-avatar opened #29251 "ClickHouse raise an Assertion when execute select on hdfs engine on 21.8.3-lts"
**Describe what's wrong**
Clickhouse raise an Assertion when execute select on HDFS engine.

**Does it reproduce on recent release?**

[The list of releases](https://github.com/ClickHouse/ClickHouse/releases/tag/v21.8.3.44-lts)
very likely can be reproduced on recent release.

**How to reproduce**
Execute select on hdfs engine on 21.8.3.-lts with kerberos authentication.

* Which ClickHouse server

[2021-09-22 08:38] tavplubix commented on #29227
No, I don't know how to reproduce it

[2021-09-22 09:21] chrootweili opened #29253 "Error while executing materialize projection"
Clickhouse version: 21.8.4.51 (official build)

**Error while executing mutations ``` alter table tbl MATERIALIZE PROJECTION proj_some_name```**

[2021-09-22 09:50] zouyonghao opened #29255 "Fatal error when createDatabase"
I got following Fatal error when executing query:

[code]

**Release**

```ClickHouse server version 21.3.14.1.```

**How to reproduce**

This trace is triggered by fuzzing, I think it is related to some special characters when creating a database because the fuzzing tool randomly generates some table names.

**Expected behavior**

Create db failed and some error logs.

[2021-09-22 09:59] amosbird commented on #29253
Could you try building a minimal test case that can reproduce this issue?

[2021-09-22 11:17] An-DJ commented on #16436
Is there any new progress on this issue? @akuzm

If not, could you assign this issue to me : )  I would like to work on it.

[2021-09-22 11:23] akuzm commented on #16436
Sure, your help will be very appreciated!

[2021-09-22 11:55] eqinox76 commented on #29185
We used `CREATE DATABASE [IF NOT EXISTS] db_name [ON CLUSTER cluster] ENGINE = MySQL('host:port', ['database' | database], 'user', 'password')` to connect our mysql database. This create 124 tables with the MySQL engine.

I assume those tables do not share one connectionpool. Is that correct?

[2021-09-22 12:02] nblagodarnyi commented on #4959
@schedin i got the same issue with correct alignment/order. But table column is of type **Int16** while my method uses
`case IntegerType => stream.**writeInt32**(row.getInt(colIndex))`

[2021-09-22 12:15] filimonov commented on #29248
It's explicitly disabled in cmake build scripts for aarch64,

https://github.com/ClickHouse/ClickHouse/blob/dd31634ba44168104d9e23b218148a2dad01b41e/cmake/target.cmake#L34-L41

because adding support for aarch builds there requires some extra efforts.

[2021-09-22 12:29] wirtsi commented on #29226
Ok, since this really bugged me ... I figured out a working version

[code]

So it appears that inside the view's SELECT query, clickhouse does something wonky with the aliases for the join tables. Falling back to the table name fixes it.

Still this is a bit odd and probably throws off newbies like me :-)

[2021-09-22 12:32] filimonov commented on #29227
That happened during TRUNCATE command for RocksDB table from that line,
https://github.com/ClickHouse/ClickHouse/blob/512786346c5d615e512b8cea1c237699d1fe7153/tests/queries/0_stateless/01504_rocksdb.sql#L46

And simultaneously some other query on RocksDB table (probably the other one) was executed.

[code]

[2021-09-22 13:11] zouyonghao commented on #29255
Unfortunately I do not see the details of this query, how to show this detail?

[2021-09-22 13:17] vpanfilov commented on #29187
And reverse conversion `toDateTime64(toDate32('1925-01-01'), 3)` is not working too.

[2021-09-22 13:19] kitaisreal commented on #29185
Right, does they all share connection settings `host`, `port`, `database`, `user`, `password` ?

[2021-09-22 14:27] tavplubix commented on #25225
https://clickhouse-test-reports.s3.yandex.net/0/258ce2436af7b9a7445afbf6ff726fed45bcbf88/stress_test_(thread).html#fail1

[2021-09-22 14:34] EminemJK opened #29263 "DB::Exception: No interserver IO endpoint named DataPartsExchange"
Both server01 and server02 are running properly，an error occurred on server03 only：
[code]
metrika.xml
[code]

[2021-09-22 15:34] tavplubix commented on #29255
[code]

[2021-09-22 15:38] eqinox76 commented on #29185
Yes its all the same.

[2021-09-22 17:23] lingtaolf opened #29269 "Index or partition filter doesn't work on `where` clause like `(index_key, partition_key)=(v1,v2)`"
**Describe what's wrong**

When we put the primary key and another column in one tuple to filter data, the primary  key index wouldn't work and partition filter is as same.
The sql which index or partition filter wouldn't work is like below:
[code]
----
**How to reproduce**
Create table
[code]
Insert data
[code]
Query
[code]
After querying, we can get the `read_rows` by querying table `system.quer

[2021-09-22 17:34] tavplubix commented on #28854
https://clickhouse-test-reports.s3.yandex.net/0/c83e2f6fd4e5cc5b76de39b25e419409f256a67f/stress_test_(thread).html#fail1

[2021-09-22 18:12] dkultasev commented on #28527
We are looking for similar functionality. This is our vision what we would like to achieve:
![image](https://user-images.githubusercontent.com/25481568/134398455-69aeab03-38ca-48b5-8b2c-e74ae5b6e1e5.png)

1. each SSD can have its own TTL
2. each machine/cluster has its own data settings for the cold storage (row policy, quota, etc)
3. need to work across different VPCs/accounts
4. a dataset is upd

[2021-09-22 18:19] khlystov commented on #7887
the same on  21.4.3.21

[2021-09-22 21:12] #29217 closed

[2021-09-22 21:28] mikhno-s commented on #8183
A slightly fixed command which attaches all detached partitions :
[code]
Also, I use this one to attach parts from non-replicated table to replicated one:
[code]

[2021-09-23 01:41] mo-avatar commented on #29251
More infomation:
The problem can be reproduced on debug  mode with  cmake option below。
[code]
Both clang and gcc can reproduce the problem on debug mode,  but it is weird that it can't be reproduced with gcc on release mode on my machine, And I haven't try clang on release mode yet.

Also I have change some code  of libhdfs and ligsasl  in order to extend the functionality, but I think it is irre

[2021-09-23 02:18] #28725 closed

[2021-09-23 03:27] zouyonghao commented on #29255
I do not see much information with these commands, maybe I should change my config and run again?
[config0.txt](https://github.com/ClickHouse/ClickHouse/files/7214887/config0.txt)

[2021-09-23 05:05] kssenii commented on #29251
Actually it can be reproduced much easier than that. Just a small modification of libhdfs3 (https://github.com/ClickHouse-Extras/libhdfs3/pull/13) and a debug build. In this case all out integration tests with hdfs failed with assertion.

[2021-09-23 05:30] qoega commented on #27814
@kssenii did you fix that already?

[2021-09-23 06:08] mo-avatar commented on #29251
Glad to here that,  the work is still in progress now, we would consider to make a PR if we get things done at last。 And thanks for your efforts in solving this bug. It looks much professional than update impl->position() directly.  :laughing:

[2021-09-23 06:47] MrSsunlight opened #29283 "Why can't I see the creation sql of system.parts?"
I found that desc can view the system.parts dimension, i can also use detach, but i cannot use show create；
[code]

[2021-09-23 06:47] nvartolomei opened #29284 "Unknown function _CAST in distributed queries"
(you don't have to strictly follow this form)

**Describe the issue**
A clear and concise description of what works not as it is supposed to.

**How to reproduce**

#29256

A cluster with 20.8 and 21.8 nodes. Runt he following query on v21.8 node:

[code]

* Which ClickHouse server versions are incompatible

Everything before 21.9 when mixed with post 21.9 (likely #27382 which introduces `_CAST` f

[2021-09-23 06:50] nvartolomei commented on #29283
@MrSsunlight `system.parts` is a "virtual" table backed by in-memory server state. It is built on the fly when queried. Implementation can be found in https://github.com/ClickHouse/ClickHouse/blob/master/src/Storages/System/StorageSystemParts.cpp

[2021-09-23 07:25] #28367 closed

[2021-09-23 07:41] zhbdesign commented on #29263
Can I configure it like this? 01 and 03 have the same role, 01 and 02 have the same role, and 02 and 03 are the same role, which means 01, 02 and 03 are equal

[2021-09-23 07:42] zhbdesign commented on #29263
Can I configure it like this? 01 and 03 have the same role, 01 and 02 have the same role, and 02 and 03 are the same role, which means 01, 02 and 03 are equal

[2021-09-23 07:48] vdimir commented on #25961
@vmihailenco

Done with https://github.com/ClickHouse/ClickHouse/pull/29258

[2021-09-23 07:54] vmihailenco commented on #25961
Thank you :+1:

[2021-09-23 09:09] AnatolySnegovskiy commented on #20193
in version 21.8.3.44, it doesn't work again

[2021-09-23 09:17] jiangdaokun opened #29287 "Connection reset by peer: While executing HDFS"
ClickHouse server version: 21.8.3.44
I want to use HDFS engine on Clickhouse, Here is the configuration information I added:
<hdfs>
        <hadoop_kerberos_keytab>/etc/hdfs1/conf/hdfs.keytab</hadoop_kerberos_keytab>
        <hadoop_kerberos_principal>hdfs/tdh1@TDHTEST</hadoop_kerberos_principal>
        <hadoop_security_authentication>kerberos</hadoop_security_authentication>
        <hadoop_kerb

[2021-09-23 09:23] kssenii commented on #29287
I don't think this info is enough to reproduce the issue. Your info only says you have kerberos auth for hdfs and we have [tests](https://github.com/ClickHouse/ClickHouse/blob/master/tests/integration/test_storage_kerberized_hdfs/test.py) with kerberos hdfs auth and it works.

[2021-09-23 09:33] vdimir commented on #20193
@AnatolySnegovskiy

Could you please provide what query (with schema and data) that are you trying to run?

[2021-09-23 09:39] jiangdaokun commented on #29287
hive server version: TDH-6.0.2

This is my create table sql.
hive:
CREATE  TABLE da.base_agent_info_oper(
  agent_no string ,
  agent_name string ,
  agent_type string ,
  phoneno string ,
  hdatasign string ,
  hloadtime string ,
  hbatchdate string ,
  hdatasrc string
)
COMMENT 'test'
CLUSTERED BY (
  agent_no)
INTO 1 BUCKETS
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\001' STORED AS ORC TBLPROP

[2021-09-23 09:46] kssenii commented on #29287
Probably it fails because snappy is not supported yet, will be introduced here: https://github.com/ClickHouse/ClickHouse/pull/28628

[2021-09-23 09:48] MrSsunlight commented on #29283
@nvartolomei  If I use detach to remove system.parts, what method should I use to restore it?

[2021-09-23 10:04] jiangdaokun commented on #29287
I tried to rebuild hive's table， but I still received the same error

CREATE  TABLE da.base_agent_info_oper(
  agent_no string ,
  agent_name string ,
  agent_type string ,
  phoneno string ,
  hdatasign string ,
  hloadtime string ,
  hbatchdate string ,
  hdatasrc string
)
COMMENT 'test'
CLUSTERED BY (
  agent_no)
INTO 1 BUCKETS
ROW FORMAT DELIMITED FIELDS TERMINATED BY '\001' STORED AS ORC ;

[2021-09-23 10:19] nvartolomei commented on #29283
@MrSsunlight i'm surprised you can detach it. Maybe it shouldn't be allowed at all.

[2021-09-23 10:22] antip00 opened #29288 "Disk level encryption. Using multiple keys without specifying current_key_id parameter in configuration file."
If you create configuration file that uses encrypted disk and specify two or more keys without specifying <current_key_id> configuration parameter, server will work, you will be able to create tables, insert and select from it.

**How to reproduce**

[code]
[code]
[code]

Server works but key, that should be used for encryption is undefined.

21.10.1.7939 Clickhouse version

**Expected behavior**

[2021-09-23 11:12] edvnass commented on #28576
Maybe will help with the issue - we discovered that there is a conflict between UTF8 and ISO-8859-1 encodings when inserting FixedString(16) data type (aka binary)  from MariaDB to clickhouse

[2021-09-23 11:12] edvnass commented on #28258
Maybe will help with the issue - we discovered that there is a conflict between UTF8 and ISO-8859-1 encodings when inserting FixedString(16) data type (aka binary) from MariaDB to clickhouse

[2021-09-23 11:58] nvartolomei commented on #29283
Forgot to answer your question. Restarting the server will restore the tables.

[2021-09-23 13:06] CurtizJ commented on #7787
Formatting of named tuples in JSON formats is controlled  by setting `output_format_json_named_tuples_as_objects`. You are right, need to add it to documentation.

[2021-09-23 15:13] zunnurainbadar opened #29298 "Clickhouse is not inserting new data into Materialized view"
I have created a materialized view using this query

    CREATE MATERIALIZED VIEW db.top_ids_mv (
    `date_time` DateTime,
    `id` String,
    `total` UInt64
    ) ENGINE = SummingMergeTree
      ORDER BY
      (date_time, id) SETTINGS index_granularity = 8192 POPULATE AS
    SELECT
      toDateTime((intDiv(toUInt32(date_time), 60 * 60) * 60) * 60) AS date_time,
      id AS id,
      count(*) AS

[2021-09-23 16:09] An-DJ commented on #16436
I found that the gRPC interface may already contain multi-rows supported.

Test by grpcurl:
[code]

Response:
[code]

We can decode the output base64 string:
[code]

It seems that the issue has been done. Is that right? @akuzm

[2021-09-23 17:45] ArunGust opened #29306 "Cannot parse string '2021-09-24T02:31:04.751161200+09:00' as DateTime"
**INSERT with same date format is working but ALTER TABLE is not working **

ALTER TABLE requests UPDATE submitted_date = toDateTime('2021-09-24T02:31:04.751161200+09:00') WHERE id ='req54';

SQL Error [1002]: ClickHouse exception, code: 1002, host: 192.168.2.130, port: 8123; Code: 6. DB::Exception: Cannot parse string '2021-09-24T02:31:04.751161200+09:00' as DateTime: syntax error at position 19

[2021-09-23 17:48] alexey-milovidov opened #29307 "`clickhouse-format`: add option `--query`."
**Use case**

[code]

Should work as:

[code]

[2021-09-23 18:14] #16236 closed

[2021-09-23 19:41] alexey-milovidov commented on #23151
It has been implemented.

[2021-09-23 19:41] #23151 closed

[2021-09-23 19:42] alexey-milovidov commented on #14893
`uniqTheta` has been added but nothing more.

[2021-09-23 19:42] #14893 closed

[2021-09-24 00:50] danlark1 commented on #21426
The substring statement is not always correct, LZ4 for data <64KB chooses 2byte hashes and it will lead to

* `a`, `bc`, `de`, `fg`, `hi`, `j`
* `ab`, `cd`, `ef`, `gh`, `ij`

I am in the process of prototype, first results soon

[2021-09-24 01:28] rogerlzp commented on #29245
this would be another good feature that could help lots of people

[2021-09-24 01:50] EminemJK commented on #29263
可以的

[2021-09-24 02:17] wallace-clickhouse opened #29312 "After the ClickHouse version is upgraded, Whether the new version is compatible with the current data format?"
Hello，
I'm using ClickHouse 20.3.2.1 and plan to upgrade to a newer version, but I'm wondering if the newer version will be compatible with the current data format of 20.3.2.1.Can you please give me  some guidance?
Thank you very much!

[2021-09-24 02:35] MrSsunlight commented on #29283
@nvartolomei Yes, I am also surprised that I can use detach to operate system.parts; it is restored after restarting, but is there a way to restore this in-memory table without restarting.

[2021-09-24 02:50] winter7 commented on #29154
OK understood.
I mean this kind of exception with `18446744073.709553 seconds` just appeared exactly after we upgrade EKS version from 1.18 to 1.20, I was wondering if you guys are familiar with this situation.

[2021-09-24 03:19] sundy-li commented on #28961
A great step to cloud warehouse.

[2021-09-24 03:35] den-crane commented on #29312
Yes, mostly.
Check all Backward Incompatible Change in https://github.com/ClickHouse/ClickHouse/blob/master/CHANGELOG.md
Run all DDL queries "create table" against new version in staging env.
Upgrade your staging env.
Make a backup of your prod. server restore in stage env. and upgrade this copy.

[2021-09-24 03:35] #29312 closed

[2021-09-24 03:35] 825644691 opened #29313 "how to calculate the absolute_delay of the table system.replicas"
![image](https://user-images.githubusercontent.com/34371864/134614071-252d1861-184e-43eb-ae97-aab041ed9e1e.png)
I want to know about the calculation method about the absolute_delay,please

[2021-09-24 03:37] den-crane commented on #29306
You should use parseDateTimeBestEffort instead of toDateTime

[code]

[2021-09-24 03:37] 825644691 commented on #29313
database:                   xxxx
table:                      xxx
engine:                     ReplicatedMergeTree
is_leader:                  1
can_become_leader:          1
is_readonly:                0
is_session_expired:         0
future_parts:               10
parts_to_check:             0
zookeeper_path:             /clickhouse/tables/10/xxx
replica_name:               2
replica_path:

[2021-09-24 03:38] #29306 closed

[2021-09-24 03:42] den-crane commented on #29313
seconds.

597462/3600/24 = 6.9 days.

[2021-09-24 03:42] #29313 closed

[2021-09-24 03:42] 825644691 commented on #29313
![image](https://user-images.githubusercontent.com/34371864/134614574-32895bb2-76da-4ddd-ad0b-caa804f91005.png)
every time
I kill the clickhouse-server process
touch /apps/dbdat/clickhouse/flags/force_restore_data
and restart the clickhouse-server, the replica delay recover

[2021-09-24 03:43] den-crane commented on #29298
1. SummingMergeTree does not store rows with metrics == 0.
2. `total UInt64 <----> count(*) AS count` -- names does not match. Your Mat.View inserts 0 into `total`, `count` goes nowhere.

Both are expected and specifically implemented for the reasons.

https://den-crane.github.io/Everything_you_should_know_about_materialized_views_commented.pdf

[code]

------

For query performance and better dat

[2021-09-24 03:43] #29298 closed

[2021-09-24 03:46] 825644691 commented on #29313
thank you for your answer
I mean that the value of '597462' how to calculate/get ，how to suddenly from 0  to 597462

[2021-09-24 03:52] winter7 commented on #29154
I read in `ClickHouse/src/DataStreams/ExecutionSpeedLimits.cpp` that
[code]
I found that my exception `Timeout exceeded: elapsed 18446744073.709553 seconds` came from `elapsed_ns` here. And somehow the elapsed_ns was assigned the max value of UInt64 `18,446,744,073,709,551,615`.
I will continue to look into it.

[2021-09-24 03:53] den-crane commented on #29313
Please provide

[code]

[2021-09-24 03:57] 825644691 commented on #29313
but now the replica delay is recoverd.....

Row 1:
──────
database:                xxx
table:                   table1
type:                    MERGE_PARTS
any(last_exception):
any(postpone_reason):
min(create_time):        2021-09-24 08:34:29
max(last_attempt_time):  2021-09-24 11:56:11
max(last_postpone_time): 2021-09-24 11:56:09
max_postponed:           462
max_tries:               1
min_tries:

[2021-09-24 04:19] chrootweili commented on #29253
I can't build this case shortly.

I guess it's because some columns was added by `alter table` after reading the clickhouse debug log.

[2021-09-24 06:15] chrootweili commented on #29253
Number of rows in source parts = 2873190
Number of bytes written to rows_sources file = 957730

2873190 / 957730 = 3

I've checked other cases, number of rows in source parts = (2 or 3) * number of bytes written to rows_sources file

[2021-09-24 06:17] qoega commented on #28961
We can store in memory metadata about last eviction time, last read time, number of reads, number of times cached for already evicted parts. We will need some sort of introspection and probably add some advanced logic when we want to cache part and when not.

[2021-09-24 06:36] nkthien opened #29314 "Unable to use field name in where clause of a view created by another views"
**Describe the unexpected behaviour**
I have a view which is created from 2 other views (which are joined together).
When I select from that view, it return normally but when I add a where clause which contains a field that is in that view, clickhouse throw exception said that: Missing column ... while processing query.

**How to reproduce**
* Which ClickHouse server version to use: yandex/clickho

[2021-09-24 06:48] Oinari opened #29315 "Segmentation fault (11) with RabbitMQ engine table"
**Describe what's wrong**
Segmentation fault (11) error when trying to get data from a table with RabbitMQ engine.

**Does it reproduce on recent release?**
Yes, 21.9.3.30

**How to reproduce**
1. Create a table
[code]
2. Try to select on several time
[code]
3. Get error.

* Which ClickHouse server version to use
21.9.3.30

**Expected behavior**

**Error message and/or stacktrace**
[code]

**Addit

[2021-09-24 07:06] filimonov opened #29316 "Can not hide the column from partition pruning via identity function"
[code]

[2021-09-24 07:29] filimonov opened #29317 "Partition pruning may lead to showing obsolete rows for FINAL queries"
The nature of the problem is very similar to #8684

[code]

May be we can add a setting `partition_pruning_if_final` similar to `optimize_move_to_prewhere_if_final` (#25940) which will disable partition pruning if the query has FINAL clause and `do_not_merge_across_partitions_select_final` is 0.

[2021-09-24 07:34] filimonov commented on #29316
Discovered when debugging #29317

[2021-09-24 07:37] xuanyue202 commented on #23516
@alexey-milovidov is there are issue/pr/rfc that is linked to the mechanism you mentioned? this is very crucial for us.

[2021-09-24 07:55] kssenii commented on #29315
Wow, great, it is the same as https://github.com/ClickHouse/ClickHouse/issues/26116. I was unable to reproduce it, hope you'll help with it.

I tried to make anything with the connection, like invalidating it any time, there are several tests for it in out ci, and it did not ever result in a crash. May there is something interesting in your RabbitMQ configuration?

[2021-09-24 08:42] Joeywzr commented on #28913
@alexey-milovidov If the limit entered by the user is negative and the offset is positive, do we need to throw an exception or just treat the offset as negative？

[2021-09-24 09:05] Oinari commented on #29315
I think not.
RabbitMQ 3.9.5
Erlang 24.0.5

/etc/rabbitmq/rabbitmq.conf
[code]

I am looking at the option rabbitmq_format. It looks like there was no error with JSONEachRow. I'll check later.

[2021-09-24 09:11] antip00 opened #29318 "Disk level encryption. Changing key ids of last used parameter"
If you create configuration file that uses encrypted disk and specify some keys then you create table and insert into it with some keys then you change keys id's, server works, but if you try to select from this table, output will not be right.

**How to reproduce**
[code]
[code]
[code]

[code]
[code]
[code]

[code]

Output:
{"Id":1,"Value":"hello"}
{"Id":2,"Value":"there"}

21.10.1.8013 ClickHous

[2021-09-24 09:22] jiangdaokun opened #29320 "HDFS engine fails with Kerberos is used"
ClickHouse server version: 21.8.3.44

I want to use HDFS engine on Clickhouse, My HDFS cluster contains Kerberos,When I closed Kerberos, I can get HDFS data ;
However, when I open Kerberos, the query is error. I execute this command on the machine successfully
command:
kinit -R -t "/etc/hdfs1/conf/hdfs.keytab" -k hdfs/tdh1@TDHTEST|| kinit -t "/etc/hdfs1/conf/hdfs.keytab" -k hdfs/tdh1@TDHTEST

erro

[2021-09-24 09:26] kssenii commented on #29315
The stack trace you left says clearly that the crash is a result of an attemp to restore connection which was lost. Something unexpected happened with the protocol which the library did not expect and crashed.

[2021-09-24 09:36] tavplubix opened #29321 "Segfault in query log"
https://clickhouse-test-reports.s3.yandex.net/29209/52289fa41e3c54dadc1cb13f6777518b91d21fd2/functional_stateless_tests_(release).html#fail1

[code]

[2021-09-24 09:43] lingtaolf commented on #29307
@alexey-milovidov Could you let me do this?

[2021-09-24 09:51] antip00 opened #29322 "Disk level encryption. Deleting first key that is not used."
If you create configuration file that uses encrypted disk and specify some keys then you create table and insert into it with some keys then you merge parts that uses different encryption keys than you deletes first key that was used for encryption server will not start.

**How to reproduce**
[code]
[code]
[code]

[code]
[code]
[code]

[code]

21.10.1.8013 ClickHouse version.
**Expected behavior**

[2021-09-24 10:31] vialorn opened #29324 "`MaterializedPostgreSQL` table engine does not support schema specification"
I need to use `MaterializedPostgreSQL` table engine for a source PostgreSQL table in a non-default DB schema.
I tried both 6th agrument (as to `postgresql` table function) and fully-qualified table name, but all in vain.

ClickHouse version is `21.9.3`.

[code]
[code]

[code]
[code]
@kssenii

Related to:
* #27166
  #27198
* #23958
  #23980
* #21701
  #21711

[2021-09-24 10:45] kssenii commented on #29324
It is implemented here https://github.com/ClickHouse/ClickHouse/pull/28933, but not yet merged. I come back to this pr today or tomorrow and will finally merge it.

[2021-09-24 10:52] antip00 opened #29326 "Disk level encryption. Changing key id of first key"
If you create configuration file that uses encrypted disk and specify some keys then you create table and insert into it with some keys then you change first keys id's, server will not start.

**How to reproduce**
[code]
[code]
[code]

[code]
[code]
[code]

21.10.1.8013 ClickHouse version.

**Expected behavior**
Server will start
**Error Log**
[code]

[2021-09-24 11:00] qoega opened #29327 "Flaky test 00975_move_partition_merge_tree"
[code]

[code]
| check_name | test_name | check_start_time | test_status | report_url | commit_sha |
|:-|:-|-:|:-|:-|:-|
| Functional stateless tests (ubsan) | 00975_move_partition_merge_tree | 2021-09-24 09:31:40 | FAIL | https://clickhouse-test-reports.s3.yandex.net/0/e617aeb7a56a18765f2fd227d66c1b6f425336b2/functional_stateless_tests_(ubsan).html | e617aeb7a56a18765f2fd227d66c1b6f425336b2 |
| F

[2021-09-24 11:10] degrees-273 commented on #29253
I also encountered the same problem.
Version 21.7.2.7.
And the test is related to the number of columns selected when creating the projection. For example, there is no error when selecting 9 columns, and an error is reported when 10 columns are selected. The following is my error message:

2021.09.24 18:39:38.929089 [ 24846 ] {} <Error> default.test_table (1ad0fbe3-b86d-4c91-9ad0-fbe3b86d1c91): Ca

[2021-09-24 11:20] degrees-273 commented on #29253
Operating procedures:

CREATE TABLE default.test_table
(
    `c1` Int64 DEFAULT '0',
    `c2` String DEFAULT '',
    `c3` DateTime DEFAULT '1970-01-01 08:00:00',
    `c4` Int8 DEFAULT '0',
    `c5` String DEFAULT '',
    `c6` String DEFAULT '',
    `c7` String DEFAULT '',
    `c8` String DEFAULT '',
    `c9` String DEFAULT '',
    `c10` String DEFAULT '',
    `c11` String DEFAULT '',
    `c12` Str

[2021-09-24 11:39] amosbird commented on #29253
I cannot reproduce it in current master @degrees-273 . Maybe it's already fixed. Could you give it a try?

[2021-09-24 11:41] andranyirestyan opened #29329 "DirectoryMonitor: Code: 209, e.displayText() = DB::NetException: Timeout: connect timed out"
I have CH cluster with two shards with one replica each using a table created with the Distributed engine. When trying to insert data into the Distributed table I noticed that the data is not being sharded and the error I get is the following

2021.09.24 04:31:49.072428 [ 34966 ] {} <Error> hits.hits_all.DirectoryMonitor: Code: 209, e.displayText() = DB::NetException: Timeout: connect timed out: t

[2021-09-24 11:41] tkmishra opened #29330 "Unable to copy millions of rows in clickhouse (table X1 to table X2)"
I am seeing one strange behavior when copying rows from clickhouse tableX1 to tableX2. Here  I am copying rows in chunk of 5 million from tableX1 to tableX2. Copying of rows works initially but later inserted numbers are not same as expected !!! For Example-After two cycle of insertion, I am expecting 10 millions rows but total inserted rows was 9995850 (less than 10 million). I saw that clickhous

[2021-09-24 12:02] amosbird commented on #29253
@degrees-273 Thanks! The problem is related to vertical merges of projection parts, which reuse the same MergeEntry of the base process. I'll fix it asap.

[2021-09-24 12:15] CurtizJ opened #29332 "Pushdown of predicate may produce wrong queries with subqueries to distributed tables."
**How to reproduce**

[code]

[code]

[code]

It's because of rewriting:

[code]

However, pushdown predicate should be disable also for `distributed_product_mode = 'local'`, because in some cases wrong queries may be produced:

[code]

In this query predicate can't be converted from `HAVING` to `WHERE`, because of `WITH TOTALS` and table identifier is rewritten to local because of `distributed_pr

[2021-09-24 12:49] FArthur-cmd commented on #29288
In cases where `current_key_id` is not defined, it will be automatically set to 0. Thus, in this cases, key with `id="0"` will be chosen. Maybe this should be recorded in documentation. (This row choose current_key src/Disks/DiskEncrypted.cpp:79)

[2021-09-24 13:01] qoega opened #29333 "use-of-uninitialized-value DB::DiskWebServer::initialize"
integration test test_disk_over_web_server

https://clickhouse-test-reports.s3.yandex.net/0/5abd14e73fdee633d351c06a0c880967fe72ad2c/integration_tests_(memory).html
[code]

[2021-09-24 13:07] den-crane commented on #29330
duplicate https://github.com/ClickHouse/ClickHouse/issues/18137

set `read_backoff_min_latency_ms=0` or upgrade to fixed version, for example `20.12.8.5`

[2021-09-24 13:07] #29330 closed

[2021-09-24 13:36] larry-cdn77 commented on #18133
I can indeed see this in version 21.8 LTS (was fine in previous 21.3 LTS)

[2021-09-24 13:46] alexey-milovidov opened #29334 "Logical error in function `greatest`"
**Describe the bug**
[code]

[code]

**How to reproduce**
Always reproduced.

[2021-09-24 13:55] larry-cdn77 commented on #29081
Confirmed issue present in version 21.8 LTS

[2021-09-24 14:15] msestak opened #29336 "Connecting with clickhouse-client to ssl enabled clickhouse-server fails with CERTIFICATE_VERIFY_FAILED"
**Describe the unexpected behaviour**
Connecting with clickhouse-client to ssl enabled clickhouse-server fails with CERTIFICATE_VERIFY_FAILED
even though I added 'caConfig' in openssl config. caConfig is our internal CA and clickhouse user can read its location. Adding root ca to default location also didn't work.
All servers have the same config.

**How to reproduce**
* Which ClickHouse server ve

[2021-09-24 14:25] kosiakk commented on #8706
Documentation states that: _During a read operation, incorrect dates and dates with times **can be parsed with natural overflow** or as null dates and times, without an error message._

[2021-09-24 14:28] #8706 closed

[2021-09-24 15:06] amosbird commented on #29332
I also encountered this when developing https://github.com/ClickHouse/ClickHouse/pull/28746

[2021-09-24 16:50] den-crane commented on #29336
Sorry, I did not understand did you use clickhouse-client SSL configs/settings or not?

clickhouse-client uses own SSL settings from /etc/clickhouse-client/config.xml
https://clickhouse.com/docs/en/interfaces/cli/#configuration_files

[2021-09-24 18:24] msestak commented on #29336
I used only settings for server and client in /etc/clickhouse-server/config.d/ssl.xml:

[code]

and invoked clickhouse-client with command line options:

[code]

[2021-09-24 19:22] den-crane commented on #29336
` <client>` section in  /etc/clickhouse-server/config.d/ssl.xml is for client certificates auth not for clickhouse-client.
clickhouse-client does not use /etc/clickhouse-server server configs.

https://clickhouse.com/docs/en/interfaces/cli/#configuration_files

[2021-09-24 22:26] #29336 closed

[2021-09-24 23:11] danlark1 commented on #21426
So, overall the observation of 4grams is not correct

Example: original file
[html.txt](https://github.com/ClickHouse/ClickHouse/files/7228738/html.txt)
Compressed file
[html.lz4_blocked.txt](https://github.com/ClickHouse/ClickHouse/files/7228737/html.lz4_blocked.txt)

Decompression description:
[decompression_description.txt](https://github.com/ClickHouse/ClickHouse/files/7228739/decompression_de

[2021-09-24 23:15] danlark1 commented on #21426
We should go to the drawing board if we want to have some pattern matching in compressed data, I am not aware of any attempts with modern compression algorithms, only some specialized ones

[2021-09-24 23:25] alexey-milovidov commented on #21426
Thank you! It was not easy to understand why it does not work.
But yes - the idea failed miserably :)

[2021-09-24 23:25] #21426 closed

[2021-09-24 23:49] #29288 closed

[2021-09-25 00:05] alexey-milovidov commented on #29326
This is how it is supposed to work. Keys are checked for integrity by fingerprints.
Keys with already existing ids cannot be changed.

@antip00 You did not describe your usage scenario and why do you find the behaviour unexpected.

[2021-09-25 00:05] #29326 closed

[2021-09-25 00:10] alexey-milovidov commented on #29318
You cannot change key ids.
The server correctly throws exception for you.

[2021-09-25 00:10] #29318 closed

[2021-09-25 00:11] alexey-milovidov commented on #29322
It means that key 0 is still used.

[2021-09-25 00:11] #29322 closed

[2021-09-25 00:38] alexey-milovidov commented on #29321
Most likely introduced here: #28659.

[2021-09-25 01:27] alexey-milovidov opened #29347 "Uninitialized memory in window function `nth_value`"
Run under MSan:

**Describe the bug**
https://clickhouse-test-reports.s3.yandex.net/29341/2b2bec3679df7965af908ce3f1e8e17e39bd12fe/fuzzer_msan/report.html#fail1

**How to reproduce**
[code]

[code]

[2021-09-25 01:41] alexey-milovidov commented on #29347
Always reproducing:

[code]

[code]

[2021-09-25 01:46] alexey-milovidov opened #29349 "Failed assertion in `Merge` table engine with REGEXP database matching."
**Describe the bug**
https://clickhouse-test-reports.s3.yandex.net/29341/2b2bec3679df7965af908ce3f1e8e17e39bd12fe/fuzzer_debug/report.html#fail1

**How to reproduce**
[code]

[code]

[2021-09-25 01:51] alexey-milovidov commented on #29349
Bug was introduced here: #25064

[2021-09-25 02:02] alexey-milovidov commented on #29349
Always reproducing:

[code]

[2021-09-25 02:02] alexey-milovidov commented on #29349
[code]

[2021-09-25 02:06] alexey-milovidov commented on #29349
The code is also using `DbToTableSetMap` that is out of style.
We only allow `DBToTableSetMap`.

No surprise that it also contains a bug.

[2021-09-25 02:31] alexey-milovidov commented on #28913
Throw exception.

[2021-09-25 02:34] alexey-milovidov commented on #23516
@xuanyue202 This: #23932

[2021-09-25 02:35] #29316 closed

[2021-09-25 02:37] alexey-milovidov commented on #29317
FINAL makes effect only within partition.

[2021-09-25 02:37] alexey-milovidov commented on #29317
Please update the docs.

[2021-09-25 02:39] alexey-milovidov commented on #29283
No, there is no way to reattach system tables back without restarting.

[2021-09-25 02:39] #29283 closed

[2021-09-25 02:51] alexey-milovidov commented on #29218
@Avogar This is major issue.

[2021-09-25 02:59] alexey-milovidov commented on #29334
It is reproduced if short circuit evaluation is enabled:

[code]

[2021-09-25 03:00] #29081 closed

[2021-09-25 03:00] #29069 closed

[2021-09-25 03:02] alexey-milovidov commented on #29255
You are running modified version of ClickHouse.
We only support official builds of ClickHouse.

[2021-09-25 03:02] #29255 closed

[2021-09-25 03:02] #28856 closed

[2021-09-25 03:03] alexey-milovidov commented on #2914
This task is not finished.

[2021-09-25 05:11] filimonov commented on #29317
It is not true. There is a setting controlling that `do_not_merge_across_partitions_select_final`.

Can try to document it somehow, but that's confusing / non obvious behaviour.

[2021-09-25 06:10] amosbird commented on #28980
I guess we still need to come up with some solutions for this crash as it's in 21.8-lts

[2021-09-25 07:03] msestak commented on #29336
Adding caConfig to client config worked. Thank you.
[code]

[2021-09-25 07:15] junjun888 opened #29363 "Cannot read all data. Bytes read: 39166. Bytes expected: 296440.: while receiving packet from 192.168.9.114:9000: While executing SourceFromInputStream"
the problem is :

Cannot read all data. Bytes read: 39166. Bytes expected: 296440.: while receiving packet from 192.168.9.114:9000: While executing SourceFromInputStream

my clickhouse-server version:  20.3.12.112

the execute-plan error stack is:
[DE-CK-s1] 2021.09.24 14:36:04.442266 [ 135041 ] {f50702dc-73d3-4b84-b184-0f1c5eb21ce1} <Debug> MemoryTracker: Current memory usage: 40.01 GiB.
[DE-CK-s

[2021-09-25 08:05] #29333 closed

[2021-09-25 11:25] Avogar commented on #29218
@tavplubix can you attach the fuzzer report?

[2021-09-25 12:13] tavplubix commented on #29218
It's not from fuzzer, I got it when running functional tests locally. But possibly tests were newer than binary (and the bug is already fixed by #29132)

[2021-09-25 13:03] Avogar commented on #29218
I think this caused the problem. The test was updated in https://github.com/ClickHouse/ClickHouse/pull/29132 to check found segfault and it works on master. I ran this test on binary without my fix and get exactly the same segfault and stacktrace. So, I think there is no problem here.

[2021-09-25 13:31] #29218 closed

[2021-09-25 15:21] MaxWk opened #29366 "keeper-data-dumper build error"
**Operating system**

**Cmake version**
n/a
**Ninja version**
n/a
**Compiler name and version**
n/a

**Full cmake and/or ninja output**
/Users/max_w/ClickHouse-sync/utils/keeper-data-dumper/main.cpp:71:24: error: no matching constructor for initialization of 'DB::KeeperLogStore'
    DB::KeeperLogStore changelog(argv[2], 10000000, true);
                       ^         ~~~~~~~~~~~~~~~~~~~~~~~
/Use

[2021-09-25 16:43] #29347 closed

[2021-09-25 17:14] #24318 closed

[2021-09-25 17:24] #29307 closed

[2021-09-25 23:48] occasionallydavid opened #29377 "clickhouse-local silently fails for some queries when input is not a regular file descriptor"
**Describe what's wrong**

A query is observed to silently fail by returning no results when `clickhouse-local` stdin is connected to a pipe, whereas when fed the same input via a regular file descriptor, the query succeeds as expected.

It appears an error is being internally silenced that should propagate, as the simple test case below produces an error with the same configuration, whereas the (

[2021-09-25 23:52] alexey-milovidov commented on #29317
It's difficult to implement this feature.

[2021-09-25 23:52] #29317 closed

[2021-09-25 23:54] alexey-milovidov commented on #29377
You can pass multiple files with globs `*`, `?`, `{n..m}`.

There is known issue with `s3` table functions. If you can construct equivalent `url` table function, it should work better.

[2021-09-25 23:58] occasionallydavid commented on #29377
As a side note, huge fan of you, and amazing to see replies this late :) I listen to your interviews, love what you're doing and huge thanks!

[2021-09-26 00:03] alexey-milovidov commented on #11481
Let's implement a server with two modes of operation:

1. Record. The server will act like a proxy: bind to one port and forward all connections and requests to another host and port. It will also record all requests and responses in a form of records: `connection_id, is request/response, bytes`

2. Replay. The server will load the record, accept connections on a specified port, receive requests (

[2021-09-26 00:05] alexey-milovidov commented on #11481
Note: it will not work for any kinds of challenge-response authentication or similar.

[2021-09-26 00:14] occasionallydavid opened #29378 "clickhouse-local build small enough to fit in a Lambda function"
**Use case**

`clickhouse-local` is probably the most powerful logs analysis tool I've ever come across, and it seems to obviate most of the pain with running a full ClickHouse installation (ops work, ETL) without sacrificing much (if any?) performance for offline batch tasks.

For use cases where large amount of logs are stored in object stores like GCS or S3, ability to streaming read from objec

[2021-09-26 00:24] alexey-milovidov commented on #7731
@filimonov Nothing was done, closing...

[2021-09-26 00:24] #7731 closed

[2021-09-26 00:41] #25171 closed

[2021-09-26 00:43] #5481 closed

[2021-09-26 00:46] alexey-milovidov commented on #9769
@tavplubix It does not work:

[code]

[2021-09-26 00:49] alexey-milovidov commented on #12289
No longer the case.

[2021-09-26 00:49] #12289 closed

[2021-09-26 00:50] alexey-milovidov commented on #15068
It's difficult to optimize and the benefit will be low.

[2021-09-26 00:50] #15068 closed

[2021-09-26 00:52] alexey-milovidov commented on #12295
It is not possible to reliably consume data without duplicates or data loss unless we will commit offset in the same transaction as we commit data. We should store offsets by ourself and don't commit anything to Kafka.

[2021-09-26 00:55] #29363 closed

[2021-09-26 00:56] alexey-milovidov commented on #29363
Upgrade to version 21.9.

[2021-09-26 00:57] #23702 closed

[2021-09-26 00:58] alexey-milovidov commented on #29329
Check your network configuration.

[2021-09-26 00:58] #29329 closed

[2021-09-26 01:00] alexey-milovidov commented on #4149
No one has showed any interest implementing this feature for 2.5 years.

[2021-09-26 01:00] #4149 closed

[2021-09-26 01:01] alexey-milovidov commented on #9984
Closing as duplicate.

[2021-09-26 01:01] #9984 closed

[2021-09-26 01:02] alexey-milovidov commented on #6635
It works perfectly.
Implemented by @azat IIRC.

[2021-09-26 01:02] #6635 closed

[2021-09-26 01:03] alexey-milovidov commented on #8802
@vdimir Please take a look. Maybe it's already implemented?

[2021-09-26 01:04] #28848 closed

[2021-09-26 01:05] alexey-milovidov commented on #26382
Please reopen if there will be more info.

[2021-09-26 01:05] #26382 closed

[2021-09-26 01:05] #26643 closed

[2021-09-26 01:06] alexey-milovidov commented on #24281
@vdimir Let's recheck it on newer versions.
Most likely you have already fixed this issue :)

[2021-09-26 01:07] alexey-milovidov commented on #24009
@Avogar Please close if it is already fixed.

[2021-09-26 01:12] alexey-milovidov commented on #14567
This is a tech debt after introducing "data type domains".
I will assign to @Enmk, maybe he can find a workaround without removing "data type domains",
though I think that they have to be removed.

[2021-09-26 01:14] alexey-milovidov commented on #28769
@amosbird Let's simply make the feature of nullable primary key unavailable?

[2021-09-26 01:15] alexey-milovidov commented on #23503
@KochetovNicolai continuing to work on removal of DataStreams.
#28582

[2021-09-26 01:18] alexey-milovidov commented on #10154
It is difficult to reliably calculate memory usage for background operations as the memory allocations and deallocations can happen from the scope inside and outside of the operation.

[2021-09-26 01:19] #24008 closed

[2021-09-26 01:48] alexey-milovidov commented on #29378
Lowering the size to 50 MB should be doable.

1. Disable unneeded libraries during build (LLVM, Hyperscan, AWS...)
2. Disable unused functions, aggregate functions, table functions, storage engines, dictionary types by removing them.
3. Strip the binary.
4. Additionally remove dynamic symbol table from binary.
5. Pack to self-extracting executable, let it extract to memory.

[2021-09-26 01:52] alexey-milovidov commented on #29378
The binary from master almost fits:

[code]

[2021-09-26 03:27] pengliaoye commented on #29079
@kitaisreal how about this feature

[2021-09-26 05:00] amosbird commented on #23634
I cannot reproduce it in current master.

[2021-09-26 05:08] amosbird commented on #28769
This behavior exists at the beginning of the introduction of LowCardinality. It also means we can create table with primary keys like `Tuple(i Nullable(int), j int)`. A more strict check should be casted.

[2021-09-26 05:09] amosbird commented on #28769
But it still serves some use cases. Perhaps we can provide a warning that it's not suitable for production and "use at your own risk" ?

[2021-09-26 05:10] amosbird commented on #28769
I'll take a close look at how this crash could happen.

[2021-09-26 05:12] #29366 closed

[2021-09-26 06:52] Sallery-X opened #29384 "when i exec 'kubectl logs pod -n clickhouse', before clickhouse's logs come out, the pod logs chown: '/var/lib/clickhouse/store/07b/07ba5ca4-76cc-4cbb-97d5-2e0c8e47dd67/tmp_1993_882_882_0, I want to know which part exec chown?"

[2021-09-26 06:58] MrSsunlight opened #29385 "In the system.query_log, you can see that the number of rows before and after the insert is inconsistent, but there is no exception information"
Use the http protocol to insert data into the MergeTree table through insert. Why do you see that the results of write_rows and result_rows are inconsistent from the system.query_log, and no abnormal information can be seen;

`INSERT INTO table1 FORMAT Protobuf SETTINGS format_schema='test.proto.tt'`

[code]

`show processlist`

[code]

[2021-09-26 07:07] zhicwu opened #29386 "Inaccurate type conversion between DateTime64 and Float/Decimal"
It seems ClickHouse has trouble to convert float to DateTime64, regardless the value is positive or negative. I can reproduce the same issue on both 21.3 and 21.9.

[code]

[2021-09-26 07:48] shadowDy commented on #28673
ok~thanks 👍

[2021-09-26 07:48] #28673 closed

[2021-09-26 08:11] zhicwu commented on #29386
Converting DateTime64 back to float/decimal has problem too:
[code]

[2021-09-26 09:17] ArunGust commented on #29306
worked, Thank you

[2021-09-26 13:47] kssenii commented on #28529
Yes, this is correct, forgot to modify some checks, sorry :( Will fix it right now and add more tests for these case.

becuase this feature was added one week ago and is not in any release yet.

[2021-09-26 13:53] den-crane commented on #29386
And why do you expect it work? Especially in case of FLOAT?
It should not.

[code]

[2021-09-26 14:42] den-crane commented on #29384
clickhouse docker executes chown for all files/folders during start.

https://github.com/ClickHouse/ClickHouse/blob/master/docker/server/entrypoint.sh#L58

[code]

You can disable it by CLICKHOUSE_DO_NOT_CHOWN

[2021-09-26 14:42] #29384 closed

[2021-09-26 15:04] den-crane commented on #29385
What API do you use?  Do you use clickhouse-client or HTTP ?

[2021-09-26 15:25] occasionallydavid commented on #29378
Packing the official build with UPX yields a 77mb binary that takes ~1 second to start up. This doesn't use up much of /tmp or /dev/shm storage, and overhead is fine for a 30-60 second job. I think putting the binary in its own S3 bucket and downloading it at startup will work. Will report back later

[2021-09-26 16:14] den-crane commented on #29385
[code]

[2021-09-26 16:43] den-crane commented on #23634
it reproduce in 21.8 but does not in 21.9

[2021-09-26 16:46] den-crane commented on #23634
I'll make a test.

[2021-09-26 17:14] #23634 closed

[2021-09-26 17:15] alexey-milovidov opened #29389 "Update tzdata"

[2021-09-26 17:23] alexey-milovidov commented on #29386
`select toDateTime64(-1.1, 3)` should work,
Duplicate: https://github.com/ClickHouse/ClickHouse/issues/22959

[2021-09-26 17:59] tavplubix commented on #9769
We can easily add missing columns, but it will not work anyway until #28687 is fixed. Also `COLUMN_COMMENT` and `COLUMN_TYPE` do not look like standard columns, AFAIK such columns are MySQL-specific.

[2021-09-26 20:08] den-crane opened #29391 "tuple( nullable ) != tuple() incorrect results"
[code]

expected

[code]

because
[code]

[2021-09-26 22:55] #29227 closed

[2021-09-26 23:01] zhicwu commented on #29386
Yes, I should use Decimal.

In Java client I added type conversion for convenience(at least for testing). float/double value will be converted to Decimal, and then DateTime64. I totally forgot that I have to explicitly do that in ClickHouse :p

Below should return `1969-12-31 23:59:58.900`.
[code]

[2021-09-26 23:05] den-crane commented on #29391
[code]

[2021-09-27 00:14] den-crane commented on #29386
[code]

[2021-09-27 01:36] alexey-milovidov commented on #9887
INTERSECT, EXCEPT, ANY, ALL implemented by Kirill Ershov and Ksenia Sumarokova.

[2021-09-27 02:43] alexey-milovidov commented on #17623
@ramazanpolat I'm also not a fan of YAML. We have added support for it due to high demand from users.
Now users can write configs both in XML and YAML and even use both (e.g. XML for main config and YAML for config.d tweaks).

Also we have conducted fuzz testing of libyaml.

It looks like that YAML becomes increasingly more fashionable due to its widespread in devops-oriented tools.
I've noticed t

[2021-09-27 02:50] #29349 closed

[2021-09-27 07:01] Shohjahon opened #29401 "Issue creating materialized view on table which is replica of the Postgresql, returning error"
(you don't have to strictly follow this form)

**Description**
When i try to create materialized view for the table orders(engine: ReplacingMergeTree), clickhouse returning error.
Database migrated from Postgresql using MaterializedPostgresql engine

**Details**
* Clickhouse server version:  21.9.2.17
* Database client: Dbeaver
* `CREATE TABLE shipox.orders
(

    `id` Int64,

    `code` Nullable(

[2021-09-27 07:04] MrSsunlight commented on #29385
@den-crane Shouldn't the exception_code and exception contain the reason when the insert result is zero.

[2021-09-27 07:35] Shohjahon commented on #29401
@alexey-milovidov @kssenii  Can you help for resolving this issue please?

[2021-09-27 08:00] ibradwan opened #29402 "Mutations performance characteristics"
Hi ClickHouse team,

I have some questions about the CH delete mutations:
1. Does the mutation processing time depend on the complexity of the mutation query?
2. Do update mutations perform significantly faster than the delete ones?
3. We noticed an increase in the query processing time during the mutations (like 2x). Is this expected? The metrics do not show a significant drop in CPU or memory du

[2021-09-27 08:14] kssenii commented on #29401
Of course!

As I see here

you are trying to create a materialized view inside a MaterializedPostgreSQL database engine. But why? Can't you just create it in some other database engine and create a view from materialized postgresql database engine table? (not sure it will work though, I never tested such case)

Also

It is a database with materialized postgresql engine, correct? I wonder how you m

[2021-09-27 08:30] suvorovis opened #29403 "Column Function is not a contiguous block of memory"
**Describe what's wrong**

An error occures when we are selecting data from a table with Kafka engine

**How to reproduce**

* Which ClickHouse server version to use
Clickhouse 21.9.3.30
* `CREATE TABLE` statements for all tables involved

CREATE TABLE kafka_fundevwh.QueueCheck
(
    `message` String
)
ENGINE = Kafka
SETTINGS kafka_broker_list = 'brokers', kafka_topic_list = 'topic', kafka_group_n

[2021-09-27 08:49] yiguolei commented on #23516
@alexey-milovidov  When will this feature be completed? It is very crucial for us too

[2021-09-27 08:52] tavplubix commented on #29403
It seems to be related to JIT, @kitaisreal, could you please take a look?

[2021-09-27 09:11] Sallery-X opened #29404 "'Coordination::Exception: Connection loss' when I exec modify TTL."

[2021-09-27 09:24] ice1x commented on #2232
Error: Invalid formula: /usr/local/Homebrew/Library/Taps/arduanov/homebrew-clickhouse/clickhouse.rb
clickhouse: undefined method `devel' for #<Class:0x00007f87ff88abb0>
Error: Cannot tap arduanov/clickhouse: invalid syntax in tap!

[2021-09-27 09:41] Shohjahon commented on #29401
Database was created using the command shown below:
`CREATE DATABASE shipox
ENGINE = MaterializedPostgreSQL('host:port', 'shipox', 'shipox', password)
SETTINGS
 materialized_postgresql_max_block_size = 65536,
 materialized_postgresql_allow_automatic_update = 1,
 materialized_postgresql_tables_list = 'orders';`
it replicated data from Postgresql database 'shipox' to Clickhouse using logical replica

[2021-09-27 09:44] Shohjahon commented on #29401
![click](https://user-images.githubusercontent.com/16575814/134885315-f6807b00-9428-43e6-bea7-6eb17dd7e402.jpg)

[2021-09-27 09:54] kssenii commented on #29401
I don't think it is correct to allow MaterializedPostgreSQL database engine to contain anything apart from tables, which are replicated from postgresql.
Therefore the error you get when creating a materialized view inside materializedPostgreSQL database is absolutely correct.

I think this is what needs to be fixed because it should work. I'll see why it doesn't.

[2021-09-27 10:05] Shohjahon commented on #29401
@kssenii can you share existing solution for this issue, because i should migrate our existing data on Postgresql to Clickhouse for analytical purposes, its first time we are using Clickhouse? I apreciate your efforts

[2021-09-27 10:07] Shohjahon commented on #29401
@kssenii Can you share existing solution for this issue?

[2021-09-27 10:10] SergImmortal opened #29411 "Very low mutation performance for a replicated tables"
Hi ClickHouse team,

**Describe the unexpected behaviour**
We have 2 servers (64 CPU 128 RAM) with replicated tables (~200M rows) + recording 50-200 rows per second by 1 insert.
And we need to update around 1M rows spread over the table for few previous months, each row by the specific query.
While this update we caught the **error**:

`DB::Exception: Too many optimizations applied to query plan.

[2021-09-27 10:27] CurtizJ commented on #29391
However, in [postgres](http://sqlfiddle.com/#!17/9eecb/81612) and in [mysql](http://sqlfiddle.com/#!9/9eecb/243763) it works in the same way.

[2021-09-27 10:28] qoega opened #29412 "Flaky test 2024_merge_regexp_assert"
Merge() tried to access database(from another test) that was deleted in process. We can rewrite test to not access other database names, but we can improve atomicity inside Merge()
[code]

| check_name | test_name | check_start_time | test_status | report_url | commit_sha |
|:-|:-|-:|:-|:-|:-|
| Fast test | 2024_merge_regexp_assert | 2021-09-27 08:16:41 | FAIL | https://clickhouse-test-reports.s3.

[2021-09-27 10:36] qoega opened #29413 "CI Fest #10"
Umbrella issue to track flaky tests and other problems with current master branch stability:

Flaky tests:
- #29327
- #29412
- #29415
- #30399
- #30402

Sanitizer:
- #29416
- #29470
- #30388
- #30446

Fail:
- #30397
- #30321
- #30400

[2021-09-27 10:43] qoega opened #29415 "Flaky test 01200_mutations_memory_consumption"
[code]

select check_name, test_name, pull_request_number, check_start_time, test_status, report_url, commit_sha　from `gh-data`.checks　where　test_status not in ['OK', 'SUCCESS', 'SKIPPED', 'XFAIL', 'XERROR'] and　test_name = '01200_mutations_memory_consumption' and pull_request_number = 0　and check_start_time >= now() - interval 30 day order by check_start_time desc FORMAT Markdown

| check_name |

[2021-09-27 10:45] #29253 closed

[2021-09-27 10:58] qoega opened #29416 "ThreadSanitizer: data race StorageBuffer::flush"
https://clickhouse-test-reports.s3.yandex.net/0/1c9778603ff49563d1d3d0d357de0608167e504d/stress_test_(thread).html
[code]

[2021-09-27 11:35] tavplubix commented on #28799
No information provided

[2021-09-27 11:35] #28799 closed

[2021-09-27 11:35] tavplubix commented on #29404
No information provided

[2021-09-27 11:35] #29404 closed

[2021-09-27 11:36] #28164 closed

[2021-09-27 11:36] tavplubix commented on #25996
No information provided

[2021-09-27 11:36] #25996 closed

[2021-09-27 11:44] kylhuk commented on #29188
Agree, that would be useful. Additionally, if you use a UDF, the column header does not use the function name and aliases on function names do not work, e.g. `SELECT my_function(column1) AS custom_header`

So if no alias is given, the column header should be `my_function(column1)`, if an alias is given, the header should use the alias (e.g. `custom_header`)

[2021-09-27 11:56] tavplubix commented on #29377
[code]

Seems to be related to recent changes from #28561. @FArthur-cmd, could you please take a look?

[2021-09-27 12:07] #29200 closed

[2021-09-27 12:15] FArthur-cmd commented on #29377
That's strange, because this assert was to prevent endless loops. I'll take a look.

[2021-09-27 12:22] k3rnL commented on #8655
Hello, is this fixed ? Seems the issue is still present in 21.3.15.4

[2021-09-27 12:24] aovlexus commented on #26268
@akuzm any updates here.

This PR  https://github.com/ClickHouse/ClickHouse/pull/24420 (Support conditions in JOIN ON section). But https://github.com/ClickHouse/ClickHouse/pull/18787 has many conflicts and looks like will be never joined. We  extremely need this feature.

How we can push this issue forward?

[2021-09-27 12:36] vdimir commented on #26268
@aovlexus I'm going to implement kind of push down for filters for right table in JOIN. Actually it's close to #24420 , but need to analyze `WHERE` section.
I suppose I'll just start only after https://github.com/ClickHouse/ClickHouse/pull/21320 will be merged, because now it may cause conflicts difficult to resolve.

So, no estimation yet, but it's in the plans.

[2021-09-27 12:47] #27814 closed

[2021-09-27 12:47] #29251 closed

[2021-09-27 12:53] alesapin commented on #29221
This error can be thrown only in case when you have specified `<keeper_server>` configuration in your config, but server built without NuRaft (https://github.com/ClickHouse/ClickHouse/blob/a73064679dc77a7c35111da87ded9a8f9d38cf72/programs/server/Server.cpp#L978-L1022). So it's misconfiguration, not the build issue.

[2021-09-27 12:55] jkuklis opened #29430 "Azure Blob Storage Disk support in ClickHouse"
Hello!

We would like to propose introducing support for Azure Blob Storage Disks in ClickHouse, in a similar way it was done for AWS S3 Disks. At Contentsquare we have already started preliminary work to make sure this is feasible.

## Context

We use S3 Disks in our AWS servers for example for storing raw data or monitoring data loss with certain metadata, for which regular disks would be too ex

[2021-09-27 13:07] den-crane commented on #29402
1. maybe.
2. Yes. If you have 400 columns in a table, update of a single column can be ~400 faster than delete.
3. yes. Mutations cause high disk i/o -> cache spoiling. Basically mutation reads all data from related partitions and uncompress all data / mutate / compress and write data back.

Mutations are admin operation implemented to satisfy GDPR. You should not use them on daily basis.

[2021-09-27 13:07] #29402 closed

[2021-09-27 13:10] den-crane commented on #29411
21.4. is out of support.

Q/A:
1. No.
2. Possible, by a single mutation. Use external dictionaries.
3. yes, you should.

[2021-09-27 13:10] #29411 closed

[2021-09-27 13:10] alesapin commented on #24972
never seen any other repros of this error and don't understand how is it possible. Let's reopen of it will fire again.

[2021-09-27 13:10] #24972 closed

[2021-09-27 13:28] vitlibar commented on #29318
ClickHouse stores a key ID with encrypted data on an encrypted disk, it doesn't store the key itself. To decipher data ClickHouse reads from the encrypted data the key ID and after that reads a key with that ID from the configuration. So it's necessary to keep the keys unchanged if there are some data encrypted with those key. You inserted the first `(1, 'hello'),(2, 'there')` with the key `#0` an

[2021-09-27 13:39] den-crane commented on #29391
ah, I see.

[code]

[2021-09-27 13:39] #29391 closed

[2021-09-27 13:48] ibradwan commented on #29402
I see. So to give some context, our mutation query is just a plain filtering delete query, but the `WHERE` condition could get complex in terms of the number of conditions (but every condition is just equal, greater, ...etc). Also, the fields on which we filter could be non-primary or sort keys. Please check the sample query below for reference.

So in light of this, let me ask other questions reg

[2021-09-27 14:27] den-crane commented on #29411
1. I will not waste time on investigating issues in 21.4 (obsolete).
2. https://stackoverflow.com/a/55775479/11644308 + setting_allow_nondeterministic_mutations

[2021-09-27 14:47] Avogar commented on #29334
The bug is in LeastGreatestOverloadResolver, it passes empty list of argument types to FunctionToFunctionBaseAdaptor:
https://github.com/ClickHouse/ClickHouse/blob/master/src/Functions/LeastGreatestGeneric.h#L109-L116

Will fix it.

[2021-09-27 16:29] Joeywzr commented on #28913
@alexey-milovidov I've finished the part except `order by xxx`. It seems that I need to modify a lot of files like `PartialSortingTransform`, `MergeSortingTransform`, `ColumnXXXX` to fit it.  I wonder if there is something wrong with my understanding.

[2021-09-27 17:04] UnamedRus commented on #29430
Have you considered using a minio gateway for an azure server as a proxy server?

https://docs.min.io/docs/minio-gateway-for-azure.html

[2021-09-27 17:55] den-crane commented on #29403
I think it's may be fixed. @suvorovis  Try 21.9.4.35

[2021-09-27 18:09] SadiHassan commented on #29221
@alesapin I did not change anything in the config file. FYI, the code was cloned from tag v21.3.8.76-lts. If the config was specified `<keep_server>`, can you instruct what value should be there, which file and where need to be changed? Thanks!

[2021-09-27 18:10] alexey-milovidov commented on #28913
If limit is negative, we can omit the partial sorting optimization (as if there is no limit) - so there is no need to modify these places.

[2021-09-27 18:12] alexey-milovidov commented on #29221
Simply remove the `<keeper_server>` section.

[2021-09-27 19:03] kitaisreal commented on #29115
It is not a bug, when you use dictGet specified dictionary name is searched in scope of context default database. It could not find dictionary that was created in non default database, so database must be explicitly specified.

[2021-09-27 19:14] tavplubix commented on #29111
@amosbird, could you please take a look?

[2021-09-27 19:15] #29115 closed

[2021-09-27 19:23] tavplubix commented on #29037
Related: #21858, #24763

[2021-09-27 19:32] alexey-milovidov commented on #23516
Today we have working prototype, it is being tested on various datasets and already can be used for some demos.
Making it production-ready may take at least several months.
And it will appear in stable release not earlier than in November (most likely later).

[2021-09-27 19:34] tavplubix commented on #28999
Can be related: #28195

Could you please execute
[code]
or (if the query above will not work for some reason)
[code]
next time it will happen again and share the output/content of stacktraces.txt?

[2021-09-27 19:34] den-crane commented on #29385
@MrSsunlight as you can see in my message there is no exceptions.
Numbers in written_rows / result_rows are inconsistent because of unknown reason.

@MrSsunlight can you provide your table DDL, your .proto and a test datasample?

[2021-09-27 19:36] alexey-milovidov commented on #9769
Let @FArthur-cmd add some missing columns even if MySQL integration will still not work out of the box.

[2021-09-27 19:59] Avogar opened #29456 "Server failed to restart."
After such successful queries:

[code]
Server failed to restart with error:
[code]

Found in https://github.com/ClickHouse/ClickHouse/pull/27928

[2021-09-27 20:02] alexey-milovidov commented on #29037
Now it is trying to distinguish between XML and YAML from file extension.
This is not a bug... But we can improve it:
- treat files as XML by default.

[2021-09-27 20:18] alexey-milovidov commented on #29456
We should check NAME_MAX and PATH_MAX on creation time.
PS. Why Linux allowed to create this file but don't allow to `stat` it?

[2021-09-27 20:21] alexey-milovidov commented on #29456
Another option is to use 128bit hash from table name but then the limit should be fixed and we have to ensure that it was not possible to use so long names before.

[2021-09-27 20:36] genzgd commented on #28999
We'll try to capture this the next time it happens.  Our network has been more stable the last couple of weeks so we've seen fewer zookeeper disconnects, and accordingly "too many simultaneous queries" has only happened once since my last comment (on a box that was still running 21.8.3)

[2021-09-27 20:42] tavplubix commented on #29456
20.8 starts successfully, but shows escaped table name:
[code]

[2021-09-27 20:43] tavplubix commented on #29456
Bug is here:
https://github.com/ClickHouse/ClickHouse/blob/df56e99b87f63b5650057d7ecbad597354f2867f/src/Databases/DatabaseLazy.cpp#L43

[2021-09-27 21:49] alexey-milovidov opened #29457 "List of lists of datasets"
Already prepared, ready to use datasets: https://clickhouse.com/docs/en/getting-started/example-datasets/

Datasets under development to be used in tutorials and research: https://github.com/ClickHouse/ClickHouse/labels/dataset

https://academictorrents.com/

http://files.pushshift.io/

https://zenodo.org/

https://www.dolthub.com/discover

[2021-09-28 00:15] alexey-milovidov opened #29459 "Reading Cassandra's SSTables directly."
Data format: https://docs.scylladb.com/architecture/sstable/sstable3/sstables-3-data-file-format/#the-data-file-layout

**Use case**

Quick import of data from Cassandra.

**Describe alternatives you've considered**

1. Simply do not implement this feature.
2. Implement table functions and table engine to query data with Cassandra APIs. This is more easy to implement and to use.

**Additional cont

[2021-09-28 02:17] Joeywzr commented on #28913
@alexey-milovidov Thanks! That helps me a lot.

[2021-09-28 02:21] amosbird commented on #29111
It's fixed in https://github.com/ClickHouse/ClickHouse/pull/29337 . However we need backport.

[2021-09-28 02:28] alexey-milovidov commented on #11
@kitaisreal Another interesting option is HTTP/HTTPs service based UDFs with a protocol similar to executable UDFs.
For example, UDF can be deployed to AWS lambda. Also see #8695.

[2021-09-28 03:43] tekeri commented on #26829
@filimonov Could you reopen this?

[2021-09-28 04:07] den-crane commented on #29402
I have answers for your questions, I am not a developer. I am doing triage. Maybe other developers may answer.
Skip indexes are not used for sure.

20.10. is out of support.

Can  you  provide `select * from system.mutations where not is_done format Vertical`
How big is the parts in the column parts_to_do ?
Did you try to grep clickhouse server logs for mutation?

[2021-09-28 06:44] jkuklis commented on #29430
Hey @UnamedRus,

Yes, we have considered using a minio proxy, but we still decided to write the Disk Blob Storage part on our own. This approach gives more direct access to the storage and is thus more flexible, plus we remove one bottleneck from the system in the form of a proxy server - all the data would have to come through this proxy, which comes with a performance and system design penalty.

[2021-09-28 07:51] Sallery-X opened #29467 "'Coordination::Exception: Connection loss' when I exec modify TTL."
1>、version 21.3 lts
2>、the replicated table has about 2300 partitions, about 6300 parts, has 45575553545 rows;
3>、when I 'exec ALTER TABLE xxx MODIFY TTL toDateTime(toDate(concat(day, ' 00:00:00'))) + toIntervalMonth(1)'
![image](https://user-images.githubusercontent.com/45587738/135046089-a18dcba8-d9e5-40ad-8a81-b26c63ed8f17.png)

[2021-09-28 08:02] wenyuanLv opened #29468 "MaterializeMySQL Decimal bug"
ClickHouse client version 21.8.4.51 (official build).

I had a problem synchronizing Nullable(Decimal(20, 8))  using the MaterializeMySQL

mysql data is  10929.00000000

but clickhouse data is -32771294956408.94967295

Can someone help me plz

[2021-09-28 08:43] qoega opened #29470 "ThreadSanitizer: data race DB::LogSink::writeMarks and DB::StorageLog::addFiles"
https://clickhouse-test-reports.s3.yandex.net/28522/650de10dea0d4ca0a56b3e1c6615fd7b16c3cef1/stress_test_(thread).html#fail1
[code]

[2021-09-28 09:02] gj-zhang opened #29472 "uniqExactMerge very slow at small table"
clickhouse-server version: 21.8.5.7

describe:
Millisecond responses are expected, but take tens of seconds

agg_table Distributed engine, agg_table_shard AggregatingMergeTree engine

[code]
logs

i find this line  38.455015483 sec. But I don't know what this line stands for. Why does it take 38 seconds
[code]

detail log:
[code]

[2021-09-28 09:14] jeandeniscosta opened #29473 "Invalid cursor state from ODBC bridge to SQL Server"
We use 40 dictionaries based on SQL queries to an SQL server, feeding tables with various sizes (smallest is a few lines, biggest is a few millions). They are configured to refresh every 5 minutes
Sometimes the dictionaries get "stuck" and each refresh (automatic or via "SYSTEM RELOAD DICTIONARIES") end up failed, with the following exception:

[code]

We can most if the time reset them by manuall

[2021-09-28 09:14] yurayko commented on #26125
Which version it is fixed?
Right now:
2021.09.28 12:04:32.084810 [ 6931 ] <Fatal> BaseDaemon: ########################################
2021.09.28 12:04:32.085052 [ 6931 ] <Fatal> BaseDaemon: (version 21.7.11.3 (official build), build id: 46A1DAE06173C184128BE296ED1C49DFDFA05904) (from thread 6747) (query_id: d2821122-4d75-4569-989b-a5e084c1f7c9) Received signal Segmentation fault (11)
2021.09.28 1

[2021-09-28 09:17] kssenii commented on #26125
@yurayko  Starting from 21.8, yours is 21.7.

[2021-09-28 10:13] #29334 closed

[2021-09-28 10:22] kitaisreal commented on #21134
Currently `dictionaries_lazy_load` does not break server startup if some dictionary failed to load.

[2021-09-28 10:22] #21134 closed

[2021-09-28 10:45] kitaisreal commented on #28142
Seems there is no bug in config we search dictionaries and models relative to clickhouse-binary not config. For example.
Folder structure:
clickhouse
dictionaries/simple_dictionary.xml
ml_models/simple_model.xml
test_config_dir/config.xml

In config.xml:
[code]
Check queries:
[code]
[code]

[2021-09-28 11:24] tavplubix commented on #29468
It's known bug (#25896,  #19597, #16265) with Decimals replication, but it's hard to reproduce. We need some reproducible example to debug it and fix.

[2021-09-28 12:09] GrigoryPervakov commented on #28142
Your example is correct, because code in link always returns clickhouse-binary path.
For example:
Folder structure:
clickhouse - binary can be anywhere
/etc/clickhouse-server/dict.d/simple_dictionary.xml
/etc/clickhouse-server/model.d/simple_model.xml
/etc/clickhouse-server/config.xml
In config.xml:
`<dictionaries_config>./dict.d/*_dictionary.xml</dictionaries_config>
<models_config>./model.d/*_mo

[2021-09-28 12:53] den-crane commented on #29472
This is the expected behavior of uniqExactState.
In case of uniqExactState you store all data of uid column but in horizontal state instead of column.
There is no sense to use uniqExactState in materialized views.
Try to use uniqState / uniqHLL12State instead of uniqExactState.

If you need exact numbers, don't use materialized views, but query  xxx.ods_table_shard directly.

uniqExactMerge can be

[2021-09-28 12:53] #29472 closed

[2021-09-28 13:17] SE2AI opened #29484 "clickhouse crash when executing JOIN query"
dear authors,

when executing JOIN query, clickhouse got crash:
for the column 'obj_id', there are about 1million records.
![20210928-211218(WeLinkPC)](https://user-images.githubusercontent.com/21308534/135093749-d1c9a394-c13f-43ff-81ec-b9b75f6c6dbb.png)

my question are:
1. I guess the reason is the amount is too large, right?
2. If so, is there any way of avoiding such kind of crash?
3. any sugg

[2021-09-28 13:37] Algunenano opened #29485 "Deadlock with JOIN Engine"
**Describe what's wrong**

When executing simulatenously a read and a write query on a JOIN Engine table there is a change of deadlocking, where the read query is waiting for the write one and viceversa.

**Does it reproduce on recent release?**

Tested and reproduced under:
* 20.7.2.30
* 21.3.17.2
* 21.8.7.22
* 21.9.4.35
* master

**How to reproduce**

The current way I have to reproduce it is to

[2021-09-28 13:47] den-crane commented on #29484
please provide `select version()`

[2021-09-28 13:47] tavplubix opened #29486 "Segfault in SettingsProfilesCache"
https://clickhouse-test-reports.s3.yandex.net/0/ddb0849cdefcde31fb2ba5a3e300ff1f6146454f/stress_test_(debug).html#fail1

[code]

[2021-09-28 13:49] SE2AI commented on #29484
the version is 21.6.4.26

[2021-09-28 13:49] den-crane commented on #29484
use subquery and define conditions for the right table manually

instead
[code]
use
[code]

[2021-09-28 13:51] den-crane commented on #29484
try to upgrade to 21.6.9.7

[2021-09-28 13:52] SE2AI commented on #29484
ok, but any ways avoiding crash? though ch can't give results, I think server shouldn't crash

[2021-09-28 13:54] tavplubix commented on #29485
@vdimir, could you please take a look?

[2021-09-28 14:02] SE2AI commented on #29484
ok, i ll post tomorrow, cuz it's under pressure test

[2021-09-28 15:10] Algunenano commented on #29485
For reference, I'm also looking into this. I want to first replace the locks by ones with timeouts (similar to table's `lockForShare` and so on) so the queries don't live indefinitely and then try to fix the underlying issue. Please, let me know if I can help.

[2021-09-28 16:03] Algunenano commented on #29485
Replacing the `std::shared_mutex` with `DB::RWLock` seems to fix the issue as the latter handles multiple read requests over the same lock in the same query (and thread in this case) cleanly. With this change my stress-test script works correctly. Before it failed in the first second, and now I can run it for 20-30 seconds, stop it and it finishes all the queries without issues.

It that's ok, I'l

[2021-09-28 16:08] tavplubix commented on #29485
But we want to remove `DB::RWLock` (because it's too complicated and may cause deadlocks in extremely rare cases), see the discussion in https://github.com/ClickHouse/ClickHouse/pull/29444#discussion_r716952460

[2021-09-28 17:14] jahilliard commented on #19857
I want this too! 🤤 We used this pattern all the time at FB.

[2021-09-28 17:38] iamthen0ise opened #29492 "ATTEMPT_TO_READ_AFTER_EOF when try to create table for S3 in ECS Fargate"
Hi!

Got ATTEMPT_TO_READ_AFTER_EOF S3 when initializing ClickHouse server in ECS Fargate container.
It doesn't happend if i use environmental variables for S3 bucket path, but crashes while hardcode the path.

Version: 21.9.4.35
Interface: TCP

Clickhouse Table Create Statement:
[code]

Logs:
[code]

Please, let me know if i missed something, or additional information needed.
Thank you!

[2021-09-28 17:44] gauravphoenix opened #29493 "when does write to s3 happens while perform_ttl_move_on_insert is set to 0?"
Per [this](https://altinity.com/blog/clickhouse-and-s3-compatible-object-storage)  blog, the setting
[code]
causes-

I would like to know how often (time interval) does CH performs background writes to s3? and is it configurable?
also, for monitoring purposes, where can I see what all data is pending write to s3?

[2021-09-28 19:08] Joeywzr commented on #28913
#29496

[2021-09-28 20:30] alexey-milovidov opened #29498 "Support for HSTS in ClickHouse HTTP server."
**Use case**

People who expose ClickHouse HTTP server to internet may want to enable HSTS.
This is actually a very rare use case.

**Proposed solution**

An option to enable it in config.xml with a specified max-age.

[2021-09-28 21:57] #29412 closed

[2021-09-28 23:23] vitruvvius opened #29504 "Lateral Joins"
Lateral joins are fantastic for workloads primarily used in ClickHouse environments: time-series/logs/analytics/etc. that trace the history of an object's values throughout time

in particular, lateral joins make writing correlated subqueries far easier

SELECT * FROM (
  SELECT DISTINCT ON (ID) *
  WHERE ID = ANY($1)
  FROM PRICES
  ORDER BY ID, TIMESTAMP DESC
) PRICE LEFT JOIN LATERAL (
   .....

[2021-09-28 23:45] #29456 closed

[2021-09-29 01:15] gj-zhang commented on #29472
OK thank you.

DDL:
[code]

[2021-09-29 01:35] wenyuanLv commented on #29468
It's hard to find examples. This is an occasional phenomenon.You may be able to modify the Decimal code in mysqlreplication.cpp. Someone has fixed it.

[2021-09-29 01:42] 825644691 opened #29505 "system.replication_queue is blocked"
SELECT type,postpone_reason FROM system.replication_queue WHERE is_currently_executing

┌─type────────┬─postpone_reason─────────────────────────────────────────────────────────────────────────────────────────────────────────────┐
│ MERGE_PARTS │                                                                                                                             │
│ MERGE_PARTS │

[2021-09-29 02:43] den-crane commented on #29505
CH version?

[code]

try

[code]
and reboot

[2021-09-29 02:58] 825644691 commented on #29505
Thank you

gd15-clickhouse-accesslog17 :) SELECT
:-]     name,
:-]     value
:-] FROM system.settings
:-] WHERE name IN ('background_fetches_pool_size', 'background_schedule_pool_size', 'background_pool_size');

SELECT
    name,
    value
FROM system.settings
WHERE name IN ('background_fetches_pool_size', 'background_schedule_pool_size', 'background_pool_size')

Query id: 3d7412e7-4221-4876-abf6-e

[2021-09-29 03:00] 825644691 commented on #29505
and now can't merge any part

│  1031 │ ('2021-09-28 08:00:00','compound_7') │
│  1038 │ ('2021-09-29 02:00:00','compound_7') │
│  1102 │ ('2021-09-27 20:00:00','compound_7') │
│  1107 │ ('2021-09-27 14:00:00','compound_7') │
│  1139 │ ('2021-09-27 22:00:00','compound_7') │
│  1262 │ ('2021-09-28 08:00:00','compound_7') │
│  1272 │ ('2021-09-29 04:00:00','compound_7') │
│  1336 │ ('2021-09-29 04:0

[2021-09-29 03:03] 825644691 commented on #29505
SELECT count(*)
FROM system.replication_queue

Query id: c45b154c-444c-4a56-bf20-409de41e43b7

┌─count()─┐
│  133948 │
└─────────┘

and the queue ...
this shard has two replicas
I think is another replica 's problem?

[2021-09-29 03:08] lingtaolf commented on #29498
@alexey-milovidov Could you assign this to me ?

[2021-09-29 03:09] 825644691 commented on #29505
the replica delay long time

database:                   accesslog
table:                      osp_proxy_2hour_local_7
engine:                     ReplicatedMergeTree
is_leader:                  1
can_become_leader:          1
is_readonly:                0
is_session_expired:         0
future_parts:               88
parts_to_check:             0
zookeeper_path:             /clickhouse/tables/9/osp

[2021-09-29 03:17] vitusdong commented on #3141
I have quite the same symptom with 21.8.4.51
2021.09.21 01:02:03.221308 [ 4786 ] {} <Fatal> BaseDaemon: ########################################
2021.09.21 01:02:03.223153 [ 4786 ] {} <Fatal> BaseDaemon: (version 21.8.4.51 (official build), build id: F8BD60273E32A369A2F51EADA624A8E2B522CDF0) (from thread 14941) (no query) Received signal Segmentation fault (11)
2021.09.21 01:02:03.223869 [ 4786 ]

[2021-09-29 03:22] den-crane commented on #29505
Why have you set `│ background_fetches_pool_size │ 100 │` ?

[2021-09-29 03:57] lingo-xp commented on #18452
As @liukairong mentioned, we can balance the data by sharding key in spark , and directly write them into local nodes. It is very efficient(In our scenarios, hundred billions of data can be inserted within a few hours ), but it may cost a lot of machine resource(high cpu and high IO) and impact the reading operation. So we want a way to directly generate mergetree files in spark/flink to meet the

[2021-09-29 05:17] 825644691 commented on #29505
is my fault
now is
SELECT
    name,
    value
FROM system.settings
WHERE name IN ('background_fetches_pool_size', 'background_schedule_pool_size', 'background_pool_size')

Query id: d161dc0c-0c64-4334-9ce4-c98670f20c93

┌─name──────────────────────────┬─value─┐
│ background_pool_size          │ 64    │
│ background_fetches_pool_size  │ 8     │
│ background_schedule_pool_size │ 128   │
└───────────

[2021-09-29 06:25] vitusdong opened #29512 "clickhouse server 反复重启"
操作系统：Ubuntu 18.04.5
CH Version:21.8.4.51

描述：
好像一条数据的处理出了问题，导致服务自动重启，重启后又开始处理此数据，然后还是自动重启......
我把数据库删掉，重建并导入所有数据后，一切都正常了。

clickhouse-server.err.log:
2021.09.21 01:07:24.897030 [ 5911 ] {} <Warning> crm.memberconsumptionorders (8c344c8d-696f-47e3-8c34-4c8d696ff7e3): Removing temporary directory /var/lib/clickhouse/store/8c3/8c344c8d-696f-47e3-8c34-4c8d696ff7e3/tmp_mut_all_1_6_1_266633/
2021.09.21

[2021-09-29 08:30] 825644691 commented on #29505
have any way to recover the replica?

[2021-09-29 08:32] tavplubix commented on #29492
Is there any relevant errors or `Fatal` messages in server log?
`grep -Fa Fatal /var/log/clickhouse-server/clickhouse-server.err.log`

[2021-09-29 09:02] #24294 closed

[2021-09-29 09:28] vkingnew opened #29517 "the right way to write the SQL statement?"
│ user0 │ 0 │     0 │ 2021-09-29 06:16:12 │
│ user1 │ 1 │ 0.001 │ 2021-09-29 06:16:22 │
│ user2 │ 2 │ 0.002 │ 2021-09-29 06:16:32 │
│ user3 │ 3 │ 0.003 │ 2021-09-29 06:16:42 │
│ user4 │ 4 │ 0.004 │ 2021-09-29 06:16:52 │
└───────┴───┴───────┴─────────────────────┘

IN the clickhouse client ,how to write the right SQL statement?

[2021-09-29 09:40] tavplubix commented on #29517
[code]
or
[code]

However, your question is not about clickhouse-client, it's about bash, see https://stackoverflow.com/questions/1250079/how-to-escape-single-quotes-within-single-quoted-strings

[2021-09-29 09:40] #29517 closed

[2021-09-29 09:41] 825644691 commented on #29505
now I event can‘t create new replica,new replica also has this problem

[2021-09-29 10:03] #29010 closed

[2021-09-29 10:10] vkingnew opened #29519 "Have a function like string_split in SQL server?"
Time: 0.463s
[code]
(7 rows affected)
[https://docs.microsoft.com/en-us/sql/t-sql/functions/string-split-transact-sql?view=sql-server-2017](url)

[2021-09-29 10:25] kssenii commented on #29315
@Oinari Hi, any update on this?

[2021-09-29 11:05] iamthen0ise commented on #29492
I set streaming to CloudWatch, and can't find fatals there.
My config:
[code]

[2021-09-29 11:55] tavplubix commented on #29492
It's hard to tell what's wrong without server logs (or reproducible example). `ATTEMPT_TO_READ_AFTER_EOF` in client usually means that server was terminated by signal, but this error may occur in other cases too. Could you please enable logging with `trace` level, execute query in interactive mode (so, clickhouse-client will print query id) and grep the corresponding logs?

[code]

[2021-09-29 11:58] #27930 closed

[2021-09-29 12:07] sagarshrestha24 opened #29522 "Suspiciously many (30) broken parts to remove"
when i attach a table i got this issue

[code]

there is lots of data in this table

can anyone help ?

0 rows in set. Elapsed: 224.238 sec.

[2021-09-29 12:39] kitaisreal commented on #29519
@vkingnew has ArrayJoin https://clickhouse.com/docs/en/sql-reference/statements/select/array-join/, https://clickhouse.com/docs/en/sql-reference/functions/array-join/ . With arrayJoin your example can easily be implemented.
[code]
[code]

[2021-09-29 12:57] #28768 closed

[2021-09-29 13:01] alesapin opened #29532 "Inconsistent behavior working with large arrays"
We have internal limitation to the maximum array size which can be stored inside `Field` structure -- 1000000. This value is reasonable and we shouldn't allow to have bigger arrays in fields. But we have following inconsistencies:
[code]
But, semantically same query works:
[code]

And again, if we move the array into `WITH` expression query will fail:
[code]

The main reason is that we have `Const

[2021-09-29 13:05] tavplubix commented on #26829
Probably introduced in #14867, cc: @amosbird

[2021-09-29 13:16] tavplubix commented on #29321
@myrrc, could you please take a look?

[2021-09-29 13:28] kssenii commented on #29473
Will be fixed when https://github.com/ClickHouse/ClickHouse/pull/29518 is merged.

But it is 1800s already. The value you see `--http-timeout 1800000000` is in microseconds.

But dictionary lifetime is for it.

[2021-09-29 13:34] amosbird commented on #26829
@tekeri your crash is unlikely related to what @gj-zhang , which is fixed in https://github.com/ClickHouse/ClickHouse/pull/28604 .

The FPE means we have an empty pool to insert. It's not a valid status. Need to investigate.

[2021-09-29 13:46] alexon1234 opened #29533 "Enable to run aggregations in TTL without GROUP BY"
**Use case**

We are syncing MySQL to Clickhouse, but Clickhouse does not support well mutations (UPDATE, DELETE) that's why we came with a snapshot strategy in order to keep the data sync.

We create two tables for each MySQL table: snapshot and landing.
The schema of the process is the following:

- Initial dump of the tables is inserted in the snapshot table
- Changes are being inserted in the

[2021-09-29 13:51] #25418 closed

[2021-09-29 14:11] #29519 closed

[2021-09-29 14:15] kartaris opened #29535 "How to handle DDL when using MaterializedPostgreSQL"
There is a statement "DDL is not replicated, but can be handled (described below)." in  [documentation](https://github.com/ClickHouse/ClickHouse/blob/master/docs/en/engines/database-engines/materialized-postgresql.md#experimental-materializedpostgresql-materialize-postgresql) but it is not described there.

How can it be handled?

[2021-09-29 14:17] jeandeniscosta commented on #29473
Even so, 1800000000ms is not 1800s. There is an unexpected *1000 factor here which makes this timeout (20 days instead of 30 minutes) as good as useless.
What I meant is that I can't juste divide the http_receive_timeout by 1000 (let's round that to 2) to make up for it because then the actual value for http in Clickhouse will then be 2s (which is obviously too low)

[2021-09-29 14:22] kssenii commented on #29473
No, 1800 seconds is 1800000000 microseconds...

[2021-09-29 14:28] jeandeniscosta commented on #29473
Yes I just realised my mistake, sorry my bad, I'm not used to handling **micro**-seconds

Well then then it means that this timeout doesn't act like I expected, and the fix you propose (reopening the connection upon failure ) is really what is needed

[2021-09-29 14:32] kssenii commented on #29535
A bad doc.. See https://github.com/ClickHouse/ClickHouse/blob/master/docs/en/operations/settings/settings.md#materialized_postgresql_allow_automatic_update-materialized-postgresql-allow-automatic-update.

[2021-09-29 14:34] kssenii commented on #29535
Also recently there is  a second, but not-automatic option, you can remove table from replication and add it back (it will have updated structure) via `detach table` and `attach table`.

[2021-09-29 14:40] kartaris commented on #29535
I just tried setting this option to 1 when creating database using command
[code]
Altered a table in postgres, inserted some rows into it and nothing changes in CH maybe I'm doing something wrong?

[2021-09-29 14:42] kssenii commented on #29535
It takes some time to update. The table is reloaded in the background.

[2021-09-29 15:03] kartaris commented on #29535
Think I've found problem.
Server failed and exited with code 139.
Here are some logs
https://gist.github.com/kartaris/7dee797717bc7be2be6e831fc012a4bf

[2021-09-29 15:06] kssenii commented on #29535
Thank you. It is a result of setting this setting to 1 or not?

[2021-09-29 15:28] den-crane commented on #29533
How you can find max(snapshot_time) ?
`select max(snapshot_time) from snapshot_table` ?

[2021-09-29 15:33] iamthen0ise commented on #29492
Got the log!

[code]

[2021-09-29 15:52] den-crane commented on #29533
So you can make a dictionary, with a query `select 1 id, max(snapshot_time) x from snapshot_table`

And then TTL rule `TTL snapshot_time + 1 INTERVAL HOUR WHERE gictGet(..., 'x', 1) != snapshot_time

[2021-09-29 16:07] alexon1234 commented on #29533
I will take a look. Thanks for the advise

[2021-09-29 16:08] den-crane commented on #29505
Can you share `select countIf(active), count() from system.parts`
How many inserts you do per second?
How many Replicated tables do you have?

[2021-09-29 16:34] den-crane commented on #29533
TTL merger processes only one part a time and considers data of a single row (single key in case of TTL group) it's impossible to access data in other parts or other tables.

Maybe your task is possible to implement using TTL_Group_by or AggregatingMergeTree. It's unclear now because I don't see table structure and test data.

[2021-09-29 16:34] #29533 closed

[2021-09-29 16:34] kssenii commented on #29535
hm, ok, thank you, I'll see. There are tests with the same steps in our integration tests and also I remember some person also wrote that he used this setting to 1 as default, so I thought it should be ok, I'll make more tests.

[2021-09-29 16:39] tavplubix opened #29541 "Block structure mismatch in function connect between ConvertingTransform and ReplicatedMergeTreeSink stream"
https://clickhouse-test-reports.s3.yandex.net/0/70dc235287b3e0e93633ba9e7fc0ed17cdb29a02/functional_stateless_tests_(debug).html#fail1

(also there is double whitespace in the exception message)

[code]

cc: @KochetovNicolai

[2021-09-29 16:48] tavplubix opened #29543 "Deadlock in CacheDictionary"
https://clickhouse-test-reports.s3.yandex.net/0/c37932a0b7af38ea40731a9421a4d9625254b2f1/stress_test_(thread).html#fail1

Interesting thread:
[code]

[2021-09-29 18:13] Algunenano commented on #27073
Some tests:
* 20.7.4.11: │  0 │  0 │  0 │
* 20.8.2.3: │ 10 │ 10 │  0 │
* 20.8.19.4: │ 10 │  0 │  0 │
* 21.3.17.2: │ 10 │  0 │  0 │
* 21.8.7.22: │ 10 │  0 │  0 │
* 21.9.4.35: │ 10 │  0 │  0 │
* Master/HEAD: │ 10 │  0 │  0 │

So it is indeed an old issue. Something changed in 20.8 and it was partially "reverted" but not fully fixed.

[2021-09-29 18:48] SaltTan opened #29547 "On some Linux kernels, `pread` with `O_DIRECT` does not work if you read at eof. It is relevant starting from ClickHouse version 21.9 for background merges."
I upgraded ClickHouse from 21.8.7 to 21.9.4, and it could not run a merge:
`Code: 74. DB::ErrnoException: Cannot read from file /var/lib/clickhouse/data/db/table/20210929_406_448_2/sort_key.bin, errno: 22, strerror: Invalid argument: (while reading column sort_key): (while reading from part /var/lib/clickhouse/data/db/table/20210929_406_448_2/ from mark 2282 with max_rows_to_read = 8192): While ex

[2021-09-29 20:02] alexey-milovidov commented on #29547
Workaround:

Write `<min_merge_bytes_to_use_direct_io>0</min_merge_bytes_to_use_direct_io>` in `<merge_tree>` section in `config.xml`.

[2021-09-29 20:16] siradjev commented on #28810
+1, it's causing unpredictable behavior for logic relying on settings, closer to a bug...

[2021-09-29 22:15] tavplubix commented on #29543
We need 993-like tests for dictionaries

[2021-09-29 23:58] alexey-milovidov commented on #28883
#29547

[2021-09-30 01:52] alexey-milovidov commented on #28883
#28604 - @kitaisreal

[2021-09-30 02:16] ecc256 opened #29549 "How to use Table Functions postgresql()"
A simple query result in error:
`SQL Error [1002]: ClickHouse exception, code: 1002, host: , port: 8123; std::exception. Code: 1001, type: pqxx::feature_not_supported, e.what() = Unsupported server version; 9.0 is the minimum. (version 21.9.4.35 (official build))`
The postgresql version is 13.3, it's definitely above minimum 9.0...
How do I fix it?

[2021-09-30 02:46] Zhile commented on #29349
@alexey-milovidov  Can we also back port this bug fix to 2.18 LTS? thanks.

[2021-09-30 03:09] alexey-milovidov commented on #29349
It's not an important bug. You will get just slightly misleading exception message, but nothing bad will happen.

[2021-09-30 04:27] SE2AI commented on #29484
thx den, I tune <max_mem_usage> to a smaller value, and the crash problem solved.
but met another `ast to big` problem, and it flushes in console continuously, even after the complex query executed
i ll create a new issue for it.

[2021-09-30 06:14] kssenii commented on #29549
Hi, I also checked
[code]
And both selects and inserts with ch postgresql table function work fine. Are you sure your version in 13.3?

[2021-09-30 06:31] lingtaolf commented on #29512
@vitusdong 你好,请问现在还能复现这种场景吗? 如果能到话,能麻烦描述一下复现的步骤吗, 例如建表的语句，插入的数据等等。

[2021-09-30 07:03] Shohjahon opened #29551 "MaterializedPostgresql database and full text search"
How full text search can be implemented on MaterializedPostgresql database? If there is not any feature for this, can apache solr or elasticsearch be integrated with clickhouse in order to create full text search functionality?

[2021-09-30 07:15] MaxWk commented on #29187
assign it to me, pls

[2021-09-30 07:44] alesapin commented on #29377
[code]

[2021-09-30 07:46] alesapin commented on #29377
BTW, the error inside CSV format, not related to ZSTD:
[code]

[2021-09-30 07:47] vitlibar commented on #28671
I tried to think of a new schema which I think will do what you want: https://github.com/vitlibar/notes/issues/2
(there is no implementation for those new `compression*` fields yet)

[2021-09-30 08:11] alesapin commented on #29377
Without compression:
[code]

[2021-09-30 08:12] zhicwu commented on #28671
Thanks for letting me know. I guess we don't have to do crazy things at client side anymore :)

[2021-09-30 08:29] ibradwan commented on #29402
I noticed something in the `mutations` table. All the mutations get stuck on one part (i.e., `202108_138799_367074_106_370107`), and this part does not exist in the parts table!
I thought the problem is in the version, so I upgraded to `21.7.11.3` and still the problem was not fixed.

Here are the logs (this keeps repeating in a loop):
[code]

[2021-09-30 08:36] alesapin commented on #29377
For version 20.8:
[code]

[2021-09-30 08:38] alesapin commented on #29377
So, @occasionallydavid which kind of error you would like to get when reading data multiple times from non-seekable FDs? Previous versions report quite more clear error (`File descriptor isn't seekable, inside File`), new version reports `DB::Exception: Attempt to read after eof`. But it's exremly hard to report "which part of query" exactly caused this error... So I don't know what we can do here

[2021-09-30 08:48] yyang1207 opened #29555 "ReplicatedMergeTree table will be droped automatic when it is not used？"
<Information> DatabaseCatalog: Have 1 tables in drop queue (0 of them are in use), will try drop default.test

sql:
CREATE TABLE default.test(id Int64,ymd String) ENGINE = ReplicatedMergeTree('/clickhouse/tables/replicated/{shard}/test', '{replica}') PARTITION BY ymd ORDER BY id SETTINGS index_granularity = 8192,use_minimalistic_part_header_in_zookeeper=1;

[2021-09-30 08:57] Zhile commented on #29349
Got it. Thanks.

[2021-09-30 09:00] Algunenano opened #29556 "heap-use-after-free DB::IMergeTreeDataPart::removeIfNeeded"
**Describe the bug**

https://clickhouse-test-reports.s3.yandex.net/29544/0ee5c0bff570ec676a394e2e60dc934b1e640b53/stress_test_(address)/test_run.txt.out.log

[code]

It appears like a race condition between MergePlainMergeTreeTask and DatabaseCatalog::dropTableDataTask. Looks similar to
Looks similar to https://github.com/ClickHouse/ClickHouse/issues/27634

[2021-09-30 09:12] Algunenano opened #29557 "Ignore memory limits on KILL requests"
While looking at a [stress test CI failure](https://clickhouse-test-reports.s3.yandex.net/29544/0ee5c0bff570ec676a394e2e60dc934b1e640b53/stress_test_(thread)/test_run.txt.out.log) I noticed that there were some KILL requests that weren't completed because of `MEMORY_LIMIT_EXCEEDED`.

[code]

I think it would be great if we could exclude KILL requests from memory limits as they are likely to reduce

[2021-09-30 09:17] occasionallydavid commented on #29377
Hi @alesapin, indeed "which part of query" is maybe asking too much :) The bug report is more about the /silent/ failure that occurs with the complex query. The simple one-line query IMHO already had nice enough error messages to understand what was going on. The problem was the complex query finishes successfully, it just produces no rows without signalling any kind of error condition.

[2021-09-30 09:27] AndrejBanas opened #29558 "Что такое"

[2021-09-30 09:56] 825644691 commented on #29505
I delete all the data and zookeeper metadata  and restart the clickhouse, create table.
but it still always get_part and the replication_queue show me that "because 8 fetches already executing, max 8"
I have no idea what I can do

SELECT
    type,
    count(*)
FROM system.replication_queue
GROUP BY type

Query id: 6c49e9e6-fd12-4859-9ec2-927b146cf5e6

┌─type────────┬─count()─┐
│ GET_PART    │   16

[2021-09-30 10:42] Avogar opened #29559 "Cannot restart server: <Error> Application: DB::Exception: Dictionary (`...`) not found"
How to reproduce: Run such query (from test 02015_column_default_dict_get_identifier.sql) in client with specified database (Ex: `clickhouse-client --database test_dict`)
[code]
After such queries server failes to restart with error:
[code]
Found in https://github.com/ClickHouse/ClickHouse/pull/27928.

[2021-09-30 10:50] alesapin commented on #29377
But what does it mean "silent failure"? You don't receive an exception "DB::Exception: Attempt to read after eof"?

[2021-09-30 10:53] sokolov-alexey opened #29560 "View with LIMIT executes X times slower than the query from it with the same LIMIT"
I have a big complex query that is wrapped by view. If I run a query like `select * from myView limit 25` it executes within 3-5 seconds. But if I run a query like `<my big complex query from myView> limit 25` it executes within 30-40 seconds.
Aren't both queries supposed to execute within the same time?

I know that there's an issue with unsupported PREWHERE for VIEWS but I don's use any WHERE cl

[2021-09-30 11:32] occasionallydavid commented on #29377
Silent failure:

[code]

Query.sql is the large multiline query from above

[2021-09-30 12:05] #29558 closed

[2021-09-30 12:23] tavplubix commented on #29560
Version 20.8.3.18 is obsolete, I cannot reproduce the issue on the latest lts 21.8. Seems like it was fixed, try to update.

[2021-09-30 13:02] Data-bytes305 opened #29566 "Can not insert in clickhouse-keeper"
[code]

1. ` create table tdm.test_shard1rep2(userid UInt64,　   age UInt64　) ENGINE = ReplicatedMergeTree('/clickhouser/dev/test_shard1rep2', '{replica}') PARTITION BY userid % 100　ORDER BY userid;`

CREATE TABLE tdm.test_shard1rep2
(
    `userid` UInt64,
    `age` UInt64
)
ENGINE = ReplicatedMergeTree('/clickhouser/dev/test_shard1rep2', '{replica}')
PARTITION BY userid % 100
ORDER BY userid

Quer

[2021-09-30 13:09] alesapin commented on #29566
Can you provide server logs please?

[2021-09-30 13:12] alesapin commented on #29555
Hi! It can happen in case of **manual** execution of `DROP TABLE`. Check `system.query_log`, clickhouse never removes tables automatically.

[2021-09-30 13:14] alesapin commented on #29221
I'll close the issue, reopen if you have any other questions on this topic.

[2021-09-30 13:14] #29221 closed

[2021-09-30 13:25] Data-bytes305 commented on #29566
@alesapin  Thank you. I found the reason .  solution:  config.xml add  <interserver_http_port>9009</interserver_http_port>

[2021-09-30 13:25] #29566 closed

[2021-09-30 13:44] #26829 closed

[2021-09-30 13:57] tobiaslins opened #29569 "Clickhouse refused to start with exception message about faulty table"
**Describe the unexpected behaviour**
I already had issues with Clickhouse multiple times when I created a faulty table (using materializedpostgres or RabbitMQ engine but it should all behave the same in my opinion)

Clickhouse seems to be crashing if it can't initialize a table on startup (connection issues etc)
I don't see why clickhouse shouldn't start up when a table is faulty. Wouldn't it be

[2021-09-30 14:10] kssenii commented on #29569
I hope this was finally fixed in https://github.com/ClickHouse/ClickHouse/pull/28797. Was backported to 21.8 may be a week ago.

[2021-09-30 14:14] tobiaslins commented on #29569
I see, but is it possible to add a generic solution for all table engines? I also had similar issues with materializedpostgres tables & dictionaries as well. :(

Thank you for your hard work!

[2021-09-30 14:17] kssenii commented on #29569
May be @tavplubix can say.

[2021-09-30 14:24] ecc256 commented on #29549
Kseniia,
It's AWS RDS PostgreSQL (running on **aarch64**):
[code]

[2021-09-30 14:59] nvartolomei commented on #29378
@occasionallydavid where the 50MB memory limit comes from? I did some experiments with clickhouse on aws lambda and was able to build and run even 2GB custom docker images that run successfully on lambda.

[2021-09-30 15:39] ramazanpolat commented on #29569
I fell into a similar situation when Zookeeper throw an error and refused to start. Although the Zookeeper was not working, ClickHouse was fine up until it restarted. After the restart, an error message made my life flash before my eyes in seconds! Fortunately, the other replica was still up and running. So we created the same tables with MergeTree instead of ReplicatedMergeTree and moved the data

[2021-09-30 15:53] #29473 closed

[2021-09-30 16:31] #7203 closed

[2021-09-30 16:31] #22401 closed

[2021-09-30 16:31] #25516 closed

[2021-09-30 17:27] nvartolomei opened #29580 "Multiple rows returned for the same `GROUP BY` key when mixing different ClickHouse versions (all pre v21.3 LTS and post v21.4, up to latest released 21.10)"
The following integration test describes the issue more than enough. The test starts 3 nodes to cover all possible cases.

* _root -> leaf_
* old server -> new server
* new server -> old server
* new server -> new server

git bisecting leads to https://github.com/ClickHouse/ClickHouse/commit/64ea1f82989ad45555629759b6f395804b12c864

<details>
<pre>
git bisect start
# good: [5bdc57004682a5e0236ec63

[2021-09-30 17:29] Grian opened #29581 "ALTER TABLE UPDATE with subquery could not finished"
Creating test table and view
[code]
[code]
Run update (This statement is unable to finish)
[code]
I had tried many statements with subquery and all of hangs.

*** server and client version ***
ClickHouse client version 21.9.4.35 (official build).
Connected to ClickHouse server version 21.5.9 revision 54448.

[2021-09-30 17:43] nvartolomei opened #29582 "`Column not found in block` when mixing different ClickHouse versions"
This issue covers 2 issues, one is `sum-if` to `countIf` optimization controlled by `optimize_rewrite_sum_if_to_count_if`
and the other one is `avg(col * 2)` to `avg(col) * 2` optimization controlled by `optimize_arithmetic_operations_in_aggregate_functions`.

I have reported some other ones (and skipped reporting some...) like #28796, #26027 and #29284.

Maybe also #25371

Currently, the process

[2021-09-30 18:34] UnamedRus opened #29584 "LetsEncrypt Root Certificate (DST_Root_CA_X3) expiration issue."
**Describe what's wrong**

URL table function / engine and etc refuse to work after September 30, 2021 with certificates signed with lets encrypt.

**Does it reproduce on recent release?**

Yes.

**How to reproduce**

ClickHouse 21.10

[code]

**Expected behavior**

Query works.

**Fix**

For Ubuntu/Debian:

[code]

For CentOS

[code]

For Docker containers and k8s:

Temporary workaround:
Allow in

[2021-09-30 18:47] tavplubix commented on #29584
But AFAIK ClickHouse does not manage root certificates by itself, it just uses certificates from system. Where is a bug?

[2021-09-30 18:49] UnamedRus commented on #29584
I guess, something wrong with ClickHouse boringssl version.

As fix for old openssl versions (pre 1.1) worked for ClickHouse as well.

[code]

[2021-09-30 18:58] den-crane opened #29585 "Map dynamic keys / map[x]"
[code]

Now I have to do

[code]

[2021-09-30 19:07] tavplubix commented on #29584
I'm not sure if it's applicable to boringssl, but current version of boringssl is 1.1.1.7 (in all stable branches including 21.3):
https://github.com/ClickHouse-Extras/boringssl/blob/a6a2e2ab3e44d97ce98e51c558e989f211de7eb3/include/openssl/base.h#L183
Can you reproduce the issue?

[2021-09-30 19:11] UnamedRus commented on #29584
Did you checked this example?

It reproduces for me on 21.8, 21.10

[code]

[2021-09-30 19:20] tavplubix commented on #29584
Yes, it works fine (I've checked on ClickHouse 21.8, Manjaro and ClickHouse 21.11 (master), Ubuntu 18.04). But probably I don't have outdated certificate, only new one.

[2021-09-30 19:31] UnamedRus commented on #29584
As i remember, docker images have their own certificates.

Can you check again in docker?

[code]

[2021-09-30 19:32] den-crane commented on #24012
One more test example
RP does not use primary index.

[code]

[2021-09-30 19:36] tavplubix commented on #29584
Yes, it's reproducible in docker

[2021-09-30 20:00] den-crane commented on #29402
You can remove information about this part blocks from ZK manually.

Or install 21.8.8.29

ClickHouse release v21.8, 2021-08-12
Better handling of lost parts for ReplicatedMergeTree tables. Fixes rare inconsistencies in ReplicationQueue. Fixes #10368. #25820 (alesapin) Replace lost parts with empty parts instead of hacking replication queue

v21.9, 2021-09-09
Do not remove data on ReplicatedMergeT

[2021-09-30 20:15] nvartolomei opened #29587 "Support sending user defined tags with sentry crash reports"
It would be great to allow sending of additional/arbitrary tags with sentry crash report. These would allow for better filtering and aggregations in the Sentry UI.

Eg hostname would be great to be sent as tag, this would allow seeing % of crashes by hostname (example https://try.sentry-demo.com/organizations/fresh-moccasin/issues/413055/tags/device/?project=147865)

Additional ones could be thing

[2021-09-30 20:16] Avogar commented on #29559
@kitaisreal you just changed the test without solving the problem. We still can create queries after which server fails to restart.

[2021-09-30 20:39] tavplubix commented on #29154
https://clickhouse-test-reports.s3.yandex.net/0/6c2db9c29bc9aa99710a2f62095a182aaba9b4dd/functional_stateless_tests_(release).html#fail1

[2021-09-30 21:54] alexey-milovidov commented on #29587
Ok.

Btw, we receive zero crashes via sentry. We also don't have any crashes in Yandex Metrica production.
If you have crashes on recent updated versions in production - it will be very helpful if you can enable Sentry with default endpoint.

[2021-09-30 22:37] den-crane opened #29598 "getOSKernelVersion()"
return the same as

[code]

[code]

[2021-09-30 22:37] alexey-milovidov opened #29599 "Add `getOSKernelVersion()` function."
Returns `String` with OS Kernel version.
For simplicity, the function can be implemented only for Linux.

The version string can contain alphabetical parts at the end, we should return complete value. Example:

[code]

[2021-09-30 22:38] #29598 closed

[2021-09-30 22:39] den-crane commented on #29599
may be  uname -v ?
[code]

[2021-09-30 22:40] alexey-milovidov commented on #29599
Let's grab something from here :)

`man 2 uname`

[code]

[2021-09-30 22:48] den-crane commented on #29599
BTW, I see different numbers

[code]

[2021-09-30 22:57] alexey-milovidov commented on #24012
@amosbird It can be implemented and we want this feature. I don't see any issues.

[2021-10-01 00:15] alexey-milovidov commented on #29582
Yes, maybe we can try it.

[2021-10-01 00:55] #25026 closed

[2021-10-01 00:57] #21406 closed

[2021-10-01 00:59] alexey-milovidov commented on #11123
See #14450

[2021-10-01 01:58] Joeywzr commented on #29599
hi, I'd like to do this.

[2021-10-01 02:08] alexey-milovidov commented on #29599
Thank you! Let's do it.

[2021-10-01 02:14] alexey-milovidov opened #29601 "Intern Tasks 2021/2022"
This is the list of proposed tasks. It is to be extented. You can propose more tasks.
You can also find the previous lists here:

2020/2021: https://github.com/ClickHouse/ClickHouse/issues/15065
2019/2020: https://gist.github.com/alexey-milovidov/4251f71275f169d8fd0867e2051715e9
2018/2019: https://gist.github.com/alexey-milovidov/6735d193762cab1ad3b6e6af643e3a43
2017/2018: https://gist.github.com/

[2021-10-01 03:24] genzgd commented on #28999
This happened again tonight after some zookeeper problems.  Trying to execute the clickhouse-client debug query fails with "too many simultaneous queries" while the server is in this state.  Attach the requested gdb output.

[stacktraces.txt](https://github.com/ClickHouse/ClickHouse/files/7263899/stacktraces.txt)

[2021-10-01 03:31] genzgd commented on #28999
Actually this happened on multiple boxes using the same zookeeper cluster, including a box recently upgraded to 21.8.8.  Also could not execute any additional clickhouse queries, gdb output attached.

[stacktraces21_8_8.txt](https://github.com/ClickHouse/ClickHouse/files/7263927/stacktraces21_8_8.txt)

[2021-10-01 06:44] qoega commented on #29416
https://clickhouse-test-reports.s3.yandex.net/0/1c9778603ff49563d1d3d0d357de0608167e504d/stress_test_(thread).html

[2021-10-01 08:14] qingant opened #29607 "Is it possible to specify the status file path ?"
### Discussed in https://github.com/ClickHouse/ClickHouse/discussions/29606

<div type='discussions-op-text'>

<sup>Originally posted by **qingant** October  1, 2021</sup>
We are running Clickhouse on top of some shared file system, we want to start multi Clickhouse in different servers on same directory to enable smooth failover. Well, it's prevented by status file lock ? it there any method that

[2021-10-01 08:36] bdrgn commented on #10882
@alexey-milovidov
I want elements of array to be in separate columns like with [untuple](https://clickhouse.com/docs/ru/sql-reference/functions/tuple-functions/#untuple) function. I cannot do that because I can't convert array to tuple.

[2021-10-01 09:33] ZeWaren commented on #29584
I have the same problem, also running in docker.

[code]

The client cannot connect to our cluster:

[code]

OpenSSL on the system does not have any problem:

[code]

This makes sense since the client doesn't use the system's OpenSSL:
[code]

[2021-10-01 09:44] #29184 closed

[2021-10-01 10:00] tavplubix commented on #28999
Thanks! Yes, it looks like the issue described here: https://github.com/ClickHouse/ClickHouse/pull/27529#issuecomment-905789828

There is one thread owning `push_request_mutex` and waiting on requests queue:
[code]
And many threads are trying to push request:
[code]

One thread is trying to finalize ZooKeeper connection, but it cannot lock `push_request_mutex`:
[code]

We will backport #28195

[2021-10-01 10:29] tavplubix commented on #29607
No, status file path is always `<path>/status`, where `<path>` is ClickHouse root directory. It's not possible to choose different path and it's done this way intentionally, because table and database engines do not expect that files on disk can be concurrently changed by another ClickHouse instance. Multiple instances cannot work correctly with shared filesystem.

See also #23300

[2021-10-01 10:29] #29607 closed

[2021-10-01 11:38] tavplubix opened #29615 "UBSan: downcast of address which does not point to an object of type 'DB::ColumnString'"
https://clickhouse-test-reports.s3.yandex.net/0/d72e10367f53b3afce931b36bb97dba147df66f3/fuzzer_ubsan/report.html#fail1

[code]

[2021-10-01 11:41] tavplubix opened #29616 "Temporary directory for merged part already exist"
https://clickhouse-test-reports.s3.yandex.net/29602/5de80a057fad28ea6b847772b1b3c23fda17b7d8/functional_stateless_tests_(release,_wide_parts_enabled).html#fail1

[code]

[2021-10-01 11:46] tavplubix commented on #29616
Similar issue: `Part ... (state Deleting) already exists, but it will be deleted soon. (PART_IS_TEMPORARILY_LOCKED)`

https://clickhouse-test-reports.s3.yandex.net/0/3457868f3dc7c4ca87dbb86718e2478bd306f2a5/functional_stateless_tests_(address).html#fail1

[code]

[2021-10-01 11:53] filimonov opened #29617 "Zookeeper load balancing settings"
There are use cases when one of the zookeeper nodes is preferred - same AZ in the cloud, or you just to avoid the situations when all the clickhouse nodes will connect accidentally to the same zookeeper node, etc.

The proposed solution is a setting
[code]

`random` would be the default

[2021-10-01 12:04] tavplubix opened #29618 "Hedged requests hang in rare cases"
https://clickhouse-test-reports.s3.yandex.net/0/2517f70d7532fc6aca4428f8de54aeae8ab1bf7d/stress_test_(debug).html#fail1

[code]

Label is 'bug', because similar issues were seen in Yandex.Metrica

cc: @Avogar

[2021-10-01 12:13] vdimir opened #29619 "Bad cast in `JSONExtractString`"
Fuzzer report from [`ce844e4` (#29281)](https://github.com/ClickHouse/ClickHouse/pull/29281/commits/ce844e4f050658a1b0f12066b784ed0d35e06de4)

https://clickhouse-test-reports.s3.yandex.net/29281/ce844e4f050658a1b0f12066b784ed0d35e06de4/fuzzer_ubsan/report.html#fail1

Query:
[code]

[code]

[2021-10-01 12:24] tavplubix commented on #29619
Can be related: #29615

[2021-10-01 12:31] Grian opened #29620 "Non standart aggregation with GROUP BY"
** SQL **
[code]
Current result:

[code]

Expected SQL Standart behavior (MySQL, sqlite, etc):

[code]

But with a little changed SQL all ok

[code]

Clickhouse
[code]
Mysql
[code]

[2021-10-01 12:38] vdimir commented on #29619
Yeah, I suppose it's duplicate

[2021-10-01 12:38] #29619 closed

[2021-10-01 12:49] nvartolomei commented on #29620
You should try one of the latest stable/lts releases for first query.

For the second, there is `aggregate_functions_null_for_empty` setting that you can enable.

[2021-10-01 12:57] Grian commented on #29620
Thanks, with new release ok. We will upgrade.

[code]

[2021-10-01 13:00] Algunenano opened #29621 "Parallel view processing no longer working"
**Describe what's wrong**

In master, `parallel_view_processing` doesn't have any effect and the MV are executed sequentially.

**Does it reproduce on recent release?**

Only master.

Taken from parallel_mv.xml perf test:

[code]

21.9.4:
* No parallel: Elapsed: 1.333 sec
* With parallel view processing: 0.588 sec

21.10.2.8264:
* No parallel: 1.372 sec
* Parallel: 0.582

21.11.1.8263 from master:

[2021-10-01 13:10] filimonov opened #29622 "AggregatingTransform merges temporary files slowly + limit the max number of temporary files"
Test case:

[code]

Here the JOIN part uses a lot of ram and leads to triggering `max_bytes_before_external_group_by` immediately. (It's actually a bit confusing).

After that GROUP BY creates a lot of temporary files (5000 in that synthetic sample).

Merging those files takes an enormous amount of time (is it expected?)

Also, we need to introduce some limit on a number of temporary files: Aggreg

[2021-10-01 13:18] #4509 closed

[2021-10-01 13:45] Slach opened #29624 "DNSError profile event doesn't increment after 21.9 during DNS error failure"
**Describe what's wrong**
`DNSError` profile event doesn't increment after 21.9 during DNS error failure

**Does it reproduce on recent release?**

yes, it reproduce on official docker image 21.9, and doesn't reproduce on 21.8

**How to reproduce**
- create cluster with 2 nodes which represents by DNS name in system.cluster
- replace /etc/resolv.conf on `node-0-0` (change nameserver for example),

[2021-10-01 13:52] den-crane commented on #28883
https://github.com/ClickHouse/ClickHouse/issues/29621

[2021-10-01 14:50] #29620 closed

[2021-10-01 14:55] kitaisreal commented on #29585
@den-crane it works in latest master https://github.com/ClickHouse/ClickHouse/pull/29636.

[2021-10-01 15:10] UnamedRus commented on #29584
For client fix the same as for server.

Only difference in third method that you need to use different path.

[code]

[2021-10-01 15:48] CurtizJ commented on #29585
#29081 #28096

[2021-10-01 16:13] #29585 closed

[2021-10-01 17:54] SaltTan commented on #29284
I have a cluster of two nodes, 21.8.7 and 21.9.4.
I get this exception when running the query on 21.9.
The query succeeds when ran on 21.8.

[2021-10-01 18:05] tavplubix commented on #29624
Probably related to #26368
Also, even before 21.9 we did not increment `DNSError` counter on some exceptions ([1](https://github.com/ClickHouse/ClickHouse/blob/4dfd6ddcdb138adb11a70fb43b70c17500614149/src/Common/DNSResolver.cpp#L130), [2](https://github.com/ClickHouse/ClickHouse/blob/4dfd6ddcdb138adb11a70fb43b70c17500614149/src/Common/DNSResolver.cpp#L143)). It it expected behavior or we should fi

[2021-10-01 18:06] Joeywzr commented on #29599
What about adding some subfunctions like `String getSysName()`, `String getNodeName()`? Or we just return all of the infomation in one string?

[2021-10-01 18:18] #29403 closed

[2021-10-01 18:39] SadiHassan commented on #21900
@godliness the issue is still there. I tried to build in Red Hat image docker and the build failed in two places, one of which is what @JackeyLee007 posted. Do you have a solution?

[2021-10-01 20:18] RoyBellingan opened #29651 "Code: 572, e.displayText() = DB::Exception: Too many optimizations applied to query plan. Current limit 10000 (version 21.3.17.2 (official build))"
Running an alter table update, over a small numbe of rows (less than 1000) on a ~35M rows table fails
The sql is as follows

UPDATE osName = 'Android', osVersion = '9', browserName = base64Decode('SGV5VGFwQnJvd3Nlcg=='), browserVersion = '20', device = 'smartphone', brand = 'OPPO' WHERE userAgent = base64Decode('TW96aWxsYS81LjAgKExpbnV4OyBVOyBBbmRyb2lkIDk7IFBDQU0xMCBCdWlsZC9QUFIxLjE4MDYxMC4wMTEpIE

[2021-10-01 20:20] tavplubix commented on #29651
Looks like duplicate of #25131

[2021-10-01 20:25] RoyBellingan commented on #29651
How is possible I missed something with almost the same title -.-
I will try to apply the suggestion on the other ticket, thank you!

[2021-10-01 20:44] #29651 closed

[2021-10-01 20:51] RoyBellingan commented on #29651
Just for the record, in my case the query_plan_max_optimizations_to_apply did not worked, so I killed it and I will now try to SLOWLY reapply them.

[2021-10-01 22:18] den-crane commented on #10882
@bdrgn There is a problem. SQL assumes that number of columns, types and names are known before query execution. In case of Tuple we know the number of elements in a tuple beforehand, and in case of array we don't. One more issue (though it's the same) is that number of columns must be the same for all rows, but each array may have different number of elements.

[2021-10-02 00:37] l1t1 commented on #29601
**Limited support for correlated subqueries in ClickHouse**
when will this feature be available?

[2021-10-02 03:01] den-crane commented on #29601
@l1t1 it will available about in April 2024.

[2021-10-02 03:10] amosbird commented on #29599
If it's intended to be a relational data, we can implement as a table function like `select * from kernelInfo()` or a system table instead.

[2021-10-02 03:30] alexey-milovidov commented on #29284
That's Ok, upgrade all nodes to 21.9.

[2021-10-02 03:33] alexey-milovidov commented on #28883
@den-crane It's not relevant for version 21.10.

[2021-10-02 03:35] alexey-milovidov commented on #29618
We see something similar in performance tests for more than a month already.
Let's disable hedged requests by default?

[2021-10-02 03:38] den-crane commented on #28002
documentation already fixed

[2021-10-02 03:38] #28002 closed

[2021-10-02 03:56] den-crane commented on #28883
oops, my mistake.

Double checked , no issue in 21.10

[code]

[2021-10-02 12:53] Avogar commented on #29618
It may also be connected with `async_socket_for_remote`, @KochetovNicolai what do you think?

[2021-10-02 13:19] amosbird commented on #24012
I think we can just combine row policy filter with other filters via `AND` because possible insecure functions aren't monotonic which will not be used anyway. In fact, I cannot figure out any better way than this.

[code]

[2021-10-02 13:26] #28142 closed

[2021-10-02 17:36] #29166 closed

[2021-10-02 17:52] DenisIsaev commented on #26247
#29665

[2021-10-02 17:58] DenisIsaev commented on #6551
@alexey-milovidov can you assign the issue to me?

[2021-10-02 19:55] alexey-milovidov commented on #29599
@Joeywzr Let's make one function `getOSKernelVersion` that will return `char release[];    /* Operating system release (e.g., "2.6.28") */`

Other functions not needed for now.

@amosbird Or even a system table. But it looks like overkill. Let's not do that.

[2021-10-02 21:51] alexey-milovidov commented on #6551
@DenisIsaev Ok.

[2021-10-02 21:58] alexey-milovidov commented on #26247
It works perfectly:

[code]

[2021-10-02 21:59] #26247 closed

[2021-10-03 01:40] helifu opened #29669 "A potential problem with detach and attach"
**The operation process is as follows:**
1. create a mergetree table:
_CREATE TABLE default.table1
(
    `timestamp` DateTime,
    `id` String,
    `name` String,
    `comment` String
)
ENGINE = MergeTree
PARTITION BY toDate(timestamp)
ORDER BY (timestamp, id)_

2. insert some parts:
_insert into table1 select toDate('2021-10-03'), toString(rand(1)), toString(rand(1)), toString(rand(1)) from numbe

[2021-10-03 02:24] alexey-milovidov opened #29670 "`url` table function does not process globs in parallel"
[code]

All requests are done from single thread.

[2021-10-03 02:29] An-DJ commented on #16436
Hi @akuzm

Just as I said above, the multi-rows format in gRPC has been implemented now. All rows are included into a single bytes field `output` in the message `Result`.

Don't you mean to say that we can split the output bytes array into `list[bytes]` which each row is encoded into one element?

[2021-10-03 02:44] alexey-milovidov opened #29671 "`EXPLAIN` does not work as expected for a query with `url` table function"
It performs unneeded requests:

[code]

[2021-10-03 08:29] alexey-milovidov opened #29677 "Add `table` alias to `system.tables` and `database` alias to `system.databases`"
This is purely for usability.

`system.tables` has table name in `name` column, but
`system.columns` has table name in `table` column.

This is consistent and logical. But better to also have an alias for convenience.

[2021-10-03 08:37] #15065 closed

[2021-10-03 08:48] azat commented on #29547
The problem had been introduced in #26003
But right now everything should work, and I can't reproduce the failure.

@SaltTan can you please confirm that the following (see details) will fail?

<details>

[code]

</details>

[2021-10-03 08:49] l1t1 commented on #29677
will it  be confused?  since numbers is different from system. numbers.

[2021-10-03 09:06] alexey-milovidov opened #29678 "Query cancellation does not work while reading Parquet/ORC/Arrow data; potentially wrong result."
**Describe the unexpected behaviour**

[code]

1. Ctrl+C does not work.
2. If I kill `clickhouse-server`, client returns nothing (no exception).

[2021-10-03 09:19] amosbird commented on #29582
Found this issue when developing https://github.com/ClickHouse/ClickHouse/pull/28746/files#diff-03665017349505c5529e5d0eeeeae80081e064267d6035b94cd428baf11856ceR951

[2021-10-03 09:23] azat commented on #29547
@SaltTan BTW what filesystem do you have?

[2021-10-03 09:55] alexey-milovidov commented on #29677
I want to do `SELECT table FROM system.tables`.
I want `table ALIAS name`.

[2021-10-03 11:25] kssenii commented on #28529
We are seeing this error after CH restart

Hi, I finally found time to fix it and it turns out there is nothing to fix, because the behaviour is correct.

Replication slot must exist through the whole replication process, not only for initial tables dump. (Because its state must be updated after each batch poll of replication messages from wal and replication slot is a mechanism which makes it pos

[2021-10-03 11:26] l1t1 commented on #29677
thank you for your answer. I was misunderstood

[2021-10-03 11:37] Joeywzr commented on #29599
@alexey-milovidov OK

[2021-10-03 16:12] kssenii commented on #28529
Yes, I agree.
[This place](https://github.com/kssenii/ClickHouse/blob/7b8101f289b33bce483a45bc6f85737225a644b2/src/Storages/PostgreSQL/PostgreSQLReplicationHandler.cpp#L172-L179) you found is indeed the place where it ended up, though shouldn't have.
`new_publication` case if more precise -- it means list of tables in `publication` differs from the list of tables in setting `materialized_postgresq

[2021-10-03 19:08] tavplubix commented on #28854
https://clickhouse-test-reports.s3.yandex.net/29626/ad0fcda71349536da482b57f53ef6da730e4581a/stress_test_(thread)/stderr.log

[2021-10-03 19:11] tavplubix opened #29687 "UBSan: TotalsHavingTransform: reference binding to null pointer of type 'COW::immutable_ptr'"
https://clickhouse-test-reports.s3.yandex.net/29626/ad0fcda71349536da482b57f53ef6da730e4581a/fuzzer_ubsan/report.html#fail1

[code]

[2021-10-03 19:49] tavplubix commented on #29669
Similar issue was fixed a long time ago: #8584
Which version of ClickHouse do you use?

[2021-10-03 20:36] den-crane commented on #29669
it depends of how a restart is done, if it was not graceful restart than it's expected https://github.com/ClickHouse/ClickHouse/issues/15742

[2021-10-03 23:42] alexey-milovidov commented on #16857
https://github.com/ClickHouse/ClickHouse/pull/20128#issuecomment-932892698

[2021-10-03 23:43] alexey-milovidov commented on #10461
https://github.com/ClickHouse/ClickHouse/pull/20128#issuecomment-932892698

[2021-10-03 23:47] helifu commented on #29669
[code]

[2021-10-03 23:59] helifu commented on #29669
Emm, I think it doesn't matter if the system restarts gracefully. If we detach and attach a part whose merge level is not zero(20211003_1_5_1), the part name will be renamed with a new max block number(20211003_6_6_1) and the coverage information between parts will be lost.

[2021-10-04 00:07] den-crane commented on #29669
It's kinda expected for **non-replicated** tables. Inactive parts are orphaned after partition drop or detach.
Probably inactive parts should be removed during  partition drop or detach / table truncate.

[2021-10-04 00:36] den-crane commented on #29472
Your ReplicatedAggregatingMergeTree is incorrect and corrupts data for `e`, `s` columns because they are not in ORDER BY
Also you don't need `time` in ORDERBY/PRIMARY KEY because you have only one value of time in partition.
https://den-crane.github.io/Everything_you_should_know_about_materialized_views_commented.pdf

[code]

[2021-10-04 01:18] alexey-milovidov opened #29693 "Hacker News Dataset"
1. Download data from the official API:

https://github.com/HackerNews/API

[code]

It will take about a day. The size of files is 12.8 GB.

As an alternative, you can download prepared files from http://files.pushshift.io/hackernews/
But this source is abandoned and does not update.

2. Cleanup the download:

[code]

2. Create table:

[code]

3. Insert data:

[code]

4. The data is available in P

[2021-10-04 01:22] alexey-milovidov commented on #29693
Create the dump of the dataset:

[code]

[2021-10-04 02:02] alexey-milovidov commented on #29693
Top stories about ClickHouse: https://gh-api.clickhouse.tech/play?user=play#U0VMRUNUIHRpbWUsIHNjb3JlLCB0aXRsZSwgdXJsIEZST00gaGFja2VybmV3cyBXSEVSRSB0eXBlID0gJ3N0b3J5JyBBTkQgdGl0bGUgSUxJS0UgJyVDbGlja0hvdXNlJScgT1JERVIgQlkgc2NvcmUgREVTQw==

[2021-10-04 02:08] alexey-milovidov commented on #29693
https://gh-api.clickhouse.tech/play?user=play#U0VMRUNUIHRpbWUsIHNjb3JlLCBsZW5ndGgoa2lkcyksIHRpdGxlLCB1cmwsICdodHRwczovL25ld3MueWNvbWJpbmF0b3IuY29tL2l0ZW0/aWQ9JyB8fCB0b1N0cmluZyhpZCkgQVMgaG5fdXJsCkZST00gaGFja2VybmV3cyBXSEVSRSB0eXBlID0gJ3N0b3J5JyBBTkQgdGl0bGUgSUxJS0UgJyVDbGlja0hvdXNlJScgT1JERVIgQlkgc2NvcmUgREVTQw==

[2021-10-04 03:11] helifu commented on #29669
All right. If it's expected, let's close this issue. Thanks denny :)

[2021-10-04 03:11] #29669 closed

[2021-10-04 03:35] alexey-milovidov commented on #29693
Dump for easy access: https://datasets.clickhouse.com/hackernews.native.zst

[2021-10-04 03:35] alexey-milovidov commented on #29693
Access some portion of data directly from Hacker News API:

[code]

[2021-10-04 03:36] alexey-milovidov commented on #29693
Access data from dump file:

[code]

[2021-10-04 03:37] alexey-milovidov commented on #29693
Recreate a table from dump:

[code]

[2021-10-04 03:44] alexey-milovidov opened #29694 "Parallel downloading for `URL` engine with ranges."
**Use case**

Speedup download of single file using many connections.

**Describe the solution you'd like**

The settings can control the chunk size and the number of threads.
The chunks will be selected for download by multiple threads in sequential order.
Whenever a chunk is completed *and has been consumed by the caller*, the thread can select the next chunk.
The result will be present as a sin

[2021-10-04 03:47] alexey-milovidov opened #29695 "Strange formatting of ALTER query"
**Describe the issue**

[code]

See that weird indentation without newlines?

[2021-10-04 03:49] alexey-milovidov commented on #29693
A lesson: better compression with `ZSTD`.

Look at the table size:
`SELECT * FROM system.tables WHERE name = 'hackernews' FORMAT Vertical`

Look at the columns size:
`SELECT name, data_compressed_bytes, data_uncompressed_bytes FROM system.columns WHERE table = 'hackernews' ORDER BY data_compressed_bytes DESC`

Set up new compression for columns:
`ALTER TABLE hackernews MODIFY COLUMN text CODEC(ZST

[2021-10-04 04:01] alexey-milovidov opened #29696 "Allow to setup retries in `URL` storage."
**Use case**

This query should successfully finish ten million HTTP requests in around a day:

[code]

**Describe the solution you'd like**

If an error happened before any data has been consumed, we can retry a request.
Let's introduce a set of settings: `storage_url_max_retries`, `storage_url_retry_initial_backoff_ms`, `storage_url_retry_max_backoff_ms`. It will do up to max retries, starting f

[2021-10-04 04:03] alexey-milovidov opened #29697 "There is no info about the size of the index in the `system.data_skipping_indices` table."
**Use case**

[code]

I want to know what is the size.

**Describe the solution you'd like**

Add the columns about compressed and uncompressed size.

[2021-10-04 04:08] alexey-milovidov opened #29698 "Name hints should work for data skipping indices."
**Use case**

[code]

It did not show me the typo.

[2021-10-04 04:22] alexey-milovidov opened #29699 "A function to extract ngrams from string"
**Use case**

I want to estimate better parameters for fulltext (`ngrambf_v1`) index.

**Describe the solution you'd like**

Implement it as SQL function:

`ngrams(string, N)`

that returns array of FixedString.

**Describe alternatives you've considered**

It can be done with less efficient and more cumbersome way:

[code]

**Additional context**

`ngramsUTF8` can also be implemented to extract n

[2021-10-04 04:34] alexey-milovidov opened #29700 "Automatically choose the size of bloom filter index"
If there is a bloom filter of size 2^n, then we can obtain a bloom filter of size 2^(n - 1) from it.

The idea is that the user can specify max size of the bloom filter and the desired false positive probability.
We will keep a buffer in memory with the maximum size of the bloom filter. And when it is filled, we will shrink it by power of two times while the false positive probability is still low

[2021-10-04 04:47] alexey-milovidov commented on #29693
Lesson: create full text data skipping index.

[code]

Compare query performance:
[code]

Was: 0.832. Now: 0.395.

But for most popular terms like 'Redis' or 'mongo', the index don't help at all.

[2021-10-04 05:08] alexey-milovidov opened #29701 "A window function for tree traversal."
**Use case**

https://github.com/ClickHouse/ClickHouse/issues/29693
A table has child -> parent relationship but does not have "top_ancestor" column.
We want to calculate it on the fly.

**Describe the solution you'd like**

A window function `treeTopAncestor(child, parent)` collects a tree in memory for every window and then outputs the most reachable ancestor for every row.

[2021-10-04 05:19] alexey-milovidov opened #29702 "Logical error when trying to use bloom filter index on `Array(LowCardinality(String))`"
**Describe what's wrong**

Get data from #29693.

[code]

**Does it reproduce on recent release?**

master.

[2021-10-04 05:21] alexey-milovidov opened #29703 "Allow ALTERing of columns with data skipping indices by rebuilding the indices."
**Use case**

If there is an index depending on a column, it's currently forbidden to alter this column.
Why not to allow it? We just simply need to rewrite the index along with the column.

[2021-10-04 05:49] Shohjahon commented on #29551
@alexey-milovidov @kssenii

[2021-10-04 06:23] alexey-milovidov commented on #29687
https://clickhouse-test-reports.s3.yandex.net/29673/dbc114e6fc50b512689a5d43505686ca5e1440cf/fuzzer_debug/server.log

[2021-10-04 06:25] #29687 closed

[2021-10-04 06:36] alexey-milovidov commented on #29693
Lesson: create another index by text tokenization.

[code]

Use it in queries:
[code]

[2021-10-04 06:56] alexey-milovidov commented on #10461
Parquet format has metadata at end of file. It requires either seeking (range requests) or buffering to read.

https://parquet.apache.org/documentation/latest/

PS. This website looks almost abandoned, maybe there is more recent doc.

[2021-10-04 07:04] alexey-milovidov commented on #10461
The culprit:

ArrowBufferedStreams.cpp:
[code]

[2021-10-04 07:23] #29670 closed

[2021-10-04 07:23] #29671 closed

[2021-10-04 08:13] ucasfl commented on #29695
Maybe we can format all AlterCommands with multiline?

[2021-10-04 08:50] traceon commented on #235
FYI: you can do `brew install clickhouse-odbc` now.

[2021-10-04 09:06] tavplubix commented on #29111
Backported to 21.8: https://github.com/ClickHouse/ClickHouse/commit/9034c6ddbe8354ce8a6086a0e8a83c6080b60449

[2021-10-04 09:06] #29111 closed

[2021-10-04 09:17] alexey-milovidov commented on #29587
This feature is not in our roadmap. Help needed.

[2021-10-04 10:13] qoega opened #29721 "member call on address ... which does not point to an object of type 'DB::IExternalLoadable'"
UBsan test_catboost_model_reload test
[code]

[2021-10-04 10:42] alexey-milovidov commented on #29693
Something like domain rating: https://gh-api.clickhouse.tech/play?user=play#U0VMRUNUIGRvbWFpbldpdGhvdXRXV1codXJsKSBBUyBkLCBjb3VudCgpIEFTIGMsIHN1bShzY29yZSksIHJvdW5kKHN1bShzY29yZSkgKiAoMSAtIDEgLyBzcXJ0KGMpKSBBUyB3ZWlnaHQpIEFTIHdfcm91bmQsIHN1bShkZXNjZW5kYW50cyksIHJvdW5kKGF2ZyhzY29yZSksIDIpIEFTIGF2Z19zY29yZSwgcm91bmQoYXZnSWYoc2NvcmUsIHNjb3JlID49IDUpLCAyKSBBUyBzY29yZV9wYXNzZWQsIHJvdW5kKGF2ZyhzY29yZSA+

[2021-10-04 10:46] alexey-milovidov commented on #29693
Something like user rating:

https://gh-api.clickhouse.tech/play?user=play#U0VMRUNUIGJ5LCBjb3VudCgpIEFTIGMsIHN1bShzY29yZSksIHJvdW5kKHN1bShzY29yZSkgKiAoMSAtIDEgLyBzcXJ0KGMpKSBBUyB3ZWlnaHQpIEFTIHdfcm91bmQsIHN1bShkZXNjZW5kYW50cyksIHJvdW5kKGF2ZyhzY29yZSksIDIpIEFTIGF2Z19zY29yZSwgcm91bmQoYXZnSWYoc2NvcmUsIHNjb3JlID49IDUpLCAyKSBBUyBzY29yZV9wYXNzZWQsIHJvdW5kKGF2ZyhzY29yZSA+PSA1KSwgMikgQVMgcmF0aW9fcGFzc2VkC

[2021-10-04 11:33] nikitamikhaylov commented on #29556
Seems like fixed, reopen if you face with this problem.

[2021-10-04 11:33] #29556 closed

[2021-10-04 12:14] BhavyaRajSharma opened #29728 "[DATA LOSS] Got BAD_SIZE_OF_FILE_IN_DATA_PART Exception, why?"
We have a cluster of one shard in which we have two replicas. we noticed that one clickhouse replica is down and below are the exceptions in the clickhouse logs

After that we also restarted clickhouse once to see if it resolves the error at the start time  and now we are getting below exception while executing start command and checking for status

Below is the cluster config we are using
[code]

[2021-10-04 12:42] dankondr commented on #29601
I'd like to book "Tamper-proof data storage with blockchain"

[2021-10-04 12:43] tavplubix opened #29729 "INSERT SELECT does not fill MATERIALIZED column"
**Does it reproduce on recent release?**
Reproduced on 21.11.1.1 (master) and 21.9.2
Works as expected on 21.8.2, so it's regression

**How to reproduce**
[code]

**Expected behavior**

[code]

[2021-10-04 12:45] Grian opened #29730 "Function transform with decimal type not working or produce incorrect result"
Current stable release and some recent release
ClickHouse client version 21.9.4.35
Connected to ClickHouse server version 21.9.4 revision 54449
Connected to ClickHouse server version 21.5.9 revision 54448

SQL:
[code]
Produces:
[code]

Expected 1 == 1

[code]
Produces:
[code]

Expected 42 == 42

Looks as garbage ...

Second case of transform function
[code]
Produce error message
[code]

[2021-10-04 12:56] dankondr commented on #29601
I was working on MySQL compatibility last year and I made a table of differences in functions (may be partly outdated). [Link](https://dankondr.notion.site/f1424eed0a364f04857f01970b5e8f02?v=7b299dcc0ab24e25ba0551486d40dc35)

[2021-10-04 13:50] DimasKovas opened #29734 "Unexpected results in query with multiple joins"
**Describe what's wrong**

Query with multiple joins uses non existent column, but it runs without runtime exception.

**Does it reproduce on recent release?**
Yes

**How to reproduce**

* Which ClickHouse server version to use
21.10

* Queries to run that lead to unexpected result
This query throws proper exception, because there are no column y in first table expression:
[code]
But when there is

[2021-10-04 13:57] ilejn commented on #29320
@jiangdaokun it is a good idea to test kinit manually.
Could you run it using clickhouse user credentials to avoid e.g. possible permission issues?

[2021-10-04 14:07] KochetovNicolai commented on #29618
Hang inside malloc
[code]

[2021-10-04 14:36] den-crane commented on #23194
https://github.com/ClickHouse/ClickHouse/issues/23194

[2021-10-04 14:36] den-crane commented on #29734
probably duplicate of https://github.com/ClickHouse/ClickHouse/issues/23162

[2021-10-04 15:30] tavplubix commented on #29618
Are you sure that thread 607 really hang? Thread 607 is a background thread that periodically flushes `system.zookeeper_log`, it's ok that we see this thread in stacktraces. And there are messages from thread 607 in server logs:
[code]

Even if thread 607 is hang in `malloc` somehow, how does it blocks thread 1045 that is waiting on epoll (not on memory allocation)?

[2021-10-04 16:47] chybz opened #29739 "Empty Avro data in Kafka after insert"
**Describe the unexpected behaviour**
Inserting data into Kafka from a ClickHouse table results in empty Avro record and empty Kafka messages.

**How to reproduce**
* Which ClickHouse server version to use
21.8.5.7
* `CREATE TABLE` statements for all tables involved
[code]
[code]
* Sample data for all these tables, use [clickhouse-obfuscator](https://github.com/ClickHouse/ClickHouse/blob/master/pr

[2021-10-04 17:35] KochetovNicolai commented on #29618
Also it's from coroutine and stack is pretty long. Probably, we can run out of it indeed (however why it was not a crash?)

[2021-10-04 17:56] KochetovNicolai commented on #29512
Have no idea what's going on here, but maybe it's stack overflow in mutation again.

[2021-10-04 18:58] hazzadous opened #29748 "CTE intermittent failure"
**Describe the unexpected behaviour**

I'm trying to run a query:

[code]

The `events` table is created with `ON CLUSTER` i.e. distributed.

For this query I get:

[code]

If I run:

[code]

it intermittently works.

If I query with the same pattern with another table I do not get errors.

**Expected behavior**

CTE evaluation shouldn't be dependent on specific select fields (?)

**Error message

[2021-10-04 21:38] dearkarm commented on #24158
Hello,

I think the issue I am facing may be related. I was stress testing Buffer Engine based table with the following steps:
1. Push data into the buffer via the HTTP interface one-row-at-a-time. I wrote a program to read data from a csv file line by line and make HTTP INSERT INTO requests as fast as it could. I also introduced thread::sleep into it with different wait times to see if there is a

[2021-10-04 22:06] SaltTan commented on #29547
Yes, this test fails in my environment.
I will try to figure out what is so special about it.
The filesystem is ext4.
I'll send more details about the environment a bit later.

[2021-10-04 22:08] den-crane commented on #6436
ClickHouse Release 19.16.2.2, 2019-10-30
Add a new ProfileEvent Merge that counts the number of launched background merges. #7093 (Mikhail Korotov)

[code]

[2021-10-04 22:08] #6436 closed

[2021-10-04 22:37] dearkarm commented on #24158
I have prepared a minimal example that reproduces this crash. The issue is related to the Buffer Engine, that has a LowCardinality(String) field, is being inserted into and read from with a select statement that uses the GROUP BY clause.

[code]

The buffer is as follows:
[code]

Inserting and selecting from the buffer is done with the following Python program:
`inserts.py`
[code]

`selects.py`
[c

[2021-10-04 23:11] den-crane opened #29754 "system.errors FILE_DOESNT_EXIST initated by system.tables.create_table_query"
[code]

[2021-10-05 00:02] den-crane commented on #24158
It's reproducible only with HTTP it seems.

repro:

[code]

[2021-10-05 00:16] dearkarm commented on #24158
I think the HTTP part will apply to inserts only. I managed to crash it by running SELECT from clickhouse client.

[2021-10-05 00:17] den-crane commented on #24158
Yes, obviously. clickhouse-benchmark is not HTTP app.

[2021-10-05 00:24] den-crane commented on #24158
Though, I am wrong. It's not HTTP

[code]

[2021-10-05 03:54] den-crane commented on #24158
even easier:
[code]

[2021-10-05 05:27] sophie-jeong opened #29756 "security request for various remote/dbms engine query"
**Use case**
 Here is remote/dbms engine query. the password value is existed in everywhere below.
is there any plan to protect the password value in below statement ?
-> Remote
remote('addresses_expr', db, table[, 'user'[, 'password'], sharding_key])
remote('addresses_expr', db.table[, 'user'[, 'password'], sharding_key])
-> PostgreSQL
CREATE TABLE [IF NOT EXISTS] [db.]table_name [ON CLUSTER clus

[2021-10-05 06:12] kssenii commented on #29756
Yes, it is already implemented https://github.com/ClickHouse/ClickHouse/pull/28577 but not in any release yet.
(But not for `remote` table engine though, probably can be also added)

[2021-10-05 06:31] ucasfl opened #29758 "`heap-use-after-free` in test"
SUMMARY: ThreadSanitizer: heap-use-after-free (/workspace/clickhouse+0xdd21c7c) in DB::FunctionJSONHelpers::Executor::run(std::__1::vector > const&, std::__1::shared_ptr const&, unsigned long)

<https://clickhouse-test-reports.s3.yandex.net/25969/86d31445fd0dd9bc086432f559d1089c3d4a7700/fuzzer_tsan/report.html#fail1>

[2021-10-05 06:35] alexey-milovidov commented on #29756
@kssenii Let's add it for `remote`.

[2021-10-05 06:38] ucasfl opened #29759 "Logical error: 'Block structure mismatch in Pipes stream: different types: Received signal 6 Received signal Aborted (6)"
<https://clickhouse-test-reports.s3.yandex.net/25969/86d31445fd0dd9bc086432f559d1089c3d4a7700/fuzzer_debug/report.html#fail1>

[2021-10-05 07:16] alexsubota opened #29761 "'alter table delete where' works not for all partitions"
v.21.7.7.47

So, i have table with ts column partitioned by toYYYYMM(toDateTime(ts / 1000))
i want to delete some data by condition, and use 'alter table ... delete where ...', and some data deleted, but data from some partitions not deleted.
Try to do this multiple time, same result. Try to do 'alter table ... delete in partition ... where ...' got same result.
Trying to reproduce this on test da

[2021-10-05 07:35] alexey-milovidov commented on #29601
@dankondr Thank you! Now the task will be to make it more close to 100%.

[2021-10-05 08:01] azat commented on #24158
Confirmed, the problem is that `LowCardinality` has separate index, and so queries with GROUP BY causes this, will take a look.

[2021-10-05 09:52] tavplubix commented on #28883
Maybe #29729

[2021-10-05 10:39] qoega opened #29769 "Add docs for supported signals"
For example SIGHUP is used to rotate logs. And some signals are used internally for query profiler.
We need to add it to logs.
https://github.com/ClickHouse/ClickHouse/blob/6abb3d4c6d89d9ae6b8dc090596b3080aca9863b/base/daemon/BaseDaemon.cpp#L804-L817

[2021-10-05 12:21] nikitamikhaylov commented on #29761
Try to look to `system.merges` or `system.mutations` for additional info. Also try setting `mutations_sync = 2`

[2021-10-05 12:24] nikitamikhaylov commented on #29694
The implementation of this feature looks pretty the same as #19649

[2021-10-05 12:40] armenzg commented on #27593
Any update if anyone will be working on this in the near future? Thank you all for your hard work

[2021-10-05 13:35] coderj001 opened #29777 "Add autoincrement for id field"
**Use case**

[code]

[2021-10-05 13:56] jzombi opened #29778 "Missing merged parts are checked regularly, missing blocks"
We have a ReplicatedMergeTree table with 2 replicas. The error log `clickhouse-server.err.log` is full of warnings like:

[code]

We could identify the problematic parts, from the log files and based on this comment: https://github.com/ClickHouse/ClickHouse/issues/10368#issuecomment-616310015, but in our case the type field is `'GET_PART'`, not `'MERGE_PARTS'`.

We've checked whether min_block_num

[2021-10-05 14:27] iamrajhans commented on #29698
@alexey-milovidov @kitaisreal can I take this issue?

[2021-10-05 14:59] alexsubota commented on #29761
system.mutations has is_done = 1 for all mutations of this table
try setting mutations_sync = 2, but it doesnt help
checked system.merges after start of alter table, and looks like that partition_id was skipped(and data from partition was not deleted), same with mutations, after start of mutation, column 'parts_to_do_names' have not all partition_ids

[2021-10-05 15:16] den-crane commented on #29761
It can be because mutation version in partition_id is bigger than the current mutation version.
It will 10000 time easier to debug this if you reveal partition_ids, system.mutations, etc.

[2021-10-05 15:56] alexsubota commented on #29761
Table PARTITION BY toYYYYMM(toDateTime(ts / 1000))
example of system.parts:
![image](https://user-images.githubusercontent.com/4305175/136058904-64817b0e-2744-41ec-b6a8-ecfb04616ac1.png)
which info from mutations you needed?

[2021-10-05 15:59] SaltTan commented on #29547
It seems that affected hosts run old kernels (4.9 and 4.19).
I'll try to upgrade one of them and see if the problem disappears.

[2021-10-05 17:22] den-crane commented on #29761
The last number in the part name. _14 _5201 _4800
What is the number has the not mutated part and what is the number have mutated parts.

[2021-10-05 17:57] Algunenano opened #29780 "[21.11] Clickhouse client doesn't complain about inserting invalid data"
Table:

[code]

Using **clickhouse-client** from master, insert with strings for the Int64 works and you don't receive any error:

[code]

When trying to read it doesn't show anything:

[code]

But there is an exception in the server:

[code]

On the other hand if I use a client from 21.10 it throws an exception:

[code]

**Does it reproduce on recent release?**

Only reproduces with a client usin

[2021-10-05 18:08] alexsubota commented on #29761
partition 201908 and 201909, these partitions which was not affected by mutations (alter table .. delete .. where)

[2021-10-05 18:27] azat commented on #29547
It should work even under 4.9 and even under 3.2.
I will check under older kernel later.

FWIW CI has 4.19 kernels.

[2021-10-05 18:52] den-crane commented on #29761
You mean _5201 were not mutated, but 202001...._11186 was?

[2021-10-05 19:10] kitaisreal commented on #29698
@iamrajhans yes you can take it.

[2021-10-05 19:11] myrrc opened #29785 "Trait inconsistent with function in reinterpretAs.cpp"
Trait: Date or DateTime allowed:

https://github.com/ClickHouse/ClickHouse/blob/199ac31b48b2d0550b7483d23bc646e094a9793e/src/Functions/reinterpretAs.cpp#L254
https://github.com/ClickHouse/ClickHouse/blob/199ac31b48b2d0550b7483d23bc646e094a9793e/src/Functions/reinterpretAs.cpp#L256
https://github.com/ClickHouse/ClickHouse/blob/199ac31b48b2d0550b7483d23bc646e094a9793e/src/Functions/reinterpretAs.cpp

[2021-10-05 19:26] #6852 closed

[2021-10-05 19:28] azat commented on #28883
- #29621
- #24158

[2021-10-05 19:37] alex-zaitsev commented on #9887
EXISTS https://github.com/ClickHouse/ClickHouse/pull/29731

[2021-10-05 19:52] krdenison opened #29788 "Startup crash: STSResourceClient Address: NULL pointer. Access: read. Address not mapped to object."
**Describe what's wrong**

Clickhouse server crashes with a traceback on startup in my deployment when I add an S3 storage policy to the /etc/clickhouse-server/config.d folder.

**Does it reproduce on recent release?**

Also happens on clickhouse-server:21.9.4.35

**Enable crash reporting**

I duplicated the issue with crash reporting turned on
[code]

**How to reproduce**

I am deploying clickhou

[2021-10-05 20:04] FedericoCeratto commented on #22963
Replying to your question: Clickhouse is currently packaged in Debian but maintaining the package requires considerable efforts due to its build configuration and requirements.
For many users it is very time consuming to update production databases on monthly basis and creates significant availability risks. Updating every 6 months (tracking LTS) or few years can be preferred.
Furthermore, a popul

[2021-10-05 21:07] alexey-milovidov commented on #28883
#29621 is not relevant for 21.10.

[2021-10-05 21:11] alexey-milovidov commented on #29788
Thank you.
Just to note - disk over S3 is not production ready feature, it is still under development.

[2021-10-05 21:12] sundarv85 commented on #23516
Hi @alexey-milovidov, We are very much interested in using this feature. Is there a test build/branch which we can use for our initial development - so that we will be able to move faster when the final release happens by end of this year/early next year..

[2021-10-05 21:17] azat commented on #28883
Oh, I see, thanks (missed that fact that 21.10 branch had been already created).

[2021-10-05 21:25] UnamedRus commented on #23516
Go to pr https://github.com/ClickHouse/ClickHouse/pull/23932

Navigate to the end of page:

Find check:  **ClickHouse build check — 9/13 builds are OK**
Click on **Details**.
Use files from here.

[2021-10-05 22:41] genzgd opened #29789 "DDL/alter queries should respond with valid JSON"
We have a simple UI for various ClickHouse maintenance tasks that allows submitting simple queries and expects a standard JSON query response (meta, data, rows, statistics).  We would like to extend this and other tools to allow submitting basic DDL and alter table queries via HTTP.  Adding "FORMAT JSON" to such queries works, but the response is still in plain text, unless the query is "ON CLUSTE

[2021-10-05 22:56] den-crane commented on #29789
probably you are looking for setting `wait_end_of_query`
https://github.com/ClickHouse/ClickHouse/issues/10811

[2021-10-06 00:31] UnamedRus opened #29791 "range dictionary doesn't work correctly with open range on right side for non Date datatypes."
**Describe the unexpected behaviour**
range dictionary produces different result for Date and non Date datatypes, if you try to use open range feature on right side.

**How to reproduce**
ClickHouse 21.10

[code]

**Expected behavior**
Behavior the same for all data types.